---
---

@import 'C-a-U-share';
@import 'C-a-U-function-panel';
@import 'C-a-U-bubble-detail';
@import 'C-a-u-map-detail';
@import 'C-a-U-map-search';
@import 'C-a-U-header';
@import 'C-a-U-table';
@import 'C-a-U-accordion';
@import 'C-a-U-cfda-info';
@import 'C-a-U-hwcta-footer';

$orange: #d04c02;
$background: #fbfbfb;
$green: #50604f;
$checked-color: #1877c1;
$unchecked-color: #888;

$grey: #4a4a4a;
$bluecopy: #2272ce;
$cuRed: #881E3D;

.CU {
  font-family: "Source Sans Pro";
  margin-top: 10rem; // move all content down enough
  max-width: 100%;
  overflow: hidden;

  // our section id
  #TOC {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }


  #section-pre {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;

    .section-banner-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 200;
      position: absolute;
      top: 150px;
      left: 650px;
    }

    .section-banner-p-text {
      color: #666666;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 2.8px;
      line-height: 20px;
      text-align: center;
    }

    .section-banner-h3-text {
      color: $cuRed;
      margin: 0;
      font-size: 42px;
      font-weight: 600;
      line-height: 50px;
      text-align: center;
    }

    .section-banner-p-blurb {
      color: #555555;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
    }

    #section-pre--tablet_banner {
      display: none; // hide for now..

      .section-pre--tablet-subtext {
	height: 20px;
	color: #666666;
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2.8px;
	line-height: 20px;
	text-align: center;
      }

      .section-pre--tablet-subblurb {
	color: #666666;
      }

      .section-pre--tablet-blurb {
	height: 90px;
	color: #555555;
	font-family: "Source Sans Pro";
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
      }
    }

    .section-pre--banner {
		background: url(/assets/icons/collegebanner-extrawidescreen.svg) center top no-repeat;
		background-size: cover;
		height: 400px;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 0;
    }

    .section-pre__tile {
      padding-top: 1rem;
      flex-basis: auto; // all same width flex children
      width: 100%; // ie 11...
      padding-left: 2rem;
      padding-right: 1.5rem;
      border-right: 1px solid #EEEEEE;
    }

	.section-pre__tile a:hover .section-pre--number, .section-pre__tile a:hover .section-pre--subtext,
	.section-pre__tile a:hover .section-pre--subblurb, .section-pre__tile a:hover .section-pre--subtext {
	  color: #881e3d !important;
	  font-weight: bolder !important;
	}

    .section-pre__tile:last-child {
      border-right: none;
    }

    // #section-pre__tile:nth-child(even) {
    //   padding-left: 1.25rem;
    // }
    
    // #section-pre__divider:after {
    //   content: ""; /* This is necessary for the pseudo element to work. */ 
    //   display: inline-block; /* This will put the pseudo element on its own line. */
    //   margin: 0 auto; /* This will center the border. */
    //   width: 70%; /* Change this to whatever width you want. */
    //   padding-top: 20px; /* This creates some space between the element and the border. */
    //   border-right: 1px solid #ddd; /* This creates the border. Replace black with whatever color you want. */
    // }

    // table of contents
    #section-pre__TOC {
      border-top: 1px solid #979797;
      display: flex;
      max-width: 1200px;
      justify-content: space-between;
    }

    .section-pre--number {
      color: #666666;
      font-family: "Source Sans Pro";
      font-size: 48px;
      font-weight: 600;
      line-height: 50px;
      
      h2 {
	margin: 0;
      }
    }

    .section-pre--subtext {
      color: #881e3d;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
    }

    .section-pre--subblurb {
      color: #555555;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      max-width: 200px;
      line-height: 17px;
    }

    .section-pre--blurb {
      color: #555555;
      font-size: 14px;
      font-weight: 300;
      font-weight: 300;
      line-height: 16px;
    }
  } // end of section pre

  #section-one {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 7rem; // 9rem to break up each section

    #investment-overview {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      flex-direction: column;

      #investment-overview__number {
        color: #666666;
        font-family: "Source Sans Pro";
        font-size: 48px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #investment-overview__title {
        color: #666666;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2.8px;
        line-height: 20px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #investment-overview__preblurb {
        color: #881e3d;
        font-size: 42px;
        line-height: 48px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #investment-overview__blurb {
        color: #555555;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      // viz container
      #investment-overview__viz {

	margin-right: 11rem;
	margin-left: 11rem;
	box-sizing: border-box;

	#investment-chart {
	  display: flex;
          width: 100%;
	}


	::-moz-placeholder { /* Firefox 19+ */
	  text-align: center;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  text-align: center;
	}
	:-moz-placeholder { /* Firefox 18- */
	  text-align: center;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  text-align: center;
	}

 	.map-search__list {
 	  display: none;
 	}
	
 	.map-search-ul--mobile {
 	  display: none;
  	}

	.bubble-search__list {
	  display: none;
	}

	.bubble-search__list--mobile {
	  display: none;
	}

	#mobile-blurb {
	  display: none;
	  p.mobile-funding-granted {
 	    color: #555555;
 	    font-size: 14px;
 	    line-height: 18px;
 	  }
	  
 	  p.mobile-funding-blurb {
 	    width: 289px;
 	    color: #555555;
 	    font-size: 14px;
 	    font-weight: 300;
 	    line-height: 18px;
 	  }
 	}

	#title-section {
	  width: 100%;
	  display: flex;

	  #chart-title-aid {
	    color: #0A2F5A;
	    display: inline-block;
	    width: 66%;
	    color: #555555;
	    font-family: "Source Sans Pro";
	    font-size: 14px;
	    font-weight: 300;
	    line-height: 18px;
	    height: 25px;
	  }

	  #chart-title-grants {
	    color: #004C40;
	    display: inline-block;
	    width: 27%;
	    color: #555555;
	    font-family: "Source Sans Pro";
	    font-size: 14px;
	    font-weight: 300;
	    line-height: 18px;
	    height: 25px;
	  }

	  #chart-title-contracts {
	    color: #925003;
	    display: inline-block;
	    width: 6%;
	    color: #555555;
	    font-family: "Source Sans Pro";
	    font-size: 14px;
	    font-weight: 300;
	    line-height: 18px;
	    height: 25px;
	  }


	} // end title section

	#studentAid--mobile-title {
 	  display: none;
 	  color: #666666;
 	  font-size: 13px;
 	  font-weight: bold;
 	  line-height: 17px;
 	  text-transform: uppercase;
 	}
	
 	#grants--mobile-title {
 	  display: none;
 	  color: #666666;
 	  font-size: 13px;
 	  font-weight: bold;
 	  line-height: 17px;
 	  text-transform: uppercase;
 	}
	
 	#contracts--mobile-title {
 	  display: none;
 	  color: #666666;
 	  font-size: 13px;
	  font-weight: bold;
 	  line-height: 17px;
 	  text-transform: uppercase;
 	}

	#bar-text {
	  color: #FFFEFD;
	  font-size: 28px;
	  line-height: 50px;
	  margin: 0;
	  padding-top: .5rem;
	}

	#bar-text--aid {
	  color: #FFFEFD;
	  font-size: 28px;
	  line-height: 50px;
	  margin: 0;
	  padding-left: .25rem;
	  padding-top: .25rem;
	}

	#bar-text--contracts {
	  color: #FFFEFD;
	  font-size: 28px;
	  line-height: 50px;
	  margin: 0;
	  padding-top: .5rem;
	  padding-left: .25rem;
	}

	#bar-text--grants {
	  color: #FFFEFD;
	  font-size: 28px;
	  line-height: 50px;
	  margin: 0;
	  padding-top: .5rem;
	  padding-left: .15rem;
	}

	#investment-subtext {
	  display: flex;
	  justify-content: space-around;
	  padding-top: 2rem;

	  .aid-subsection {
	    padding-left: 1rem;
	    padding-right: 1rem;
		width: 25%;
	  }

	  .aid-subsection:last-child {
	    padding-right: 0;
	    border-right: none;
	  }

	  #aid-heading-aid {
	    margin: 0;
	    padding-bottom: 1rem;
	    height: 25px;
	    color: #0A2F5A;
	    font-family: "Source Sans Pro";
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 18px;
	    text-align: center;
	  }

	  #aid-heading-grants {
	    margin: 0;
	    padding-bottom: 1rem;
	    height: 25px;
	    color: #004C40;
	    font-family: "Source Sans Pro";
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 18px;
	    text-align: center;
	  }

	  #aid-heading-contracts {
	    margin: 0;
	    padding-bottom: 1rem;
	    height: 25px;
	    color: #925003;
	    font-family: "Source Sans Pro";
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 18px;
	    text-align: center;
	  }

	  .aid-image {
	    text-align: center;
	  }

	  #aid-description {
	    color: #555555;
	    font-size: 15px;
	    font-weight: 300;
	    line-height: 18px;
	    //
	  }
	}

      } // end of investment_viz
    } // end of #investment-overview
  } // end of section-one

  #section-two {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 7rem;

    .tooltip-float {
      clear: both;
      margin: 0;
      padding: 0;

      .tooltip-float--underline {
	border-bottom: 1px solid #666666;
      }

      .map-tooltip-p-left-inst {
//	padding-right: 3em; // tab space
	margin: 0;
	color: #666666;
	float: left;
      }

      .map-tooltip-p-left {
	color: #666666;
	margin: 0;
	float: left;
      }
      
      .map-tooltip-p-right {
	color: #000000;
	margin: 0;
	float: right;
      }

      .map-tooltip-p-right-invest {
	color: #881E3D;
	margin: 0;
	float: right;
      }

      .map-tooltip-p-right-students {
	color: #000000;
	margin: 0;
	float: right;
	border-bottom: 1px solid #666666;
      }

      .tooltip-hr {
	clear: both;
	width: 250px;
	text-align: center;
      }
    }

    #alma-mater {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      flex-direction: column;

      #refresh-div {
	display: inline-block;
	width: auto;
	font-size: 1rem;
	color: #4a4a4a;
	margin-left: 20px;
//	padding-top: 5px;
      }

      #refresh-div > i {
	padding-right: 3px;
      }

      #refresh-div:hover {
	cursor: pointer;

	i {
	  color: $cuRed;
	  cursor: pointer;
	}
     }

      #refresh-div > i:hover {
	color: $cuRed;
	cursor: pointer;
      }

      #alma-mater-table {
	display: none;
	width: 100% !important;
	padding-top: 0;
	padding-left: 3rem;
	padding-right: 3rem;
	text-align: center;
      }

      #alma-mater__number {
        color: #666666;
        font-family: "Source Sans Pro";
        font-size: 48px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #alma-mater__title {
        color: #666666;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2.8px;
        line-height: 20px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #alma-mater__preblurb {
        color: #881e3d;
        font-size: 42px;
        line-height: 48px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #alma-mater__blurb {
        color: #555555;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #feature-map-toggle {
        display: none;
        text-align: center;
      }

      #feature-map-toggle:hover {
      	cursor: pointer;
      }

      .chart-footer {
	padding-right: 2rem; // align with mapbox
	padding-top: 5px; // small small space so we're not touching the canvas
      }
    } // end of alma-mater
  } // end of section-two

  #section-three {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 7rem;

    #bubbleTableContainer {
      display: flex;
      justify-content: center;

      #bubbletable_wrapper {
        padding: 0 3rem;
      }
    }

    .d3-tip {
		pointer-events: none!important;
		z-index: 9999!important;
	}

    .bubble-chart-tooltip {
      .information {
        .key {
          color: #881E3D;
        }
      }
    }
    #agency-investments {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      flex-direction: column;

      #agency-investments__number {
        color: #666666;
        font-family: "Source Sans Pro";
        font-size: 48px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #agency-investments__title {
        color: #666666;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2.8px;
        line-height: 20px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #agency-investments__preblurb {
        color: #881e3d;
        font-size: 42px;
        line-height: 48px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #agency-investments__blurb {
        color: #555555;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #chart-area {
        width: 100%;
        display: flex;
        flex-direction: column;

        .chart-footer {
          max-width: 900px;
          margin: 0 auto 1rem;
          padding: 0 1rem;
          width: calc(100% - 2rem);
        }
      }

      #chart-container {
        display: flex;
      }

      #agency-investments__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;

        #bubbleChartContainer {
          display: flex;
          margin-bottom: 1rem;

          svg#chart {
            position: absolute;
            top: 0;
            left: 0;
			overflow: hidden;
          }

          #agency-legend_colorKey {
            position: relative;
            left: -100px;
            padding: 0;
            overflow: visible;
            -webkit-transition: left 1000ms; /* For Safari 3.1 to 6.0 */
            transition: left 1000ms;
          }

          #agency-legend_colorKey.left {
            left: -200px;
          }

          #agency-legend_scaleKey {
            width: 225px;
            height: 130px;
            position: absolute;
          }

          .legend_circleKeyLabel {
            position: absolute;
            border-top: solid 1px #DDD;
            width: 70px;
            left: 65px;
          }

          .legend_circleKeyLabel span {
            font-size: 10px;
            color: #999;
            position: absolute;
            display: block;
            width: 90px;
            top: -8px;
            left: 75px;
          }

          .legend_scaleKeyCircle {
            stroke-width: 1;
            stroke: #999;
            stroke-dasharray: 2 2;
            fill: none;
          }

          #agency-bubbleChart {
            height: 700px;
            width: 700px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          circle.node,  circle.node--root, text.label {
            //cursor: zoom-in;
            //cursor: -moz-zoom-in;
            //cursor: -webkit-zoom-in;
            cursor: pointer;
          }

          circle.node--leaf {
            cursor: pointer;
          }

          circle.node--leaf.active {
            fill-opacity: .8;
            stroke: #FAEBD0;
            stroke-width: 9;
          }

          .node--root {
            fill: #f8f8f8;
          }

          .node {
            stroke: #E6E1E1;
            fill: #EBEBEB;
          }
        }
      }

      #bubbleTableContainer {
	display: none; // toggle
      }

    } // end of agency-investments (bubble)
  } // end of section three

  #section-four {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 7rem;

    #investment-table-datatable_wrapper, #investment-table-datatable--grants_wrapper, #investment-table-datatable--research_wrapper {
      padding: 0 3rem;
    }

    #investment-categories {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      flex-direction: column;

      #investment-categories__number {
        color: #666666;
        font-family: "Source Sans Pro";
        font-size: 48px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #investment-categories__title {
        color: #666666;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2.8px;
        line-height: 20px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #investment-categories__preblurb {
        color: #881e3d;
        font-size: 42px;
        line-height: 48px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #investment-categories__blurb {
        color: #555555;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }

      #investment-table {
	display: none;
      }

      #investment-table--contracts {
		  display: none;
		  align-self: center;
      }

      #investment-table--research {
		  display: none;
		  align-self: center;
	  }

      #investment-table--grants {
		  display: none;
		  align-self: center;
	  }

      #chart-area {
        width: 100%;
        display: flex;
        flex-direction: column;
		justify-content: space-around;
      }
      
      #sunburst-header {
        justify-content: space-between;
      }

      #categories label {
        margin-right: 35px;
      }

      #chart-container {
        display: flex;
        justify-content: space-between;
      }

	  #investment-sunburst {
		display: flex;
		flex-direction: column;
		  margin: 0 auto;

		  #investment-sunburst-tables {
			  width: 100% !important;
		  }
	  }

      circle {
        fill: none;
        stroke: black;
        stroke-width: 2px;
      }

		circle.innerCircle {
			stroke: none;
		}
      
      #sunburst {
        height: 700px;
        width: 700px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
		margin: 0 auto;
      }

      #sunburst svg {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      #sunburst path {
        cursor: pointer;
        stroke: #fff;
        stroke-width: .4;
      }
      #sunburst path.depth1 {
        opacity: 1;
      }
      #sunburst path.depth2 {
        opacity: 0.5;
      }
      
      #center {
        display: flex;
        flex: 1 1 auto;
        font-size: 1.1em;
        text-align: center;
        max-height: 320px;
        max-width: 320px;
        overflow: hidden;
      }
      
      .center-title {
        text-transform: capitalize;
      }
      
      .center-heading {
        stroke: grey;
      }

      .center-amount {
        font-size: 2em;
        font-style: inherit;
        font-weight: lighter;
        stroke: #881e3d; /*match 1st wedgeColor*/
      }
      
      #legend_colorKey {
        position: relative;
        left: -100px;
	      margin: 50px 0 0 0;
        padding: 0;
        overflow: visible;
      }
      
      #legend_scaleKey {
        width: 225px;
        height: 130px;
        position: absolute;
      }
      
      .legend_circleKeyLabel {
        position: absolute;
        border-top: solid 1px #DDD;
        width: 70px;
        left: 65px;
      }
      
      .legend_circleKeyLabel span {
        font-size: 10px;
        color: #999;
        position: absolute;
        display: block;
        width: 90px;
        top: -8px;
        left: 75px;
      }
      
      .legend_scaleKeyCircle {
        stroke-width: 1;
        stroke: #999;
        stroke-dasharray: 2 2;
        fill: none;
      }

      .chart-footer {
        max-width: 900px;
        margin: 0 auto 1rem;
        padding: 0 1rem;
        width: calc(100% - 2rem);
      }    
    } // end of investment categories
  } // end of section four

  .share-text {
    vertical-align: text-top;
  }
	.mobile-search {
    display: none;

    .svg-inline--fa.fa-w-16 {
      color: #666;
    }    

    input {
      width: calc(100% - 4rem);
      padding: 1rem 2rem;
      border: none;
    }
  }
  #mobile-search--map input {
    width: calc(100% - 8rem);
    // border: none;
  }

  .svg-inline--fa.fa-w-16 {
    width: 1em;
  }    

  .investmentCategories {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

    .categoriesChartContainer {
      margin-top: 200px;
      margin-bottom: 100px;
    }

    .panel {
      //margin: auto;
      display: none;
      width: 25%;
      height: 615px;
      box-shadow: 17px 0 10px -4px #eee;
      vertical-align: top;
      min-width: 350px;

      span {
        top: 50%;
        position: relative;
        width: 30%;
        left: -45%;
        color: #d04c02;
        display: inline-block;
      }

      span:hover {
        color: lighten($orange, 25%);
        cursor: pointer;
      }

      .panelChart {
        //display: inline-block;
        text-align: center;
        margin-left: 40px;
      }
    }

    .chartContainer {
      display: inline-block;
      text-align: center;
      margin: auto;
      width: 85%;
      position: relative;

      .categoriesParent {
        width: 210px;
        margin: 0px;
        display: inline-block;

        p {
          font-size: 16px;
        }
      }

      .chv {
        position: absolute;
        top: 50%;
        font-size: 32px;
        opacity: 0.5;
      }

      .left {
        left: 5px;
      }

      .right {
        right: 5px;
      }

      svg {
        text-align: center;
      }

      .catDollarClass {
        font-size: 20px;
        fill: black;
      }

      .catPercentageClass {
        font-size: 23px;
        fill: $orange;
        font-weight: 100;
        padding-left: 30px;
      }

      path.slice {
        stroke-width: 10px;
      }

      polyline {
        opacity: 0.3;
        stroke: black;
        stroke-width: 10px;
        fill: none;
      }
    }
  }

  .mapboxgl-canvas {
    left: 0;
  }

  .mapboxgl-map {
    overflow: auto;
  }

  .map-overlay {
    display: none; // hide then toggle
    //    position: absolute;
    //    top: 10px;
    //    right: 10px;
    //    z-index: 1;
    //    border-radius: .25rem;
    //    max-width: 30%;
    //    color: #fff;
    height: 600px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;

    .round {
      width: 100%;
      border-radius: 15px;
      border: 1px #000 solid;
      padding: 5px 5px 5px 25px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }

    .search {
      position: relative;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 2rem;
      height: 30px;
    }

    #feature-reset {
      display: inline-block;
      padding-top: 0.5rem;
    }

    #feature-table-toggle {
      display: inline-block;
      padding-top: .5rem;
      float: right;
    }

    #feature-table-toggle:hover {
      cursor: pointer;
    }

    #feature-reset:hover {
      cursor: pointer;
    }
  }

  .map-overlay input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
  }

  .map-overlay .listing li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #4a4a4a;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .map-overlay .listing li:last-child {
    border: none;
  }

  .map-overlay #feature-filter .rounded {
    border-radius: 15px;
  }

  .map-overlay input[type="button"],
  input[type="button"]:hover {
    position: relative;
    display: inline;
    left: -6px;
    border: 1px solid #adc5cf;
    background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #e4f1f9),
      color-stop(100%, #d5e7f3)
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* IE10+ */
    background: linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
    color: #7da2aa;
    cursor: pointer;
  }

  .map-overlay #feature-listing-ul {
    height: 450px;
    overflow: scroll;
    padding: 0;
  }

  #collegesMap {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
  }

  #mapContainer {
    display: flex;
    box-sizing: border-box;
    justify-content: center;

    #mapContainer__institution {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    #mapContainer__searchBox {
      display: none;
      margin-left: 2rem;
      margin-right: 2rem;
      border: 1px solid #ddd;
      border-radius: 0.25rem;
    }

    #mapContainer--labelText {
      font-size: 1rem;
      display: inline;
    }

    #mapContainer__searchArea {
      padding-top: 3rem;
      //      font-size: 2rem;

      #college-dropdown-list:placeholder {
        font-size: 18px;
      }

      ::-webkit-input-placeholder {
        /* Edge */
        font-size: 18px;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 18px;
      }

      ::placeholder {
        font-size: 18px;
      }
    }

    #schoolList {
      height: 25rem; // big enough to fill whole container wont go over..
      overflow: auto;
    }

    #college-dropdown-list {
      width: 98%; // offset with margin.. look into fixing..
    }

    #schoolUl {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #schoolUl li {
      border: 1px solid #ddd; /* Add a border to all links */
      margin-top: -1px; /* Prevent double borders */
      background-color: #f6f6f6; /* Grey background color */
      padding: 0.25rem;
      text-decoration: none; /* Remove default text underline */
      color: black; /* Add a black text color */
      display: block; /* Make it into a block element to fill the whole list */
    }

    #schoolUl li:hover {
      background-color: #eee; /* Add a hover effect to all links, except for headers */
    }

    #mapContainer--switch {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    #mapContainer__year {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    #circleFloat {
      float: right;
    }

    // left hand panel jazz (search btns and panel)
    #map-btn-overlay {
      position: absolute;
      z-index: 20;
      display: flex;
      border-radius: .25rem;
      background-color: white;
      padding: .5rem;
    }

    #map-search-btn {
      display: inline-block;
      padding-left: 1rem;
      padding-right: 1rem;
      &:hover {
	cursor: pointer;
      }

    }

    #map-table-btn {
      display: inline-block;
      padding-left: 1rem;
      padding-right: 1rem;
      &:hover {
	cursor: pointer;
      }
    }

    // right hand panel jazz
    #inst-panel {
      display: none;
      box-sizing: border-box;
      border: 1px solid #ddd;
      width: 40%;
      border-radius: 0.25rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 1rem;

      #inst-panel-close {
        padding-top: 0.5rem;
        text-align: right;
      }

      #inst-panel-close:hover {
        cursor: pointer;
      }

      .inst-panel-preheader {
	color: #555555;
	text-align: left;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
      }

      .inst-panel-header {
	color: #555555;
	font-size: 25.2px;
	font-weight: 600;
	line-height: 32px;
	text-align: left;
      }

      // have to reset margin on all of these
      // defaults with 2em
      .inst-panel-subheading {
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	margin: 0; 
      }

      .inst-panel-subheading--bold {
	color: #4A4A4A;
	font-size: 12px;
	font-weight: 600;
	line-height: 15px;
	margin: 0;
      }

      .inst-panel-subheading--data {
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	margin: 0;
      }

      .inst-panel-subheading--bold--center {
	color: #4A4A4A;
	font-size: 12px;
	font-weight: 600;
	line-height: 15px;
	text-align: center;
      }

      #inst-panel-section {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #F2F2F2;
        font-size: 15px;
        line-height: 18px;
        color: #4a4a4a;
        font-weight: 400; // regular
	margin-top: 1rem;

	&:last-child {
	  margin-bottom: 1rem;
	}

        // child p tag class
        p.inst-panel-subtext {
          display: block;
          font-size: 15px;
          line-height: 18px;
          margin: 0;
          padding-top: 0.3rem;
          color: #4a4a4a;
        }
      }
    }
  } // end mapContainer

  #mapFilter {
    display: flex;
    box-sizing: border-box;
    margin-right: -45px;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mapFilter__search {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      border: 1px solid #eeeeee;
      border-radius: 0.25rem;
      padding-bottom: 4rem;
    }

    .mapFilter__controls {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      border: 1px solid #eeeeee;
      border-radius: 0.25rem;
    }

    .mapFilter__controls > i {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  } // end mapFilter


  #tableContainerDiv {
    display: none;
    margin-top: 100px;
    flex-direction: row;
    margin: 75px auto;
    justify-content: space-around;
  }

  #tableDiv {
    width: 60%;
  }

  .subTableData {
    //border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    height: 60px;
    font-size: 13pt;
  }

  .subTableData > th,
  td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

  .subTableData > tr:hover {
    background-color: #f5f5f5;
  }

  .subTableData > th:first-child {
    border-radius: 6px 0 0 0;
  }

  .subTableData > th:last-child {
    border-radius: 0 6px 0 0;
  }

  .subTableData > th:only-child {
    border-radius: 6px 6px 0 0;
  }


  /**
    For use with ScrollyTelling! Make things appear on viewport! Woo!
**/
  .hiddenScroll {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }
  .appearScroll {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }

  /**
  Checkbox Slider
 */

  .halfhr {
    //width: 40%;
    opacity: 0.25;
  }

  .checkboxpadding {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.466);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  #rounded {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
  }

  .searchPadding {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .active-bubble {
    display: block;
  }

  .chart-footer {
    color: $grey;
    font-size: 12pt;
    display: flex;
    justify-content: flex-end;

    .faded {
      opacity: 0.5;
      line-height: 18pt;
    }

    .download-data {
      color: #4a4a4a;
      margin-left: 12px;
      fill: #4a4a4a;
      cursor: pointer;

      &:hover {
        color: $cuRed;
        
        img {
          filter: brightness(0.5) sepia(1);
          // filter: invert(.5) sepia(1) saturate(75.5%) hue-rotate(322deg) brightness(42.7%);
        }
      }
    }
  } 
} // end of .CU

// overrride mapbox
div.mapboxgl-popup-content {
  width: 300px;
  max-width: 300px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
}

.hwcta-entry__detail-text a:hover {
  color: $cuRed;
}

@import 'C-a-U-mobile'; // needs to be last! 
