---
---

.homeless-analysis {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FFFFFF;

  & p.subheading {
    font-size: 1.75rem;
    color: #525252;
    font-style: italic;
  }

  & ul {
    margin-bottom: 25px;

    &.li {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  & div.row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
  }
  .column{
    width:50%;
    padding-left:15px;
    padding-right:15px;
    box-sizing: border-box;
    &#left{
    float:left;
  }
    &#right{
      float:right;
    }

}

  #panel_coc .header {
    text-align: left;
    float: left;
    width: 80%;
  }

  .h3-header {
    clear: both;
    text-align: left;
    margin-top: 15px;
  }

  #coc_info .value {
    text-align: left;
    float: right;
  }

  #coc_info table {
    margin-bottom: 0;
  }

  #coc_info table, #coc_info .item {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  #coc_info table, #coc_info div.item {
    font-weight: 300;
  }

  #coc_info h3 {
    margin-top: 30px;
  }

  #coc_info td.table-heading {
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
  }

  #coc_info th.table-heading {
    font-weight: bold;
    text-align: center;
  }

  #panel_coc {
    margin-bottom: 30px;
  }

  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    /* Black w/ opacity */
  }

  .modal-body {
    max-width: 90%;
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:focus,
  .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close2:focus,
  .close2:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .closeContact {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closeContact:focus,
  .closeContact:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  & hr {
    display: block;
    margin: 0.5em auto;
    border-style: inset;
    border-color: #ccc;
    border-width: 0.5px;
  }

  #funding-map {
    height: 100px;
  }

  #container {
    position: relative;
    background-color: inherit;
    font-family: inherit;
    width: 100%;
    /*
    height: 675px;
    margin-top: 65px;
    */
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .panel2_container{
    width: 48%;
    padding:5px;
    border-radius:25px;
    margin:5px;
    background-color: #ffffff;
  }

  .panel2_container h5{
      font-size: 22px;
      color: #848482;
      text-align: left;
      padding:5px 20px 5px 20px;
      margin:0 10px 0 10px;
    }

  #viz_container {
    position: relative;
    height: auto;
    width: 100%;
    background-color: rgba(255, 252, 243, 0);
    overflow: visible;
  }

  #map_container {
    position: relative;
    overflow: visible;
    background-color: inherit;
  }

  #table_container {
    position: relative;
    overflow: scroll;
    height: 850px;
    width: 100%;
  }

  #legend {
    position: relative;
    height: 100px;
    width: 955px;
    margin-top: -25px;
  }

  .counties {
    stroke: #FFF;
    stroke-width: 0.25px;
  }

  #counties_mini {
    stroke: #FFF;
    stroke-width: 0.15px;
  }

  .legend_title {
    position: relative;
  }

  .legend_title > h5 {
    width: 100%;
    text-align: center;
    color: #4F4F4F;
    font-weight: 500;
  }

  .tick {
    font-size: 16px;
    fill: #4F4F4F;
    font-weight: 500;
  }

  .SearchBar {
    display: inline;
    position: relative;
    left: 1%;
  }

  .SearchBar input {
    position: relative;
    left: 2%;
  }

  #tab {
    border-collapse: collapse;
    margin: 0 0 0 0;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    overflow: scroll;
    background-color: #85888a;
  }

  #tab a:link,
  #tab a:visited {
    text-decoration: none;
  }

  #tab a:hover,
  a:active {
    text-decoration: underline;
  }

  #tab > tbody > tr > td,
  #tab > tbody > tr > th {
    // padding: 5px;
    text-align: center;
    height: 20px;
    max-width: 300px;
    font-size: 14px;
  }

  #tab > thead > tr > th {
    background-color: #1C2C46;
    color: #D3D2D8;
    border-collapse: collapse;
    text-align: center;
    font-size: 1vw;
  }

  #tab > tbody > tr > td {
    background-color: #F8F8F8;
    color: #002395;
    font-size: 14px;
  }

  #tab > tbody > tr:hover td {
    background-color: #F6EABE;
  }

  #scatter {
    position: relative;
    float: left;
  }

  #panel {
    margin-top: 125px;
    margin-left: 15px;
    position: relative;
    float: left;
    height: 550px;
    width: 309px;
  }

  #panel h2 {
    font-size: 2em;
    font-family: inherit;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #666666;
  }

  #panel p {
    font-size: 1.2em;
    font-family: inherit;
    margin-top: 15px;
    padding: 0;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    shape-rendering: crispEdges;
  }

  .axisLine {
    fill: none;
    shape-rendering: crispEdges;
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 2px;
  }

  .dot {
    fill-opacity: 0.5;
  }

  #p2_left {
    float: left;
    position: relative;
    width: 512px;
    height: 600px;
  }

  #p2_right {
    float: right;
    position: relative;
    width: 512px;
    height: 600px;
  }

  .legend-header {
    padding-bottom: 15px;
  }

  #panel_map {
    margin-top: 0;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
    background-color: inherit;
  }

  #panel_matrix{
    overflow: hidden;
  }

  #p2_4_legend {
    height: 50px;
  }

  #panel_info {
    margin-top: 15px;
  }

  #panel_coc {
    position: relative;
    //top:50px;
    overflow: visible;
    background-color: inherit;
    width: 100%;
    min-height: 255px;
    float: left;
  }

  #p2_1_title > div > h1.panel_title {
    font-size: 1em;
    font-style: inherit;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 0;
    color: #0071BC;
    line-height: 30px;
  }

  .panel_desc {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: #555555;
  }

  .panel_text {
    font-style: inherit;
    font-size: 1em;
    color: #555555;
    width: 400px;
    padding: 0;
    text-align: left;
  }

  .panel_text2 {
    font-style: inherit;
    font-size: 1em;
    color: #0071bc;
    text-align: right;
    width: 200px;
    padding: 0 3em 0 0;
  }

  #p2_3{
    padding: 20px 30px 0 30px;
  }
  #p2_3 #p2_4 {
    width: 100%;
  }

  #p2_3 > #panel_coc > #coc_info > table {
    margin: 0 0 1.6em;
    background-color: inherit;
    border: none;
    width: 100%;
  }

  #p2_3 > #panel_coc > #coc_info > table > tbody > tr {
    background: inherit;
    border: none;
  }

  #cfda_info > table > tbody > td {
    padding: 0;
  }

  #cfda_info > table > tbody > tr > td.val {
    font-size: 1em;
    color: #555555;
    font-weight: bolder;
    min-width: 70px;
    margin: 5px 0 0;
  }

  #cfda_info > table > tbody > tr > td.name {
    font-size: 1em;
    color: #555555;
    text-align: left;
    width: 465px;
    margin: 5px 0 0;
  }

  .head_val {
    color: #555555;
    font-size: 1.1em;
    min-width: 70px;
  }

  .head_name {
    color: #555555;
    font-size: 1.1em;
    width: 200px;
  }

  .icon {
    position: relative;
    margin: 0 0 2px;
  }

  #cfda_info_header {
    margin-bottom: 13px;
    margin-top: 20px;
  }

  .background {
    fill: #FFF;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #FFF;
    shape-rendering: crispEdges;
  }

  #legend_key #key #key_value {
    position: relative;
  }

  #legend_key {
    height: 50px;
    width: 53px;
    margin: 0 -7px 0 -15px;
    float: right;
  }

  #key {
    height: 40px;
    width: 53px;
    margin: 3px 3px 0 0;
  }

  #key_value {
    height: 10px;
    width: 50px;
    margin: 14px 3px 3px -14px;
    text-align: right;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #key_value > p {
    font-size: 1.2rem;
  }

  .axisLine {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #FFF;
    stroke-width: 2px;
  }

  #button_holder {
    position: relative;
    height: 100px;
    width: 150px;
    left: 345px;
  }

  .button {
    border: 1px solid #0071bc;
    background: #ffffff;
    padding: 12.5px 25px;
    border-radius: 1px;
    color: #0071bc;
    font-size: 15px;
    font-family: inherit;
    text-decoration: none;
    vertical-align: middle;
  }

  .button:hover {
    border-top-color: #0071bc;
    background: #0071bc;
    color: #ffffff;
  }

  .button:active {
    border-top-color: #0071bc;
    background: #0071bc;
  }

  .scatter rect {
    fill: #ddd;
    shape-rendering: crispEdges;
  }

  .text-stuff {
    width: 1024px;
    font-family: inherit;
    font-size: 14;
  }

  .bar {
    fill-opacity: 0.9;
  }

  .axisHorizontal path {
    fill: none;
  }

  .axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
  }

  .axisHorizontal2 path {
    fill: none;
  }

  .axisHorizontal2 .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
  }

  #p2_2 {
    height: 330px;
  }

  #p2_2_legend {
    height: 65px;
  }

  #p2_2_legend_key {
    height: 15px;
    width: 18%;
    float: left;
  }

  #p2_2_key {
    height: 15px;
    // width: 10px;
    width:100%;
    padding-left:15%;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
  }

  #p2_2_key_value {
    height: 10px;
    width:100%;
    text-align: center;
  }

  #p2_4_legend_key {
    height: 15px;
    width: 15%;
    float: left;
  }

  #p2_4_key {
    height: 15px;
    width:100%;
    padding-left:15%;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
  }

  #p2_4_key_value {
    height: 10px;
    width:100%;
    text-align: center;
  }

  #p2_2_legend_key {
    height: 15px;
    width: 15%;
    float: left;
  }

  #p2_2_key {
    height: 15px;
    width:100%;
    padding-left:15%;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
  }

  #p2_2_key_value {
    height: 10px;
    width:100%;
    text-align: center;

  }

  #p2_2_key_value p {
    font-size: 0.7rem;
    line-height: 1 rem;
    color: #000;
  }

  #p2_4_key_value p {
    font-size: 0.7rem;
    line-height: 1.5rem;
    color: #000;
  }

  #myModalContact {
    z-index: 99999;
  }

  .col-md-6 {
    width: 50%;
  }

  #right_column {
    margin: 0 0 0 2.5px;
  }

  #tree {
    position: relative;
  }

  #infographic{
    margin-top: 20px;
  }

  #myBtnContact {
    margin: auto;
    position: relative;
    z-index: 99;
    text-align: center;
    vertical-align: middle;
    margin-top:30px;
  }

  #left_column {
    margin: 5px 2.5px 0 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
    padding: 0;

    .inner {
      padding-left: 1em;
      overflow: hidden;
      display: none;

      &.show {
        display: block;
      }
    }

    li {
      margin: 0.5em 0;

      a.toggle {
        width: 100%;
        display: block;
        background: rgba(0,0,0,0.78);
        color: #fefefe;
        padding: 0.75em;
        border-radius: 0.15em;
        transition: background 0.3s ease;

        &:hover {
          background: rgba(0, 0, 0, 0.9);
        }
      }
    }

    .chart {
      display: block;
      margin: 40px auto auto;
    }

    & text {
      font-size: 11px;
    }

    & rect {
      fill: none;
    }
  }

  .node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: 0.5;
    stroke: #3182bd;
    stroke-width: 1.5px;
  }

  .node text {
    font: 10px sans-serif;
    pointer-events: none;
  }

  path.link {
    fill: none;
    stroke: none;
  }

  #panel_3c {
    overflow-y: auto;
    padding: 0 5px 0 5px;
    width:31%;
    float: right;
    height:900px;
  }

  #panel_3b{
    width:100%;
  }

  .cell {
    cursor: pointer;
  }

  #tree > div > svg > g > g > text{
    fill:#FFF;
  }
  
  @media (max-width: 1150px) {
    .cocTable {
      flex-direction: column;
    }
    .panel2_container {
      width: 100% !important;
    }
    #panel_3b{
      width: 100% !important;
    }
  }

  .cocTab{
    margin: 15px 0 0 0;
    width: 100%;
    border: 1px solid #aaaaaa;
  }

  .cocTable{
    padding: 15px;
    display: flex;
    justify-content: space-around;
  }

  .cocTabTable{
    min-width: 100%;
    min-height: 25%;
  }

  .cocTabTitle{
    display: block;
    text-align: left;
    margin: 20px 0 0 20px;
  }

  .cocTabTitleCluster{
    font-size: 34px;
    display: inline-block;
    margin: 0;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    padding: 0 10px 0 10px;
  }

  .cocTabTitleCity{
    font-size: 34px;
    font-weight: lighter;
    display: inline-block;
    margin: 0;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    padding: 0 10px 0 10px;
  }

  .cocTabFund{
    display: inline-block;
  }

  .cocTabInfo{
    display: inline-block;
  }

  .fundingTitle{
    text-align: left;
    font-family: inherit;
    font-size: 14px;
    padding: 15px 0;
  }

  .fundingAmount{
    text-align: left;
    font-family: inherit;
    font-size: 52px;
    font-weight: lighter;
    padding: 10px 10px;
  }

  .infoAmount{
    text-align: left;
    font-family: inherit;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px 0 0 20px;
    margin-top: -18px;
  }

  .InfoTable td { 
    display: block; 
  }
    ​
  .InfoTable{
    display: inline-block;
    position: relative;
  }

  #tab_info{
    position: relative;
    width: 100%;
    height: 80px;
  }
  #tab > button > div {
    height:40px;
  }

  .CocTileTitle{
    margin: 5px -10px 7px -10px;
    padding: 0 0 0 0;
    height: 10px;
  }

  /* Style the buttons inside the tab */
  .cocButton{
    float: left;
    margin: auto;
    margin-top: 5px;
    // float: left;
    border: none;
    border-right: 1px solid #FFF;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: inherit;
    font-weight: lighter;
    color: #ffffff;
    font-size: 14px;
    background: #85888a;
    padding: 0px 20px 10px 20px;
    text-decoration: none;
    max-height: 40px;
    display: inline-flex;
    align-items: center; 
  }
  .cocButton:last-child {
    border: none;
  }
  /* Change background color of buttons on hover */
  .cocButton:hover {
    background-color: #ddd;
    color: #525252;
  }

  .cocButton.active, .cocButton:active {
    background-color: #ddd;
    color: #525252;
    text-decoration: none;
  }

  .cell:hover{
    fill-opacity: .75;
    stroke-width:3;
    stroke:#FFF;
  }

  .cell.active, .cell:active{
    fill-opacity: .75;
    stroke-width:3;
    stroke:#FFF;
  }
}

.homeless-analysis-picture {
  display: block;
  max-width: 480px;
  max-height: 500px;
  width: auto;
  height: auto;
}
