---
---

// landing.scss
@import 'landing/landing-dts';
@import 'landing/landing-row';

$heading-color: #4A4A4A;

.dl-landing {
  display: block;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  color: #333;
}

.landing-chart {
  text-align: center;
}


h2.primary__heading {
  font-size: 24px;
}

.primary__link {

  &:hover h2 {
    text-decoration: underline;
  }
}

.primary {
  text-align: center;
  box-sizing: border-box;
}

.primary__heading {
  display: none;
  color: $heading-color;
}

.secondary {
  box-sizing: border-box;
  padding: 1rem;
}

.primary__image {
  width: 100%;
}

.primary__desktop-heading {
  display: none;
  color: #2272CE;
  font-size: 1rem;
  display: none;
}

.primary .h2 {
  color: $heading-color;
  font-size: 1.2rem;
}

.primary__text {
  margin: 1rem 0;
  padding: 1rem 2.188rem;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;
  text-align: center;

  &.primary__text--desktop {
    display: none;
  }

}

.landing-chart {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
//  margin-bottom: 2.188rem;
  margin-bottom: 1rem;

  h1 {
    text-transform: uppercase;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-size: .8rem;
    border-bottom: 1px solid #ddd;
    background-color: #fafbfc;
    line-height: 3;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-left: 1rem;
    height: 33px;
  }

  h2 {
    font-size: 22px;
    color: $heading-color;
    padding: 0 1rem;
  }

  h2:hover {
    text-decoration: underline;
  }

}

.landing-feature__homelessness {
  clear: both;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  
  h1, h2 {
    text-align: left;
    margin: 0 0 1rem;
  }

  h1 {
    color: #2272CE;
    font-size: 1rem;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 31px;
    letter-spacing: normal;
    color: $heading-color;
  }

  .landing-feature__headings {
    padding-top: 1rem;
  }

  .landing-homelessness-refresh {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #BCE8F1;
    border-radius: 0.25rem;
    background-color: rgba(188,232,241, .15);
    fill: #BCE8F1;
    width: 100%;

    i {
      padding-left: .5rem;
      padding-right: 1rem;
      color: #2272CE;
    }

    .landing-homelessness-refresh--text {
      font-size: 16px;
      font-family: 'Source Sans Pro';
      line-height: 20px;
      color: #666666;
      margin: 0;
      padding: .75rem;
    }
  }
}

.landing-feature {
  clear: both;
  border-top: 1px solid #ddd;
  padding: 2.188rem 0;
  
  h1, h2 {
    text-align: left;
    margin: 0 0 1rem;
  }

  h1 {
    color: #2272CE;
    font-size: 1rem;
  }

  h2 {
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: $heading-color;
  }

  .landing-homelessness-refresh {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #2272CE;
    border-radius: 0.25rem;
    background-color: rgba(188,232,241, .2);
    fill: #BCE8F1;
    width: 100%;

    .landing-homelessness-refresh--text {
      font-size: 16px;
      font-family: 'Source Sans Pro';
      line-height: 20px;
      color: #666666;
      margin-bottom: 0;
      padding: 0;
    }

    .homelessness-sync-icon {
      fill: teal;
      color: teal;
    }
  }
}

.landing-feature__link {
  cursor: pointer;
  display: block;

  &:hover h2 {
    text-decoration: underline;
  }

  &:hover h1 {
    text-decoration: underline
  }
}


.landing-feature__text {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  clear: both;
  margin: 0;
  font-size: 16px;
  display: none;
}

.landing-feature__text--tablet {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  clear: both;
  margin: 0;
  font-size: 16px;
  display: none;
}

.landing-feature__image {
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 100%;
  float: right;

  img {
    width: 100%;
  }
}

.landing-row__featured__text {
  margin: 1rem 0;
  padding: 0 2.188rem 2.188rem 2.188rem;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;
  text-align: center;

  &.landing-row__featured__text--desktop {
    display: none;
  }
}

@media only screen and (min-width: 950px) {

  .dl-landing {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-top: 3rem;
  }

  .primary {
    width: 63%;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    overflow: hidden;
    height: 795px;
  }

  .secondary {
    padding: 0;
    width: 33%;
  }

  .dts-module {
    box-sizing: border-box;
    background-color: inherit;
    padding: 0;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .primary__content {
    margin: 2.3rem;
  }

  .primary__desktop-heading {
    display: block;
  }

  .primary__mobile-heading {
    display: none;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: $heading-color;
  }

  .primary__heading {
    display: block;
    margin: 0;
  }

  .primary__text--mobile {
    display: none;
  }

  .primary__text {
    display: none;

    &.primary__text--desktop {
      display: block;
      font-weight: 300;
      font-size: 1rem;
      margin: 0;
      line-height: 1.5;
    }
  }

  .landing-row__featured__text {
    display: none;

    &.landing-row__featured__text--desktop {
      display: block;
      font-weight: 300;
      font-size: 1rem;
      margin: 0;
      line-height: 1.5;
      padding: 0 2.188rem;
    }
  }

  .landing-feature__text {
    display: block;
  }

  .landing-feature__image {
    box-sizing: border-box;
    margin-bottom: 1rem;
    width: 100%;
    float: right;

    img {
      width: 100%;
    }
  }

  .landing-feature h2 {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: $heading-color;
  }

}

// tablet view
@media only screen and (min-width: 950px) and (max-width: 1200px) {
  
  .dl-landing {
    display: block;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: #333;

    .primary__mobile-heading {
      color: $heading-color;
    }
  }

  .primary {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
  }

  
  .secondary {
    width: 100%;
    padding-top: 1rem;
    box-sizing: border-box;
  }

  .landing-feature {
    box-sizing: border-box;
    width: 50%;
    float: left;
    clear: none;
  }

  .landing-feature__homelessness {
    width: 100%;
    box-sizing: border-box;
    clear: none;
    border-top: none;
  }

  .landing-feature:nth-child(even) {
    padding-right: 1rem;
  }

  .landing-feature:nth-child(odd) {
    padding-left: 1rem;
  }


  // was display: flex..
  .landing-row .landing-row__tiles {
    display: block;
  }

  // children
  .landing-row .landing-row__tiles .landing-row__tile {
    box-sizing: border-box;
    display: block;
    width: 50%;
    float: left;
    border-bottom: none;
    margin-bottom: 0;
    clear: none;
  }

  .landing-row.landing-row--resources .landing-row__tiles .landing-row__tile.landing-row__tile--primary {
    width: 100%;
  }

  .landing-row.landing-row--resources .landing-row__tiles .landing-row__tile.landing-row__tile--primary .landing-row__text {
    text-align: center;
  }

  .landing-row.landing-row--resources .landing-row__tiles .landing-row__tile.landing-row__tile--primary .landing-row__text .landing-row__title {
    text-align: center;
  }

  .landing-row.landing-row--resources .landing-row__tiles .landing-row__tile {
    width: 33%;
  }

  a.landing-row__tile:nth-child(even) {
    padding-left: 1rem;
  }

  a.landing-row__tile:nth-child(odd) {
    padding-right: 1rem;
  }


}

@media (min-width: 1200px) {
  .landing-chart {
    text-align: left;
  }
}

@media (max-width: 950px) {
  .landing-feature__homelessness {
    display: flex;
    flex-direction: row-reverse;
    padding-top: .75rem;
    border-top: none;

    h2 {
      font-size: 18px;
      line-height: 23px;
      color: #555555;
      margin-bottom: .25rem;
    }
  }

  .landing-feature__headings {
    padding-top: .5rem;
    width: 100%;
  }

  .landing-feature__link {
    cursor: pointer;
    display: block;
    padding-top: 0;
    padding-right: .75rem;
  }

  .landing-feature__image img {
    width: 329px;
    height: 255px;
  }

  .landing-feature__tablet {
    padding-left: .75rem;
  }

  .landing-feature__text--tablet {
    display: block;
  }
} // end tablet mode

// hide when text is too long!
@media (max-width: 580px) {
  .landing-feature__text--tablet {
    display: none;
  }
}


// toggle back for mobile
@media (max-width: 520px) {
  .landing-feature__text--tablet {
    display: none;
  }

  .landing-feature__homelessness {
    display: flex;
    flex-direction: column-reverse;
    padding-top: .75rem;
    border-top: none;

    h2 {
      font-size: 19px; // 18 or 19.. want wrap..
      line-height: 23px;
      color: #555555;
      margin-bottom: .25rem;
    }
  }

  .landing-feature__image img {
    width: 100%;
  }

  .landing-feature__link {
    padding: 0;
  }

  .landing-feature__tablet {
    padding: 0;
  }

  .landing-feature__headings {
    padding-top: 1rem;
  }

}




