---
# Only the main Sass file needs front matter (the dashes are enough)
---

$baseurl: '{{ site.baseurl }}/images';

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'font-awesome.min.css';

@import 'share.css';
@import 'budget-sankey';
@import 'dendrogram';
@import 'homeless-analysis';
@import 'contract-explorer';
@import 'competition-in-contracting';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

@import 'libs/skel';

@include skel-breakpoints((
	xlarge: '(max-width: 1680px)',
	large: '(max-width: 1280px)',
	medium: '(max-width: 980px)',
	small: '(max-width: 736px)',
	xsmall: '(max-width: 480px)'
));

@include skel-layout((
	reset: 'full',
	boxModel: 'border',
	grid: ( gutters: 1.5em )
));

/* Basic */

	body, input, select, textarea {
		color: #000;
		font-family: _font(family);
		font-size: 15pt;
		font-weight: _font(weight);
		letter-spacing: _size(letter-spacing);
		line-height: 1.65em;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	p {
		margin: 0 0 _size(element-margin) 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 (_size(element-margin) * 0.5) 0;
	}

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

/* Image */

	.image {
		img {
			border-radius: 3px;
			display: block;
		}
	}

/* List */

	ul {
		/* padding-left: 1em; */

		li {
			padding-left: .75em;
		}

		li:first-child {
			padding-left: 0;
		}

		&.icons {
			list-style: none;

			li {
				display: inline-block;
			}
		}
	}

/* Table */

	table {
		td {
			padding: 0.75em 0.75em;
		}
	}

/* Icons */

	.icon {
		@include icon;

		> .label {
			display: none;
		}
	}

/* Spotlight */

	.spotlight {
		@include vendor('align-items', 'center');
		@include vendor('display', 'flex');

		.image {
			@include vendor('order', '1');
			width: 50%;

			img {
				border-radius: 0;
				width: 100%;
			}
		}

		.content {
			@include padding(2em, 4em);
			@include vendor('order', '2');
			width: 50%;
		}

		&:nth-child(2n) {
			@include vendor('flex-direction', 'row-reverse');
		}
	}

/* Wrapper */

	.wrapper {
		> .inner {
			width: 60em;
			margin: 0 auto;
		}
	}

/* Page Wrapper + Menu */

	/* Menu opening/closing transition */
	#page-wrapper {
		@include vendor('transition', 'opacity #{_duration(menu)} ease');
	}

	#menu {
		@include vendor('transform', 'translateX(385px)');
		@include vendor('transition', 'transform #{_duration(menu)} ease');
		padding: 0em 2em 1em 0em;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		width: 385px;

		ul {
			> li {
				margin: 0.5em 0 0 0;
				padding: 0.5em 0 0 0;

				> a {
					font-size: 15px;
					letter-spacing: _size(letter-spacing-alt);
					border-bottom: 1px dashed #4498c8;
				}

				> a:hover {
					border-bottom: 1px dashed #FFFFFF;
				}
			}
		}

		.close {
			background-image: url('images/close.svg');
			background-repeat: no-repeat;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	body.is-menu-visible {
		#page-wrapper {
			opacity: 0.35;
		}

		#menu {
			@include vendor('transform', 'translateX(0)');
		}
	}

/* Header */

#header {
	background: #FFFFFF;
	height: 80px;
	display: flex;
	align-items: center;

	nav {
		margin: 15px 35px 0 0;
	}
}

/* Banner */

	#banner {
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('justify-content', 'flex-end');
		height: 90vh;
		text-align: center;
		margin-bottom: 15vh;
	}

/* Main */

	#main {
		> header {
			background-attachment: fixed;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			padding: 3em 0;

			display: flex;
			justify-content: flex-end;
			flex-direction: column;
		}
	}

/* Footer */

	#footer {
		.icons {
			font-size: 1.5em;

			a {
				color: _palette(fg-light);

				&:hover {
					color: _palette(fg);
				}
			}
		}

		.copyright {
			color: _palette(fg-light);

			li {
				border-left: solid 1px _palette(fg-light);
				display: inline-block;
				line-height: 1em;

				&:first-child {
					border-left: 0;
					margin-left: 20px;
					padding-left: 0;
				}
			}
		}
	}

/* Landing */

	body.landing {
		#page-wrapper {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0))', 'url("#{$baseurl}/banner.jpg")'));
			background-attachment: fixed;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 0;
		}
	}

/* Additions */

h3.philosophy {
	margin-top: 25px;
}

ul.icons.major {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	color: #FFFFFF;
}

ul.icons.major li {
	padding-left: 0;
}

header.major {
	margin: 0 25px 2em 0;
}

.wow { visibility: hidden; }

.philosophy a {
	color: #9BDAF1;
	border-bottom: none;
	font-size: 36px;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
}

/* Resources Header */
header.major h2 {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	color: #FFFFFF;
}

.spotlight {
	background-color: #FFFFFF;
}

.spotlight > .content > h4 {
	color: #0C99CD;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.spotlight > .content > h2 {
	color: #323A45;
	font-size: 28px;
	line-height: 36px;
	letter-spacing: 0.030em;
}

.spotlight > .content > p {
	color: #606368;
	font-size: 16px;
	line-height: 32px;
}

#banner h2 {
	font-weight: 800;
	letter-spacing: 2px;
}

.page-title {
	width: 600px;
	font-size: 35px;
	line-height: 45px;
	margin: 25px 0;
	color: #FFFFFF;
}

.page-description {
	width: 600px;
	font-size: 18px;
	font-weight: 100;
	opacity: 0.9;
	margin: 0;
	color: #FFFFFF;
}

.wrapper > .inner {
	width: 100%;
}

.entry-about-title-container {
	width: 445px;
	margin-right: 150px;
}

.entry-about-title {
	color: #323A45;
	font-size: 30px;
	font-size: 35px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 45px;
	margin-bottom: 0;
}

.entry-about-divider {
	width: 103px;
    display: inline-block;
    border-bottom: 2px solid #5B616B;
}

.entry-about-body-container {
	width: 650px;
}

.entry-about-body {
	color: #5B616B;
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
}

.resources-section {
	padding: 25px 0;
}

.viz-bkgd {
	width: 100%;
	background-color: #E2DFEC;
	padding: 25px;
}

.mask {
	height: 99%;
	width: 99%;
	border: 1px solid #CDCACA;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin: auto;
}

.viz-actions {
	height: 76px;
	width: 100%;
	border: 1px solid #BEBBBB;
	background-color: #E8EAF5;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	padding: 0;
}

.viz-container {
	padding: 25px;
	height: 90%;
	overflow: hidden;
}

.homepage-get-started {
	border-radius: 48.5px;
	background-color: #D334BA;
	font-size: 24px;
	font-weight: 600;
	line-height: 58px;
	color: #FFFFFF;
	margin-left: 92px;
	z-index: 1;
	margin-top: 25px;
	width: 250px;
}

#banner p {
	text-align: left;
	margin-left: 86px;
	color: #FFFFFF;
}

#top-footer {
	height: 200px;
	background-color: #333333;
}

#footer > ul.icons {
	flex-grow: 0;
	justify-content: center;
}

#footer {
	padding: 1em 0;
	background-color: #262626;
	display: flex;
	flex-direction: row;
}

#footer > ul, #footer > div {
	flex: 1;
	display: flex;
	align-items: center;
}

#footer > .copyright {
	justify-content: flex-start;
}

#footer .copyright li {
	font-size: 11px;
	letter-spacing: 1px;
	padding: 0 4px;
}

#footer-logo {
	width: 18%;
	margin: 40px 0 0 40px;
}

.link-group {
	display: inline-block;
	vertical-align: top;
	margin: 0 35px;
}

.group-title {
	color: #FFFFFF;
}

.footer-links {
	float: right;
	margin: 30px 50px 0 0;
}

.footer-important-info {
	justify-content: flex-end;
}

.links {
	list-style: none;
	list-style-type: none;
	padding-left: 0;
}

.links li {
	padding-left: 0;
	font-size: 14px;
    color: #aeb0b5;
    text-decoration: none;
}

.important-db-info {
	color: #CCCCCC;
    font-size: 12px;
	letter-spacing: .75px;
	font-weight: 300;
	margin-right: 20px;
}

.important-db-info > b {
	font-weight: bold;
}

.important-db-info > a {
	color: #9BC6DA;
	text-decoration: underline;
}

#cta {
	height: 325px;
	background: repeating-linear-gradient(
		-45deg,
		#238eb5,
		#238eb5 2px,
		#0C99CD 2px,
		#0C99CD 4px
	);
}

#cta .inner {
	display: block;
	text-align: center;
	width: 500px;
	padding-top: 50px;
}

#cta .inner header h1 {
	font-size: 48px;
	margin-bottom: 35px;
	color: #FFFFFF;
}

#cta .inner header p {
	font-size: 16px;
	opacity: 0.9;
	color: #FFFFFF;
}

.viz-share-icon {
	background-image: url(images/share.svg);
    display: inline-block;
	width: 18px;
	height: 18px;
    margin-left: 0;
    margin-bottom: -4px;
    filter: invert(100%);
}

.hamburger-icon {
	background-image: url(images/hamburger.svg);
    display: inline-block;
	width: 55px;
	height: 23px;
    margin-left: 0;
    margin-bottom: 8px;
}

.information-icon {
	background-image: url(images/information.svg);
    display: inline-block;
	width: 23px;
	height: 23px;
	vertical-align: middle;
	filter: invert(40%);
	margin-bottom: 4px;
}

.how-analysis-container {
	height: 480px;
	background-size: 100% 480px;
	background-image: url("images/analysis.jpg");
}

.sub-how-analysis-container {
	display: inline-block;
}

.how-we-conducted-this-analysis {
	height: 126px;
	width: 317px;
	color: #FFFFFF;
	font-size: 35px;
	font-weight: 300;
	line-height: 44px;
	display: inline-block;
	margin-left: 330px;
	margin-right: 50px;
	opacity: 0.85;
	vertical-align: top;
}

.how-analysis-inner-container {
	padding: 50px;
}

.this-analysis-was-co {
	width: 530px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 100;
	line-height: 36px;
	margin-bottom: 50px;
}

.usaspending-logo {
    background-size: 380px 43px;
    width: 300px;
    height: 42px;
    background-image: url('images/logo.svg');
}

.go-to-usaspending {
    width: 166px;
    border: 1px solid #0C99CD;
    border-radius: 17px;
    color: #6AB6D3;
    margin-left: auto;
    margin-right: 50px;
    font-size: 14px;
    text-align: center;
}

#menu {
	background-color: #4498C8;
	text-align: right;
	padding-top: 150px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu .close {
	background-size: 30px 30px;
    background-position: 0px 0px;
    width: 30px;
    height: 30px;
    margin-right: 40px;
    margin-top: 40px;
}

.read-more-header {
	height: 365px;
	background-color: #4498C9;
	font-weight: 300;
	display: flex;
	justify-content: center;
}

.read-more-header-container {
	align-self: center;
}

.read-more-header > div > h2 {
	width: 600px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	font-weight: 300;
	margin: 0 auto;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.read-more-header > div > h3 {
	width: 600px;
	color: #FFFFFF;
	font-size: 64px;
	line-height: 71px;
	text-align: center;
	font-weight: 300;
	margin: 0 auto;
}

.read-more-content {
	width: 900px;
	color: #5B616B;
	font-size: 20px;
	font-weight: 300;
	line-height: 42px;
	margin: 0 auto;
	padding: 25px;
}

.horizontal-separator {
	border-bottom: 1px solid #979797;
}

.hs-1 {
	margin-top: 125px;
	margin-bottom: 35px;
}

.hs-2 {
	margin-top: 50px;
	margin-bottom: 35px;
}

.container-read-more-button {
	margin: 0 auto;
	height: 200px;
	display: table;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.wrapper.style1 {
	background: repeating-linear-gradient(
		-45deg,
		#252a32,
		#252a32 2px,
		#313944 2px,
		#313944 4px
	);
}

/* return to top button */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #D3D3D4;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    display: none;
	transition: all 0.3s ease;
	z-index: 1000;
	opacity: 0.8;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 9px;
    font-size: 19px;
    transition: all 0.3s ease;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.resources-icon {
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 auto;
}

.resources-icon.user-guide {
	background-image: url('images/services/user-guide.svg');
	width: 58px;
	height: 75px;
}

.resources-icon.playbook {
	background-image: url('images/services/playbook-icon.svg');
	width: 65px;
	height: 75px;
}

.resources-icon.api-guide {
	background-image: url('images/services/api-icon.svg');
	width: 81px;
	height: 75px;
}

/* Popup Start */

#button-instructions {
	position: static;
}

#button-share {
	position: static;
}

.popup .popuptext {
    visibility: hidden;
    width: 135px;
	background-color: #fff;
	border: 1px #ccc solid;
    border-radius: 6px;
    position: absolute;
    z-index: 100;
    top: 65px;
}

.popup .popuptext.left {
	left: 70px;
}

.popup .popuptext.right {
	right: 22px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Popup End */

.get-started-arrow {
	background-image: url('images/down-arrow.svg');
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 12px;
	margin-bottom: -4px;
	filter: invert(100%);
}

.resources-divider {
	border-bottom: 3px solid #FFFFFF;
	box-sizing: border-box;
	height: 3px;
	width: 55px;
	margin: 0 auto;
	margin-bottom: 75px;
}

.how-we-divider {
	width: 39px;
	border-bottom: 5px solid #FFFFFF;
	display: block;
	margin-bottom: 15px;
}

.homeless-map-options {
	margin-top: 20px;
}

.homeless-style {
	color: #5B616B;
    margin-left: 35px;
    margin-right: 15px;
}

#homeless-action-map {
	background-image: url(images/map1.svg);
    display: inline-block;
	width: 56px;
	height: 31px;
	background-size: 56px 31px;
	vertical-align: middle;
	cursor: pointer;
}

#homeless-action-map:hover {
	filter: saturate(2);
}

#homeless-action-table {
	background-image: url(images/table.svg);
    display: inline-block;
	width: 25px;
	height: 29px;
	background-size: 25px 29px;
	vertical-align: middle;
	opacity: 0.4;
	margin-left: 5px;
	cursor: pointer;
}

#homeless-action-table:hover {
	opacity: 0.7;
}

.index-header {
	width: 650px;
	font-size: 64px;
	font-weight: 500;
	line-height: 77px;
	margin-bottom: 25px;
}

.index-sub-header {
	width: 400px;
	font-size: 20px;
	line-height: 31px;
	font-weight: 300;
}

.official-banner__wrapper {
    padding: 4px 12px;
    background-color: #f9f9f9;
    display: box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.official-banner__text {
    flex: 0 0 auto;
    margin-right: 10px;
    font-size: 10px;
    line-height: 13px;
	color: #555;
	font-weight: 300;
	letter-spacing: 0;
}

.official-banner__flag {
    flex: 0 0 auto;
}

.greyed-out {
	opacity: 0.3;
	color: #6B6E76;
}

article > header {
	height: 600px;
}

.header-box {
	margin-left: 90px;
	text-align: left;
}

.entry-about-container {
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.clear-both {
	clear: both;
}

.page-menuname {
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
}

/* Buttons Start */

.discover {
	color: #5B616B;
	font-size: 16px;
	text-align: center;
	display: block;
}

.discover-box {
	width: 147px;
	border: 1px solid #979797;
	border-radius: 50px;
	cursor: pointer;
	display: block;
	padding: 8px;
}

.discover-box:hover {
	background-color: #0C99CD;
	border: 1px solid #0C99CD;
}

.discover-box:hover .discover {
	color: #FFFFFF;
}

.button-read-more {
	margin-top: 50px;
	width: 147px;
	border: 1px solid #0C99CD;
	border-radius: 50px;
	display: block;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}

.button-read-more:hover {
	text-decoration: none;
	background-color: #0C99CD;
	border: 1px solid #0C99CD;
}

.button-read-more span {
	color: #3BADD6;
	text-transform: uppercase;
}

.button-read-more:hover span {
	color: #FFFFFF;
}

.action-button {
	display: inline-block;
	color: #5B616B;
	border: 1px solid #D2CCCC;
	border-radius: 50px;
	margin: 15px 0 0 15px;
	font-weight: lighter;
	cursor: pointer;
	padding: 5px 20px;
}

.action-button:hover {
	background-color: #D2D3DC;
}

.share-viz-button {
	color: #FFFFFF;
	background-color: #62666C;
	border: 1px solid #D2CCCC;
	border-radius: 50px;
	margin: 15px 15px 0 15px;
}

.get-involved-button {
	width: 205px;
	border: 1px solid #FFFFFF;
	border-radius: 50px;
	display: inline-block;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 0 20px;
	padding: 10px;
	color: #FFFFFF;
}

.get-involved-button:hover {
	background-color: #0C759D;
	border: 1px solid #0C759D;
}

.btn-analysis {
	width: 196px;
	border-radius: 26px;
	font-size: 18px;
	color: #FFFFFF;
	margin-right: 50px;
	text-align: center;
	display: inline-block;
	letter-spacing: 2px;
	padding: 10px;
	border: 1px solid #0C99CD;
}

.btn-analysis-read-more {
	background-color: #0C99CD;
	border: 1px solid #0C99CD;
}

.btn-analysis-read-more:hover {
	background-color: #0C759D;
	border: 1px solid #0C759D;
}

.btn-analysis-next-analysis {
	background-color: #D334BA;
	border: 1px solid #D334BA;
}

.btn-analysis-next-analysis:hover {
	background-color: #AC2096;
	border: 1px solid #AC2096;
}

.read-more-button {
	height: 75px;
	width: 371px;
	border: 1px solid #0C99CD;
	border-radius: 50.5px;
	color: #0C99CD;
	font-size: 20px;
	line-height: 72px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.read-more-button:hover {
	background-color: #0C99CD;
	color: #FFFFFF;
	border: 1px solid #0C99CD;
}

.button-instructions {
    background-color: #D334BA;
    display: inline-block;
    color: #FFFFFF;
    border-radius: 50px;
    margin-left: 15px;
    font-weight: 300;
    cursor: pointer;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 14px;
	letter-spacing: 1px;
}

.button-instructions:hover {
	background-color: #AC2096;
}

/* Buttons End */

.viz-title-container {
	text-align: left;
	color: #5B616B;
	margin: 25px 0 50px 10px;
}

.viz-title {
	font-size: 36px;
	font-weight: 400;
	display: inline-block;
}

.viz-subtext {
	font-size: 16px;
	font-weight: 300;
}

/* Modal Start */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
	width: 600px;
	line-height: 26px;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal-blue-bar {
	height: 10px;
	background-color: #4498C8;
}

.modal-body {
	padding: 60px;
}

.modal-body-title {
	color: #5B616B;
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
}

.modal-body-content {
	color: #5B616B;
	font-size: 16px;
	font-weight: 300;
	margin-top: 30px;
	letter-spacing: 0px;
	text-align: left;
	overflow-y: auto;
	max-height: 400px;
	margin-bottom: 25px;
}

.modal-body-close {
	width: 147px;
	background-color: #5B616B;
	color: #FFFFFF;
	border-radius: 50px;
	cursor: pointer;
	display: block;
	padding: 12px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

.modal-body-close:hover {
	background-color: #1C1D20;
}

/* Modal End */

/* Info Banner Start */

.info-banner {
	height: 45px;
	background: #e1f3f8;
    width: 100%;
	border-top: 5px solid #9bdaf1;
	display: none;
}

.info-banner__content {
	text-align: center;
}

.info-banner__alert-icon {
    background-image: url(images/warning.svg);
    background-repeat: no-repeat;
    width: 26px;
	height: 26px;
	display: inline-block;
	margin-top: 7px;
	opacity: 0.7;
}

.info-banner__alert-text {
	color: #555;
	display: inline-block;
	vertical-align: super;
}

.info-banner__body-text {
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 8px;
	line-height: 22px;
	font-weight: 400;
	letter-spacing: 0;
}

.info-banner__close-icon {
    background-image: url(images/close.svg);
    background-repeat: no-repeat;
    cursor: pointer;
	filter: invert(50%);
	position: absolute;
    right: 18px;
    top: 18px;
    width: 18px;
    height: 18px;
}

.info-banner__body-text > a {
	color: #5475A4;
}

/* Info Banner End */