.copy-tour-row {
    margin: 0 1rem;
}

@media only screen and (min-width: 660px) {
    .copy-tour-row {
        display: flex;
    }

    .copy-tour-row__tour {
        margin-left: 1rem;
        width: 34%;
    }

    .copy-tour-row__copy {
        width: 66%;
        margin: 0;
    }
}

@media only screen and (min-width: 900px) {
    .copy-tour-row {
        max-width: 900px;
        margin: 0 auto;
    }
}
