$padding: 20px;

.hwcta {
    max-width: 900px;
    margin: 1rem auto;
}

.hwcta__heading {
    padding: 20px;
    font-size: 24px;
    text-align: left;
    border: 1px solid #eee;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.hwcta__copy {
    padding: $padding;
    border: 1px solid transparent;
    border-top: none;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.5s ease;
    opacity: 0;
}

.hwcta__toggle {
    font-size: 16px;
    background: transparent;
    border: none;
    float: right;
    width: 26px;
}

.hwcta__plus {
    display: block;
}

.hwcta__minus {
    display: none;
}

.hwcta--open {
    .hwcta__copy {
        line-height: 1.2;
        padding-top: $padding;
        padding-bottom: $padding;
        border-color: #eee;
        opacity: 1;
    }

    .hwcta__plus {
        display: none;
    }

    .hwcta__minus {
        display: block;
    }
} 