.toggle-control {
  border: none;
  background: none;
  //padding: 0 0.25rem;
}

.toggle-control__background {
  border: 1px solid #ccc;
  background: #f0f0f0;
  width: 2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  position: relative;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.toggle-control__dot {
  height: 1rem;
  border-radius: 0.5rem;
  width: 1rem;
  background: white;
  box-sizing: border-box;
  margin: 2px 2px;
  transition: transform 0.25s ease;
  padding: 0 0.25rem;
}

.toggle-component {
  margin-bottom: 1rem;
}

.toggle-component--spending .toggle-control__dot {
  border: 2px solid $color-spending-primary;
}

.toggle-component--debt .toggle-control__dot {
  border: 2px solid $color-debt-primary;
}

.toggle-component__label {
  color: $text-color-paragraph;
  transition: color, font-weight 0.3s ease;
  cursor: pointer;
  transform: translateY(-5px);
  display: inline-block;
  min-width: 49px;
  font-size: 1.5rem;
}

.toggle-component--spending .toggle-component__label:first-of-type {
  min-width: 93px;
}

.toggle-component--spending[data-active="category"] {
  .toggle-component__label:first-of-type {
    font-weight: $boldWeight;
    color: $color-spending-primary;
  }
}

.toggle-component--debt[data-active="debt-image"] {
  .toggle-component__label:first-of-type {
    font-weight: $boldWeight;
    color: $color-debt-primary;
  }
}

.toggle-component--spending[data-active="agency"] {
  .toggle-component__label:last-of-type {
    font-weight: $boldWeight;
    color: $color-spending-primary;
  }
}

.toggle-component--debt[data-active="gdp-image"] {
  .toggle-component__label:last-of-type {
    font-weight: $boldWeight;
    color: $color-debt-primary;
  }
}

.toggle-component[data-active="gdp-image"], .toggle-component[data-active="agency"] {
  .toggle-control__dot {
    transform: translateX(0.8rem)
  }
}
