$tourButtonColor: #0D7040;

.tour {
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(80, 80, 80, 0.15);
    padding: 1rem;

    h1 {
        font-size: 17px;
        font-weight: $boldWeight;
        margin-top: 0;
        text-align: left;
    }

    button {
        line-height: 3;
        border: none;
        padding: 0 2rem;
        background: $tourButtonColor;
        color: white;
        transition: background 0.2s ease;

        &:hover {
            background: lighten($tourButtonColor, 5)
        }
    }
}