@import './trends/trendControls.scss';
@import './trends/trendFilters.scss';
@import './trends/trendMobile.scss';
@import './toggleControl.scss';

#viz {
    overflow-x: hidden;
    margin-top: -1rem;
}

.trend-chart {
    max-width: 800px;
    margin: 0 auto;
    clear: both;
}

.trend-copy {

    p:first-of-type {
    margin-top: 0;
    }
}

.trend-copy__text {
    padding-right: 2rem;
    box-sizing: border-box;
}

.tour {
    clear: both;
    max-width: 400px;
}

.show-hide__buttons--right {
    text-align: right;
}

@media only screen and (min-width: 830px) {
    .trend-flex {
        display: flex;
    }
    
    .trend-copy {
        width: 32%;
        padding-right: 2rem;
        box-sizing: border-box;

        p:first-child {
            margin-top: 0;
        }
    }

    .trend-chart {
        width: 68%;
        box-sizing: border-box;        
    }
    
    #viz {
        margin-top: -1rem;
    }

    .chart-title {
        margin-top: 0;
    }
}