@import '../../colors.scss';

.trend-mobile {
    margin-top: 1rem;
}

.trend-row {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.trend-row__heading {
    margin: 0;
}

.trend-mobile__year {
    font-size: 0.9rem;
    color: #aaa;
}

.trend-mobile__amount {
    font-weight: 600;
}

.trend-row__summary-icon {
    display: inline-block;
    margin: 0 0.25rem 0 0.75rem;
}

.trend-row__chart-toggle {
    padding: 2px 0.75rem;
    border-radius: 5px;
    border: none;
    background: none;
    font-size: 0.9rem;
    cursor: pointer;

    i {
        margin-left: 0.5rem;
    }
}

.revenue .trend-row__chart-toggle {
    background: $color-primary;
    color: white;
}

.chart-row {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transform: scaleY(0);
    transition: transform 0.5s ease;
    height: 0;
}

.trend-row.trend-row--active .chart-row {
    height: auto;
    transform: scaleY(1);
}

.chart-row__data {
    box-sizing: border-box;
    width: 30%;

}

body p.chart-row__data-line {
    margin-top: 0;
    margin-bottom: 0;
}

.chart-row__chart {
    box-sizing: border-box;
    width: 70%;
}