.trend-mobile {
    margin-top: 1rem;
}

.trend-row {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.trend-row__heading {
    margin: 0;
}

.trend-mobile__year {
    font-size: 0.9rem;
    color: #aaa;
}

.trend-mobile__amount {
    font-weight: 600;
}

.trend-row__summary-icon {
    display: inline-block;
    margin: 0 0.25rem 0 0.75rem;
}

.trend-row__chart-toggle {
    padding: 0.25rem 0;
    border: none;
    background: none;
    cursor: pointer;
}

.chart-row {
    display: flex;
    margin-top: 1rem;
}

.chart-row__data {
    box-sizing: border-box;
    width: 30%;

}

body p.chart-row__data-line {
    margin-top: 0;
    margin-bottom: 0;
}

.chart-row__chart {
    box-sizing: border-box;
    width: 70%;
}