@import '../../colors.scss';

.trend-mobile {
    margin-top: 1rem;
    background: white;
}

.trend-mobile--detail {
    padding-left: 1rem;
}

.trend-row {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.trend-row__heading {
    margin: 0;
}

.trend-mobile__year {
    font-size: 0.9rem;
    color: #aaa;
}

.trend-mobile__amount {
    font-weight: 600;
}

.trend-row__summary-icon {
    display: inline-block;
    margin: 0 0.25rem 0 0.75rem;
}

.trend-row__buttons {
    display: flex;
    justify-content: space-between;
}

.trend-row-button {
    padding: 2px 0.75rem;
    border-radius: 5px;
    border: none;
    background: none;
    font-size: 0.9rem;
    cursor: pointer;

    i {
        margin-left: 0.5rem;
    }
}

.revenue .trend-row-button {
    background: $color-primary;
    color: white;
}

.revenue .trend-mobile--detail .trend-row-button {
    background: lighten($color-primary, 10%);
    color: white;
}

.chart-row {
    display: flex;
    margin-top: 0rem;
    margin-bottom: 1rem;
    transform: scaleY(0);
    height: 0; 
    transition: transform 0.5s ease, margin-top 0.5s ease;
}

.trend-row.trend-row--chart-active .chart-row {
    height: auto;
    margin-top: 1rem;
    transform: scaleY(1);
}

.chart-row__data {
    box-sizing: border-box;
    width: 30%;

}

body p.chart-row__data-line {
    margin-top: 0;
    margin-bottom: 0;
}

.chart-row__chart {
    box-sizing: border-box;
    width: 70%;
}

.trend-row__detail {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;

    svg {
        transform: scaleX(0.85);
    }
}

.trend-row.trend-row--detail-active .trend-row__detail {
    margin-top: 1rem;
    padding: 0 0 0 0.5rem;
}

.revenue .trend-row__detail {
    background: $color-primary;
}