@import '../colors.scss';

#show-hide {
    position: relative;
}

#show-hide-tray {
    position: absolute;
    margin-top:10px;
    width:450px;
    max-width: 100%;
    box-sizing: border-box;
    left: 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: white;
    display: none;
    z-index: 1;

    &.active {
        display: block;
    }
}

.show-hide__buttons {
    display:flex;
    justify-content:space-between;

    button {
        background: white;
        border: none;
        color: $text-color-paragraph;
        outline:none;
        padding:0.4rem 1rem;

        &:hover {
            background: darken(white, 10%);
            transition: background-color 0.3s ease;
        }
    }
}

#save-filters-button {
    background-color: $color-spending-primary;
    color:white;
    padding:0.4rem 1.5rem;
    border-radius:4px;

    &:hover {
        background: lighten($color-spending-primary, 10%);
        transition: background-color 0.3s ease;
    }
}

#show-hide-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top:0.7rem;

    button {
        outline:none;
        width: 100%;
        margin-bottom: 0.12rem;
        min-height:20px;
        border: none;
        background:white;
        text-align:left;
        padding:0.4rem 0.5rem;
        color:$text-color-paragraph;
        &:hover {
            background: darken(white, 10%);
            transition: background-color 0.3s ease;
        }
    }

    button.active {
        background-color: $color-spending-primary;
        color:white;

        &:hover {
            background: lighten($color-spending-primary, 10%);
            transition: background-color 0.3s ease;
        }
    }
}
