<nav class="chapter-nav chapter-nav--spending">
    <ul class="chapter-nav__primary-list">
        <li class="chapter-nav__overview"><a href="../"><i class="fas fa-chevron-left"></i> Overview</a></li>
        <li><a href="./">Spending and GDP</a></li>
        <li><a href="./categories.html">Spending Categories</a></li>
        <li><a href="./trends.html">Federal Spending Trends</a></li>
        <li><a href="./country-comparison.html">Country Comparison</a></li>
    </ul>
    <button class="chapter-nav-trigger">
        <hr>
        <hr>
        <hr>
    </button>
</nav>
