// jrk <Killilea_Jack@bah.com>
// 404 page, fun

// body class
.four-oh-four {
  background-image: url('../../images/homepage/404background.svg');
  height: 100%; 
  background-repeat: repeat-y;
  background-size: cover;
}

#four-oh-four {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  // padding-left: 2rem;
  // padding-right: 2rem;
  justify-content: center;
  align-items: center;
  line-height: 1.4;

  .four-container {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;

    h3 {
      font-size: 11rem;
      font-weight: 300;
      line-height: 1.4;
      padding: 0;
      margin: 0;
    }

    p {
      font-size: 5rem;
      line-height: 1.1;
      margin-top: 2em;

      span {
	font-weight: bold;
      }
    }
    

  }
}


