// jrk <Killilea_Jack@bah.com>
// 404 page, fun

#four-oh-four {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
  align-items: center;
  line-height: 1.4;

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }
}

#four-oh-four__icon i {
  font-size: 11rem;
}

.fa-hand-paper {
  font-size: 11rem;
}

#four-oh-four__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#four-oh-four__text a {
  color: #2272CE;

  &:hover {
    text-decoration: underline;
  }
}

#four-oh-four__about {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2;
}

