.discover {
	color: #5B616B;
	font-size: 16px;
	text-align: center;
	display: block;
}

.discover-box {
	width: 147px;
	border: 1px solid #979797;
	border-radius: 50px;
	cursor: pointer;
	display: block;
	padding: 8px;
}

.discover-box:hover {
	background-color: $accent-blue;
	border: 1px solid $accent-blue;
}

.discover-box:hover .discover {
	color: #FFFFFF;
}

.button-read-more {
	margin-top: 35px;
	width: 147px;
	border: 1px solid $accent-blue;
	border-radius: 50px;
	display: block;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}

.button-read-more:hover {
	text-decoration: none;
	background-color: $accent-blue;
	border: 1px solid $accent-blue;
}

.button-read-more span {
	color: #3BADD6;
	text-transform: uppercase;
}

.button-read-more:hover span {
	color: #FFFFFF;
}

.action-button {
    display: inline-block;
    color: #5B616B;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0 5px 0 15px;
    font-weight: lighter;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 16px;
}

.action-button:hover {
	background-color: #0C99CD;
	border-color: #0C99CD;
	color: #FFF;
}

.action-button:hover .viz-share-icon {
	fill: #FFF;
}

.share-viz-button {
	color: #333;
    background-color: #FFF;
    border: 1px solid $silver;
    border-radius: 50px;
	margin: 0 35px 0 15px;
	position: relative;
}

.get-involved-button {
	width: 205px;
	border: 1px solid #FFFFFF;
	border-radius: 50px;
	display: inline-block;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 10px 20px;
	padding: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

.get-involved-button:hover {
	background-color: #0C759D;
	border: 1px solid #0C759D;
}

.btn-analysis {
	width: 196px;
	border-radius: 26px;
	font-size: 18px;
	color: #FFFFFF;
	margin-right: 50px;
	text-align: center;
	display: inline-block;
	letter-spacing: 2px;
	padding: 10px;
	border: 1px solid $accent-blue;
}

.btn-analysis-read-more {
	background-color: $accent-blue;
	border: 1px solid $accent-blue;
}

.btn-analysis-read-more:hover {
	background-color: #0C759D;
	border: 1px solid #0C759D;
}

.btn-analysis-next-analysis {
	background-color: $button1;
	border: 1px solid $button1;
}

.btn-analysis-next-analysis:hover {
	background-color: #AC2096;
	border: 1px solid #AC2096;
}

.read-more-button {
	width: 325px;
	border: 1px solid $accent-blue;
	border-radius: 50px;
	color: $accent-blue;
	font-size: 20px;
	padding: 15px 0;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.read-more-button:hover {
	background-color: $accent-blue;
	color: #FFFFFF;
	border: 1px solid $accent-blue;
}

.button-instructions {
    background-color: $button1;
    display: inline-block;
    color: #FFFFFF;
    border-radius: 50px;
    margin-left: 15px;
    font-weight: 300;
    cursor: pointer;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 14px;
	letter-spacing: 1px;
}

.button-instructions:hover {
	background-color: #AC2096;
}