.right-align {
  text-align: right;
}

.footer-navigation {
  display: flex;
  justify-content: space-around;
  padding: 50px 70px;
  
  background-position: center;
  background-size: cover;
}

.footer-navigation__navigate-button {
  display: inline-block;
  width: 64px;
  height: 64px;
  vertical-align: sub;
  margin: 15px 0;
}

.footer-navigation__navigate-button.btn-prev-viz {
  margin-right: 40px;
  margin-right: 2vw;
}

.footer-navigation__navigate-button.btn-next-viz {
  margin-left: 40px;
  margin-left: 2vw;
}

.footer-navigation__separator {
  border-right: 1px solid #666;
  height: 150px;
  align-self: center;
}

.footer-navigation__title-container {
  display: inline-block;
  color: rgb(102, 102, 102);
}
.footer-navigation__title-container:hover {
  color: #9BDAF1;
}

.footer-navigation__container {
  align-self: center;
}

.footer-navigation__title {
  color: inherit;
  font-weight: 300;
  font-size: 28px;
  padding-bottom: 15px;
}

.footer-navigation__subtitle {
  color: inherit;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-navigation__subtitle::after {
  content: " Visualization"
}

@media screen and (max-width: 999px) {
  .footer-navigation__subtitle::after {
    content: ""
  }
}