.footer-navigation {
  display: flex;
  justify-content: space-around;
  padding: 70px;
  
  background-position: center;
  background-size: cover;
  background-image: url(/images/analysis.jpg);
}

.footer-navigation__navigate-button {
  display: inline-block;
  width: 64px;
  height: 64px;
  vertical-align: sub;
  margin: 15px 0;
}

.footer-navigation__navigate-button.btn-prev-viz {
  margin-right: 40px;
  margin-right: 2vw;
}

.footer-navigation__navigate-button.btn-next-viz {
  margin-left: 40px;
  margin-left: 2vw;
}

.footer-navigation__separator {
  border-right: 1px solid #FFF;
  height: 75px;
  align-self: center;
}

.footer-navigation__title-container {
  display: inline-block;
  color: #FFF;
}

.footer-navigation__container {
  align-self: center;
}

.footer-navigation__title {
  color: inherit;
  font-weight: 400;
  font-size: 34px;
}

.footer-navigation__subtitle {
  color: inherit;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-navigation__title-container:hover {
  color: #9BDAF1;
}
