// footer.scss
/* Footer */

$footer-text-color: #999;
$footer-link-color: #2272CE;

.dl-footer {
  text-align: center;
  font-weight: 300;
  color: #666;
  padding: 3rem 4rem 4rem;
  clear: both; // refactor this!
  margin-top: 4rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}

.landing .dl-footer {
  margin-top: 1rem;
}

.dl-footer__group-title {
  color: $footer-link-color;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.24;
  margin-bottom: 1em;
  letter-spacing: normal;
}
.dl-footer__section p {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: .2px;
}

.community-page-link {
  color: $footer-link-color;

  &:hover {
    text-decoration: underline;
  }
}

.dl-footer__social-items a {
  display: inline-block;
  padding: 0 0.25rem;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

}

.dl-footer__logo {
  padding-bottom: 3rem;
}

.dl-footer__social-items {
  display: flex;
  justify-content: center;
}

// arbitrary..
@media (min-width: 1005px) {
  .dl-footer {
    display: flex;
    justify-content: space-between;
  }

  .dl-footer__divider {
    border-right: 1px solid #ccc;
  }

  .dl-footer__section {
    text-align: left;
    padding: 0 2rem;
    width: 20%;
  }
  
  .dl-footer__social {
    margin-bottom: 20px;
    text-align: right;
    align-self: flex-end;
    flex-grow: 1.3;
  }

  .dl-footer__social-items {
    justify-content: flex-end;
  }

  .dl-footer__logo {
    text-align: left;
    flex-grow: 1.3;
  }

}

#footer {
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;

  color: $footer-text-color;

  a, a:visited, a:hover {
    color: $footer-text-color;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1201px) {
  .afg-page #footer {
    padding-right: 155px;
  }
}
