// Jack Killilea (jrk) <Killilea_Jack@bah.com>
// For our *New* homepage Sticky Header & Banner (plus extras!)
$lb-link: #2376d8;
$db-link: #0a2644;

// ul class
.nav {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.displayFlex {
  display: flex;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

#headerNav {
  display: flex;
  flex: 1;
}

#navText {
  padding-top: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: #757575;
}

/* This will be default logo when in non-sticky mode */
/* "sticky" mode will remove margins! */
.usaspending-logo-center {
  display: block;
  flex: 1;
//  justify-content: flex-end;
  padding-right: 120px;
}

// place in "center" of screen
// but right of the container
.centerLogo {
  margin-left: 600px;
}

// if/else to handle this id
// if we are NOT on landing page
// display to left always
#usaspending-logo-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

// this will show on "hover" of li element in Nav! (ul)
.dropdownUlSection {
  position: sticky;
  top: 100px;
  justify-content: flex-end;
  align-self: flex-end;
  display: none;
  background-color: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 20;
//  width: 100wv;
}

// this will show on mobile
.mobileUlSection {
  display: none; // dont display until mobile view
}

// our hamburger menu, display none until right screen size
.navbar-toggle {
  display: none;
}

// secondary nav ul
.secondaryNavAnalyses {
  display: none;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  list-style-type: none;
}

.secondaryNavResources {
  display: none;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style-type: none;
}

.secondaryNavFFG {
  display: none;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style-type: none;
}

//secondary nav li
.secondaryNavli {
  display: inline; // horizontal list! 
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
}

//secondary nav li hover!
.secondaryNavli > a:hover {
//  color: #0a2644;
  color: $lb-link;
  text-decoration: underline;
}

nav { 
  position: relative;
  width: 100%;
}


/** navigation style **/
ul.nav {
  display: flex;
//  width: 100%;
  list-style: none;
  padding-right: 105px;
  font-size: 13px;
}

ul.nav > li {
//  display: flex;
//  float: left;
  line-height: 64px;
  padding: 0 20px;
}

ul li a {
  position: relative;
  text-decoration: none;
  color: #999;
}

ul.nav li > ul {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 300px;
  width: 100%;
//  z-index: 999;
  min-width: 100%;
  whitespace: nowrap;
  width: 100%;
  overflow: hidden;
}

.leftLogo {
  display: none;
}

ul.nav li > ul li {
  position: relative;
  display: inline;
  //  float: left;
  color: #fff;
  z-index: 20;
}

ul.nav li > ul li a {
  color: #eee;
  display: block;
  padding: 0 20px;
  line-height: 70px;
}
ul.nav li > ul li a:hover { color: #0a2644; }

ul.nav > li:hover > a { color: #0a2644; }

ul.nav li:hover > ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  list-style: none;
  margin-right: 500px;
  min-width: 100%;
  whitespace: nowrap;
  width: 100%;
  overflow: visible;
  height: 60px;
}

ul.nav li:hover > ul li {
  display: inline;
  float: left;
  text-align: left;
}

ul.nav li:hover > ul > li {
  display: inline;
  left: -3%;
  /* Safari 4+ */
  
  -webkit-animation: nav-anim-left 0.6s;
  /* Fx 5+ */
  
  -moz-animation: nav-anim-left 0.6s;
  /* Opera 12+ */
  
  -o-animation: nav-anim-left 0.6s;
  /* IE 10+, Fx 29+ */
  
  animation: nav-anim-left 0.6s;
}

ul.nav:first-child li:hover > ul:before,
ul.nav:first-child li:hover > ul:after {
  //margin-right: 300px;
  -webkit-animation: nav-down 0.25s;
  /* Fx 5+ */
  
  -moz-animation: nav-down 0.25s;
  /* Opera 12+ */
  
  -o-animation: nav-down 0.25s;
  /* IE 10+, Fx 29+ */
  
  animation: nav-down 0.25s;
}

/** Dropdown Animation **/
@-webkit-keyframes nav-down {
  0% { height: 0px; }
  100% { height: 100px; }
}

@-moz-keyframes nav-down {
  0% { height: 0px; }
  100% { height: 100px; }
}

@-o-keyframes nav-down {
  0% { height: 0px; }
  100% { height: 100px; }
}

@keyframes nav-down {
  0% { height: 0px; }
  100% { height: 100px; }
}

/** Sub-Nav Sliding Animation **/
@-webkit-keyframes nav-anim-left {
  0% { left: 100%; }
  100% { left: -3%; }
}

@-moz-keyframes nav-anim-left {
  0% { left: 100%; }
  100% { left: -3%; }
}

@-o-keyframes nav-anim-left {
  0% { left: 100%; }
  100% { left: -3%; }
}

@keyframes nav-anim-left {
  0% { left: 100%; }
  100% { left: -3%; }
}

@media screen and (max-width: 1043px) {
  ul.nav {
    flex-wrap: nowrap;
    padding-right: 0px;
  }
}

@media screen and (max-width: 898px) {
  ul.nav {
    flex-wrap: wrap;
    padding-right: 0px;
  }
}

@media screen and (max-width: 937px) {
  ul.nav {
    flex-wrap: nowrap;
    padding-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  ul.nav {
    flex-wrap: nowrap;
    padding-right: 0px;
  }
}

// fix for bigger screens! 
@media screen and (min-width: 1920px) {
  .usaspending-logo-center {
    display: flex;
    flex: 1;
    padding-right: 220px;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1700px) {
  .usaspending-logo-center {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 0px;
    margin-right: 100px;
  }
}

// moving center logo margins for screen sizes
@media (max-width: 1679px) and (min-width: 1575px) {
  .centerLogo {
    margin-left: 400px;
  }
}

@media (max-width: 1574px) and (min-width: 1377px) {
  .centerLogo {
    margin-left: 300px;
  }
}

@media (max-width: 1376px) and (min-width: 1278px) {
  .centerLogo {
    margin-left: 200px;
  }
}

@media (max-width: 1278px) and (min-width: 950px) {
  .centerLogo {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
  }
  .usaspending-logo-center {
    display: flex;
    justify-content: flex-start;
    padding-right: 0px;
  }
}


// MAIN MOBILE VIEW TOGGLE
@media (max-width: 955px) {
  ul.nav {
    list-style-type: none;
    display: none;
//    flex-direction: column;
  }

  .dropdownUlSection {
    display: none; // hide so nothing toggles
  }

  ul.nav > li {
    text-align: center;
  }

  .navbar-toggle {
    display: flex; // show hamburger now
    padding-right: 10px;
    cursor: pointer;
    font-size: 24px;
    justify-content: flex-end;
    align-content: flex-end;
  }

  .dropdownUlSection {
    display: none; // keep this hidden
  }

  .centerLogo {
    display: none;
  }
  
  .leftLogo {
    display: flex;
  }

  .usaspending-logo-center {
    justify-content: flex-start;
    padding-right: 0; // get rid of padding for mobile view
  }

  .mobileUlSection {
    display: none;
    justify-content: flex-end;
    flex-direction: row;
    z-index: 20; // make sure its above the rest...
  }

  .mobileNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 40px;
  }

  // display all UL's as hidden until click!
  #mobileAnalyses, #mobileResources, #mobileFFG {
    display: none;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    align-items: flex-end;
  }

  #mobileHr {
    text-align: center;
  }

  // fix spaces with secondary mobile list items
  .secondaryNavMobileli {
//    padding-top: 3px;
//    padding-bottom: 3px;
    text-align: right;
    font-size: 12px;
  }
  
  .secondaryNavAnalysesMobile {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .secondaryNavResourcesMobile {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .secondaryNavFFGMobile {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  // hover link
  .secondaryNavMobileli > a:hover {
    color: $lb-link;
  }
}



