// Jack Killilea (jrk) <Killilea_Jack@bah.com>
// For our *New* homepage Sticky Header & Banner
.stickyHead {
  position: fixed;
  top: 0;
  width: 100%;
}

.stickyBanner {
  position: fixed;
  top: 0;
  width: 100%;
}


