// landing-row.scss
$landing-title-color: #4A4A4A;

@mixin landing-header {
    font-size: 1rem;
    color: #2272CE;
    font-weight: bold;
}

@mixin landing-subtext {
    font-size: 1.5rem;
    font-weight: bold;
}

.landing-row {
    clear: both;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    color: #777;

    .landing-row__heading {
        padding-bottom: 1rem;
        border-bottom: 1px solid #aaa;
        text-transform: uppercase;
    }

    .landing-row__tiles {
        .landing-row__tile {
            display: inline-block;
            padding-top: 1.6rem;
            border-bottom: 1px solid #ddd;
            clear: both;
            margin-bottom: 0;
            height: 100%;

            .landing-row__text {
                float: right;
                width: 60%;
                text-align: right;
                clear: both;

                .landing-row__label {
                    color: #2272CE;
                    margin-bottom: 1rem;
                    margin-top: 0;
                    font-size: 14px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .landing-row__title {
                    @include landing-subtext;
                    color: #4A4A4A;
                    margin-top: 0;
                    font-size: 17px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.24;
                    letter-spacing: normal;
                    color: $landing-title-color;
                }
            }

            .landing-row__image {
                float: left;
                width: 40%;
                padding-bottom: 1rem;
            }

            &.landing-row__tile--primary {
                .landing-row__text {
                    float: none;
                    width: 100%;
                    text-align: center;
                    clear: both;

                    .landing-row__title {
                        font-size: 32px;
                        font-weight: 100;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.09;
                        letter-spacing: normal;
                        color: #4a4a4a;
                    }

                    .landing-row__title--light {
                        font-weight: 100;
                    }
                }
            }
        }
    }

    &.landing-row--resources {
        .landing-row__tiles {
            .landing-row__tile {
                display: flex;
                justify-content: space-between;

                .svgImg {
                    height: 80px;
                    margin: 0 auto 1rem auto;
                    display: block;
                    width: 50%;
                }

                .landing-row__text {
                    width: 50%;
                    margin: auto; // center..

                    .landing-row__title {
                        margin-bottom: 1rem;
                        text-align: center;
                    }

                    .landing-row__p--hide {
                        display: none; // hide on mobile.
                   
                    }
                }

                &.landing-row__tile--primary {
                    justify-content: center;
                }
            }
        }
    }
}

.feature-row__border {
    padding: 1em;
}

.feature-row {
    clear: both;
    max-width: 1200px;
}

.feature-row__image {
    img {
        width: 100%;
    }
}

.feature-row .feature-row__blurb {
    display: none;
}

.feature-row .feature-row__title {
    @include landing-subtext;

    color: $landing-title-color;
}

.primary-content {
    padding: 1rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.feature-row__heading {
    @include landing-header;

    margin-top: 0;
}

@media only screen and (min-width: 950px) {
    .landing-row {
        padding: 1rem;

        .landing-row__tiles {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            .landing-row__tile {
                width: 23%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-bottom: none;
                margin-bottom: 0;

                .landing-row__text {
                    float: none;
                    width: 100%;
                    text-align: left;

                    .landing-row__title {
                        font-size: 1.5rem;
                        height: 87px;
                    }
                }

                .landing-row__image {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto 1rem;
                    object-fit: contain;
                }
            }
        }

        &.landing-row--resources {
            .landing-row__tiles {
                .landing-row__tile {
                    display: block;

                    .svgImage {
                        width: auto;
                    }

                    .landing-row__text {
                        text-align: center;
                        width: auto;

                        .landing-row__title {
                          height: auto;
                        }

                        .landing-row__p {
                            display: block;
                            font-size: 18px;
                            font-weight: 100;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #4a4a4a;
                        }
                    }

                    &.landing-row__tile--primary {
                        .landing-row__text {
                            text-align: left;
                            .landing-row__title {
                              text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }

    .feature-row__image {
        img {
            width: 100%;
        }
    }

    .feature-row {
        display: flex;
        padding: 1rem;
        margin: 0 auto;
    }

    .feature-row__border {
        display: flex;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        display: flex;
        padding: 2em;
    }

    .feature-row .feature-row__blurb {
        display: block;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.4px;
        color: black;
        font-stretch: normal;
    }

    .feature-row__image {
        width: 60%;
    }

    .feature-row .feature-row__text {
        float: right;
        width: 60%;
        padding-left: 2em;
        padding-right: 0.55em;
    }
}
