// landing.scss
@import './landing-dts';
@import './landing-row';

$landing-title-color: #4A4A4A;

.dl-landing {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 4rem;
  color: #333;
}

.primary__link {

  &:hover h2 {
    text-decoration: underline;
  }
}

.primary {
  text-align: center;
  box-sizing: border-box;
}

.primary__heading {
  display: none;
}

.secondary {
  box-sizing: border-box;
  padding: 1rem;
}

.primary__image {
  width: 100%;
}

.primary__desktop-heading {
  display: none;
  color: #2272CE;
  font-size: 1rem;
  display: none;
}

.primary .h2 {
  color: #4A4A4A;
  font-size: 1.2rem;
}

.primary__text {
  margin: 1rem 0;
//  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;

  &.primary__text--desktop {
    display: none;
  }

}

.landing-chart {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  h1 {
    text-transform: uppercase;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-size: .8rem;
    border-bottom: 1px solid #ddd;
    background-color: #fafbfc;
    line-height: 3;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  h2 {
    font-size: 22px;
    color: #4a4a4a;
    padding: 0 1rem;
  }

}

.landing-feature {
  
  clear: both;
  border-top: 1px solid #ddd;
  padding: 1rem 0;
  
  h1, h2 {
    text-align: left;
    margin: 0 0 1rem;
  }

  h1 {
    color: #2272CE;
    font-size: 1rem;
  }

  h2 {
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: $landing-title-color;
  }

}


.landing-feature__link {
  curser: pointer;
  padding: 1rem 0;
  display: block;

  &:hover h2 {
    text-decoration: underline;
  }
}


.landing-feature__text {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;
  clear: both;
  margin: 1rem 0;
  font-size: 0.875rem; // 14px
  display: none;
}

.landing-feature__image {
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 40%;
  float: right;

  img {
    width: 100%;
  }
}

.landing-feature__headings {
  width: 60%;
  float: left;
}

@media only screen and (min-width: 950px) {

  .dl-landing {
    display: flex;
    justify-content: space-between;
//    padding-left: 1rem;
    padding-right: 1rem;
  }

  .primary {
    width: 63%;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    overflow: hidden;
  }

  .secondary {
    padding: 0;
    width: 33%;
  }

  .primary__content {
    margin: 3rem;
  }

  .primary__desktop-heading {
    display: block;
  }

  .primary__mobile-heading {
    display: none;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
  }

  .primary__heading {
    display: block;
  }

  .primary__text {
    display: none;

    &.primary__text--desktop {
      display: block;
      font-weight: 300;
      font-size: 1rem;
      padding-top: 2rem;
      line-height: 1.5;
    }
  }

  .landing-feature__text {
    display: block;
  }

}

