// landing-dts.cscc
// handle our little module on the homepage

.dts-module {
  box-sizing: border-box;
  background-color: inherit;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dtsm-right-column {
  width: 20%;
  text-align:center;
}

.dtsm-img {
  width: 80%;
}

.dtsm-dollars {
  font-size: 22px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
  /* opacity: .75; */
  fill: #4A4A4A;
}

.dtsm-tas-header {
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  /* opacity: .8; */
  fill: #4A4A4A;
}

.side-dts__date {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  fill: #757575;
  margin: 2px 0px 10px 0px;
  border-top: 1px solid #ddd;
  padding-top: .5rem;
  text-align: center;
}

div.dts-container > div > div > svg > g > path{
  fill:none;
}
.line {
  fill: none;
  stroke: #00CCCC;
  stroke-width: 3px;
}

.dtsm-img text {
  fill: black;
}

.dtsm-img .domain {
  display: none;
}

.dtsm-img .tick line {
  stroke: black;
}

.dtsm-img circle {
  fill: #FFB232;
  stroke: #FFF;
  stroke-width: 1px;
}

.grid line {
  stroke: rgb(159, 162, 168);
  stroke-opacity: 0.15;
}
hr.horizontal_dts{
  border-top: 1px solid #757575;
  width: 100%;
  opacity: .1;
  margin-top: -5px;
}
