@media (max-width: 1400px) {
	.spotlight .content {
		padding: 1% 2% 2% 2%;
	}

	.how-we-conducted-this-analysis {
		margin-right: 0;
		margin-bottom: 25px;
	}
}

@media (max-width: 1000px) {
	.spotlight {
		flex-direction: column !important;
	}

	.footer-navigation, #top-footer, ul.icons.major {
		flex-direction: column;
	}

	.footer-navigation {
		padding: 25px;
	}

	.footer-navigation__separator {
		visibility: hidden;
	}

	.spotlight .content {
		width: 100%;
		box-sizing: border-box;
		padding: 40px;
	}

	.spotlight .image {
		width: 100%;
	}

	.copyright, #footer {
		flex-direction: column;
		margin-bottom: 0;
	}

	.footer-important-info {
		justify-content: center;
		margin-bottom: 15px;
	}

	#footer .copyright li:before {
		content: ""
	}

	.top-footer-column {
		width: 100%;
	}

	ul.icons {
		margin-bottom: 60px;
	}

	#top-footer {
		padding: 25px;
	}

	#footer-logo {
		bottom: 25px;
		left: 25px;
	}

	.link-group {
		margin: 15px 0;
	}
}

@media (max-width: 1000px) {
	.competition-in-contracting .summary-item {
		width: auto;
		border-right: none !important;
	}

	.competition-in-contracting #summary {
		flex-direction: column;
		line-height: 50px;
	}

	.viz-container {
		padding: 0;
	}
}

@media (max-width: 787px) {
	#banner, .how-analysis-container, #main > header {
		background-attachment: scroll;
	}

	#banner {
		justify-content: flex-start;
	}

	.spotlight > .content > h2 {
		margin: 25px 0;
	}

	.spotlight > .content > p {
		margin-bottom: 25px;
	}

	.usaspending-logo {
		margin-left: 0;
	}

	.index-header {
		width: 90%;
		font-size: 54px;
	}

	.index-sub-header {
		width: 95%;
	}

	#banner {
		padding-left: 25px;
	}

	.header-box {
		margin-left: 25px;
		width: calc(100% - 50px);
	}

	.entry-about-container {
		flex-direction: column;
		padding: 30px;
	}

	.entry-about-title-container {
		margin-right: 0;
		margin-bottom: 25px;
		width: 100%;
	}

	.entry-about-body-container {
		width: 100%;
	}

	/*
	.mask {
		display: none;
	}

	.viz-mobile-message {
		display: block;
		margin-top: 25px;
		border-radius: 10px;
		border: 1px solid #f0e2c5;
		text-align: center;
		background-color: #fcf8e4;
		font-weight: 300;
		width: 100%;
		font-size: 14px;
		line-height: 22px;
		padding: 15px 30px;
		box-sizing: border-box;
	}
	*/

	.button-instructions {
		margin: 25px 0;
	}

	.btn-analysis {
		margin-bottom: 25px;
	}

	.modal-content {
		width: 90%;
	}

	.modal-body {
		padding: 20px;
	}

	.how-analysis-inner-container {
		padding: 30px;
	}

	.read-more-content {
		width: 85%;
	}

	.homeless-analysis d3-tip {
		display: none;
	}

	.important-db-info {
		margin-right: 0;
	}
}