// subnav.scss

.dropdown-ul-section {
  display: none;
  bottom: -50px;
  justify-content: flex-end;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.1);
  border-top: 1px solid #ddd;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0.5rem 4rem;
  background: #FFFF;
  width: 100%;
  right: 0;
  position: absolute;
}

.dropdown-ul-section.active {
  display: flex;
}
