// subnav.scss

#ffg-glossary-trigger {
  border: none;
  background: none;
  border-left: 1px solid #ccc;
  padding: 2px 1rem;
  color: #999;

  .text-element { 
    transform: translateY(-2px);
    display: inline-block;
  }

  &:hover {
    color: #2376d8;

    .text-element {
      text-decoration: underline;
    }
  }
}

.dropdown-ul-section {
  display: none;
  top: -1.5rem;
  justify-content: flex-end;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.1);
  border-top: 1px solid #ddd;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0.5rem 4rem;
  background: #FFF;
  width: 100%;
  right: 0;
  position: absolute;
}

.dropdown-ul-section.active {
  display: flex;
}
