@import '../../../src/globalSass/generalVars';

#gdp-facts {
    clear: both;
    
    > h1 {
        font-size: 24px;
        font-weight: $boldWeight;
        text-align: left;
    }

    .tour {
        margin-top: 2rem;
        max-width: 300px;
    }
}

@media only screen and (min-width: 920px) {
    #gdp-facts {
        clear: none;
        margin-top: 130px;
        margin-left: 670px;

        h1 {
            margin-top: 0;
        }
    }

}