---
layout: landing
---

<section id="banner">
	<p class="index-header">{{ site.description }}</p>
	<p class="index-sub-header">Data visualizations to help you understand government spending.</p>
	<a href="#one" class="scrolly homepage-get-started">Get Started<span class="get-started-arrow">{% include svgs/down-arrow.svg %}</span></a>
</section>

{% include resources.html %}

<section id="two" class="wrapper alt style2">
	<section class="spotlight">
		<div class="image"><img src="images/homepage/federal.jpg" alt="Federal Spending Accounts" /></div><div class="content">
			<h4>Federal Account Explorer</h4>
			<h2><a href="federal-account-explorer.html">Discover the federal government’s bank accounts</a></h2>
			<p>The government has almost 2,000 bank accounts that it uses to spend money. Use this interactive tree-style visualization to explore these accounts and see how much money has been spent.</p>
			<a href="federal-account-explorer.html" class="discover-box"><span class="discover">Discover ⟶</span></a>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/homepage/contracts.jpg" alt="Federal Contracts (Sunburst Diagram)" /></div><div class="content">
			<h4>Contract Explorer</h4>
			<h2><a href="contract-explorer.html">Who receives federal contracts?</a></h2>
			<p>The federal government spends about $500 billion each year on contracts -- that's roughly the size of Sweden's economy. Learn more about contract recipients and what agencies receive from these contracts.</p>
			<a href="contract-explorer.html" class="discover-box"><span class="discover">Discover ⟶</span></a>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/homepage/homelessness.jpg" alt="Photography by Pablo Unzueta-Homelessness" /></div><div class="content">
			<h4>Homelessness Analysis</h4>
			<h2><a href="homelessness-analysis.html">Explore federal programs that address homelessness</a></h2>
			<p>On a single night in 2016, more than 500,000 people experienced homelessness in the United States. This visualization uses grant data to show the federal government's approach to addressing homelessness.</p>
			<a href="homelessness-analysis.html" class="discover-box"><span class="discover">Discover ⟶</span></a>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/homepage/budget.jpg" alt="Sankey Diagram" /></div><div class="content">
			<h4>Budget Function</h4>
			<h2><a href="budget-function.html">See how the government categorizes its purchases</a></h2>
			<p>Data from USAspending.gov allows you to connect two different ways the government categorizes spending: what it pays for and what it's trying to achieve with those purchases. Use this visualization to explore broad spending categories.</p>
			<a href="budget-function.html" class="discover-box"><span class="discover">Discover ⟶</span></a>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/homepage/workers.jpg" alt="Photography by Al Seib-Workers In Government" /></div><div class="content">
			<h4>Federal Employees</h4>
			<h2><a href="federal-employees.html">Who works in government?</h2></a>
			<p>There are hundreds of types of federal employees - special agents, park rangers, and medical staff who care for veterans, to name just a few - who live all across the United States. Use this visualization to explore federal employees’ occupations, salaries, and locations.</p>
			<a href="federal-employees.html" class="discover-box"><span class="discover">Discover ⟶</span></a>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/homepage/competition.jpg" alt="Stacked Bar Chart" /></div><div class="content">
			<h4>Competition in Contracting</h4>
			<h2><a href="competition-in-contracting.html">How often do federal agencies compete contracts?</h2></a>
			<p>The federal government is required to use competition when issuing contracts for goods and services, with a few exceptions.  See which federal agencies employ competitive practices most frequently with this analysis.</p>
			<a href="competition-in-contracting.html" class="discover-box"><span class="discover">Discover ⟶</span></a>
		</div>
	</section>
</section>

{% include viz-modal.html
	identifier="getInvolvedModal"
	title="Contact us!"
	body="<p>For media inquiries or questions on DataLab activites or operations, 
			 please contact our Legislative and Public Affairs Office:</p>
		  <ul>
				<li>Media Line: 202-504-3535</li>
				<li>Media Email: media.relations@fiscal.treasury.gov</li>
		  </ul>"
%}

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h1>Get Involved!</h1>
			<p>Your input is invaluable. Sign up to become a website tester or send us any feedback you have.</p>
		</header>
		<div>
			<a href="https://airtable.com/shrVMcNncc32AEum7"><span class="get-involved-button">Tester Signup</span></a>
			<a href="https://usaspending-help.zendesk.com/hc/en-us/community/topics"><span class="get-involved-button">Send Feedback</span></a>
			<span onclick="document.getElementById('getInvolvedModal').style.display='block';" class="get-involved-button">Media Inquiries</span>
		</div>
	</div>
</section>
