---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'share';
@import 'fedscope-tool';
@import 'universal-banner';
@import 'tooltip-module';
@import '../citizens-guide/src/components/glossary/glossary.scss';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600');

// import AOS for scrolly-help animations
@import url('css/aos.css');

// Datatables.js styling (search, pagination)
@import url('css/dataTables.min.css');

// table styling (Material Design)
@import url('css/materialTable.min.css');

$accent-blue: #007fae;
$accent-grey: #323A45;
$shuttle-grey: #62666C;
$silver: #CCCCCC;
$button1: #D41EB6;
$fg-light: rgba(255,255,255,0.5);

/* Basic */

body {
  margin: 0;
}

body, input, select, textarea {
  color: #000;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 0.003em;
  line-height: 1;
}

i {
  font-style: italic;
}

b { 
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

/* List */

ul {
  list-style: none;

  &.icons {
    li:first-child {
      padding-left: 0;
    }

    li {
      display: inline-block;
//      padding-left: 25px;
    }
  }
}

/* Table */
table td {
  padding: 0.75em 0.75em;
}

/* Spotlight */

.spotlight {
  align-items: center;
  display: flex;

  .image {
    order: 1;
    min-width: 50%;
    width: 50%;
    overflow: hidden;

    img {
      display: block;
      border-radius: 0;
      width: 100%;
    }
  }

  .content {
    padding: 2% 4%;
    order: 2;
    width: 50%;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

/* Page Menu */

#menu {
  ul {
    padding: 0px 40px;

    > li {
      margin: 0.5em 0 0 0;
      padding: 0.5em 0 0 0;
      color: white;
      text-decoration: none;

      > a {
	font-size: 15px;
	letter-spacing: 0.225em;
	border-bottom: 1px dashed $accent-blue;
	color: white;
      }

      > a:hover {
	border-bottom: 1px dashed #FFFFFF;
	color: white;
	text-decoration: none;
      }
    }
  }
}


/* Banner */

#banner {
  background-image: url("{{site.baseurl}}/images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0 0 85px 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  color: #FFFFFF;
  text-align: left;
}

#banner p {
  margin-bottom: 0;
}

#main {
  margin-top: 104px;
}

#main > header {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 3em 0;

  display: flex;
  justify-content: center;
  flex-direction: column;

  display: -ms-flexbox;
  -ms-flex-pack: center;
  position: relative;
}


/* Info Banner */

.info-banner{
  position: relative;
}

/* Official Banner */
.official-banner {
  display: flex;
  position: relative;
//  height: 29px;
}

/* Additions */

.center-text {
  text-align: center;
}

h3.philosophy {
  margin-top: 25px;
  width: 400px;
}

ul.icons.major {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-around;
  flex-direction: row;
  color: #FFFFFF;
}

ul.icons {
  width: 100%;
}

ul.icons.major li {
  padding-left: 0;
}

.wow { visibility: hidden; }

.philosophy a {
  color: #9BDAF1;
  border-bottom: none;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}

/* Resources Header */
header.major h2 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  color: #FFFFFF;
}

.spotlight {
  background-color: #FFFFFF;
}

.spotlight > .content > h3 {
  color: $accent-blue;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.spotlight > .content > h2 {
  color: $accent-grey;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.030em;
  margin: 4% 0;
}

.spotlight > .content > p {
  color: $shuttle-grey;
  font-size: 16px;
  line-height: 32px;
  margin: 0 0 4% 0;
}

.page-title {
  font-size: 35px;
  line-height: 45px;
  margin: 25px 0;
  font-weight: 400;
  color: #FFFFFF;
}

#page-wrapper {
  transition: .5s;
}

.page-description {
  font-size: 18px;
  font-weight: 100;
  opacity: 0.9;
  margin: 0;
  color: #FFFFFF;
}

.entry-about-title-container {
  width: 445px;
  margin-right: 50px;
}

.entry-about-title {
  color: $accent-grey;
  font-size: 30px;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.entry-about-divider {
  width: 103px;
  display: inline-block;
  border-bottom: 2px solid #5B616B;
}

.entry-about-body-container {
  width: 650px;
}

.entry-about-body {
  color: #5B616B;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 0;
}

.resources-section {
  padding: 25px 0;
}

.viz-bkgd {
  width: 100%;
  box-sizing: border-box;
  background-color: #E2DFEC;
  padding: 25px;
}

.mask {
  height: 99%;
  width: 99%;
  border: 1px solid $silver;
  border-radius: 25px;
  background-color: #FFFFFF;
  margin: auto;
}

.copy-text {
  width: 16px;
  height: 16px;
}

.copy-text:hover {
  cursor: pointer;
  fill: #666;
}

.viz-actions {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding: 0;
}

.viz-section:last-of-type {
  padding-bottom: 90px;
  background-color: #E2DFEC;
}

.viz-container {
  padding: 25px;
  height: 90%;
  overflow: hidden;
}

.homepage-get-started {
  border-radius: 48.5px;
  background-color: #D420B3;
  font-size: 24px;
  font-weight: 600;
  line-height: 58px;
  color: #FFFFFF;
  z-index: 1;
  margin-top: 25px;
  width: 250px;
  text-align: center;
}


.glossary-section {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  background-color: red;
  color: white;
}

// font awesome icon
.glossary-section > i {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#glossary-text {
  padding-right: 10px;
  margin-top: 2em; // offset the p default that was made
}

.links {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

.links li {
  line-height: 30px;
}

.homelessness-link {
  color: blue;
}

.important-db-info {
  color: $silver;
  font-size: 12px;
  letter-spacing: .75px;
  font-weight: 300;
  margin-right: 20px;
}

.important-db-info > b {
  font-weight: bold;
}

.important-db-info > a {
  color: #9BC6DA;
  text-decoration: underline;
}

#cta {
  min-height: 325px;
  background: repeating-linear-gradient(
    -45deg,
    #238eb5,
    #238eb5 2px,
    $accent-blue 2px,
    $accent-blue 4px
  );
}

#cta .inner {
  display: block;
  text-align: center;
  padding: 50px 0;
}

#cta .inner header h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 35px;
  color: #FFFFFF;
}

#cta .inner header p {
  font-size: 16px;
  opacity: 0.9;
  padding: 15px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.viz-share-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: sub;
  margin-right: 5px;
  fill: #4a4a4a;
}

.hamburger-icon {
  display: inline-block;
  width: 61px;
  height: 26px;
  cursor: pointer;
  margin-right: 15px;
  vertical-align: middle;
}

.headerRight-icon {
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-right: 15px;
  margin-top: 20px;
}

.how-analysis-container {
  background-size: cover;
  background-image: url("{{site.baseurl}}/images/analysis.jpg");
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-how-analysis-container {
  display: inline-block;
}

.how-we-conducted-this-analysis {
  width: 317px;
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 300;
  line-height: 44px;
  display: inline-block;
  opacity: 0.85;
  vertical-align: top;
  margin-right: 50px;
}

.how-analysis-inner-container {
  padding: 50px;
}

.this-analysis-was-co {
  max-width: 530px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 100;
  line-height: 36px;
  margin-bottom: 50px;
}

/* Call this when header becomes sticky */
.usaspending-logo {
  width: 197px;
  height: 42px;
  margin-left: 70px;
}

.usaspending-logo-subtext {
  position: fixed;
  font-size: 7px;
  margin-top: -5px;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: 0.3px;
  font-weight: bold;
  text-align: center;
  color: #4f4f4f;
}

#menu {
  transition: 0.5s;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  right: 0;
  top: 0;
  width: 0;

  background-color: $accent-blue;
  text-align: right;
  font-weight: 300;
  color: #FFFFFF;
}

.sidenav-close {
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 40px 40px 0 0;
  stroke-width: 2px;
  stroke: #FFF;
  cursor: pointer;
}

.read-more-header {
  color: #FFFFFF;
  height: 365px;
  background-color: $accent-blue;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 999; // has to go behind d3 elements 
}

.read-more-header-container {
  align-self: center;
  width: 600px;
}

.read-more-header > div > h2 {
  font-size: 18px;
  line-height: 23px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.read-more-header > div > h3 {
  font-size: 64px;
  line-height: 71px;
  margin: 0 auto;
  font-weight: 300;
}

.read-more-content {
  width: 50%;
  color: #5B616B;
  font-size: 20px;
  font-weight: 300;
  line-height: 42px;
  margin: 0 auto;
  padding: 25px;
}

.horizontal-separator {
  border-bottom: 1px solid #979797;
}

.hs-1 {
  margin-top: 125px;
  margin-bottom: 35px;
}

.hs-2 {
  margin-top: 50px;
  margin-bottom: 35px;
}

.container-read-more-button {
  margin: 0 auto;
  height: 200px;
  display: table;
}

.resources-background {
  background: repeating-linear-gradient(
    -45deg,
    #252a32,
    #252a32 2px,
    $accent-grey 2px,
    $accent-grey 4px
  );
}

#return-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background: $silver;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
  z-index: 1000;
  opacity: 0.8;
  cursor: pointer;
}

.afg-page #return-to-top {
  bottom: 60px;
}

#return-to-top:hover .icon-chevron-up {
  margin-top: 10px;
}

.resources-icon {
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.resources-icon.user-guide {
  width: 58px;
  height: 75px;
}

.resources-icon.playbook {
  width: 65px;
  height: 75px;
}

.resources-icon.api-guide {
  width: 81px;
  height: 75px;
}

.get-started-arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  fill: #FFFFFF;
  vertical-align: sub;
}

.resources-divider {
  border-bottom: 3px solid #FFFFFF;
  box-sizing: border-box;
  height: 3px;
  width: 55px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.how-we-divider {
  width: 39px;
  border-bottom: 5px solid #FFFFFF;
  display: block;
  margin-bottom: 15px;
}

.homeless-style {
  color: #5B616B;
  margin-left: 35px;
  margin-right: 15px;
}

#homeless-action-map {
  display: inline-block;
  width: 56px;
  height: 31px;
  background-size: 56px 31px;
  vertical-align: middle;
  cursor: pointer;
}

#homeless-action-map:hover {
  filter: saturate(2);
}

#homeless-action-table {
  display: inline-block;
  width: 25px;
  height: 29px;
  background-size: 25px 29px;
  vertical-align: middle;
  opacity: 0.4;
  margin-left: 5px;
  cursor: pointer;
}

#homeless-action-table:hover {
  opacity: 1;
  fill: #4497C9;
}

.index-header {
  width: 675px;
  font-size: 64px;
  font-weight: 500;
  line-height: 77px;
  margin-bottom: 25px;
}

.index-sub-header {
  width: 330px;
  font-size: 20px;
  line-height: 31px;
  font-weight: 300;
}

.greyed-out {
  opacity: 0.3;
  color: #6B6E76;
}

article > header {
  min-height: 600px;
}

.header-box {
  margin-left: 90px;
  width: 600px;
  text-align: left;
}

.header-box-new {
  margin-left: 90px;
  width: 600px;
  text-align: left;
}

.entry-about-container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-menuname {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.viz-title-container {
  text-align: left;
  color: #5B616B;
  margin: 25px 0 50px 10px;
}

.viz-title {
  font-size: 36px;
  font-weight: 400;
  display: inline-block;
}

.viz-subtext {
  font-size: 16px;
  font-weight: 300;
}

.viz-mobile-message {
  display: none;
}

.sankey-viz-svg {
  width: 540px;
  height: 550px;
  margin: -590px 20px 0px 30px;
  display: block;
}

.homelessness-read-more {
  ul {
    list-style: disc;
    margin-bottom:25px;
  }

  li{
    margin-left: 30px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin:25px 0 0 0;
  }

  h3 {
    font-weight: bold;
    display: inline-block;
    margin-bottom:0;
  }

  i {
    font-style: italic;
  }

  a { 
    color: #5475A4;
    font-weight: 400;
  }

  ol {
    list-style-type: decimal;

    ol {
      list-style-type: lower-alpha;

      ol {
        list-style-type: lower-roman;

        ol {
          list-style-type: decimal;
        }
      }
    }
  }
}

.right {
  padding-right: 10px;
  text-align: right;
}

.icon-chevron-up {
  width: 20px;
  height: 20px;
  display: block;
  margin: 15px auto;
  fill: #FFFFFF;
  transition: all 0.3s ease;
}

.icon-linkedin-square {
  width: 20px;
  height: 20px;
}

.icon-globe {
  width: 20px;
  height: 20px;
}

.top-footer-contact-icon {
  width: 22px;
  height: 22px;
  fill: rgba(255, 255, 255, 0.5);
  vertical-align: -6px;
  margin-right: 10px;
}

.footer-icon {
  width: 30px;
  height: 30px;
  fill: rgba(255, 255, 255, 0.5);
}

.icon-inherit {
  width: inherit;
  height: inherit;
  fill: inherit;
}

.flex {
  display: flex;
}

@import 'website/popup';
@import 'website/info-banner';
@import 'website/buttons';
@import 'website/modal';
@import 'website/mobile';
@import 'website/header'; 
@import 'website/subnav';
@import 'website/footer-navigation';
@import 'website/footer';
@import 'website/404';
