---
layout: ffg
title: Data Lab - Revenue Country Comparison – U.S. Treasury
excerpt: How does the U.S. compare to other countries? We encourage you to check out the chart below. You can compare total revenue (in dollars) and revenue as a percent of gross domestic product (GDP). Find a country of interest and see for yourself.
description: Compare revenue of the United States to 169 different countries.
keywords: federal revenue, U.S. revenue, gross domestic product, gdp, federal receipts, income taxes, corporate taxes, compare the U.S. GDP to other countries
permalink: /americas-finance-guide/revenue/country-comparison.html
ffg: true
ffgNav: true
socialMediaImage: social-media-share-revenue.jpg
socialMediaText: "How does U.S. federal revenue compare to other countries? Check out the visualizations from Your Guide to America’s Finances to find out. #YourGuide #DataLab #OpenGov"
ffgPageCss: css/countryCommon.css
---

{% include ffg/nav/revenue.html %}

<div class="ffg-wrapper">
    <div class="ffg-share">{% include new-share-menu.html %}</div>

    <h1>Compare Federal Revenue of the United States to other Countries</h1>

    <div class="country-copy">
        <div class="country-copy__text">
            <p>
            How does U.S. revenue compare to other countries? Explore the chart, which shows the total revenue of the United States compared to {{site.data.object_mapping.countries_compared.value}} other countries listed in the CIA World Factbook.  You can compare total revenue (in dollars) and revenue as a percent of gross domestic product. Find a country of interest and see for yourself.  To ensure an accurate comparison, {{site.data.object_mapping.country_compare_year.value}} revenue data is used in this section, not current fiscal year data.
        </p>
            <p><em>Please note that the countries depicted in this chart have different forms of government, and these differences may impact the scope of finances reported by each country.</em></p>
        </div>
        <a class="chapter-link chapter-link--spending" href="../spending/">
            <div class="chapter-link__text-block">
                <div class="chapter-link__learn-more">Learn more about</div>
                Federal Spending
            </div>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>

    <div class="country-chart">
        <h2 class="chart-title">Country Comparison</h2>
        <div class="hint">Click <span class="sort-button-placeholder"></span> to sort columns</div>

        <div id="viz"></div>
    </div>

    <div class="clearfix"></div>

    <section class="hwcta">
        <p>The visualization was created using the <a href="{{site.data.object_mapping.country_comparison_mts.value}}" rel="noopener noreferrer" target="_blank">Monthly Treasury Statement (MTS)</a> as the data source for federal government revenue of the United States. Gross domestic product (GDP) figures for the United States come from the <a href="{{site.data.object_mapping.bea_gdp.value}}" rel="noopener noreferrer" target="_blank">Bureau of Economic Analysis (BEA)</a>. GDP data for countries other than the United States comes from the <a href="{{site.data.object_mapping.imf_gdp.value}}" rel="noopener noreferrer" target="_blank">International Monetary Fund (IMF) World Economic Outlook Database (WEOD)</a>.</p>
        <p>In researching potential data sources for information on the revenue of other governments for the country comparison module, we chose the <a href="{{site.data.object_mapping.cia_world_factbook.value}}" rel="noopener noreferrer" target="_blank">CIA World Factbook</a> because it provides the best comparison for the following reasons:</p>
        <ul>
            <li>the number of countries with {{site.data.object_mapping.country_compare_year.value}} data,</li>
            <li>relative consistency with the level of government measured (central government only as a standard),</li>
            <li>all figures expressed in US dollars.</li>
        </ul>
        <p>Countries with figures before {{site.data.object_mapping.country_compare_year.value}} were excluded from the country comparison data set. Although most countries in the data set feature revenue from central government sources only, some countries included state/provincial/local revenue. As a result, this visualization should not be considered an absolute comparison of the revenue of central governments for all countries.</p>
        <p>To finish the data set for Country Comparison, gross domestic product figures from BEA and the IMF WEOD were combined with revenue figures from the CIA World Factbook data set, excluding countries that did not have data available from both sources.</p>
        <div class="afg__download--div">
            <div class="afg__download--heading">Download Source Data</div>
            <ul>
                <li><a href="../../../assets/ffg/data/revenue_country_comparison.csv" download>revenue_country_comparison.csv</a></li>
            </ul>
        </div>
    </section>
</div>

<script src="/assets/ffg/revenue/countryComparison.js"></script>
