---
layout: ffg
title: Data Lab - Federal Revenue and GDP – U.S. Treasury
excerpt: Federal revenue consists mostly of individual, corporate, and social insurance taxes collected from the people who live, work, or do business in the United States each Fiscal Year.
description: In 2019, the government collected $3.5 trillion in federal revenue.
keywords: revenue, federal revenue, U.S. revenue, gdp, receipts, income taxes, corporate taxes
permalink: /americas-finance-guide/revenue/index.html
ffg: true
ffgNav: true
ffgPageCss: css/chapterIntroCommon.css
socialMediaImage: social-media-share-revenue.jpg
socialMediaText: "How does federal revenue compare to spending and the size of the economy? Download the .CSV data files from Your Guide to America’s Finances and perform your own analysis! #YourGuide #DataLab #OpenGov"
---

{% include ffg/nav/revenue.html %}

<div class="ffg-wrapper revenue-intro">
    <div class="ffg-share">{% include new-share-menu.html %}</div>

    <h1>In {{site.data.object_mapping.current_fy.value}}, the government collected {{site.data.object_mapping.current_fy_revenue.value}} in revenue.
        <button class="info-box-trigger" data-box-id="per-individual">
            <img src="/assets/ffg/icons/anecdote.svg" alt="anecdote icon">
        </button>
    </h1>

    <div class="viz-wrapper">
        <div id="viz"></div>

        <div class="intro-math intro-hidden">
            <i class="fas fa-reply intro-math__icon"></i>{{site.data.object_mapping.dot_number_revenue.value}} dots x {{site.data.object_mapping.dot_represents.value}} = <strong>{{site.data.object_mapping.current_fy_revenue.value}}</strong>
        </div>

        <div id="copy" class="intro-hidden">
            <p>Where does the money come from? If you lived or worked in the United States in {{site.data.object_mapping.current_fy.value}}, most likely your contributions are part of the {{site.data.object_mapping.current_fy_revenue.value}}. Federal revenue consists mostly of individual, corporate, and social insurance taxes collected from the people who live, work, or do business in the United States each Fiscal
                Year.<button class="info-box-trigger" data-box-id="fiscal-year">
                    <img src="/assets/ffg/icons/anecdote.svg" alt="anecdote icon">
        </div>

        <div class="facts sidebar intro-hidden">
            <div class="facts__inner">
                <div id="compare-options">
                    <p class="facts__prompt">How does federal revenue compare to federal spending and the size of the economy?</p>
                    <div class="facts__triggers">
                        <button class="facts__trigger" data-trigger-id="spending">Federal Spending</button>
                        <button class="facts__trigger" data-trigger-id="gdp">U.S. Economy</button>
                    </div>
                </div>

                <section id="spending-facts" class="facts__section">
                    <h1>In Fiscal Year {{site.data.object_mapping.current_fy.value}}, the federal government spent {{site.data.object_mapping.current_fy_spending.value}}.</h1>
                    <p>Since the government spent more than it collected, the deficit for {{site.data.object_mapping.current_fy.value}} was {{site.data.object_mapping.current_fy_deficit.value}}.</p>
                    <p>
                        <a href="../spending/">Go Explore Federal Spending</a>
                    </p>
                </section>

                <section id="gdp-facts" class="facts__section">
                    <h1>In Fiscal Year {{site.data.object_mapping.current_fy.value}}, federal revenue was equal to {{site.data.object_mapping.revenue_percent_gdp.value}} of total gross domestic product (GDP), or economic activity, of the United States that year ({{site.data.object_mapping.current_fy_gdp.value}}).</h1>
                    <p>Why do we compare federal revenue to gross domestic product? For one, the comparison serves as a rough gauge of the size of the federal government's footprint related to size of the entire country's economic activity. In addition, federal taxes are based on a percentage of income for people and businesses. If an economy is performing well, people and businesses earn more, and federal revenue from taxes increases.</p>

                    <strong>What's gross domestic product?
                        <button class="info-box-trigger" data-box-id="gdp-info">
                            <img src="/assets/ffg/icons/definition.svg" alt="definition icon">
                        </button>
                    </strong>
                </section>
            </div>
        </div>

        <section class="tour sidebar intro-hidden">
            <h1 class="tour__heading">What are the sources of government revenue?</h1>
            <a id="tour-continue" class="tour__link" href="./categories.html">Discover<i class="fas fa-chevron-right"></i></a>
        </section>
    </div>

    <div class="info-box" id="per-individual">
        <img src="/assets/ffg/icons/anecdote.svg" alt="anecdote icon">
        <p>How much is {{site.data.object_mapping.current_fy_revenue.value}}? If you take {{site.data.object_mapping.current_fy_revenue.value}} divided by the U.S. population estimate in {{site.data.object_mapping.current_fy.value}}, of {{site.data.object_mapping.us_population.value}} (<a href="{{site.data.object_mapping.census_population.value}}" target="_blank" rel="noopener noreferrer">U.S. Census Bureau</a>) that would equate to a little more than {{site.data.object_mapping.revenue_per_individual.value}} in revenue for every individual in the U.S.</p>
    </div>
    <div class="info-box" id="fiscal-year">
        <img src="/assets/ffg/icons/anecdote.svg" alt="anecdote icon">
        <p>Fiscal Year refers to the period of time used by the government for accounting and budget purposes. For the federal government, the fiscal year runs from October 1 through September 30.</p>
    </div>
    <div class="info-box" id="gdp-info">
        <img src="/assets/ffg/icons/definition.svg" alt="definition icon">
        <p><strong>Gross domestic product (GDP)</strong> measures the size of the nation's economy by the total value of final goods and services that are produced in a year. Gross domestic product is used to compare the economies of different countries, measure growth in the economy, and determine the right monetary policies to address inflation and unemployment.</p>
    </div>
    <div class="info-box" id="billion-dollars">
        <img src="/assets/ffg/icons/anecdote.svg" alt="anecdote icon">
        <p>In this visualization, one dot represents {{site.data.object_mapping.dot_represents.value}} of federal revenue.</p>
    </div>

    <section class="hwcta">
        <p>The visualization was created using the <a href="{{site.data.object_mapping.current_mts.value}}" rel="noopener noreferrer" target="_blank">Monthly Treasury Statement (MTS)</a> as the data source for federal government revenue of the United States. Gross domestic product (GDP) figures come from the <a href="{{site.data.object_mapping.bea_gdp.value}}" rel="noopener noreferrer" target="_blank">Bureau of Economic Analysis (BEA)</a>. The revenue-to-gross domestic product ratio is included to provide you with context for the trillions of dollars that come in to the federal government annually. Throughout this page, we use the gross domestic product for the Fiscal Year, not the Calendar Year, in order to facilitate an appropriate comparison.</p>
        <div class="afg__download--div">
            <div class="afg__download--heading">Download Source Data</div>
            <ul>
                <li><a href="../../../assets/ffg/data/federal_revenue_gdp.csv" download>federal_revenue_gdp.csv</a></li>
            </ul>
        </div>
    </section>
</div>

<script src="/assets/ffg/revenue/intro.js"></script>
