---
layout: ffg
title: Data Lab - Federal Revenue Trends – U.S. Treasury
excerpt: This chart shows the categories for federal revenue sources over a five year period. Explore the interactive visualization to see what changes have occurred over the past five years.
description: Find out how federal revenue has changed over time.
keywords: federal revenue, revenue trends over time, federal revenue sources, federal income sources, U.S. revenue categories
permalink: /americas-finance-guide/revenue/trends.html
ffg: true
ffgNav: true
socialMediaImage: social-media-share-revenue.jpg
socialMediaText: "How has federal revenue changed over the past few years? #YourGuide tracks revenue trends over time. #datalab"
ffgPageCss: css/trendsCommon.css
---

{% include ffg/nav/revenue.html %}

<div class="ffg-wrapper">
    <div class="ffg-share">{% include new-share-menu.html %}</div>

    <h1>Federal Revenue Trends Over Time</h1>

    <div class="trend-flex">
        <div class="trend-copy">
            <div class="tend-copy__text">
                <p>How has federal revenue changed over the past few years? This chart shows the various source categories for federal revenue over a {{site.data.object_mapping.number_trend_years.value}} year period. Click a category to view revenue by subcategory. What changes have occurred over the past {{site.data.object_mapping.number_trend_years.value}} years? What impact do changes in a subcategory have on government revenue?</p>
            </div>
            <section class="tour">
                <div class="tour__part-one">
                    <h1>How does the revenue of the United States compare to other countries?</h1>
                    <p>When you're done here, see how revenue collected by the U.S. government compares to other countries.</p>
                </div>
                <a class="tour__link" href="./country-comparison.html">Continue<i class="fas fa-chevron-right"></i></a>
            </section>
        </div>

        <div class="trend-chart">
            <h2 class="chart-title">Federal Revenue Trends over Time by Category</h2>
            <div class="hint">Click a revenue category to view more</div>

            <div id="viz"></div>
        </div>
    </div>

    <div class="clearfix"></div>

    <section class="hwcta">
        The visualization was created using <a href="{{site.data.object_mapping.mts_homepage.value}}" rel="noopener noreferrer" target="_blank">Monthly Treasury Statement (MTS)</a> as the data source for federal government revenue of the United States. Some categories from the MTS have been renamed in order to be more easily understood. <a href="{{site.data.object_mapping.bls_cpiu.value}}" rel="noopener noreferrer" target="_blank">The Bureau of Labor Statistics (BLS) Consumer Price Index for All Urban Consumers (CPI-U)</a> was used to adjust revenue in fiscal years {{site.data.object_mapping.inflation_adj_years.value}} for inflation. Adjusting for inflation allows users to see real, not nominal, changes in sources of revenue over time.
        <div class="afg__download--div">
            <div class="afg__download--heading">Download Source Data</div>
            <ul>
                <li><a href="../../../assets/ffg/data/federal_revenue_trends.csv" download>federal_revenue_trends.csv</a></li>
            </ul>
        </div>
    </section>
</div>

<script src="/assets/ffg/revenue/trends.js"></script>
