<!DOCTYPE html>
<html>
    <head>
        <title><%- page.title %></title>
        <meta name="description" content="<%- page.description %>">
    </head>
<body>
    <%- body %>
    <%- partial('_partial/nav') %>
</body>

</html>