<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%- page.title %>
    </title>
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <% if (page.path === "index.html") { %>
        <link rel="stylesheet" href="assets/normalize.css">
        <link rel="stylesheet" href="assets/cg.css">
        <link rel="stylesheet" href="assets/nav/nav-income.css">
    <% } else { %>
        <link rel="stylesheet" href="../assets/normalize.css">
        <link rel="stylesheet" href="../assets/cg.css">
        <link rel="stylesheet" href="../assets/nav/nav-income.css">
    <% } %>
</head>

<body>
    <%- body %>
</body>

</html>