<!DOCTYPE html>
<html>
    <head>
        <title><%- page.title %></title>
        <meta name="description" content="<%- page.description %>">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="assets/normalize.css">
        <link rel="stylesheet" href="assets/cg.css">
    </head>
<body>
    <%- body %>
    <%- partial('_partial/nav') %>
</body>

</html>