<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%- page.title %>
    </title>
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/cg.css">
    <link rel="stylesheet" href="assets/nav/nav-income.css">
</head>

<body>
    <%- partial('_partial/nav-income') %>
    <%- body %>
    <script src="assets/nav/nav-income.js"></script>
</body>

</html>