@import './selectCountry.scss';
@import '../../globalSass/colors';

.sort-button__div {
    float:right;
    margin-right: calc((1200px - #{cgChartWidth})/2);
}
.sort-button {
    background-color: $color-primary-alt-lightest;
    border: 1px solid $color-primary-alt-darkest;
    border-radius: 0;
    color: $color-primary-alt-darkest;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    width: 120px;
    text-align: left;
    transition: background-color 0.2s ease-in;

    svg {
        float: right;
    }

    &:hover {
        background-color: $color-primary-alt-light;
    }

    &:first-of-type {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &:last-of-type {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;
    }
}
