--- 
layout: ffg
title: Data Lab - title – U.S. Treasury
excerpt: excerpt
header: header
description: description
permalink: /federal-finance-guide/spending/categories
ffg: true
ffgNav: true
ffgPageCss: css/spending-categories.css
---

{% include ffg/nav/spending.html %}

<div class="ffg-wrapper">

    <div class="ffg-share">{% include new-share-menu.html %}</div>
    
    <h1>Federal Spending by Spending Category and <span class="cg-glossary-actionable-text" glossaryTerm="Agency">Agency</span></h1>
    <div id="viz-wrapper">
        <h2 class="chart-title">
            <span class="title-text">Spending By</span>
            <div class="link-button__div">
                <button class="link-button" id="select-budget-function">Spending Type</button>
                <button class="link-button hidden" id="select-agency">Agency</button>
                <i class='link-button__icon fa fa-angle-down'></i>
            </div>
        </h2>

        <div id='viz-chart-container'>
            <div id="bar-controls">
                <div class='bar-controls__left'>
                    Sort by:
                    <div class='bar-controls__left--button-div'>
                        <button id="sort-amount" class="active">Amount <i class="fas fa-sort-amount-down"></i></button>
                        <button id="sort-name">Name <i class="fas fa-sort-alpha-down"></i></button>
                    </div>
                </div>
                <div class='bar-controls__right'>
                    <div class='bar-controls__right--div'>
                        <input type="text" placeholder='Search by a term...' id="filter-by-name">
                        <i id='filter-by-name-icon' class='fa fa-search spending__search--icon'></i>
                    </div>
                </div>
            </div>

            <hr>
            <div id="viz"></div>
            <hr class='categories__show-more'>
            <div id="show-more-container" class='categories__show-more'>
                <button id="show-more-button" class="chart__show-more">Show More</button>
            </div>
        </div>
    </div>

    <div class="poc-content" id="income-facts">
        <p>This section breaks down how the $4.1 trillion was spent. You can explore federal spending either by category or by agency.  Curious to find out more?  Dive deeper to see spending details by sub-category and other options.</p>

        <section class="accordion">
            <h1 class="accordion__heading">What does the government buy?</h1>
            <div class="accordion__content">
                <p>Well, a lot. The government buys a variety of products and services used to serve the public--everything from the military aircraft, construction and highway maintenance equipment, buildings, livestock, to research, education, and training. These types of goods and services purchased by the government are classified as an Object Class.</p>
                <p>Our partner site, <a href='https://www.usaspending.gov/' rel="noopener noreferrer" target="_blank">USASpending.gov</a> allows visitors to explore federal spending by the types of items and services purchased by the federal government. Go explore federal spending by <a href='https://www.usaspending.gov/#/explorer/object_class' rel="noopener noreferrer" target="_blank">Object Class</a>.</p>
            </div>
        </section>
    
        <section class="accordion">
            <h1 class="accordion__heading">What are mandatory and discretionary spending?</h1>
            <div class="accordion__content">
                <p>The difference between mandatory and discretionary spending comes down to whether spending for a certain purpose is dictated by prior law or voted on in the annual appropriations process.  Programs like Social Security, Medicare and various income security programs, are based on laws previously established that dictate the money budgeted for spending each year, which is why spending for those programs is referred to as mandatory.</p>
                <p>Discretionary spending is money formally approved by the President and voted on by Congress during the appropriations process each year. Most of the discretionary spending is budgeted towards national defense. The rest of discretionary spending is budgeted to other federal agency programs ranging from transportation, education, housing and social service programs, to science and environmental organizations.</p>
            </div>
        </section>

        <section class="accordion">
            <h1 class="accordion__heading">What does the future of Social Security and Medicare look like</h1>
            <div class="accordion__content">
                <p>Each year the Social Security and Medicare Boards of Trustees publish their <a href="https://www.ssa.gov/oact/TRSUM/" rel="noopener noreferrer" target="_blank">Annual Report</a> on the financial status of Social Security and Medicare.  Projections indicate that program spending will continue to rise.  As Americans get older, more and more funding is needed to support entitlement programs like Social Security, Medicare and retirement and disability services for both military and civil servants. In 2017, the cost of the Social Security and Medicare programs was $1.7 trillion.</p>
                <p>The majority of Social Security and Medicare funding comes from tax revenue and interest on trust fund reserves. For 2017, income for these programs was also $1.7 trillion. However, starting in 2018, costs for Social Security and Medicare Part A are expected to exceed revenue and will require the federal government to begin drawing down trust fund balances in order to continue paying full benefits. While Medicare Parts B and D are largely funded with each year’s budget, the Medicare Part A trust fund is projected to be depleted by 2026, and the Social Security trust fund is projected to be depleted by 2034.</p>
            </div>
        </section>
        
        <section class="tour">
            <div class="tour__part-one">
                <h1>How has federal spending changed over time?</h1>
                <p>When you are done here we encourage you to explore trends in government spending over the past five years.</p>
            </div>
            <a class="tour__link" href="trends.html">Continue<i class="fas fa-chevron-right"></i></a>
        </section>
    </div>

    <section class="hwcta">
        <p>This visualization was created using the <a target="_blank" href="https://www.fiscal.treasury.gov/files/reports-statements/mts/mts0918.pdf">Monthly Treasury Statement (MTS)</a> as the data source for federal government spending of the United States.</p>
    </section>
</div>

<script src="/assets/ffg/accordion.js"></script>

<script src="/assets/ffg/spending/categories.js"></script>
