<ul class="toc">
    <li><a href="#revenue-chapter" class="<% if (section==='revenue') { %> current <%}%>">01 Federal Revenue</a></li>
    <li><a href="#spending-chapter" class="<% if (section==='spending') { %> current <%}%>">02 Federal Spending</a></li>
    <li><a href="#deficit-chapter" class="<% if (section==='deficit') { %> current <%}%>">03 Federal Deficit</a></li>
    <li><a href="#debt-chapter" class="<% if (section==='debt') { %> current <%}%>">04 Federal Debt</a></li>
</ul>