<nav class="revenue-nav">
    <ul class="site-nav__primary-list">
        <li><a href="./gdp.html">Revenue and GDP</a></li>
        <li><a href="./categories.html">Revenue Categories</a></li>
        <li><a href="./trends-categories.html">Federal Revenue Trends</a></li>
        <li><a href="./country-comparison.html">Country Comparison</a></li>
    </ul>
    <button class="revenue-nav-trigger">
        <hr>
        <hr>
        <hr>
    </button>
</nav>
<script src="../assets/nav/nav-revenue.js"></script>
