<nav class="chapter-nav chapter-nav--spending">
    <ul class="chapter-nav__primary-list">
        <li><a href="./">Spending Intro</a></li>
        <li><a href="./categories.html">Spending Categories</a></li>
        <li><a href="./trends.html">Trends in Federal Spending</a></li>
        <li><a href="./country-comparison.html">Country Comparison</a></li>
    </ul>
    <button class="chapter-nav-trigger">
        <hr>
        <hr>
        <hr>
    </button>
</nav>
