@import '../../globalSass/colors';

.viz-wrapper {
  position: relative;
}

.sidebar--hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.intro-math {
  transition: opacity 1s ease;
}

.intro-math--hidden {
  opacity: 0;
}

.facts {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  transition: opacity 1s ease;
  margin-bottom: 2rem;
}

.facts__section {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}

.facts__triggers {
  display: flex;
  justify-content: space-between;
}

.facts__prompt {
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: $text-color-heading;
}

.facts__trigger {
  display: block;
  width: 49%;
  border: 1px solid $color-deficit-primary;
  text-align: center;
  margin-bottom: 2px;
  background: white;
  padding: 0.5rem;
  transition: all 0.2s ease;
}

.facts__trigger.facts__trigger--active {
  background: $color-deficit-primary;
  color: white;
}

.facts__section.facts__section--active {
  display: block;
  opacity: 1;
}

.facts.facts--hidden {
  opacity: 0;
}

.facts__inner {
  background: rgba(255, 255, 255, 0.95);
  width: 400px;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);

  section {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-top: 0;
  }
}

aside {
  section {
    h1 {
      font-size: 1.1rem;
      text-align: left;
      margin: 0 0 0.5rem;
    }
  }
}

.tour {
  max-width: 380px;
}

#viz {
  margin: 0 auto;
  width: auto;
  overflow: hidden;
}

#compare-options {
  padding: 1rem;
}

@media only screen and (min-width: 960px) {
  #viz {
    width: 66%;
    float: left;
  }

  .sidebar {
    position: relative;
    width: calc(34% - 1rem);
    margin-left: calc(66% + 1rem);
    transition: opacity 1s ease;
    transform: translateY(30px);
  }

  .facts {
    top: 0;
  }

  .facts__inner {
    width: auto;
    max-width: none;
    margin: 0;
    border-left: 3px solid $color-deficit-primary;
    box-shadow: none;
  }

  .tour {
    box-sizing: border-box;
  }

  #compare-options {
    padding-top: 0;
    padding-right: 0;
  }

  .hwcta {
    clear: both;
    transform: translateY(2rem);
  }
}

