<div class="viz-actions">
    <div class="left-buttons">
        <button id="button-instructions" onclick="toggleInstructionsPopup()" class="action-button popup">
            <i class="information-icon" aria-hidden="true"></i>
            Instructions
            <span class="popuptext left" id="instructionsPopup">Popup Text</span>
        </button>
        
        <button class="action-button">Fullscreen</button>
        <button id="button1" class="action-button">Reset</button>
    </div>

    <div class="right-buttons">
        {% include share-menu.html %}
    </div>
</div>