<div class="viz-actions">
    <div class="left-buttons">
        <button class="action-button"><i class="fa fa-info-circle viz-info-icon" aria-hidden="true"></i>Instructions</button>
        <button class="action-button">Fullscreen</button>
        <button id="button1" class="action-button">Reset</button>
    </div>

    <div class="right-buttons">
        <button class="action-button share-viz-button"><i class="fa fa-share-square-o viz-info-icon" aria-hidden="true"></i>Share</button>
    </div>
</div>