<style>
  .dts-module {
    box-sizing: border-box;
    height: 100px;
    background-color: #7B919F;
    padding: 25px 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dtsm-left-column {
    padding-right: 115px;
  }
  
  .dtsm-right-column {
    display: flex;
    align-items: center;
  }
  
  .dtsm-header {
    line-height: 125%;
  }
  
  .dtsm-header-text {
    opacity: .8;
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    display: inline-block;
  }
  
  .dtsm-subheader {
    font-weight: 400;
    font-size: 24px;
    opacity: .8;
    line-height: 125%;
    letter-spacing: .1px;
  }
  
  .dtsm-vseparator {
    border-left: 2px solid white;
    height: 100%;
    opacity: .4;
  }
  
  .dtsm-img {
    width: auto;
    height: 100%;
  }
  
  .dtsm-dollars {
    font-size: 48px;
    font-weight: 300;
    margin-right: 15px;
    opacity: .75;
  }
  
  .dtsm-tas-header {
    font-size: 14px;
    font-weight: 300;
    line-height: 175%;
    opacity: .8;
  }
  
  .dtsm-tas-subheader {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 175%;
    opacity: .8;
  }
  
  .dtsm-beta {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 0px 8px;
    opacity: 1;
    font-weight: 500;
    line-height: 18px;
    font-size: 12px;
    margin-right: 5px;
  }
</style>
  
<div class="dts-module">
  <div class="dtsm-left-column">
    <a href="dts.html">
      <div class="dtsm-header">
        <div class="dtsm-beta">BETA</div>
        <div class="dtsm-header-text">Visualizing the Daily Treasury Statement</div>
      </div>
      <div class="dtsm-subheader">How much did the federal government spend today?</div>
    </a>
  </div>
  <div class="dtsm-vseparator"></div>
  <img class="dtsm-img" src="./images/dts-graph.png" />
  <div class="dtsm-vseparator"></div>
  <div class="dtsm-right-column">
    <div class="dtsm-dollars">$978.4M</div>
    <div class="dtsm-tas-container">
      <div class="dtsm-tas-header">Total Amount Spent</div>
      <div class="dtsm-tas-subheader">August 24, 2018</div>
    </div>
  </div>
</div>