<div class="footer-navigation">
    <div class="footer-navigation__container">
        <a href="{{include.prev-link}}">
            <div class="footer-navigation__navigate-button btn-prev-viz">{% include svgs/left-arrow.svg %}</div>
        </a>
        <a href="{{include.prev-link}}">
            <div class="footer-navigation__title-container">
                <div class="footer-navigation__title">{{include.prev-text}}</div>
                <div class="footer-navigation__subtitle">Previous Visualization</div>
            </div>
        </a>
    </div>

    <div class="footer-navigation__separator"></div>

    <div class="footer-navigation__container">
        <a href="{{include.next-link}}">
            <div class="footer-navigation__title-container">
                <div class="footer-navigation__title">{{include.next-text}}</div>
                <div class="footer-navigation__subtitle">Next Visualization</div>
            </div>
        </a>
        <a href="{{include.next-link}}">
            <div class="footer-navigation__navigate-button btn-next-viz">{% include svgs/right-arrow.svg %}</div>
        </a>
    </div>
</div>