<div id="top-footer">
    <img id="footer-logo" src="./images/footer_logo.png" />

    <div class="footer-links">
        <div class="link-group">
            <div class="group-title">Support</div>
            <ul class="links">
                <li><a href="https://airtable.com/shrNO3BREEFIhUhdz" target="_blank" rel="noopener noreferrer" title="Contact Us" aria-label="Contact Us">Contact Us</a></li>
            </ul>
        </div>
        <div class="link-group">
            <div class="group-title">Resources</div>
            <ul class="links">
                <li><a href="assets/user-guide.pdf" rel="noopener noreferrer" title="User Guide" aria-label="User Guide">User Guide</a></li>
                <li><a href="api-guide.html" rel="noopener noreferrer" title="API Guide" aria-label="API Guide">API Guide</a></li>
            </ul>
        </div>
    </div>
</div>

<footer id="footer">
    <ul class="copyright">
        <li>&copy; 2018 USASpending.gov</li>
        <li>Accessibility</li>
        <li>Privacy Policy</li>
        <li>Freedom of Information Act</li>
        <li><a href="http://html5up.net" rel="noopener noreferrer" target="_blank">HTML5 UP</a></li>
    </ul>
    <ul class="icons">
        {% for socloc in site.social %}
        {% if socloc[1] %}
        <li><a target="_blank" rel="noopener noreferrer" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
        ><span class="label">{{ socloc[0] }}</span></a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="footer-important-info">
        <span class="important-db-info">
            <b>NOTE: </b>
            You must <a href="https://beta.usaspending.gov/#/db_info">click here</a> for very important D&B information.
        </span>
    </div>
</footer>
