<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/main.css" | prepend: site.baseurl }}" />
  <link rel="shortcut icon" href="/images/favicon.ico">

  <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=TRE" id="_fed_an_ua_tag"></script>

  <link rel="stylesheet" href="/assets/fa/css/all.min.css" />
  <link rel="stylesheet" href="/assets/font-awesome-ie.css">
  {% if page.ffg %}
  <link rel="stylesheet" href="/assets/ffg/css/normalize.css" />
  <link rel="stylesheet" href="/assets/ffg/css/cg.css" />
  {% endif %}

  {% if page.ffgNav %}
  <link rel="stylesheet" href="/assets/ffg/nav/nav.css" />
  {% endif %}

  {% if page.ffgPageCss %}<link rel="stylesheet" href="{{ page.ffgPageCss | prepend: "/assets/ffg/" }}" />{% endif %}

  {% if page.dlPageCss %}<link rel="stylesheet" href="{{ page.dlPageCss | prepend: '/css/' | prepend: site.baseurl }}" />{% endif %}



  {% if page.colleges %}
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet'/>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
  {% endif %}

  <link rel="stylesheet" href="/assets/ffg/components/glossary/glossary.css" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19138737-13"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-19138737-13');
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
							new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
												  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
												      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-5GVVS7L');</script>
  <!-- End Google Tag Manager -->

  <script>
   window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
   ga('create', 'UA-19138737-13', 'auto');

   ga('require', 'eventTracker');
  </script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <script async src="/js/autotrack.js"></script>

  <!-- og tags -->
  {% if page.title %}<meta property="og:title" content="{{ page.title | escape }}"/>{% endif %}
  {% if page.description %}<meta property="og:description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}"/>{% endif %}
  {% if page.permalink %}<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />{% endif %}
  {% if page.socialMediaImage %}
      <meta property="og:image" content="{{ page.socialMediaImage | prepend: '/assets/ffg/social-media-share/' | prepend: site.baseurl | prepend: site.url }}"/>
  {% else %}
  <meta property="og:image" content="{{ '/assets/data-lab-og.png' | prepend: site.baseurl | prepend: site.url }}"/>
  {% endif %}
</head>
