<div class="official-banner" role="note">
    <ul class="official-banner__site-list">
        <li class="official-banner__site-item">
            <a class="official-banner__site-link" href="https://www.usaspending.gov">
                USAspending.gov
            </a>
        </li>
        <li class="official-banner__site-item official-banner__site-item_spacer" aria-hidden="true">
            |
        </li>
        <li class="official-banner__site-item">
            <a class="official-banner__site-link" href="https://datalab.usaspending.gov">
                Data Lab
            </a>
        </li>
    </ul>
    <div class="official-banner__wrapper">
        <div class="official-banner__text">
            An official website of the U.S. government
        </div>
        <img class="official-banner__flag" src="./images/us_flag_small.png" alt="U.S. flag" />
    </div>
</div>
{% include info-banner.html %}
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <a href="{{ site.baseurl }}/index.html" class="usaspending-logo-link">
    <div class="usaspending-logo">
      {% include svgs/logo.svg %}
    </div>
  </a>
  <div class="header-right">
      <div class="go-to-usaspending"><a href="https://beta.usaspending.gov/">USAspending.gov</a></div>
      <span class="hamburger-icon" onclick="openNav()" aria-hidden="true">
          {% include svgs/hamburger.svg %}
      </span>
  </div>
</header>
