<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <a href="{{ site.baseurl }}/index.html"><div class="usaspending-logo"></div></a>
  <div class="go-to-usaspending"><a href="https://beta.usaspending.gov/">USAspending.gov</a></div>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span class="menu-toggle"><i class="hamburger-icon" aria-hidden="true"></i></span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.category == "entry" %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menuname }}</a></li>
            {% endif %}
            {% endfor %}
            <br />
            <li><a href="https://beta.usaspending.gov">Back To USASpending.gov</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
