<div class="official-banner" role="note">
  <div class="official-banner__wrapper">
    <div class="official-banner__text">An official website of the U.S. government</div>
    <img class="official-banner__flag" src="css/images/us_flag_small.png" alt="U.S. flag">
  </div>
</div>
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <a href="{{ site.baseurl }}/index.html" class="usaspending-logo-link"><div class="usaspending-logo"></div></a>
  <div class="header-right">
      <div class="go-to-usaspending"><a href="https://beta.usaspending.gov/">USAspending.gov</a></div>
      <i class="hamburger-icon" onclick="openNav()" aria-hidden="true"></i>
  </div>
</header>
