<div class="viz-actions">
    <div class="float-left">
        <div class="action-button popup">
            <i class="information-icon" aria-hidden="true"></i>
            Instructions
            <span class="popuptext left" id="instructionsPopup">Popup Text</span>
        </div>
        
        <div id="button1" class="action-button popup">Reset</div>
        <span class="homeless-style">Style:</span>
        <div id="homeless-action-map"></div>
        <div id="homeless-action-table"></div>
    </div>

    <div class="float-right">
        {% include share-menu.html %}
    </div>
</div>