<div class="how-analysis-container">
    <div class="how-analysis-inner-container">
        <div class="how-we-conducted-this-analysis">How We Conducted This Analysis</div>
        <div class="sub-how-analysis-container">
            <div class="this-analysis-was-co">{{include.how}}</div>
            <div class="btn-analysis btn-analysis-read-more"><a href="{{include.read-more}}">Read More</a></div>
            <div class="btn-analysis btn-analysis-next-analysis"><a href="{{include.next-analysis}}">Next Analysis</a></div>
        </div>
    </div>
</div>