<div class="dts-container">
  <div class="dts-module">
    <div class="dtsm-img"></div>
    <div class="dtsm-right-column">
      <div class="dtsm-tas-container">
	<div class="dtsm-tas-header">All categories</div>
      </div>
      <div class="dtsm-dollars">$</div>
    </div>
  </div>

  <script src="{{ "/js/babel-polyfill.min.js" | prepend: site.baseurl }}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/dts-module.js"></script>                
</div>
