<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
new WOW().init();
</script>

<section id="one" class="wrapper style1 special">
    <div class="resources-section">
        <header class="major">
            <h2>Resources</h2>
            <div class="resources-divider"></div>
        </header>
        <div class="inner">
            <ul class="icons major">
                <li>
                    <div class="resources-icon user-guide wow bounceIn text-primary" data-wow-delay=".1s" data-wow-duration="2s"></div>
                    <h3 class="philosophy"><a href="assets/user-guide.pdf">Analyst Guide</a></h3>
                    <p>Guidance and hints to help <br /> you conduct data analyses</p>    
                </li>
                <li>
                    <div class="resources-icon api-guide wow bounceIn text-primary" data-wow-delay=".3s" data-wow-duration="2s"></div>
                    <h3 class="philosophy"><a href="api-guide">API Guide</a></h3>
                    <p>How to access data from our <br /> API using Python and R</p>
                </li>
            </ul>
        </div>
    </div>
</section>