<link rel="stylesheet" href="/css/animate.min.css">
<script src="/js/wow.min.js"></script>
<script>
new WOW().init();
</script>

<section id="one" class="wrapper style1 center-text">
    <div class="resources-section">
        <header class="major">
            <h2>Resources</h2>
            <div class="resources-divider"></div>
        </header>
        <ul class="icons major">
            <li>
                <div class="resources-icon wow bounceIn text-primary" data-wow-delay=".1s" data-wow-duration="2s">
                    {% include svgs/resources-user-guide.svg %}
                </div>
                <h3 class="philosophy"><a href="assets/user-guide.pdf">Analyst Guide</a></h3>
                <p>Guidance and hints to help <br /> you conduct data analyses</p>
            </li>
            <li>
                <div class="resources-icon wow bounceIn text-primary" data-wow-delay=".3s" data-wow-duration="2s">
                    {% include svgs/resources-api.svg %}
                </div>
                <h3 class="philosophy"><a href="api-guide.html">API Guide</a></h3>
                <p>Guidance on accessing our data<br /> with open source code</p>
            </li>
            <li class="greyed-out">
                <div class="resources-icon wow bounceIn text-primary" data-wow-delay=".2s" data-wow-duration="2s">
                    {% include svgs/resources-playbook.svg %}
                </div>
                <h3 class="philosophy"><a>College Playbook</a></h3>
                <p>Ways for students and <br /> schools to get involved</p>
            </li>
        </ul>
    </div>
</section>
