<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
new WOW().init();
</script>

<section id="one" class="wrapper style1 special">
    <div class="resources-section">
        <header class="major">
            <h2>Resources</h2>
        </header>
        <div class="inner">
            <ul class="icons major">
                <li>
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s" data-wow-duration="2s"></i>
                    <h3 class="philosophy"><a href="assets/user-guide.pdf">User Guide</a></h3>
                    <p>An overview of <br /> the DATA Lab</p>    
                </li>
                <li>
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s" data-wow-duration="2s"></i>
                    <h3 class="philosophy"><a href="api-guide">API Guide</a></h3>
                    <p>How to access data from our <br /> API using Python and R</p>
                </li>
                <li>
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s" data-wow-duration="2s"></i>
                    <h3 class="philosophy"><a href="data-dictionary">Playbook</a></h3>
                    <p>Browse the <br />DATA Act Playbook</p>
                </li>
            </ul>
        </div>
    </div>
</section>