<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "http://datalab.usaspending.gov/"
        },
        "image": "{{ '/assets/data-lab-og.png' | prepend: site.baseurl | prepend: site.url }}",
        "headline": "{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}",
        "datePublished": "2019-01-17T08:00:00+06:00",
        "dateModified": "2019-01-17T08:00:00+06:00",
        "author": {
        "@type": "Organization",
        "name": "U.S. Treasury",
        "logo": {
            "@type": "ImageObject",
            "url": "https://www.treasury.gov/Style%20Library/legacy-header/seal.png"
            }
        },
        "publisher": {
        "@type": "Organization",
        "name": "U.S. Treasury",
        "logo": {
            "@type": "ImageObject",
            "url": "https://www.treasury.gov/Style%20Library/legacy-header/seal.png"
            }
        },
        "description": "How does federal revenue compare to federal spending and the size of the economy?"
    }
    </script>