<div class="entry-about-container">
    <div class="entry-about-title-container">
        <h2 class="entry-about-title">{{include.title}}</h2>
        <div class="entry-about-divider"></div>
    </div>
    <div class="entry-about-body-container">
        <h3 class="entry-about-body">{{include.body}}</h3>
        <a onclick="document.getElementById('{{include.identifier}}').style.display='block';" class="button-read-more"><span>Read More ⟶</span></a>
    </div>
    <div class="clear-both"></div>
</div>