<ul class="toc">
    <li><a href="#revenue-chapter" class="toc__link scroll-to toc__revenue"><strong>01</strong> Federal Revenue</a></li>
    <li><a href="#spending-chapter" class="toc__link scroll-to toc__spending"><strong>02</strong> Federal Spending</a></li>
    <li><a href="#deficit-chapter" class="toc__link scroll-to toc__deficit"><strong>03</strong> Federal Deficit</a></li>
    <li><a href="#debt-chapter" class="toc__link scroll-to toc__debt"><strong>04</strong> Federal Debt</a></li>
</ul>