<ul class="toc">
    <li><a href="#revenue-chapter" class="toc__link scroll-to toc__revenue"><span class="toc__chapter-number">01</span> Federal Revenue</a></li>
    <li><a href="#spending-chapter" class="toc__link scroll-to toc__spending"><span class="toc__chapter-number">02</span> Federal Spending</a></li>
    <li><a href="#deficit-chapter" class="toc__link scroll-to toc__deficit"><span class="toc__chapter-number">03</span> Federal Deficit</a></li>
    <li><a href="#debt-chapter" class="toc__link scroll-to toc__debt"><span class="toc__chapter-number">04</span> Federal Debt</a></li>
</ul>