.chapter-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 3.5rem;
    box-sizing: border-box;
}

.chapter-nav__overview i {
    margin-right: 1rem;
}

.menu-open .chapter-nav__overview {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu-up {
    display: none;
}

.menu-open .menu-up {
    display: inline-block;
}

.menu-open .menu-down {
    display: none;
}

.chapter-nav--revenue {
    background-color: #0A2F5A;
}

.chapter-nav--spending {
    background-color: #00796B;
}

.chapter-nav--deficit {
    background-color: #B3532D;
}

.chapter-nav--debt {
    background-color: #4A0072;
}

.chapter-nav button {
    border: 1px solid white;
    border-radius: 3px;
    background: transparent;
    width: 40px;
    align-self: flex-end;
    margin: 5px 1rem 11px 5px;
    padding: 4px 6px;
    color: white;
}

.chapter-nav ul {
    list-style-type: none;
    margin: 5px 1rem;
    padding: 0;
}

.chapter-nav li {
    padding: 0;
}

.chapter-nav li a {
    display: block;
    color: white;
    font-weight: 300;
    text-decoration: none;
    height: 0rem;
    line-height: 3rem;
    overflow: hidden;
    opacity: 1;
    transition: height 0.3s ease;
}

.chapter-nav.menu-open li a {
    height: 3rem;
}

.chapter-nav li.active a {
    height: 3rem;
    font-weight: bold;
}


.chapter-nav li.active a, .chapter-nav li:hover a{
    opacity: 1;
}

@media only screen and (min-width: 840px) {
    .chapter-nav {
        min-height: auto;
        height: 3rem;
    }

    .chapter-nav button {
        display: none;
    }

    .menu-open .chapter-nav__overview {
        border-bottom: none;
    }

    .chapter-nav ul {
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .chapter-nav li {
        flex-grow: 1;
        border-right: rgba(255,255,255,0.5) 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chapter-nav.chapter-nav--deficit li {
        width: 33%;
    }

    .chapter-nav li:last-of-type {
        border-right: none;
    }

    .chapter-nav li a, .chapter-nav li.active a {
        height: auto;
        text-align: center;
        line-height: normal;
    }
}
