


.budget-sankey {
	& p.subheading {
		font-size: 1.75rem;
		color: #525252;
		font-style:italic;
	}
	& .row.mt-0{
		margin-left:0;
		margin-right:0;
	}
	#axis-label{
		margin-right: 30px;
		& .col-md-6{
			padding:3px;
			& h6{
				margin-bottom: 0px;
				margin-top:0px;
				padding-right: 10px;
				padding-left: 10px;
			}
		}
	}
	.treecolumn{
		column-count: 2;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
	}
	.node rect {
		cursor: move;
		fill-opacity: .9;
		shape-rendering: crispEdges;
	}
	.node text {
		pointer-events: none;
		text-shadow: 0 1px 0 #fff;
	}
	.link {
		fill: none;
		stroke: #000;
		stroke-opacity: .1;
	}
	#sankey-container {
		position: relative;
	}
	#sankey-viz {
		width: 600px;
		height: 100%;
		margin: 25px 0 0 15px;
		position: absolute;
	}
	#sankey-table {
		text-align:left;
		/*left:730px;
		padding-right:20px;
		padding-left:40px;*/
		height: 100%;
		// margin-left:0px;
		background-color: inherit;
		display: inline-block;
   		margin-bottom: 310px;
		float: right;
		// margin-top: 40px;
		// margin-right: 380px;
		// margin-bottom: 500px;
		width:50%
	}
	.panel_desc{
		margin-top: 10px;
	}
	.panel_total_amount {
		color: #5B616B;
		margin-bottom: -15px;
		font-weight: 200;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	#tab{
		margin-top: 0px;
		margin-bottom: 25px;
	}

	table, th, td {
		border: none;
	 }

	table tr {
		background-color: #fff !important;
	}
	table td { display: block; }​

	#tab_2 > table > tbody > td {
		height: 8px;
	}
	table > tbody > tr > td.val{
		width: 116px;
		height: 5px;
		overflow:visible;
		color: #0C99CD;
	}
	table > tbody > tr {
		border: none;
		display: inline-block;
		width: 260px;
	}
	#tab_2 {
		width:600px;
		margin-top:-20px;
		margin-bottom:-15px;
	}
	#sankey-table #tab {
		width: 600px;
	}
	#sankey-table #description {
		width: 600px;
	}
	#sankey-table h1 {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
		padding: 0;
		color: #5B616B !important;
		font-family: "Source Sans Pro";
		font-size: 24px;
		font-weight: 600;
		line-height: 31px;
	}
	#sankey-table h2 {
		font-size: 2.1em;
		font-style: inherit;
		font-weight: ultra-light;
		margin: 0;
		padding: 0;
		color: #666666;
	}
	#sankey-table h3 {
		margin: 0;
		padding: 0;
		text-transform: capitalize;
		/*font-variant:small-caps;*/
		color: #0C99CD;
		font-family: "Source Sans Pro";
		font-size: 40px;
		font-weight: 300;
		line-height: 50px;
	}
	#sankey-table h4 {
		font-size: 1.5em;
		text-transform: capitalize;
		/*font-variant:small-caps;*/
		font-style: inherit;
		color: #555555;
	}
	#sankey-table p {
		font-style: inherit;
		font-size: .8em;
		line-height: 110%;
		color: #555555;
	}
	table tbody tr td {
		color: #5B616B;
		font-family: "Source Sans Pro";
		font-size: 15px;
		line-height: 18px;
	}
	#tite_text {
		margin-top: 10px;
		width: 800px;
	}
	#tite_text > p.headline {
		position: relative;
		font-size: 2em;
	}
	#tite_text > p.body_text {
		position: relative;
		font-size: 1.1em;
		margin-top: -15px;
	}
	#description > p.body_text {
		position: relative;
		margin-top: -15px;
		color: #5B616B;
		font-family: "Source Sans Pro";
		font-size: 15px;
		line-height: 28px;
		font-weight: 300;
	}
	#references{
		.p {
				margin-bottom: 1.5rem;
		}
	}
	#sankey-viz text {
		font-size: 12px;
	}
	.sankey-brackets {
		background-image: url(images/sankey-brackets.svg);
		background-repeat: no-repeat;
		width: 650px;
		height: 675px;
		position: absolute;
		left: 0;
		top: 0;
	}
}
