#bubble-detail {
    position: relative;
}

.bubble-detail {
    position: absolute;
    top: 0;
    right: -400px;
    width: 350px;
    border: 1px solid #ddd;
    padding: 2rem;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    transition: right 0.5s ease-in-out;
}

.bubble-detail.bubble-detail--active {
    right: 0;
}

.bubble-detail__agency-label {
    display: block;
    color: #aaa;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.bubble-detail__agency-name {
    display: block;
    color: #666;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.bubble-detail__close {
    float: right;
    font-weight: 700;
    background: white;
    border: 2px solid #bbb;
    color: #aaa;
    font-size: 1rem;
    border-radius: 11px;
    height: 22px;
    width: 22px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.bubble-detail__close:hover {
    color: #ddd;
    border-color: #ddd;
}

.bubble-detail__table {
    width: 100%;
    margin-bottom: 2rem;
}

.bubble-detail__table:last-of-type {
    margin-bottom: 0;
}

.bubble-detail__table td, .bubble-detail__table th {
    padding: 4px 0 !important;
}

.bubble-detail__table tr td:last-child, .bubble-detail__table tr th:last-child {
    text-align: end;
}

.bubble-detail__table tr th:first-child {
    text-align: start;
}

.bubble-detail__table tr th {
    font-size: 0.8rem;
    border-bottom: 1px solid #ddd;
}

.bubble-detail__table tr td {
    font-size: 0.9rem;
    border-bottom: none !important;
}