$orange: #D04C02;
$grey: #555555;
$background: #FBFBFB;
$green: #50604f;


.CU{

  /*
  --------------------------------------------------------------------------------------------------------------------
*   PAGE LANDING
*--------------------------------------------------------------------------------------------------------------------
*/

  .sectionLanding {

    img {
      position: absolute;

    } 

    .blue {
      width: 15%;
      top: 132px;
      min-width: 145px;
      right: 2%;
    }

    .yellow { 
      top: 495px;
      right: 11%;
      width: 9%;
    }

    .green { 
      top: 273px;
      left: 1%;
      width: 11%;
    }

    .orange {
      top: 693px;
      left: 50%;
      width: 4%;
    }

    .red {
      top: 600px;
      left: 7%;
      width: 11%;
    }

    .landing {
        text-align: center;
            align-content: inherit;
            padding: 100px;
            background: $background;
            margin: 5%;
    
            h1 {
                line-height: 60px;
                font-weight: 100;
            }
            strong {
                color: $orange;
            }
    }
  }

    /*
  --------------------------------------------------------------------------------------------------------------------
*Styling for all section headers
*--------------------------------------------------------------------------------------------------------------------
*/
  
    .sectionHeader{
        text-align: center;
        align-content: inherit;
        padding: 100px;
      
      
      h1, h2 { 
        margin: 0px;
        padding:29px;
      }

      p, h3, h1 {
          color: $grey;
      }
      
      h1 {
        font-size: 100px;
        font-weight: lighter;
      }
      h2 {
        color: $orange;
        margin-top:0px;
        font-size: 50px;
        line-height: 48px;
      }
      h3 {
        font-size: 33px;
        margin:10px;
        font-weight: 400;
      } 
      p {
          font-size: 13px;
      }
    }
    
/*
  --------------------------------------------------------------------------------------------------------------------
*TABLE OF CONTENTS
*--------------------------------------------------------------------------------------------------------------------
*/

.table-of-contents{
    text-align: center;
    background: $background;
    margin-left: 23%;
    width:50%;
    margin-top:50px;
    padding:5%;
   
    span {
      display: inline-block;
    }
    .id {
      vertical-align: top;
      text-align: right;
      width: 20%;
      font-size: 58px;
        padding-top: 9px;
        font-weight: 100;
        color: $grey;
      padding-right: 20px;
    }
    .content {
      text-align: left;
      width:70%;
    }
    p {
        color: $grey;
        padding:0px;
        margin: 0px;
        font-size: 13px;
    }
    a {
        color: $orange;
        font-weight: bold;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
  }

  /*
  --------------------------------------------------------------------------------------------------------------------
*TOTAL INVESTMENTS
*--------------------------------------------------------------------------------------------------------------------
*/

  .overview_information { 
    width:70%;
    margin-left: 15%;

    .totalInvesmentDollarAmount {
      font-size: 52px;
      font-weight: 100;
      margin-bottom: 0px;
      margin-top: 0px;
      color: $grey;
    }

    h2 {
      color: $orange;
      font-size: 21px;
    }
    
    .graph {
      font-size: 0;
      letter-spacing: 0;

      span {
        display:inline-block;
        
        height:60px;
        width: 30%;
      }

      .contracts {
        background-color: $green;
      }

      .grants {
        background-color: lighten($green, 50%)
      }

      .studentAid {
        background-color: lighten($green, 60%);
      }
    }
    .breakdown {

      span {
        display: inline-block;

        h2 {
          font-size: 18px;
        }
      }
    }

  }

    /*
  --------------------------------------------------------------------------------------------------------------------
*     AGENCIES
*--------------------------------------------------------------------------------------------------------------------
*/
 

.bubbleChartContainer {
  text-align: center;
}

}