.cu-header {
    max-width: 1200px;
    margin: 0 auto;
}

.cu-header__blurb {
    max-width: 900px;
    margin: 0 auto;
}

.cu-header__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
