$cuRed: #881E3D;

// scale text down as screen shrinks
@media (max-width: 1300px) {
  .CU #section-one #investment-overview #investment-overview__viz #bar-text--contracts {
    font-size: 20px;
  }
}

/* Mobile View only */
@media (max-width: 949px) {
  .aid-subsection {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .CU #section-four #investment-categories .center-heading {
    stroke: none;
  }
}

/* Desktop View */
@media (min-width: 1201px) {
  .CU {
    .mobile {
      display: none;
    }
  }
}

/* Tablet-only View */
@media (min-width: 950px) and (max-width: 1200px) {
  .CU {
    .mobile {
      display: none;
    }
  }
}

/* Tablet and Mobile View */
@media (max-width: 1200px) {
  .CU {
    /* Table of Contents */
    #TOC {
      display: block;
    }

    span#cuRed {
      color: $cuRed;
      font-weight: 600;
    }

    .cu-header {
      max-width: 800px;
    }

    // .cu-header__blurb {
    //   max-width: 500px;
    // }

    #section-pre {

      .section-pre--banner {
	display: none;
      }
      
      #section-pre--tablet_banner {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin: auto;
	padding-bottom: 1.5rem;

	.section-pre--tablet-subtext {
	  color: #666666;
	  font-family: "Source Sans Pro";
	  font-size: 16px;
	  font-weight: 600;
	  letter-spacing: 2.8px;
	  line-height: 20px;
	  text-align: center;
	}

	.section-pre--tablet-subblurb {
	  color: #666666;
	  font-family: "Source Sans Pro";
	  font-size: 42px;
	  font-weight: 300;
	  line-height: 50px;
	  text-align: center;

	  h3 {
	    font-weight: 600;
	  }
	}

	.section-pre--tablet-blurb {
	  color: #555555;
	  font-family: "Source Sans Pro";
	  font-size: 17px;
	  padding-right: 1rem;
	  padding-left: 1rem;
	  font-weight: 300;
	  line-height: 24px;
	  text-align: center;
	}

      }

      #section-pre__TOC {
	//flex: 0 50%;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-around;
	
	.section-pre__tile {
	  width: 40%;
	  box-sizing: border-box;
	  border-bottom: none;
	  border-right: none;
	}
      }
    }

    #section-one {
      #investment-overview {
	#investment-overview__viz {
	  margin: 0;
	  padding-left: 3.5rem; // align with the left!
	  padding-right: 3.5rem;

	  #investment-subtext #aid-description {
	    width: auto;
	  }


	  #title-section {
	    display: flex;
	  }
	  
	  #investment-subtext {
	    padding-left: 0;
	    padding-right: 0;
	    justify-content: space-evenly;

	    
	    .aid-subsection {
	      padding-left: 1rem;
	      padding-right: 1rem;
	    }
	  }
	}
      } 
    }

    #section-two #alma-mater #mobile-search--map {
      display: none;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }

    #section-two #alma-mater #mobile-search--map > input {
      text-align: left;
    }

    #section-two #alma-mater #mobile-search--map ul {
      display: none;
      text-align: left;
    }

    #section-three #agency-investments #mobile-search--bubble {
      display: none;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }

    #section-three #agency-investments #mobile-search--bubble ul {
      display: none;
      text-align: left;
    }

    #section-four #investment-categories #mobile-search--sunburst {
      display: none;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }

    #section-four #investment-categories #mobile-search--sunburst ul {
      display: none;
      list-style-type: none;
      padding: 0;
      overflow-y: auto;
      padding: 1rem 2rem;
      max-height: 400px;
      border: 1px solid #ddd;
      border-top: none;
      margin: 0;
      background: white;
    }

  } // end of .CU

  .hwcta-entry__more-analyses-tile-row {
    flex-wrap: wrap;
  }

  .hwcta-entry__more-analyses-tile {
    width: 46%;
  }

}

/* Mobile View */
@media (max-width: 949px) {
  .CU {
    .desktop {
      display: none;
    }

    /* Table of Contents */
    #TOC {
      display: none;
      
      #section-pre__TOC {
	border-top: none;
	box-sizing: border-box;
	flex-wrap: wrap;

	#section-pre__tile {
	  width: 100%;
	  box-sizing: border-box;
	}
      }
    }

    #collegesMap {
      margin-left: .5rem;
      margin-right: .5rem;
    }

    #section-pre #section-pre--tablet_banner {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    #section-pre #section-pre--tablet_banner .section-pre--tablet-subtext {
      text-align: left;
      max-width: 250px;
    }

    #section-pre #section-pre--tablet_banner .section-pre--tablet-subblurb {
      text-align: left;
      color: #555555;
      font-weight: 300;
      margin: auto auto 1rem;
    }

    #section-pre #section-pre--tablet_banner .section-pre--tablet-blurb {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
    }

    #section-one #investment-overview #investment-overview__viz {
      margin: 0;
      padding-left: 1rem;
      padding-right: 3.5rem;

      #investment-chart {
	#studentAid-bar {
	  width: 100% !important;
	  margin-right: 0 !important;
	  padding: 0;
	  margin: 0;
	}

	#grants-bar {
	  width: 60% !important;
	  margin-right: 0 !important;
	  padding: 0;
	  margin: 0;
	}

	#bar-text--grants {
	  color: white;
	  margin: 0;
	  font-size: 28px;
	  line-height: 50px;
	  margin-left: .25rem;
	  padding-top: .25rem;
	}

      }
    }

    #section-one #investment-overview #investment-overview__viz #bar-text--contracts {
      color: #925003;
      margin: 0;
      font-size: 28px;
      line-height: 50px;
      margin-left: 2.3rem;
      padding-top: .25rem;
    }

    #section-one #investment-overview #investment-overview__viz #bar-text--grants {
      color: #004C40;
      margin: 0;
      font-size: 28px;
      line-height: 50px;
      margin-left: 6rem;
      padding-top: 0;
    }

    #section-one #investment-overview #investment-overview__viz #bar-text--aid {
      margin-left: .25rem;
    }
    
    #section-one #investment-overview #investment-overview__viz #mobile-blurb {
      display: block;
    }
    
    #section-one #investment-overview #investment-overview__viz #investment-chart {
      display: block;
    }

    #section-one #investment-overview #investment-overview__viz #title-section {
      display: none;
    }

    #section-one #investment-overview #investment-overview__viz #investment-subtext {
      display: none;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #studentAid--mobile-title {
      display: block;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #grants--mobile-title {
      display: block;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #contracts--mobile-title {
      display: block;
    }

    #section-two #mapContainer #map-function-buttons {
      display: none;
    }

    #section-one #investment-overview #investment-overview__viz #mobile-blurb p.mobile-funding-blurb {
      max-width: 250px;
    }

    #section-two #alma-mater #mobile-search--map {
      display: block;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
    
    #section-two #alma-mater #mobile-search--map ul {
      display: none;
    }

    #section-three #agency-investments #mobile-search--bubble {
      display: block;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }

    #section-three #agency-investments #mobile-search--bubble ul {
      display: none;
      list-style-type: none;
      padding: 0;
      overflow-y: auto;
      padding: 1rem 2rem;
      max-height: 400px;
      border: 1px solid #ddd;
      border-top: none;
      margin: 0;
      background: white;
    }

    #section-four #investment-categories #mobile-search--sunburst {
      display: block;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }

    #section-four #investment-categories #mobile-search--sunburst ul {
      display: none;
      list-style-type: none;
      padding: 0;
      overflow-y: auto;
      padding: 1rem 2rem;
      max-height: 400px;
      border: 1px solid #ddd;
      border-top: none;
      margin: 0;
      background: white;
    }

    #section-three {
      #agency-legend_colorKey {
        display: none;
      }
    }
    // for mobile, we get rid of all instructions on every mock!
    section.accordion {
      display: none;
    }

    section.TOC {
      display: none;  
    }

    #section-one, #section-two, #section-three, #section-four {
      padding-top: 4rem; // for mobile, lets have less space between the sections! 
    }

    .cu-header__number {
      text-align: left;
      justify-content: flex-start;
    }

    .cu-header__title {
      text-align: left;
    }

    .cu-header__teaser {
      text-align: left;
    }

    .cu-header__blurb {
      text-align: left;
      max-width: inherit;
    }
    

    .CU #section-two #alma-mater #refresh-div {
      margin-left: 0;
    }

    #section-three #bubble-function-buttons, #section-four #investment-function-buttons {
      display: none;
    }

    .sunburst-search__input {
      border: 1px solid #ddd;
    }

  } // end of .CU

  #legend_colorKey {
    display: none;
  }

  #section-four #investment-categories #chart-container {
    justify-content: center;
  }

  .hwcta-entry__more-analyses-heading {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .hwcta-entry__more-analyses-tile {
    width: 100%;
    font-size: 1rem;
    border-top: 1px solid #ddd;
    padding: 1rem 0;
  }

  .hwcta-entry__more-analyses-title {
    font-size: 17px;
    height: auto;
  }

  .hwcta-entry__more-analyses-text {
    float: right;
    width: 60%;  
    box-sizing: border-box;
    text-align: right;  
    padding-left: 0.5rem;

    h2 {
      font-size: 16px;
      margin-top: 0;
    }
  }

  .hwcta-entry__more-analyses-image-div {
    width: 40%;
    float: left;
  }
}

@media (max-width: 450px) {
  .CU #section-one #investment-overview #investment-overview__viz #bar-text--contracts {
    margin-left: 1.4rem;
  }
}
