.new-share-button {
  display: flex;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.newpopup {
  top: 40px !important;
}

.new-share-button .viz-share-icon:hover {
  fill: #881E3D;
}

.viz-share-icon {
  width: auto;
  font-size: 1rem;
  color: #4a4a4a;

  img {
    margin-right: 4px;
    transform: translateY(4px);
  }
}
