.map-search {
    width: 350px;
    position: absolute;
    top: 0;
    left: -350px;
    padding-left: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    background: white;
}

.map-search__parent-name {
    display: block;
    font-size: 0.8rem;
    color: #555;
    font-weight: 300;
    margin-bottom: 0.4rem;
}

.map-search__input {
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
}

.map-search__input-wrapper {
    border: 1px solid #ddd;
}

.map-search__list {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    padding: 1rem 2rem;
    max-height: 400px;
    border: 1px solid #ddd;
    border-top: none;
    margin: 0;
    background: white;
}

.map-search__item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #4a4a4a;
    text-decoration: none;
    padding: 0.5rem 0;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.map-search__item:hover {
    background-color: #FBEBD0;
}

.map-search__list--mobile {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    padding: 1rem 2rem;
    max-height: 400px;
    border: 1px solid #ddd;
    border-top: none;
    margin: 0;
    background: white;
}

.map-search__item--mobile {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #4a4a4a;
    text-decoration: none;
    padding: 0.5rem 0;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.map-search__item--mobile:hover {
    background-color: #FBEBD0;
}

#map-search-icon {
  position: relative;
  z-index: 2;
  left: 7px;
  top: -23px;
  color: #4a4a4a;
  width: 0;
}
