// this file no longer used, but kept in case of issues with C-a-U-function-panel.scss

.function-buttons {
    position: relative;
    transition: transform 0.5s ease-in-out;
    background: white;
    z-index: 101;
}

.function-buttons.active {
    transform: translateX(350px);
}

.button-set {
    background: white;
}

#bubble-search {
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

#bubble-search.active {
    transform: translateX(350px);
}

.bubble-search {
    width: 350px;
    position: absolute;
    top: 0;
    left: -350px;
    padding-left: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    background: white;
}

.bubble-search__parent-name {
    display: block;
    font-size: 0.8rem;
    color: #555;
    font-weight: 300;
    margin-bottom: 0.4rem;
}

.bubble-search__input {
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
}

.bubble-search__input-wrapper {
    border: 1px solid #ddd;
}

.bubble-search__list {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    padding: 1rem 2rem;
    max-height: 400px;
    border: 1px solid #ddd;
    border-top: none;
    margin: 0;
    background: white;
}

.bubble-search__item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #4a4a4a;
    text-decoration: none;
    padding: 0.5rem 0;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.bubble-search__item:hover {
    background-color: #FBEBD0;
}
