$orange: #D04C02;
$grey: #555555;
$background: #FBFBFB;
$green: #50604f;


.CU{

  /*
  --------------------------------------------------------------------------------------------------------------------
*   PAGE LANDING
*--------------------------------------------------------------------------------------------------------------------
*/

  .sectionLanding {

    img {
      position: absolute;

    } 

    .blue {
      width: 15%;
      top: 132px;
      min-width: 145px;
      right: 2%;
    }

    .yellow { 
      top: 495px;
      right: 11%;
      width: 9%;
    }

    .green { 
      top: 273px;
      left: 1%;
      width: 11%;
    }

    .orange {
      top: 693px;
      left: 50%;
      width: 4%;
    }

    .red {
      top: 600px;
      left: 7%;
      width: 11%;
    }

    .landing {
        text-align: center;
            align-content: inherit;
            padding: 100px;
            background: $background;
            margin: 5%;
    
            h1 {
                line-height: 60px;
                font-weight: 100;
            }
            strong {
                color: $orange;
            }
    }
  }

    /*
  --------------------------------------------------------------------------------------------------------------------
*Styling for all section headers
*--------------------------------------------------------------------------------------------------------------------
*/
  
    .sectionHeader{
        text-align: center;
        align-content: inherit;
        padding: 100px;
      
      
      h1, h2 { 
        margin: 0px;
        padding:29px;
      }

      p, h3, h1 {
          color: $grey;
      }
      
      h1 {
        font-size: 100px;
        font-weight: lighter;
      }
      h2 {
        color: $orange;
        margin-top:0px;
        font-size: 50px;
        line-height: 48px;
      }
      h3 {
        font-size: 33px;
        margin:10px;
        font-weight: 400;
      } 
      p {
          font-size: 13px;
      }
    }
    
/*
  --------------------------------------------------------------------------------------------------------------------
*TABLE OF CONTENTS
*--------------------------------------------------------------------------------------------------------------------
*/

.table-of-contents{
    text-align: center;
    background: $background;
    margin-left: 23%;
    width:50%;
    margin-top:50px;
    padding:5%;
   
    span {
      display: inline-block;
    }
    .id {
      vertical-align: top;
      text-align: right;
      width: 20%;
      font-size: 58px;
        padding-top: 9px;
        font-weight: 100;
        color: $grey;
      padding-right: 20px;
    }
    .content {
      text-align: left;
      width:70%;
    }
    p {
        color: $grey;
        padding:0px;
        margin: 0px;
        font-size: 13px;
    }
    a {
        color: $orange;
        font-weight: bold;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
  }

  /*
  --------------------------------------------------------------------------------------------------------------------
*TOTAL INVESTMENTS
*--------------------------------------------------------------------------------------------------------------------
*/

  .overview_information { 
    width:70%;
    margin-left: 15%;

    .totalInvesmentDollarAmount {
      font-size: 52px;
      font-weight: 100;
      margin-bottom: 0px;
      margin-top: 0px;
      color: $grey;
    }

    h2 {
      color: $orange;
      font-size: 21px;
    }
    
    .graph {
      font-size: 0;
      letter-spacing: 0;

      span {
        display:inline-block;
        
        height:60px;
        width: 30%;
      }

      .contracts {
        background-color: $green;
      }

      .grants {
        background-color: lighten($green, 50%)
      }

      .studentAid {
        background-color: lighten($green, 60%);
      }
    }
    .breakdown {

      span {
        display: inline-block;

        h2 {
          font-size: 18px;
        }
      }
    }

  }

    /*
  --------------------------------------------------------------------------------------------------------------------
*     AGENCIES
*--------------------------------------------------------------------------------------------------------------------
*/
 
.bubbleChartContainer {
  text-align: center;
}

    /*
  --------------------------------------------------------------------------------------------------------------------
*    Investment Categories
*--------------------------------------------------------------------------------------------------------------------
*/
 
.investmentCategories { 

  padding-left: 5%;
  padding-right: 5%;
  text-align: center;

  .panel {

    display: none;
    width: 25%;
    height:615px;
    box-shadow: 17px 0 10px -4px #eee;
    vertical-align: top;
    min-width: 350px;

    span {
      top: 50%;
      position: relative;
      width: 30%;
      left: -45%;
      color: #D04C02;
      display: inline-block;
    }

    span:hover { 
      color: lighten($orange, 25%);
      cursor: pointer;
    }

    .panelChart {
      display: inline-block;
      text-align: center;
      margin-left: 40px;
    }

  }
  .chartContainer{
    display: inline-block;
    text-align: center;
    margin:auto;
    width: 85%;
    position: relative;

    .categoriesParent{
      width:210px;
      margin: 0px;
      display: inline-block;

      p {
        font-size: 16px;
      }
    }

    .chv {
      position: absolute;
      top:50%;
      font-size: 32px;
      opacity: 0.5;
    }

    .left {
      left: 5px;
    }

    .right {
      right: 5px;
    }

<<<<<<< HEAD

    svg {
      text-align: center;
=======
    #schoolList {
      height: 25rem; // big enough to fill whole container wont go over..
      overflow: auto;
    }
    
    #college-dropdown-list {
      width: 98%; // offset with margin.. look into fixing..
    }

    #schoolUl {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #schoolUl li {
      border: 1px solid #ddd; /* Add a border to all links */
      margin-top: -1px; /* Prevent double borders */
      background-color: #f6f6f6; /* Grey background color */
      padding: .25rem;
      text-decoration: none; /* Remove default text underline */
      color: black; /* Add a black text color */
      display: block; /* Make it into a block element to fill the whole list */
    }

    #schoolUl li:hover {
      background-color: #eee; /* Add a hover effect to all links, except for headers */
    }

    #mapContainer--switch {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    #mapContainer__year {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    #circleFloat {
      float: right;
    }

    // right hand panel jazz
    #instPanel {
      display: none;
      border: 1px solid #ddd;
      border-radius: .25rem;
    }

  } // end mapContainer

  #mapFilter {
    display: flex;
    box-sizing: border-box;
    margin-right: -45px;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mapFilter__search {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      border: 1px solid #EEEEEE;	
      border-radius: .25rem;
      padding-bottom: 4rem;
>>>>>>> 81f246e9... right panel
    }

    .catDollarClass {
      font-size: 20px;
      fill: black;
    }

    .catPercentageClass {
      font-size: 23px;
      fill: $orange;
      font-weight: 100;
      padding-left: 30px;
    }

     path.slice{
         stroke-width:10px;
     }
    
     polyline{
         opacity: .3;
         stroke: black;
         stroke-width: 10px;
         fill: none;
     }
  }
}

    /*
  --------------------------------------------------------------------------------------------------------------------
*   Instututions
*--------------------------------------------------------------------------------------------------------------------
*/

.collegesMap {

  text-align: center;
  
  .background {
    fill: none;
    pointer-events: all;
  }
  
  #states {
    fill: #E6E7E5;
  }
  
  #states .active {
    fill: orange;
  }
  
  #state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }

}

}

