.function-buttons {
  z-index: 1;

  $left-button-size: 45px;
  $left-button-border: 3px solid #eee;
  $border-radius: $left-button-size / 3;

  .button-set {
    width: $left-button-size;
    background-color: white;
    border: $left-button-border;
    border-radius: 0 $border-radius $border-radius 0;

    &:hover {
      cursor: pointer;
    }

    button {
      width: $left-button-size;
      height: $left-button-size;
      margin-top: 5px;
      background: none;
      border: none;
      opacity: .3; // faded until selected

      &:hover {
        cursor: pointer;
      }
    }
  }

 .separator {
    width: 50%;
    margin-left: $left-button-size / 4;
    border-top: $left-button-border;
  }
}

#sunburst-function-buttons,#bubble-function-buttons {
  transition: transform 0.5s ease-in-out;

  &.active {
    transform: translateX(350px);
  }
}

.bubble-search {
  width: 350px;
  position: absolute;
  top: 0;
  left: -350px;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.bubble-search__parent-name {
  display: block;
  font-size: 0.8rem;
  color: #555;
  font-weight: 300;
  margin-bottom: 0.4rem;
}

.bubble-search__input {
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.bubble-search__input-wrapper {
  border: 1px solid #ddd;
}

.bubble-search__list {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  padding: 1rem 2rem;
  max-height: 400px;
  border: 1px solid #ddd;
  border-top: none;
  margin: 0;
  background: white;
}

.bubble-search__item {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #4a4a4a;
  text-decoration: none;
  padding: 0.5rem 0;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.bubble-search__item:hover {
  background-color: #FAEBD0;
}

.map-search {
  width: 350px;
  position: absolute;
  top: 0;
  left: -350px;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.map-search__input {
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.map-search__input-wrapper {
  border: 1px solid #ddd;
}

.map-search__list {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  padding: 1rem 2rem;
  max-height: 400px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-top: none;
  margin: 0;
}

.map-search__list--mobile {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  padding: 1rem 2rem;
  max-height: 400px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-top: none;
  margin: 0;
  transition: transform 0.5s ease-in-out;
}


.map-search__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #4a4a4a;
  text-decoration: none;
  padding: 0.5rem 0;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.map-search__item:hover {
  background-color: #FAEBD0;
}

.map-search {
  width: 350px;
  position: absolute;
  top: 0;
  left: -350px;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.map-search__input {
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.map-search__input-wrapper {
  border: 1px solid #ddd;
}

.map-search__list {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  padding: 1rem 2rem;
  max-height: 400px;
  border: 1px solid #ddd;
  border-top: none;
  margin: 0;
}

.active-mobile {
  display: block !important;
}

.map-search__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #4a4a4a;
  text-decoration: none;
  padding: 0.5rem 0;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.map-search__item--mobile {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #4a4a4a;
  text-decoration: none;
  padding: 0.5rem 0;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.map-search__item:hover {
  background-color: #FAEBD0;
}


