/* Tablet View */
@media (max-width: 768px) {
  .CU {
    /* Table of Contents */
    #TOC {
      display: block !important;
    }

    #section-pre {

      .section-pre--banner {
	display: none;
      }

      #section-pre--tablet_banner {
	display: flex !important;
	flex-direction: column;

	.section-pre--tablet-subtext {
	  color: #9B9B9B;
	  font-family: "Source Sans Pro";
	  font-size: 16px;
	  font-weight: 600;
	  letter-spacing: 2.8px;
	  line-height: 20px;
	  text-align: center;
	}

	.section-pre--tablet-subblurb {
	  color: #881E3D;
	  font-family: "Source Sans Pro";
	  font-size: 42px;
	  font-weight: 600;
	  line-height: 50px;
	  text-align: center;
	}

	.section-pre--tablet-blurb {
	  color: #555555;
	  font-family: "Source Sans Pro";
	  font-size: 17px;
	  padding-right: 1rem;
	  padding-left: 1rem;
	  font-weight: 300;
	  line-height: 24px;
	  text-align: center;
	}

      }

      #section-pre__TOC {
	flex: 0 50%;
	box-sizing: border-box;
	flex-wrap: wrap;

	#section-pre__tile {
	  width: 50%;
	  box-sizing: border-box;
	}
      }
    } 


    #section-one {
      #investment-overview {
	#investment-overview__viz {

	  #title-section {
	    display: flex;
	  }
	  
	  #investment-subtext {
	    padding-left: 0;
	    padding-right: 0;
	    justify-content: space-evenly;

	  
	    #aid-subsection {
	      padding-left: 1rem;
	      padding-right: 1rem;
	    }
	  }
	}
      } 
    }

    #section-two #alma-mater #mobile-search {
      display: none;
      justify-content: center;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
    
    #section-two #alma-mater #mobile-search ul {
      display: none;
    }
  }
}

/* Mobile View */
@media (max-width: 400px) {
  .CU {
    /* Table of Contents */
    #TOC {
      display: block !important;
      
      #section-pre__TOC {
	box-sizing: border-box;
	flex-wrap: wrap;

	#section-pre__tile {
	  width: 100%;
	  box-sizing: border-box;
	}
      }
    } 

    #section-one #investment-overview #investment-overview__viz #mobile-blurb {
      display: block !important;
    }
    
    #section-one #investment-overview #investment-overview__viz #investment-chart {
      display: block !important;
    }

    #section-one #investment-overview #investment-overview__viz #title-section {
      display: none !important;
    }

    #section-one #investment-overview #investment-overview__viz #investment-subtext {
      display: none !important;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #studentAid--mobile-title {
      display: block;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #grants--mobile-title {
      display: block;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #contracts--mobile-title {
      display: block;
    }

    #section-two #mapContainer #map-function-buttons {
      display: none;
    }

    #mobile-search {
      display: flex !important;
      justify-content: center;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }

    #section-two #alma-mater #mobile-search {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
    
    #section-two #alma-mater #mobile-search ul {
      display: none;
    }

  }
}
