$orange: #D04C02;
$grey: #555555;
$background: #FBFBFB;
$green: #50604f;

.CU {

  /*
  --------------------------------------------------------------------------------------------------------------------
*   PAGE LANDING
*--------------------------------------------------------------------------------------------------------------------
*/

  .sectionLanding {

    img {
      position: absolute;

    } 

    .blue {
      width: 15%;
      top: 132px;
      min-width: 145px;
      right: 2%;
    }

    .yellow { 
      top: 495px;
      right: 11%;
      width: 9%;
    }

    .green { 
      top: 273px;
      left: 1%;
      width: 11%;
    }

    .orange {
      top: 693px;
      left: 50%;
      width: 4%;
    }

    .red {
      top: 600px;
      left: 7%;
      width: 11%;
    }

    .landing {
      text-align: center;
      align-content: inherit;
      padding: 100px;
      background: $background;
      margin: 5%;
      
      h1 {
        line-height: 60px;
        font-weight: 100;
      }
      strong {
        color: $orange;
      }
    }
  }

  /*
  --------------------------------------------------------------------------------------------------------------------
*Styling for all section headers
*--------------------------------------------------------------------------------------------------------------------
*/
  
  .sectionHeader{
    text-align: center;
    align-content: inherit;
    padding: 100px;
    
    
    h1, h2 { 
      margin: 0px;
      padding:29px;
    }

    p, h3, h1 {
      color: $grey;
    }
    
    h1 {
      font-size: 100px;
      font-weight: lighter;
    }
    h2 {
      color: $orange;
      margin-top:0px;
      font-size: 50px;
      line-height: 48px;
    }
    h3 {
      font-size: 33px;
      margin:10px;
      font-weight: 400;
    } 
    p {
      font-size: 13px;
    }
  }
  
  /*
  --------------------------------------------------------------------------------------------------------------------
*TABLE OF CONTENTS
*--------------------------------------------------------------------------------------------------------------------
*/

  .table-of-contents{
    text-align: center;
    background: $background;
    margin-left: 23%;
    width:50%;
    margin-top:50px;
    padding:5%;
    
    span {
      display: inline-block;
    }
    .id {
      vertical-align: top;
      text-align: right;
      width: 20%;
      font-size: 58px;
      padding-top: 9px;
      font-weight: 100;
      color: $grey;
      padding-right: 20px;
    }
    .content {
      text-align: left;
      width:70%;
    }
    p {
      color: $grey;
      padding:0px;
      margin: 0px;
      font-size: 13px;
    }
    a {
      color: $orange;
      font-weight: bold;
    }

    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  /*
  --------------------------------------------------------------------------------------------------------------------
*TOTAL INVESTMENTS
*--------------------------------------------------------------------------------------------------------------------
*/

  .overview_information { 
    width:70%;
    margin-left: 15%;

    .totalInvesmentDollarAmount {
      font-size: 52px;
      font-weight: 100;
      margin-bottom: 0px;
      margin-top: 0px;
      color: $grey;
    }

    .blurbtext {
      flex-wrap: wrap;
      width: 277px;
      height: 66px;
      font-family: SourceSansPro;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.69;
      letter-spacing: normal;
      color: #555555;
    }

    .flexcontainer {
      display: flex;
      flex-wrap: wrap;
    }

    .totalInvestments_breakdown_contracts_total {
    width: 239px;
	  height: 49px;
	  font-family: SourceSansPro;
	  font-size: 38.9px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #555555;
    }

    .totalInvestments_breakdown_grants_total {
          width: 239px;
	  height: 49px;
	  font-family: SourceSansPro;
	  font-size: 38.9px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #555555;
    }

    .totalInvestments_breakdown_studentAid_total {
          width: 239px;
	  height: 49px;
	  font-family: SourceSansPro;
	  font-size: 38.9px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #555555;
    }




    h2 {
      color: $orange;
      font-size: 21px;
    }
    
    .graph {
      font-size: 0;
      letter-spacing: 0;

      span {
        display:inline-block;
        
        height:60px;
        width: 30%;
      }

      .contracts {
        background-color: $green;
      }

      .grants {
        background-color: lighten($green, 50%)
      }

      .studentAid {
        background-color: lighten($green, 60%);
      }
    }
    .breakdown {

      span {
        display: inline-block;

        h2 {
          font-size: 18px;
        }
      }
    }

  }

  /*
  --------------------------------------------------------------------------------------------------------------------
*     AGENCIES
*--------------------------------------------------------------------------------------------------------------------
*/
  
  .bubbleChartContainer {
    text-align: center;
  }

  /*
  --------------------------------------------------------------------------------------------------------------------
*    Investment Categories
*--------------------------------------------------------------------------------------------------------------------
*/
  
  .investmentCategories { 

    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

    .panel {

      display: none;
      width: 25%;
      height:615px;
      box-shadow: 17px 0 10px -4px #eee;
      vertical-align: top;
      min-width: 350px;

      span {
	top: 50%;
	position: relative;
	width: 30%;
	left: -45%;
	color: #D04C02;
	display: inline-block;
      }

      span:hover { 
	color: lighten($orange, 25%);
	cursor: pointer;
      }

      .panelChart {
	display: inline-block;
	text-align: center;
	margin-left: 40px;
      }

    }
    .chartContainer{
      display: inline-block;
      text-align: center;
      margin:auto;
      width: 85%;
      position: relative;

      .categoriesParent{
	width:210px;
	margin: 0px;
	display: inline-block;

	p {
          font-size: 16px;
	}
      }

      .chv {
	position: absolute;
	top:50%;
	font-size: 32px;
	opacity: 0.5;
      }

      .left {
	left: 5px;
      }

      .right {
	right: 5px;
      }


      svg {
	text-align: center;
      }

      .catDollarClass {
	font-size: 20px;
	fill: black;
      }

      .catPercentageClass {
	font-size: 23px;
	fill: $orange;
	font-weight: 100;
	padding-left: 30px;
      }

      path.slice{
        stroke-width:10px;
      }
      
      polyline{
        opacity: .3;
        stroke: black;
        stroke-width: 10px;
        fill: none;
      }
    }
  }

  /*
  --------------------------------------------------------------------------------------------------------------------
*   Instututions
*--------------------------------------------------------------------------------------------------------------------
*/

  .collegesMap {

    text-align: center;
    
    .background {
      fill: none;
      pointer-events: all;
    }
    
    #states {
      fill: #E6E7E5;
    }
    
    #states .active {
      fill: orange;
    }
    
    #state-borders {
      fill: none;
      stroke: #fff;
      stroke-width: 1.5px;
      stroke-linejoin: round;
      stroke-linecap: round;
      pointer-events: none;
    }

  }

  $input-height: 1.75rem;

  .table-list-container {
    max-width:800px; margin:20px auto;
    background-color:#ffffff; 
    border:1px solid #d2d2d2;  
    position: relative;
    z-index: 0;
  }

  @media (max-width: 640px ) {
    .table-list-container { border-width: 1px 0; } 
  }

  .table-list {
    min-height:176px;
  } 

  .table-list th { 
    border-bottom: .6px solid #d2d2d2;
  }

  .table-list td { 
    white-space:nowrap;
    height:$input-height; 
    vertical-align:top; 
    padding:10px;
    border-bottom:1px solid #d2d2d2; }

  .table-list tr:last-child td { 
    height:auto; }


  //sort styles
  th button.sort {
    text-align:left; 
    padding:0 10px;
    line-height: $input-height;
    border: none; background: none; 
    display: block; width:100%; 
    font-size: 12px; color: #888; 
    border-bottom: 1px solid transparent;  
  }

  th button.sort.textcenter,
  th button.sort.text-center { text-align:center; }

  th button.sort.textright,
  th button.sort.text-right { text-align:right; }

  button.sort .bullet { margin-top:13px; }


  //sorting caret
  .table-list .caret:after { content:""; }
  .asc .caret:after {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #808080;
    content: "";
    position: relative;
    top: -3px;
    right: -4px;
    font-size:0; }
  .desc .caret:after {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #808080;
    content: "";
    position: relative;
    top: -4px;
    right: -4px;
    font-size:0; }

  button.sort .caret { display:none; }
  button.sort.asc .caret { display:inline-block; }
  button.sort.desc .caret { display:inline-block; }



  .table-footer { 
    background-color:#fff;
    margin-top:-1px; 
    position:relative; 
    z-index:-1; }
  .table-search {
    width:310px;
    border-left:1px solid #d2d2d2; }
  .table-search .search { 
    width:100%;
    border:none; 
    background:transparent; 
    box-shadow:none; }

  /**/

  .table-pagination {
    white-space:nowrap; }

  .table-pagination:after {
    display: block;
    content: "";
    clear: both;
  }

  .jPaginateBack, 
  .jPaginateNext, 
  .table-list-container .pagination {
    float:left; }

  .jPaginateBack, 
  .jPaginateNext {  
    line-height:$input-height; 
    width:$input-height; 
    text-align:center; 
    user-select:none; }


  .jPaginateBack .material-icons, 
  .jPaginateNext .material-icons { 
    display:block;
    font-size:16px;
    line-height:inherit;
  } 

  .RANK-1-2-3-4-5-6-7-8 {
    width: 41px;
    height: 714px;
    font-family: SourceSansPro;
    font-size: 16.3px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.09;
    letter-spacing: normal;
    color: #555555;
  }

  .RANK-1-2-3-4-5-6-7-8 .text-style-1 {
    font-weight: bold;
  }

  .categories__content {
    width: 1547px;
    height: 921px;
    object-fit: contain;
  }

  /* 
	Generic Styling, for Desktops/Laptops 
 */
  table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
  
  th.des:after {
    content: "\21E9";
  }
  
  th.aes:after {
    content: "\21E7";
  }
  
  /* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
 */
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
      Label the data
   */
    td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
    }
  }
  
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    body { 
      padding: 0; 
      margin: 0; 
      width: 320px; }
  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
      width: 495px; 
    }
  }

  .Rectangle-3 {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 740px;
    height: 151px;
    opacity: 0.9;
    background-color: #fafafa;
  }


}



