.hwcta-entry {
  display: flex;
  flex-direction: column;
  margin: 5% 8%;
  padding: 5%;
  border-top: 1px solid #eeeeee;
  color: #666666;
}

.hwcta-entry__body-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

.hwcta-entry__detail-text {
  text-align: center;
  line-height: 1.5;
}

.hwcta-entry__link-container {
  display: flex;
  width: 100%;
  text-align: center;
}

.hwcta-entry__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 8%;
}

.hwcta-entry__link-chevron {
  display: flex;
  color: #881e3d;
}

.hwcta-entry__link-text {
  font-size: 1.6em;
  padding: 0 2%;
}

.hwcta-entry__more-analyses {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.hwcta-entry__more-analyses-heading {
  font-size: 1.17em;
  color: #666;
  padding-bottom: 1rem;
  border-bottom: 1px solid #666666;
  text-transform: uppercase;
}

.hwcta-entry__more-analyses-tiles {
  display: flex;
}

.hwcta-entry__more-analyses-tile-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hwcta-entry__more-analyses-tile {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hwcta-entry__more-analyses-text {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  h2 {
    color: #2272CE;
    margin-top: 2rem;
  }
}

.hwcta-entry__more-analyses-title {
  font-size: 20px;
  height: 87px;
  color: #666666;
  margin-bottom: 0;
  margin-top: 0;
}

.hwcta-entry__more-analyses-image {
  width: 100%;
}