$cuRed: #881E3D;

/* Tablet View */
@media (max-width: 768px) {
  .CU {
    /* Table of Contents */
    #TOC {
      display: block;
    }

    span#cuRed {
      color: $cuRed;
    }

    #section-pre {

      .section-pre--banner {
	display: none;
      }

      #section-pre--tablet_banner {
	display: flex;
	flex-direction: column;

	.section-pre--tablet-subtext {
	  color: #9B9B9B;
	  font-family: "Source Sans Pro";
	  font-size: 16px;
	  font-weight: 600;
	  letter-spacing: 2.8px;
	  line-height: 20px;
	  text-align: center;
	}

	.section-pre--tablet-subblurb {

	  font-family: "Source Sans Pro";
	  font-size: 42px;
	  font-weight: 600;
	  line-height: 50px;
	  text-align: center;
	}

	.section-pre--tablet-blurb {
	  color: #555555;
	  font-family: "Source Sans Pro";
	  font-size: 17px;
	  padding-right: 1rem;
	  padding-left: 1rem;
	  font-weight: 300;
	  line-height: 24px;
	  text-align: center;
	}

      }

      #section-pre__TOC {
	flex: 0 50%;
	box-sizing: border-box;
	flex-wrap: wrap;

	#section-pre__tile {
	  width: 50%;
	  box-sizing: border-box;
	  border-bottom: 1px solid #ddd;
	  border-right: 1px solid #ddd;
	}
      }
    } 

    #section-one {
      #investment-overview {
	#investment-overview__viz {
	  margin: 0;
	  padding-left: 3.5rem;
	  padding-right: 3.5rem;

	  #title-section {
	    display: flex;
	  }
	  
	  #investment-subtext {
	    padding-left: 0;
	    padding-right: 0;
	    justify-content: space-evenly;

	    
	    #aid-subsection {
	      padding-left: 1rem;
	      padding-right: 1rem;
	    }
	  }
	}
      } 
    }

    #section-two #alma-mater #mobile-search {
      display: none;
      justify-content: center;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
    
    #section-two #alma-mater #mobile-search ul {
      display: none;
    }
  }
}

/* Mobile View */
@media (max-width: 400px) {
  .CU {
    /* Table of Contents */
    #TOC {
      display: none;
      
      #section-pre__TOC {
	border-top: none;
	box-sizing: border-box;
	flex-wrap: wrap;

	#section-pre__tile {
	  width: 100%;
	  box-sizing: border-box;
	}
      }
    }

    #section-one {
      margin-top: 7rem; // space out when removing elements
    }

    #section-one #investment-overview #investment-overview__viz #bar-text--contracts {
      color: #925003;
      margin: 0;
      font-size: 36px;
      line-height: 50px;
      margin-left: 1.5rem;
      padding-top: .25rem;
    }

    #section-one #investment-overview #investment-overview__viz #bar-text--grants {
      color: #004C40;
      margin: 0;
      font-size: 36px;
      line-height: 50px;
      margin-left: 5rem;
      padding-top: 0;
    }

    #section-one #investment-overview #investment-overview__viz #bar-text--aid {
      margin-left: .25rem;
    }
    
    #section-one #investment-overview #investment-overview__viz #mobile-blurb {
      display: block;
    }
    
    #section-one #investment-overview #investment-overview__viz #investment-chart {
      display: block;
    }

    #section-one #investment-overview #investment-overview__viz #title-section {
      display: none;
    }

    #section-one #investment-overview #investment-overview__viz #investment-subtext {
      display: none;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #studentAid--mobile-title {
      display: block;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #grants--mobile-title {
      display: block;
    }

    #section-one #investment-overview #investment-overview__viz #investment-chart #contracts--mobile-title {
      display: block;
    }

    #section-two #mapContainer #map-function-buttons {
      display: none;
    }

    #section-one #investment-overview #investment-overview__viz #mobile-blurb p.mobile-funding-blurb {
      max-width: 250px;
    }

    #mobile-search {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }

    #section-two #alma-mater #mobile-search {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
    
    #section-two #alma-mater #mobile-search ul {
      display: none;
    }

    // for mobile, we get rid of all instructions on every mock!
    section.accordion {
      display: none;
    }

    section.TOC {
      display: none;  
    }

    // cu header section //
    // all of these need to be left aligned //
    .cu-header__number {
      text-align: left;
      justify-content: flex-start;
    }

    .cu-header__title {
      text-align: left;
    }

    .cu-header__teaser {
      text-align: left;
    }

    .cu-header__blurb {
      text-align: left;
    }

  }
}
