.competition-in-contracting {
  table,
  th,
  td {
    border: 1px solid black;
  }

  .viz-bkd.competition-in-contracting-viz-bkgd {
    height: 1220px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    opacity: 1;
  }

  .dropdown {
    border: 1px solid black;
  }

  #controls {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    color: black;
  }

  .control-item {
    width: 400px;
  }

  .domain {
    display: none;
  }

  .xtick {
    font-size: 16px;
    fill: #4f4f4f;
    font-weight: 500;
  }
  .tick {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
  }

  .select-wrapper {
    margin: 20px;
  }

  #tooltip {
    pointer-events: none;
  }

  #tooltip li {
    text-align: left;
  }
}
