.competition-in-contracting {
  table, th, td {
    border: 1px solid black;
  }

  // #tooltip {
  //   position: absolute;
  //   text-align: center;
  //   padding: 20px;
  //   margin: 10px;
  //   font: 12px sans-serif;
  //   background: lightsteelblue;
  //   border: 1px;
  //   border-radius: 2px;
  //   pointer-events: none;
  //   width: 250px;
  //   color: black;
  //   opacity: 0;
  // }

  // #tooltip h4 {
  //   margin: 0;
  //   font-size: 14px;
  // }

  // #tooltip table {
  //   table-layout: fixed;
  // }

  // #tooltip tr td {
  //   padding: 0;
  //   margin: 0;
  // }

  // #tooltip tr td:nth-child(1) {
  //   width: 50px;
  // }

  // #tooltip tr td:nth-child(2) {
  //   text-align: center;
  // }

  .viz-bkd.competition-in-contracting-viz-bkgd {
    height: 1220px;
  }

  input[type=checkbox] {
    -webkit-appearance: checkbox;
    opacity: 1;
  }

  .dropdown {
    border: 1px solid black;
  }

  #controls {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
  }
  
  .control-item {
    width: 400px;
  }

  // #barchartSvg {
  //   border: 1px solid black;
  // }

  .domain {
    display: none;
  }
}