.contract-explorer {
  color: black;
}

.contract-explorer #legend_scaleKey {
  width: 225px;
  height: 130px;
  position: absolute; }
.contract-explorer .legend_scaleKeyCircle {
  stroke-width: 1;
  stroke: #999;
  stroke-dasharray: 2 2;
  fill: none; }
.contract-explorer #legend_colorKey {
  position: absolute;
  left: 150px;
  width: 200px;
  height: 130px;
  margin: 0;
  padding: 0;
  overflow: visible; }
.contract-explorer .legend_circleKeyLabel {
  position: relative;
  border-top: solid 1px #DDD;
  width: 70px; }
.contract-explorer #legend_colorKey ul {
  margin: 0;
  padding: 0; }
.contract-explorer #legend_colorKey p {
  margin-bottom: 8px; }
.contract-explorer #legend_colorKey li {
  background-image: none;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  height: 100%; }
.contract-explorer #legend_sizeKey {
  position: absolute;
  height: 100px;
  width: 300px; }
.contract-explorer #legend_sizeKey, .contract-explorer .legend_circleKeyLabel span {
  font-size: 10px;
  color: #999;
  position: absolute;
  display: block;
  left: 45px;
  top: -8px;
  width: 200px;
  z-index: 100; }
.contract-explorer p.subheading {
  font-size: 1.75rem;
  color: #525252;
  font-style: italic; }
.contract-explorer #sunburst > circle {
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
  pointer-events: all;
  cursor: pointer; }
.contract-explorer #sunburst > svg > g > path {
  stroke: #fff;
  stroke-width: .4px;
  cursor: pointer; }
.contract-explorer .body {
  background-color: #FFFFFF; }
.contract-explorer #circ {
  position: relative;
  top: 0px;
  margin-top: -5px;
  width: 465px;
  height: 15px;
  background-color: inherit; }
.contract-explorer #sunburst {
  overflow: visible;
  position: relative;
  width: 465px;
  text-align: center;
  background-color: inherit; }
.contract-explorer #sunburst-panel {
  position: relative;
  text-align: left;
  padding-top: 30px;
  /* width: 465px;
  height: 100%; */
  margin-right: 0px;
  overflow: visible;
  background-color: inherit; }

.contract-explorer .subagency-card {
  margin-bottom: 35px;
  width: 50%;
  display: inline-block;
}
.contract-explorer .subagency-card .name{
  font-size: 16px;
  font-weight: 550;
}
.contract-explorer .subagency-card .obligation{
  font-size: 24px;
  font-weight: 400;
}

.contract-explorer .psc-card {
  margin-bottom: 16px;
  width: 50%;
  display: inline-flex;
  align-items: center;
}

.contract-explorer #sunburstSvg {
  width: 100%;
  height: 100%;
}

.contract-explorer .psc-card-item {
  /* margin-bottom: 20px; */
  display: inline-block;
  width: 250px;
}
.contract-explorer .psc-card .name{
  font-size: 16px;
  font-weight: 550;
  color: #20A4D5;
}
.contract-explorer .psc-card .obligation{
  font-size: 24px;
  font-weight: 400;
}



.contract-explorer #sunburst-panel h1 {
  font-family: Source Sans Pro;
    font-size: 48px;
    font-style: inherit;
    font-weight: lighter;
    margin: 0;
    padding: 20px 0;
    margin-top: -30px;
    line-height: 50px;
    word-wrap: break-word;
    color: black;
    border-bottom: 1px solid #aaa; }
.contract-explorer #sunburst-panel h2 {
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: inherit;
  font-weight: 550;
  margin-top: 55px;
  padding: 0;
  color: #666666;
  text-transform: capitalize;
 }
.contract-explorer #sunburst-panel h3 {
  font-family: Source Sans Pro;
  font-size: 16px;
  margin: 20px 0;
  padding: 0;
  text-transform: capitalize;
  color: #20A4D5; }
.contract-explorer #sunburst-panel h4 {
  font-family: Source Sans Pro;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size:  10px;
  text-transform: capitalize;
  font-style: inherit;
  color: #555555; }
/* .contract-explorer .title {
  margin-top: 55px;
   } */

  .contract-explorer .sunburst-panel-tab-2 {
    margin-top: 0px;
    height: 600px;
    overflow-y: auto;
  }
  .contract-explorer .sunburst-panel-tab-3 {
    margin-top: 20px;
    height: 600px;
    overflow-y: auto;
  }

.contract-explorer #sunburst-panel p {
  font-style: inherit;
  font-size: 1.5em;
  margin-top: -3px;
  text-transform: capitalize;
  color: #555555; }
.contract-explorer .table {
  margin-top: -25px;
  width: 100%;
  text-align: left; }
.contract-explorer .icon {
  position: relative;
  margin: 0px 0px 0px 0px; }
.contract-explorer .psc-icon {
  position: relative;
  height: 48px;
  width: 48px;
  margin-right: 10px; }
.contract-explorer .val {
  font-size: 1.3em;
  color: #205493;
  font-weight: bolder; }
.contract-explorer .neg_val {
  font-size: 1.3em;
  color: #AF002A;
  font-weight: bolder; }
.contract-explorer .name {
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: lighter;
  color: #6B7687; }
.contract-explorer .img {
  position: relative; }
/* .contract-explorer .sunburst-panel-tab {
  margin-top: -20px;
  margin-bottom: 25px; } */
.contract-explorer #tab_2 > table > tbody > tr > td.val {
  width: 125px; }
.contract-explorer #obligation > table > tbody > tr > td {
  font-size: 1.3em; }
.contract-explorer #obligation {
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 150px;
  text-align: center; }
.contract-explorer .icon_x {
  margin-top: -20px;
  margin-bottom: 25px; }
.contract-explorer p.instructions {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.1953rem; }
.contract-explorer .psc_panel {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  font-size: 12px; }
.contract-explorer .psc-obligation {
  color: #0071BC; }
.contract-explorer .sunburst-panel-col {
  position: relative;
  border: 1px solid #ccc!important;
  padding: 15px;
  width: 654px; }
.contract-explorer .sunburst-panel-col-item {
  width: 100%; }
.contract-explorer .sunburst-panel-grid {
  display: flex;
}

.contract-explorer .sunburst-panel-col .prime-badge {
  position: absolute;
  bottom: 0px;
  right: 15px;
  color: #20A4D5;

}

.contract-explorer .controls {
  margin-top: 30px;
}

.contract-explorer .App {
  margin-top: 30px;
  font-family: Source Sans Pro;
  color: black;
  font-size: 16px;
}
.contract-explorer .controls-row {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px; }
.contract-explorer .radio-button {
  display: inline-block; }
.contract-explorer .radio-button-label {
  margin: 0px 10px;;
 }
.contract-explorer .searchbar {
  width: 350px; }
.contract-explorer .react-autosuggest__container {
  position: relative;
  width: 49%;
}
.contract-explorer .react-autosuggest__input {
  padding: 10px 30px;
  font-family: Source Sans Pro;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  color: black;
  width: 112%;
  margin-right: -20px;
 }
 .contract-explorer .clear-button {
  fill: #fff;
  -webkit-appearance: none;
   border: none;
   font-weight: bolder;
   width: 43px;
   height: 35px;
   font-size: 25px;
   color: grey;
   font-family: Source Sans Pro;
   z-index: 1;
   margin-right: 30px;
 }
.contract-explorer .react-autosuggest__input--focused {
  outline: none; }
.contract-explorer .react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.contract-explorer .react-autosuggest__suggestions-container {
  display: none; }
.contract-explorer .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 47px;
  width: 600px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  text-align: left; }
.contract-explorer .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.contract-explorer .react-autosuggest__suggestion {
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  padding: 2px 20px;
  line-height: 2rem; }
.contract-explorer .react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }
.contract-explorer .react-autosuggest__suggestion-match {
  background-color: #f8ff38;
  font-weight: bold; }
.modal-body-content b {
  	font-style: bold;
  }


  @media (max-width: 1000px) {
    .contract-explorer .sunburst-panel-grid {
      flex-direction: column-reverse;
    }

    .contract-explorer .sunburst-panel-col {
      width: unset;
      padding: 25px;
      padding-top: 0;
    }

    .contract-explorer .controls {
      padding: 0 25px;
    }

    .contract-explorer .react-autosuggest__container {
      width: 90%;
    }

    .contract-explorer #sunburst-panel {
      margin-top: -80px;
    }

    .contract-explorer .subagency-card {
      margin-bottom: 15px;
      width: unset;
    }

    .contract-explorer .psc-card {
      margin-bottom: 5px;
      width: unset;
    }
  }