.contracts-over-time {
  * {
    margin: 0;
    padding: 0;
  }

  .left {
    // height: 800px;
    width: 30%;
    display: block;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
  }

  .section {
    position: relative;
  }

  .parallax-container {
    width: 70%;
    margin-left: 30%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fixed {
    position: fixed;
  //   top: 100px;
  }

  .absolute {
    position: absolute;
  }

  .post {
    bottom: 0px;
  }

  .filler-section {
    height: 1200px;
    background-color: lemonchiffon;
  }

  .scroll-breakpoint {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .scroll-triggerpoint {
    position: fixed;
    width: 100%;
    top: 0;
  }

  // #scroll-breakpoint-1 {
  //   padding-top: 100px;
  // }

  // #scroll-triggerpoint {
  //   padding-top: 300px;
  // }

  // #scroll-breakpoint-2 {
  //   padding-top: 900px;
  // }

  #counter {
    height: 20px;
    margin-bottom: -20px;
  }

  .panel-text {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    background: #fff;
    border-radius: 10px;
    line-height: 22px;
    color: #5B616B;
    padding: 30px;
 }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
  }

  line {
    // stroke: black;
    stroke-width: 1px;
  }

  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

  .grid path {
    stroke-width: 0;
  }

  .bar {
    fill: #1cb2ee;
  }

  .viz-section {
    background-color: #333333 !IMPORTANT;
  }

  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
  
  .focus, .context{
    position: relative;
    max-width: 900px;
  }

  .frame{
    max-width: 900px;
  }

  #svg-1{
    overflow: visible;
    // margin: -20px 0 -30px 0;
  }

  .xAxis{
    stroke: lightgrey;
  }

  svg {
    text {
      fill: #D0CCCC;
    }
  }

  #svg-1 > g > g.legend.legend-1 > g > text{
    cursor: pointer;
  }
}
