.dendrogram {
  & p.subheading {
		font-size: 1.75rem;
		color: #525252;
		font-style:italic;
	}
  #container{
    position:relative;
    background-color: inherit;
    font-family: inherit;
    width:99%;
  }
  #tree-container{
    position: relative;
    max-height:99%;
    max-width:99%;
    background-color: rgba(243,246,255,0);
    overflow: hidden;
    cursor: move;
  }
  .node {
    cursor: pointer;
  }
  .overlay{
    width: 100%;
    /*
    height: 100%;
    fill: none;
    */
    background-color:inherit;
    pointer-events: all;
  }
  button {
    padding: 10px 20px;
  }
  .node circle {
    fill: #F3F6FF;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  .node text {
    font-size:12px;
  }
  .link {
    fill: none;
    stroke: #848482;
    opacity: .3;
    stroke-width: 1.5px;
  }
  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }
  .ghostCircle.show{
      display:block;
  }
  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }
  #button_holder{
    position: sticky;
    height:47px;
    width:265px;
    /*margin-left: 40px;*/
    padding-bottom: 20px;
    vertical-align: middle;
  }
  .button {
     border: 1px solid #0071bc;
     background: #ffffff;
     padding: 12.5px 25px;
     border-radius: 1px;
     color: #0071bc;
     font-size: 15px;
     font-family: inherit;
     text-decoration: none;
     vertical-align: middle;
     width:180px;
     line-height: 0;
     }
  .button:hover {
     border-top-color: #0071bc;
     background: #0071bc;
     color: #ffffff;
     }
  .button:active {
     border-top-color: #0071bc;
     background: #0071bc;
     }
   #tite_text{
       width:800px;
     }
   #tite_text > p.headline{
       position: relative;
       margin-left: 40px;
       margin-top: 30px;
       font-size: 2em;
     }
   #tite_text > p.body_text{
       position: relative;
       margin-left: 40px;
       margin-top: -15px;
       font-size: 1.1em;
     }


   /* Tooltip container*/
  div.tooltip {
    	position: absolute;
   	text-align: center;
   	width: auto;
   	height: auto;
   	padding: 3px;
   	background: #6e747e;
        color: white;
   	border: 0px;
   	border-radius: 4px;
   	pointer-events: none;
   }
text.hover {
     color: #0071bc;
     font-weight: bold;
  }
}

.dendrogram-hover-name {
  border-bottom: 1px solid #898C90;
  font-size: 14px;
  color: #000;
  font-weight: bolder;
}

.dendrogram-hover-style {
  color: #000; 
  font-size: 12px; 
  font-style:italic; 
  margin: 0;
}