#chooser-wrapper {
  display: flex;
  justify-content: center;
}

.line {
  fill: none;
  /* stroke: #00c3c2; */
  stroke-width: 1.5px;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

#svg-wrapper {
  display: flex;
  margin-right: 50px;
  width: 750px;
  height: 100%;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.35;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Source Sans Pro";
  fill: #494949;
  font-size: 14px;
}

.bar-axis text {
  font-size: 36px;
}

.grid path, .tick line {
  stroke: #cfcfcf;
}

.mouse-over-data-point circle {
  fill: orange;
  stroke: white;
}

.dts-tt-container {
  display: none;
  position: absolute;
  min-width: 150px;
  width: 200px;
  padding: 10px;
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border: 1px solid #D9D9D9;
  pointer-events: none;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0px 1px 5px 0px #DDD;
  border-radius: 1px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
}

.header-subtitle {
  color: #000000;
  text-align: center;
  font-size: 36px;
}

.header-line-break {    
    border-bottom: 1px solid #c1c1c1;
    display: block;
    width: 70%;
    margin: 15px 0 5px 0;
}

.header-sub-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.header-updated-when {
  color: #9b9b9b;
  font-weight: 200;
  font-size: 16px;
}

.dts-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  letter-spacing: 1.6px;
  color: #484848;
  width: 70%;
  padding-bottom: 0;
}

.dts-brush-date-container {
  display: flex;
  font-size: 13px;
  position: relative;
  top: 35px;
  left: 75px;
}

.dts-brush-start-date-label, .dts-brush-end-date-label {
  margin-right: 3px;
  color: #777;
}

.dts-brush-date-separator {
  color: #c9c9c9;
  margin: 0 7px;
  transform: scale(1.5,1);
}

.dts-brush-date-item {
  display: flex;
}

.dts-left-column, .dts-right-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.daily-spending-container, .period-container, .frequency-container, .category-container {
  margin-bottom: 25px;
}

.daily-spending-container {
  width: 175px;
  margin-right: 50px;
}

.daily-spending-amount {
  font-size: 46px;
  line-height: 48px;
  text-align: center;
}

.daily-spending-subtext {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.6px;
  line-height: 16px;
  text-align: center;

}

.period-button-header {
  font-size: 14px;
}

.bar {
  fill: #00c3c2;
}

.bar:hover {
  fill: brown;
}

.viz-tsbfy-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 8%;
}

#viz-tsbfy-wrapper {
  width: 300px;
  height: 156px;
}

.viz-tsbfy-header {
  display: flex;
  margin: 0px 0px 20px 0px;
  justify-content: space-around;
}

.viz-tsbfy-header-text {
  font-size: 20px;
}

.viz-tsbfy-header-view-buttons {
  display: flex;
}

.viz-tsbfy-bar-view, .viz-tsbfy-table-view {
  height: 40px;
  cursor: pointer;
  margin: 0 10px;
  background-color: #fafafa;
  border-radius: 50%;
}

.period-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.period-button-container {
  display: flex;
}

.period-button-header {
  text-transform: uppercase;
}

.period-container .period-button {
  border: 1px solid #e2e2e2;
  border-right: none;
  font-size: 14px;
  padding: 0px 16px;
  cursor: pointer;
  line-height: 28px;
}

.period-button:hover {
  background-color: #EFF8F8;
  color: #55B9B8;
}

.period-button-selected {
  background-color: #EFF8F8;
  font-weight: 600;
  color: #55B9B8;
}

.period-button:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.period-button:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #e2e2e2;
}

.dts-viz-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
  padding-top: 0px;
}

.tsbfy-table {
  padding: 0.75em 0.75em;
  width: 300px;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.tsbfy-table, .tsbfy-table th, .tsbfy-table td {
  border-bottom: 1px solid #ccc;
}

.tsbfy-table th {
  padding: 0 10px;
  font-size: 16px;
}

.tsbfy-table td {
  padding: 0 5px;
  line-height: 18px;  
  font-size: 12px;
  color: #666;
}

.tsbfy-table td:last-child {
  text-align: right;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select {
  font-size: 14px;
  padding: 9px 40px 9px 30px;
  line-height: 10px;
  border: 1px solid #b5f3f3;

  border-radius: 25px;
  position: relative;
  color: #55B9B8;
  background-color: #EFF8F8;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align: center;
  text-align-last: center;
  margin: 0 auto;
  cursor: pointer;

  background-image: linear-gradient(45deg, #EFF8F8 50%, #18A3A3 50%), linear-gradient(135deg, #18A3A3 50%, transparent 50%);
  background-position: calc(100% - 21px) calc(11px),calc(100% - 14px) calc(11px),calc(100% - .5em) 0.5em;
  background-size: 7px 7px, 7px 7px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

.custom-select-start {
  background-color: #fff;
  color: #333;
}

.custom-select:focus {
  outline: none;
}

.frequency-container, .category-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frequency-container {
  margin-right: 50px;
}

.frequency-selector-label, .category-select-label {
  text-transform: uppercase;
  font-size: 14px;
}

.dts-label-brush-start, .dts-label-brush-end {
  font-size: 14px;
}

.dts-tt-category {
  text-transform: none;
  letter-spacing: 1px;
  width: 75%;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  color: #00c3c2;
}

.dts-tt-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-transform: none;
  letter-spacing: .25px;
  color: #666;
}

.dts-tt-amount {
  font-weight: 600;
  line-height: 25px;
  font-size: 18px;
}

.dts-tt-hr-separator {
  border-bottom: 1px solid #eee;
  width: 100%;
  padding-top: 7px;
  margin-bottom: 5px;
}

.dts-tt-timeframe {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  color: #bbb;
}

.dts-tt-timeframe-label {
  
}

.dts-tt-timeframe-active {
  color: #000;
}

.label-popular {
  margin-right: 5px;
}

#category-selector {
  width: 100%;
  font-size: 14px;
  line-height: 15px;
  padding: 7px 40px 6px 30px;

  /*background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), calc(100% - .5em) .5em;*/
}

#checkbox-popular {
  width: 22px;
  height: 18px;
}

.dts-footnote {
  margin-left: 100px;
  display: flex;
  visibility: hidden;
}

.dts-disclaimer {
  margin-left: 185px;
  width: 80%;
  font-size: 14px;
  letter-spacing: .25px;
  text-align: center;
  color: #999;
  margin-bottom: 25px;
}

.dts-footnote-rect {
  width: 32px;
  height: 32px;
  background-color: #deeded;
  margin-right: 10px;
}

.dts-footnote-text {
  width: 75%;
  font-size: 18px;
  letter-spacing: .75px;
}

/* Media Breakpoints */

@media (max-width: 870px) {
  .viz-tsbfy-container {
    display: none;
  }

  .dts-header {
    flex-direction: column;
  }

  #svg-wrapper, .period-container {
    margin-right: 0;
  }

  .category-container, .frequency-container {
    margin-bottom: 0px;
  }

  .dts-viz-container {
    padding: 5px;
  }

  .dts-left-column {
    flex-direction: column;
  }

  .dts-right-column {
    flex-direction: column;
  }

  .daily-spending-container {
    width: initial;
    margin-right: 0;
  }

  .frequency-container {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .daily-spending-amount {
    margin-top: 5px;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .daily-spending-container, .frequency-container {
    margin-right: 10px;
  }

  .period-container .period-button {
    font-size: 14px;
    padding: 6px 8px;
  }
}