#chooser-wrapper {
  display: flex;
  justify-content: center;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

#svg-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.35;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.mouse-over-data-point circle {
  fill: orange;
  stroke: orange;
}

.text-container {
  position: absolute;
  width: 300px;
  padding: 5px;
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border: 1px solid #D9D9D9;
  pointer-events: none;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 1px 5px 0px #DDD;
  border-radius: 1px;
  text-transform: uppercase;
}

.text-container .amount {
  font-weight: 600;
  font-size: 18px;
}

.text-container .timeframe {
  font-weight: 400;
  font-size: 12px;
}

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 15px;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 3px;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.radio-timeframe {
  display: flex;
  margin-right: 50px;
}

.label-popular {
  margin-right: 5px;
}

#item-selector {
  width: 450px;
}

#checkbox-popular {
  width: 22px;
  height: 18px;
}