// device screen min widths; needs to be moved to site-common file
$desktop-xl: 1200px;
$desktop: 992px;
$tablet: 768px;
$phone: 576px;

$page-margin: 10%;

$color-titles: #666;

.page-wrapper {
  margin-top: 10rem; // for header/banner
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// these are for when we control the whole page, after Jekyll removed
// .site-header {
//   display: flex;
//   align-items: center;
//   box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);

//   .site-banner {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

@media (min-width: $desktop) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }

  .page-margin {
    width: $page-margin;
  }

  .page-header {
    text-align: center;
  }
  
  .section {
    flex-direction: row;
    align-items: center;

    p.section-text {
      text-align: justify;
    }
  }
}
@media (max-width: $desktop - 1) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .page-margin {
    width: 0;
  }

  .page-header {
    text-align: left;
  }

  .section {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-header {

  .page-title {
    color: $color-titles;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    line-height: 20px;
  }

  .page-heading {

  }
}

.section {
  display: flex;
  justify-content: space-between;

  .section-header {

    .section-title {
    }

    p.section-text {
    }
  }
}

.chart-area {

  .chart-header {

    .chart-title {
    }
  }

  .chart-footer {
    text-align: end;
  }
}