.share-buttons {
    margin: 0 auto;
    font-size: 18px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.share-buttons ul {
    margin: 0;
    padding: 0;
}

.share-buttons ul li {
    text-align: left;
}

/* All buttons */

.share-button-text {
    margin-left: 5px;
    color: #333333;
}

.share-button {
    margin: 0px;
    display: block;
    width: 120px;
    text-align: left;
    line-height: 30px;
}

.share-icon {
    width: 20px;
    height: 20px;
    vertical-align: sub;
}

.icon-facebook {
    fill: #3b5998;	
}

.icon-twitter {
    fill: #55acee;
}

.icon-google-plus {
    fill: #dd4b39;
}

.icon-pinterest {
    fill: #cb2027;
}

.icon-tumblr {
    fill: #32506d;
}

.icon-reddit {
    fill: #ff4500;
}

.icon-linkedin {
    fill: #007bb5;
}

.icon-envelope {
    fill: #444444;
}

.tooltip-module {
    opacity: 0;
    position: absolute;
    top: 1726px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border: 1px solid rgb(191, 188, 188);
    padding: 25px !important;
    left: 486.128px;
    min-width: 325px;
    z-index: 10;

    .title {
        border-bottom:1px solid #898C90;
        font-size: 18px;
        margin:0;
        padding-bottom:15px;
        color:#555555;
    }

    .information {
        font-weight: normal;
        margin:0;
        padding:0;

        .key {
            line-height: 1;
            margin:0;
            color: #7cd6f8;
            font-size: 14px;
        }

        .val {
            margin:0;
            padding-top:"2px";
            font-size: 20px;
        }
    }
}