
.tooltip-module {
  opacity: 0;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border: 1px solid rgb(191, 188, 188);
  padding: 25px;
  left: 486.128px;
  min-width: 325px;
  z-index: 10;
  text-align: left;

  .title {
      border-bottom:1px solid #898C90;
      font-size: 18px;
      margin:0;
      padding-bottom:15px;
      color:#555555;
  }

  .information {
      font-weight: normal;
      margin:0;
      padding:0;

      .key {
          line-height: 1;
          margin:0;
          color: #7cd6f8;
          font-size: 14px;
      }

      .val {
          margin:0;
          padding-top:2px;
          font-size: 20px;
      }
  }
}