@import '../../colors';


#viz {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
}



section.category {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
    width: 400px;
    margin-bottom: 2rem;

    svg {
        float: left;
    }

    div.contents {
        margin-left: 60px;
    }

    h1 {
        font-size: 20px;
        text-align: left;
        margin: 0;
    }
}

