.detail-pane {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    min-height: 200px;
    width: 300px;
    border-radius: 5px;
    transform: translate(100px, 0)
}

.detail-pane::before {
    content: '';
    border-right: 30px solid gray;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);    
    width: 0;
    max-height: 0;
    margin-left: -30px;
    font-size: 0;
}