---
title: Federal Spending [placeholder]
description: This is the text that goes in the meta description tag
---

<h1>In 2018, the government spent $4.1 trillion.
    <button class="info-box-trigger" data-box-id="per-individual">
        <img src="../assets/icons/anecdote.svg" alt="anecdote icon">
    </button>
</h1>

<div id="copy">
    <p>Where does all the money go? The majority of government spending is concentrated on programs that ensure the health and well-being of the people of the United States. Why does the federal government do this? One reason is the Constitution! The Constitution’s preamble, which outlines the purpose of creating the new government is "to establish Justice, insure domestic Tranquility, provide for the common defense, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity."</p>
</div>

<aside>
    <section class="ticker">
        <h1>Since this page loaded, the federal government has spent <span id="ticker__number"></span>.</h1>
        <p class="footnote">based on 2018 spending figures</p>
    </section>
    <section class="top-five">
        <h1 class="top-five__heading">The Top 5 Areas of Government Spending</h1>
        <ol>
            <li>Social Security</li>
            <li>National Defense</li>
            <li>Medicare</li>
            <li>Healthcare</li>
            <li>Income Security Programs</li>
        </ol>
    </section>
    <section class="tour">
        <div class="tour__part-one">
            <h1>What are the categories of federal spending?</h1>
        </div>
        <a class="tour__link" href="#" disabled>Discover<i class="fas fa-chevron-right"></i></a>
    </section>
</aside>

<div class="viz-wrapper">
    <div id="viz"></div>

    <div class="facts facts--hidden">
        <div class="facts__inner">
            <div id="compare-options">
                <p class="facts__prompt">How does $4.1T in spending compare to</p>
                <div class="facts__triggers">
                    <button class="facts__trigger" data-trigger-id="revenue">revenue</button>
                    <button class="facts__trigger" data-trigger-id="gdp">the size of the economy</button>
                </div>
            </div>

            <section id="revenue-facts" class="facts__section">
                <h1>In Fiscal Year 2018, the revenue of the Federal Government was $x.xT.</h1>
                <p>Spending accounts for x% of total revenue.</p>

                <a href="#">Go Explore Revenue</a>
            </section>

            <section id="gdp-facts" class="facts__section">
                <h1>In Fiscal Year 2018, federal spending was equivalent to 19.9% of the total GDP, or economic activity, of the United States that year ($20.7 trillion).</h1>
                
                <p>Why do we compare federal spending to GDP? One reason is to provide a reference point for the size of the federal government, as measured by the amount it spends. The U.S. GDP is much larger than government spending, because it includes all the economic activity of the entire nation. That said, government spending equates to roughly 1 out of every 5 dollars transacted in a year.</p>

                <strong>What's GDP? 
                    <button class="info-box-trigger" data-box-id="gdp-info">
                        <img src="../assets/icons/definition.svg" alt="definition icon">
                    </button>
                </strong>
            </section>
        </div>
    </div>
</div>

<div class="info-box" id="per-individual">
    <img src="../assets/icons/anecdote.svg" alt="anecdote icon">
    <p>How much is $4.1 trillion in federal spending?  If you take the U.S. population estimate in 2017, of 325.7 million* (<a href="https://www.census.gov/quickfacts/fact/table/US/PST045217" target="_blank">U.S. Census Bureau</a>), $4.1 trillion would be equivalent to a little more than $12,500 in federal spending for every individual in the U.S.</p>
</div>

<div class="info-box" id="gdp-info">
    <img src="../assets/icons/definition.svg" alt="definition icon">
    <p><strong>Gross Domestic Product (GDP)</strong> measures the size of the nation's economy by the total value of goods and services that are produced in a year. GDP is used to compare the economies of different countries, measure growth in the economy, and determine the right monetary policies to address inflation and unemployment.</p>
</div>

<div class="info-box" id="billion-dollars">
    <img src="../assets/icons/anecdote.svg" alt="anecdote icon">
    <p>In this analysis, each dot represents $1 billion of federal spending.</p>
</div>

<script src="./assets/dotsGdp.js"></script>
