---
title: Federal Spending [placeholder]
description: This is the text that goes in the meta description tag
---

<h1>Dots</h1>

<button id="overlay-revenue">overlay revenue</button>

<div id="viz"></div>

<script src="./assets/dotsGdp.js"></script>
