@import '../../globalSass/colors';

.about-us {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-us__heading {
    @include baseHeader();
    color: $text-color-heading;
}

.about-us__logo {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.about-us__main-copy {
    font-weight: 400;
}

.about-us__source {
    font-size: 1.3em;
}

@media only screen and (min-width: 800px) {
    .about-us__heading {
        @include baseHeaderDesktop();
    }
}
