@import '../../globalSass/colors';
@import '../../globalSass/generalVars';

$bpHeaderColor: #111;

$col1: 60%;
$col2: 40%;

@mixin baseHeader() {
  font-size: 2.5rem;
  font-weight: $boldWeight;
  color: $bpHeaderColor;
}

@mixin baseHeaderDesktop() {
  font-size: 3.2rem;
}

