@import '../../colors.scss';
@import './_bpVars.scss';

section.chapter {
    max-width: 1200px;
    margin: 0 auto 2rem;
}

.chapter .anecdote {
    margin-top: 1rem;
}

.chapter__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: $text-color-paragraph;

    h1 {
        text-align: left;
        color: $text-color-heading;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    p {
        color: $text-color-paragraph;
        font-size:0.95rem;

        &.chapter__chart--reference {
            font-size: 0.8rem;
            text-align: center;
            font-style: italic;

            a {
                color: rgb(119, 171, 232);
            }
        }
    }
}

.chapter__big-number {
    display: block;
    font-size: 2.5rem;
    font-weight: $boldWeight;
}

.chapter__chart {
    display: none;
}

.chapter__chart img {
    width: 100%;
    height: auto;
}

.chapter--revenue {
    background-color: white;
}

.chapter--spending {
    background-color: white;
}

.chapter--deficit {
    background-color: white;
}

.chapter--debt {
    background-color: white;
}

.chapter__divider--normal {
    border-bottom: 1px solid #CCC;
    max-width:1400px;
    margin:0 auto;
}

.chapter__divider--median-treasury-logo {
    background: url(./bp/treasury-background-second.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    padding: 1rem;
    background-color: #FFF;

    .chapter__divider--arrow-container {
        text-align: center;
        margin-top: 1rem;

        a {
            color:$text-color-paragraph;
        }
        i {
            text-align: center;
            font-size: 2em;
        }
    }
}

.chapter__divider--text {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #222222;
    background: #fff;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1rem;

    strong, span {
        font-weight:900;
    }
}

.chapter__divider--text-deficit {
    color:$deficitPrimary;
}

.chapter__divider--text-debt {
    color:$debtPrimary;
}

.chapter__primary {
   h1 {
       font-weight:600;
   }
   span.chapter__big-number {
       font-weight:900;
       display:block;
   }
}

@media only screen and (min-width: 800px) {
    .chapter__content {
        h1 {
            font-size: 1.8rem;
        }
    }
    
    .chapter__flex {
        display: flex;
    }
    
    .chapter__chart {
        display: block;
        width: 50%;
    }

    .chapter__primary {
        padding-right: 7rem;
        width: 50%;
    }

    .chapter__big-number {
        font-size: 3rem;
    }

    .chapter__divider--text {
        font-size: 3rem;
    }

    .chapter__divider--median-treasury-logo {
        padding: 4rem 2rem 2rem;
    }
}

#revenue-chapter {
    a.scroll-to.current, button.anecdote__link--button, .chapter__big-number {
        color: $color-primary-darkest;
    }
    a.link-button {
        background-color: $color-primary-darkest;
    }
    .anecdote__link--button-icon, .anecdote__icon {
        background-image: url('../assets/icons/anecdote-revenue.svg');
    }
}

#spending-chapter {
    a.scroll-to.current, button.anecdote__link--button, .chapter__big-number {
        color: $color-spending-primary;
    }
    a.link-button {
        background-color: $color-spending-primary;
    }
    .anecdote__link--button-icon, .anecdote__icon {
        background-image: url('../assets/icons/anecdote-spending.svg');
    }
}

#debt-chapter {
    a.scroll-to.current, button.anecdote__link--button, .chapter__big-number {
        color: $color-debt-primary;
    }
    a.link-button {
        background-color: $color-debt-primary;
    }
    .anecdote__link--button-icon, .anecdote__icon {
        background-image: url('../assets/icons/anecdote-debt.svg');
    }
}

#deficit-chapter {
    a.scroll-to.current, button.anecdote__link--button, .chapter__big-number {
        color: $color-deficit-primary;
    }
    a.link-button {
        background-color: $color-deficit-primary;
    }
    .anecdote__link--button-icon, .anecdote__icon {
        background-image: url('../assets/icons/anecdote-deficit.svg');
    }
}
