@import '../../colors.scss';
@import './_bpVars.scss';

$headerBg: rgba(255,255,255,0.5);

.cg-content header {
    background: #FBFBFB;
    padding: 0.5rem 0;
    box-shadow: inset 0 40px 40px -20px rgba(0,0,0,0.15), 0 0 40px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

.bp-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align:center;
}

.bp-header__app-name {
    color: #3C3C3C;
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 2.1px;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 1px;
}

.bp-header__heading {
    color:#111;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Merriweather;
}

.bp-scroll-down__div {
    a {
        color:$text-color-paragraph;
    }
    i {
        font-size: 2em;
    }
}

.bp-header__collect--text {
    color: $revenuePrimary;
    font-weight:900;
}

.bp-header__spend--text {
    color: $collectHeaderTextColor;
    font-weight:900;
}

.overview-chart {
    order: 1;
}

.bp-header__text {
    color: #AAA;
}

a.bp-header__click-here--link {
    color: rgb(163, 199, 240);
    font-weight: 400;
}

@media only screen and (min-width: 800px) {
    .bp-header__heading {
        font-size: 3.51rem;
    }

    .bp-header {
        padding-top: 2rem;
    }

    .bp-header__text {
        padding-bottom: 3rem;
        font-size: 1.02rem;
    }
}