@import '../../colors.scss';
@import './_bpVars.scss';

$headerBg: rgba(255,255,255,0.5);

header {
    background: #FBFBFB;
    padding: 0.5rem 0;
    box-shadow: inset 0 40px 40px -20px rgba(0,0,0,0.15), 0 0 40px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

.bp-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
}

.bp-header__app-name {
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    word-spacing: 0.2em;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.bp-header__heading {
    color:#111;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;    
}

.bp-scroll-down__div {
    a {
        color:$text-color-paragraph;
    }
    i {
        font-size: 2em;
    }
}

.bp-header__collect--text {
    color: $revenuePrimary;
    font-weight:900;
}

.bp-header__spend--text {
    color: $collectHeaderTextColor;
    font-weight:900;
}

.overview-chart {
    order: 1;
}

a.bp-header__click-here--link {
    color: rgb(119, 171, 232);
}

@media only screen and (min-width: 800px) {
    .bp-header__heading {
        font-size: 3.3rem;
    }

    .bp-header {
        padding-top: 3.5rem;
    }

    .bp-header__text {
        padding-bottom: 3rem;
        font-size: 1.1rem;
    }
}