a.link-button, button.link-button, div.link-button {
    background: none;
    text-decoration: none;
    display: inline-block;

    .link-button__text--block {
        display:inline-block;
        flex:4;

        .link-button__text--top {
            font-size:14px;
            font-weight:500;
        }
    }
    .link-button__icon--block {
        flex:1;
        text-align:right;
    }
}

button.link-button, div.link-button {
    font-size: 18px;
    font-weight:600;
}

a.chapter__cta {
    color:white;
    font-weight:600;
    padding:1rem 1.3rem;
    font-size:21px;
    width:12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.chapter__cta i.fa-angle-right {
    margin-left: 1rem;
}