@import '../../colors.scss';

.toc {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        color: $text-color-paragraph;
    }

    a.current {
        font-weight: $boldWeight;
    }
}