@import '../../colors.scss';

.toc {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        color: $text-color-paragraph;
        font-size:0.85rem;
        font-weight:600;
        font-family:SourceSansPro;
    }

    a.current {
        font-weight: $boldWeight;
    }
    strong {
        font-weight:900;
    }
}