@import '../../globalSass/generalVars';
@import 'bpVars';
@import 'overviewChart';
@import 'toc';
@import 'chapter';
@import 'link-button';
@import 'header';

html {
    font-weight: $normalWeight;
}

.bp-scroll-down {
    display: block;
    margin: 0 auto;
    transform: translateY(84px);
}

.historical-quote {
    padding: 3rem 1rem;
    background-color:#F9F9F9;
    border-top:1px solid #EEE;

    blockquote {
        font-size: 2.7rem;
        max-width: 1330px;
        margin: 1rem auto 2rem;
    }

    .historical-quote__image {
        display: block;
        margin: 0 auto;
    }

    p {
        text-align: center;
        margin-top: 0;
        font-size: 1.7rem;
    }

    p.historical-quote__credit {
        text-align: center;
        font-size: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
        font-weight: $heavyBoldWeight;

        span.historical-quote__credit-normal {
            font-weight:normal;
        }
    }
}

section.chapter--revenue {
    background-image: linear-gradient(rgb(241,241,241), white, white, white, white, white, white, white);
}

@media only screen and (min-width: 800px) {
    .bp-break-desktop {
        display: block;
    }
}