@import '../../globalSass/generalVars';
@import 'bpVars';
@import 'overviewChart';
@import 'toc';

header {
    background: #f6f6f6;
    padding: 3rem 0;
}

.bp-header {
    max-width: 1200px;
    margin: 0 auto;
}

.bp-header__text {
    background: rgba(255,255,255,0.5)
}

.bp-header__heading {
    text-align: left;
} 

.chapter {
    .chapter__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 0;
        color: white;

        p {
            color: white;
        }
    }
}

.chapter--revenue {
    background-color: $revenuePrimary;
}

.chapter--spending {
    background-color: $spendingPrimary;
}

.chapter--deficit {
    background-color: $deficitPrimary;
}

.chapter--debt {
    background-color: $debtPrimary;
}

@media only screen and (min-width: 800px) {
    .bp-header {
        display: flex;
        align-items: center;
    }

    .bp-header__text {
        width: 60%;
    }
    
    .overview-chart {
        width: 40%;
    }
}