@import '../../globalSass/generalVars';
@import 'bpVars';
@import 'overviewChart';
@import 'toc';
@import 'chapter';
@import 'link-button';
@import 'header';

html {
    font-weight: $normalWeight;
}

.bp-scroll-down {
    display: block;
    margin: 0 auto;
    transform: translateY(84px);
}

.historical-quote {
    margin: 3rem 1rem;

    blockquote {
        font-size: 1.8rem;
        max-width: 900px;
        margin: 3rem auto 2rem;
    }

    .historical-quote__image {
        display: block;
        margin: 0 auto;
    }

    .historical-quote__credit {
        text-align: center;
        font-size: 1.4rem;
        font-weight: $boldWeight;
        margin-top: 0.5rem;
    }
}

header.bp__header-block, section.chapter--revenue {
    background-image: linear-gradient(rgb(241,241,241), white, white, white, white, white, white, white);
}