@import '../colors';

// spending
.spending-intro {
    .facts__trigger {
        border: 1px solid $color-spending-primary;
    }

    .facts__trigger.facts__trigger--active {
        background: $color-spending-primary;
    }
}

// deficit
.deficit-intro {
    .facts__trigger {
        border: 1px solid $color-deficit-primary;
    }

    .facts__trigger.facts__trigger--active {
        background: $color-deficit-primary;
    }
}

// debt
.debt-intro {
    .facts__trigger {
        border: 1px solid $color-debt-primary;
    }

    .facts__trigger.facts__trigger--active {
        background: $color-debt-primary;
    }
}

@media only screen and (min-width: 960px) {
    .spending-intro .facts__inner {
        border-left: 3px solid $color-spending-primary;
    }

    .deficit-intro .facts__inner {
        border-left: 3px solid $color-deficit-primary;
    }

    .debt-intro .facts__inner {
        border-left: 3px solid $color-debt-primary;
    }
}
