.intro-math {
    transition: opacity 1s ease;
    text-align: center;
    order: 3;
}

.intro-math--hidden {
    opacity: 0;
}

.intro-math__icon {
    transform: rotate(180deg);
    margin-right: 0.75rem;
}