@import '../globalSass/generalVars';

.anecdote {
    position:relative;
    width:340px;
    max-width:100%;
    h1.anecdote__heading {
        font-size: 1rem;
        font-weight: $boldWeight;
        margin-top:0;
        text-align:center;
    }

    .anecdote__dots--container {
        margin-bottom:10px;
    }

    .anecdote__dots, .anecdote__dots--text {
        display:flex;
        justify-content: center;
    }

    .anecdote__dots--text {
        color: #B2C6D8;
        font-size:11px;
    }

    .anecdote__dot {
        height: 8px;
        width: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: #B2C6D8;
        margin: 4px;
        cursor: pointer;

        &.anecdote__dot--active {
            background: #205493;
        }
    }

    .anecdote__panes {
        position: relative;
        overflow:auto;
        margin: 0 2rem;
        cursor:pointer;
    }

    .anecdote__pane {
        user-select:none;
        position:absolute;
        transition: opacity 0.5s ease;
        color:black;
        opacity:0;

        &.anecdote__pane--active {
            opacity: 1;
        }

        p {
            color:black;
        }
    }

    .anecdote__contents {
        display:none;
        position:absolute;
        background:rgba(255,255,255,0.95);
        color:black;
        top:0;
        padding:0.85rem 1.3rem;
        border-radius:4px;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
        border:1px solid #E3E3E3;
        box-shadow: 0 0 20px 10px #F3F3F3;
        /*
         * The following is to offset the anecdote so that the display of the icons overlay on top of each other.
         */
        margin-left: -22px;
        margin-top: -3px;
    }

    .anecdote__contents.anecdote__contents--active {
        display:block;
    }

    .anecdote__close {
        float: right;
        background:none;
        border: none;
    }

    .anecdote__link--button-container {
        padding-top: 5px;
        margin-bottom:1.5rem;
    }

    .anecdote__link--button-icon, .anecdote__icon {
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        display:inline-block;
    }

    .anecdote__link--button-icon {
        margin-bottom:-4px;
    }

    .anecdote__icon {
        margin-bottom:-4px;
        margin-left:0.5px;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        .anecdote__icon {
            margin-left:0;
        }
    }

    .anecdote__illustration {
        width: 100%;
        height: auto;
    }

    .anecdote__cta--container {
        display:flex;
        justify-content:center;
    }

/**
 * The following is "throw away" css, as this should be handled by the originator, and not the anecdote module.
 */
    a.anecdote__cta {
        color:white;
        font-weight:bold;
    }
    a.anecdote__cta {
        border-color:black;
    }
}