@import '../globalSass/generalVars';

.anecdote {
    position:relative;
    .anecdote__heading {
        font-size: 1rem;
        font-weight: $boldWeight;
    }

    .anecdote__dots--container {
        margin-bottom:10px;
    }

    .anecdote__dots, .anecdote__dots--text {
        display:flex;
        justify-content: center;
    }

    .anecdote__dots--text {
        color: #B2C6D8;
        font-size:11px;
    }

    .anecdote__dot {
        height: 8px;
        width: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: #B2C6D8;
        margin: 4px;
        cursor: pointer;

        &.anecdote__dot--active {
            background: #205493;
        }
    }

    .anecdote__panes {
        position: relative;
        overflow:auto;
    }

    .anecdote__pane {
        opacity: 0;
        position:absolute;
        transition: opacity 0.5s ease;
        color:black;
        background:white;

        &.anecdote__pane--active {
            opacity: 1;
        }

        p {
            color:black;
        }
    }

    .anecdote__contents {
        display:none;
        position:absolute;
        background:white;
        color:black;
        top:0;
        padding:15px;
    }

    .anecdote__contents.anecdote__content--active {
        display:block;
    }

/**
 * The following is "throw away" css, as this should be handled by the originator, and not the anecdote module.
 */
    .anecdote__icon {
        height:20px;
        width:20px;
    }
    h1.anecdote__heading, a.anecdote__cta {
        color:black;
    }
    a.anecdote__cta {
        border-color:black;
    }
}