---
title: Federal Spending Country Comparison
date: 2018-06-29 15:54:40
permalink: /spending/country-comparison.html
description: This is the text that goes in the meta description tag
chapter: spending
---

<h1>Spending</h1>

<h2 class="chart-title">Country Comparison</h2>
<div class="hint">Click <span class="sort-button-placeholder"></span> to sort columns.</div>

<div id="viz"></div>

<div class="footnote">
All data is representative of FY 2017. Data provided by
</div>

<script src="./assets/countryComparison.js"></script>
