@import '../../globalSass/generalVars';

@keyframes card {
    0% {transform: scaleX(1)}
    50% {transform: scaleX(0)}
    100% {transform: scaleX(1)}
}

@keyframes card-flipped {
    0% {transform: scaleX(1)}
    50% {transform: scaleX(0)}
    100% {transform: scaleX(1)}
}

.card {
    position: relative;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    animation-name: card;
    animation-duration: 1s;
    animation-timing-function: ease;
    box-shadow: 0 0 30px rgba(214, 165, 165, 0.2);

    ul {
        list-style-type: disc;
    }
}

.card__image {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.card__heading {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    font-weight: $boldWeight;
}

.card__contents {
    visibility: hidden;
    transition-property: visibility;
    transition-delay: 0.25s;
}

.card__cover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    visibility: visible;
    transition-property: visibility;
    transition-delay: 0.25s;
}

.card.card--flipped {
    animation-name: card-flipped;

    .card__cover {
        visibility: hidden;
    }

    .card__contents {
        visibility: visible;
    }
}

@media only screen and (min-width: 660px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-between;
    }
    
    .card {
        width: 49%;
    }

    .tour {
        margin: 0 4rem;
    }
}

@media only screen and (min-width: 990px) {
    .card {
        width: 32%;
        transition: width 0.5s ease;
    }

    .tour {
        width: 300px;
        float: right;
        margin: 0;
    }

    .cards--flipped {
        .card {
            width: 24%;
        }

        .card.card--flipped {
            width: 49%;
        }
    }
}
