@import './countryComparison.scss';
$primaryColor: #4A90E2;


.select-country {
    position: relative;
    transform: translate(0,39px);
    margin-left: calc((1200px - #{cgChartWidth})/2);
}

.trigger-button {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    width: 210px;
    text-align: left;
    transition: background-color 0.2s ease-in;

    svg {
        float: right;
    }

    &:hover {
        background-color: darken($primaryColor, 10);
    }
}

.list-div {
    width: 300px;
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
    display: none; 
    position: absolute;
    top: 40px;
    box-shadow: 0 0 10px rgba(0,0,10,0.2);

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        background-color: $primaryColor;
        display: inline-block;
        margin: 3px 3px 3px 0;
        padding: 2px 1rem;
        color: white;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
            background-color: darken($primaryColor, 10);
        }

        svg {
            margin-left: 1em;
        }
    }
}

.select-country.active .list-div {
    display: block;
}

.available {
    padding: 0.2rem;
    cursor: pointer;
    overflow: auto;

    .add-button {
        float: right;
        background-color: $primaryColor;
        padding: 2px 1rem;
        color: white;
        border: 1px solid $primaryColor;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 0.2 ease-in;
    }

    &:hover {
        background-color: #f4f4f4;
    }

    &:hover .add-button {
        opacity: 1;
    }
}

.see-more {
    color: #aaa;
    font-style: italic;
}

.search-wrapper {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0;

    svg {
        float: right;
        margin: 5px;
    }

    input {
        box-sizing: border-box;
        width: 85%;
        border: none;
        padding: 5px;
    }
}