header {
    max-width: 1200px;
    margin: 0 auto;
}

.lead-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .lead {
        max-width: 66%;
        padding-right: 2rem;
        margin-top: 0;
        text-align: center;
    }

    .fact-box {
        max-width: 34%;
        margin-top: 1rem;
    }
}

.lead-wrapper.tour-active .lead {
    text-align: left;
}