@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600);@import url(https://fonts.googleapis.com/css?family=Merriweather);.tour, .info-box {
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(80, 80, 80, 0.15);
  padding: 1rem; }

.tour, .info-box {
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(80, 80, 80, 0.15);
  padding: 1rem; }

h1 {
  margin-top: 3rem;
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  color: #555; }

h2 {
  font-weight: 300;
  text-align: left;
  margin-bottom: 0;
  color: #555; }

.tour {
  margin-bottom: 1rem; }
  .tour h1, .tour h1.tour__heading {
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    text-align: left; }
  .tour .tour__link {
    line-height: 3;
    border: none;
    padding: 0 2rem;
    color: white !important;
    transition: background 0.2s ease;
    display: inline-block;
    text-decoration: none;
    background: #C2185B; }
    .tour .tour__link:hover {
      background: #d91b66; }
  .tour .tour__link.tour__link--disabled {
    cursor: default;
    color: #ccc;
    opacity: 0.5;
    background: #ac2e60; }
    .tour .tour__link.tour__link--disabled:hover {
      text-decoration: none; }
  .tour i {
    font-size: 12px;
    margin-left: 0.75rem; }
  .tour .tour__part-two {
    display: none; }
  .tour .tour__part-two.active {
    display: block; }

@media only screen and (min-width: 660px) {
  .copy-tour-row {
    display: flex; }
  .copy-tour-row__tour {
    margin-left: 1rem;
    width: 34%; }
  .copy-tour-row__copy {
    width: 66%;
    margin: 0; } }

.info-box-trigger {
  font-size: 16px;
  color: #205493;
  cursor: pointer;
  border: none;
  background-color: white;
  transform: translateY(-3px); }

h1 .info-box-trigger {
  transform: none;
  vertical-align: super;
  padding-left: 0; }

.info-box-trigger.info-box-trigger--active {
  opacity: 0; }

.info-box {
  background: rgba(255, 255, 255, 0.95);
  max-width: 300px;
  display: none; }

.info-box-trigger img, .info-box img {
  height: 16px; }

.info-box.info-box--active {
  display: block;
  position: absolute; }

.info-box__close {
  float: right;
  background: white;
  border: none; }

.hwcta {
  max-width: 900px;
  margin: 1rem auto;
  transition: opacity 1s ease; }
  .hwcta ul {
    list-style-type: disc; }

.hwcta__heading {
  padding: 20px;
  font-size: 24px;
  text-align: left;
  border: 1px solid #eee;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between; }

.hwcta__copy {
  padding: 20px;
  border: 1px solid transparent;
  border-top: none;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.5s ease;
  opacity: 0; }

.hwcta__toggle {
  font-size: 16px;
  background: transparent;
  border: none;
  float: right;
  width: 26px; }

.hwcta__plus {
  display: block; }

.hwcta__minus {
  display: none; }

.hwcta--staged {
  opacity: 0; }

.hwcta--open .hwcta__copy {
  line-height: 1.2;
  padding-top: 20px;
  padding-bottom: 20px;
  border-color: #eee;
  opacity: 1; }

.hwcta--open .hwcta__plus {
  display: none; }

.hwcta--open .hwcta__minus {
  display: block; }

.link-button {
  border: none;
  background: none;
  text-decoration: underline;
  color: blue;
  font-size: 16px; }

.ffg-share {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem; }
  .ffg-share.ffg-share--big-picture {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 1rem; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #666; }
  body .cg-content {
    letter-spacing: normal;
    line-height: normal;
    font-weight: 300;
    font-size: 16px; }
    body .cg-content p {
      margin-bottom: 1rem; }

.ffg-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

a, a:visited {
  color: #205493;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }

p {
  color: #666666; }

blockquote {
  font-size: 1.2rem;
  text-align: center;
  font-style: italic; }

.hint {
  font-size: 0.8rem;
  color: #aaa; }

.strong, strong {
  font-weight: 600; }

.pointer {
  cursor: pointer; }

.chart-title {
  font-weight: 600; }

#lead-in {
  text-align: center;
  max-width: 800px;
  margin: 1rem auto; }

#viz {
  width: 1200px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 2rem auto 1rem; }
  #viz svg {
    letter-spacing: normal; }

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important; }

.temporary-hide {
  opacity: 0;
  transition: opacity 1s ease;
  max-height: 10px;
  overflow: hidden; }
  .temporary-hide.temporary-hide--show {
    opacity: 1;
    max-height: none; }

.footnote {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 3rem;
  font-size: 12px;
  font-style: italic;
  color: #666666; }

.tighter-text {
  margin: 0 1rem; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

@media only screen and (min-width: 900px) {
  .tighter-text {
    max-width: 900px;
    margin: 0 auto; } }

@media only screen and (min-width: 1200px) {
  h2, .hint {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; } }
