.accordion {
  margin: 0 0 1rem 0;
  transition: opacity 1s ease; }
  .accordion ul {
    list-style-type: disc; }

.accordion__heading {
  padding: 20px;
  font-size: 18px;
  text-align: left;
  border: 1px solid #eee;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between; }

.cg-content .accordion__content {
  padding: 20px;
  border: 1px solid transparent;
  border-top: none;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.5s ease;
  opacity: 0; }
  .cg-content .accordion__content p {
    margin-bottom: 0;
    margin-top: 0;
    transition: margin 0.5s ease; }

.accordion__toggle {
  font-size: 16px;
  background: transparent;
  border: none;
  float: right;
  width: 26px; }

.accordion__plus {
  display: block; }

.accordion__minus {
  display: none; }

.accordion--open .accordion__content {
  line-height: 1.2;
  padding-top: 20px;
  padding-bottom: 20px;
  border-color: #eee;
  opacity: 1; }
  .accordion--open .accordion__content p:not(:first-child) {
    margin-top: 1rem; }

.accordion--open .accordion__plus {
  display: none; }

.accordion--open .accordion__minus {
  display: block; }

#viz {
  margin-top: 0; }

.category-bar-legend {
  display: inline-block;
  width: 1.5rem;
  height: 0.75rem;
  background: #205493;
  margin-left: 0.3rem;
  margin-right: 0.3rem; }

@media only screen and (min-width: 1200px) {
  #viz-wrapper {
    width: 100%;
    margin: 0;
    padding-left: 0;
    float: none; }
    #viz-wrapper hr {
      border: none;
      height: 0; }
  #viz-chart-container {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0; }
  #bar-controls {
    display: none; }
  #show-more-container {
    display: none; }
  .poc-content {
    margin: 0 auto;
    display: flex;
    padding-right: 0; }
  .tour {
    margin: 0 0 0 1rem; } }

@media only screen and (max-width: 1200px) {
  .copy-tour-row__copy, .copy-tour-row__tour {
    width: 100%;
    margin-left: 0; }
  .chart-title {
    display: none; }
  .hint {
    display: none; }
  #bar-controls button.active {
    color: #205493; }
  .chart__show-more {
    color: #205493; } }

.hidden {
  display: none; }
