.hidden {
  display: none; }

.link-button__div {
  display: inline-block;
  border-bottom: 2px solid #00766c;
  cursor: pointer; }
  .link-button__div .link-button {
    border: none;
    background: none;
    text-decoration: none;
    font-size: 0.9em;
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 600;
    color: #666666; }
  .link-button__div .link-button__icon {
    padding-left: 30px; }

#activate-show-hide {
  background-color: #00796B;
  color: white;
  border: 1px solid #00796B;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  outline: none;
  margin-top: 1rem; }
  #activate-show-hide:hover {
    background: #00a99b;
    transition: background-color 0.3s ease; }
  #activate-show-hide i {
    margin-left: 5rem; }

.hint {
  margin-top: 0.5rem;
  font-size: 1rem; }

.footnote {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

#show-hide {
  position: relative; }

#show-hide-tray {
  position: absolute;
  margin-top: 10px;
  width: 450px;
  max-width: 100%;
  box-sizing: border-box;
  left: 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: none;
  z-index: 1; }
  #show-hide-tray.active {
    display: block; }

.show-hide__buttons {
  display: flex;
  justify-content: space-between; }
  .show-hide__buttons button {
    background: white;
    border: none;
    color: #666666;
    outline: none;
    padding: 0.4rem 1rem; }
    .show-hide__buttons button:hover {
      background: #e6e6e6;
      transition: background-color 0.3s ease; }

#save-filters-button {
  background-color: #00796B;
  color: white;
  padding: 0.4rem 1.5rem;
  border-radius: 4px; }
  #save-filters-button:hover {
    background: #00ac98;
    transition: background-color 0.3s ease; }

#show-hide-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 0.7rem; }
  #show-hide-list button {
    outline: none;
    width: 100%;
    margin-bottom: 0.12rem;
    min-height: 20px;
    border: none;
    background: white;
    text-align: left;
    padding: 0.4rem 0.5rem;
    color: #666666; }
    #show-hide-list button:hover {
      background: #e6e6e6;
      transition: background-color 0.3s ease; }
  #show-hide-list button.active {
    background-color: #00796B;
    color: white; }
    #show-hide-list button.active:hover {
      background: #00ac98;
      transition: background-color 0.3s ease; }

.trend-mobile {
  margin-top: 1rem;
  background: white; }

.trend-mobile--detail {
  padding-left: 1rem; }

.trend-row {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd; }

.trend-row__heading {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #555555; }

.trend-mobile__year {
  font-size: 1rem;
  color: #b0b2b7;
  font-weight: 400; }

.trend-mobile__amount {
  font-weight: 600;
  font-size: 1rem;
  color: #0A2F5A;
  padding: 0 0.25rem; }

.trend-row__summary {
  padding: 0.25rem 0; }

.trend-row__summary-icon {
  display: inline-block;
  margin: 0 0.25rem 0 0.75rem; }

.trend-row__summary-change {
  float: right;
  font-weight: 500; }

.trend-row__buttons {
  display: flex;
  justify-content: space-between; }

.trend-row-button {
  padding: 2px 0.75rem;
  border-radius: 5px;
  border: none;
  background: none;
  font-size: 0.9rem;
  cursor: pointer; }
  .trend-row-button i {
    margin-left: 0.5rem; }

.chart-row {
  display: flex;
  margin-top: 0rem;
  margin-bottom: 1rem;
  transform: scaleY(0);
  height: 0;
  transition: transform 0.5s ease, margin-top 0.5s ease; }

.chart-row.chart-row--active {
  height: auto;
  margin-top: 1rem;
  transform: scaleY(1); }

.chart-row__data {
  box-sizing: border-box;
  width: 35%; }

body p.chart-row__data-line {
  margin-top: 0;
  margin-bottom: 0; }

.chart-row__chart {
  box-sizing: border-box;
  width: 65%; }

.trend-row__detail {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box; }
  .trend-row__detail svg {
    transform: scaleX(0.85); }

.trend-row.trend-row--detail-active .trend-row__detail {
  margin-top: 1rem;
  border-left-width: 0.5rem;
  border-left-style: solid; }

.trend-row__detail-toggle {
  display: none; }

.chart-row--active ~ .trend-row__buttons .trend-row__detail-toggle {
  display: inline-block; }

.revenue .trend-row-button {
  background: #0A2F5A;
  color: white;
  border: 1px solid #0A2F5A; }

.revenue .trend-mobile--detail .trend-row-button {
  background: #0f4788;
  color: white; }

.revenue .trend-row__detail {
  border-color: #0A2F5A; }

.revenue .trend-mobile__amount {
  color: #0A2F5A; }

.revenue .chart-row--active ~ .trend-row__buttons .trend-row__chart-toggle.trend-row-button {
  color: #0A2F5A;
  background: white; }

.spending .trend-row-button {
  background: #00796B;
  color: white;
  border: 1px solid #00796B; }

.spending .trend-mobile--detail .trend-row-button {
  background: #00ac98;
  color: white; }

.spending .trend-row__detail {
  border-color: #00796B; }

.spending .trend-mobile__amount {
  color: #00796B; }

.spending .chart-row--active ~ .trend-row__buttons .trend-row__chart-toggle.trend-row-button {
  color: #00796B;
  background: white; }

#viz {
  overflow-x: hidden;
  margin-top: -1rem; }

.trend-chart {
  max-width: 800px;
  margin: 0 auto;
  clear: both; }

.trend-copy p:first-of-type {
  margin-top: 0; }

.trend-copy__text {
  padding-right: 2rem;
  box-sizing: border-box; }

.tour {
  clear: both;
  max-width: 400px; }

.show-hide__buttons--right {
  text-align: right; }

@media only screen and (min-width: 830px) {
  .trend-flex {
    display: flex; }
  .trend-copy {
    width: 32%;
    padding-right: 2rem;
    box-sizing: border-box; }
    .trend-copy p:first-child {
      margin-top: 0; }
  .trend-chart {
    width: 68%;
    box-sizing: border-box; }
  #viz {
    margin-top: -1rem; }
  .chart-title {
    margin-top: 0; } }
