---
title: Federal Deficit Country Comparison
date: 2018-12-27 09:40:00
description: This is the text that goes in the meta description tag
permalink: /deficit/
chapter: deficit
---
<h1>Compare the Federal Deficit of the United States to other Countries</h1>