--- 
layout: ffg
title: Data Lab - title – U.S. Treasury
excerpt: excerpt
header: header
description: description
permalink: /federal-finance-guide/debt/analysis
ffg: true
ffgNav: true
ffgPageCss: css/debt-analysis.css
---

{% include ffg/nav/debt.html %}

<div class="ffg-wrapper">
    <h1>Breakdown of the Federal Government's Debt</h1>

    <p class="debt-analysis-intro">Similar to people with a credit card, mortgage, or car loan, the federal debt consists of different parts. See some of the characteristics of the federal debt and how they have changed over time.</p>

    <div class="cards">
        <section class="card">
            <div class="card__contents">
                <h1 class="card__heading">How much does it cost to maintain the federal debt?</h1>
                <img src="/assets/ffg/debt/analysis/debt-to-interest-expense.png" title="Federal debt compared to interest expense" desc="Line graphs representing the comparison to of total debt (scale used as tens of trillions) to interest expense (scale used as hundreds of billions) over the last 10 years." class="card__image">
                Interest expense is what the government pays to investors who loan money to the government. How much the government pays in interest depends on: 
                <ul>
                    <li>the total federal debt and</li>
                    <li>the interest rate investors charge when they loan money to the federal government.</li>
                </ul>
                Although the total federal debt of the U.S. has increased every year over the past ten years, interest expense has remained fairly stable.
            </div>
        </section>
        
        <section class="card">
            <div class="card__contents">
                <h1 class="card__heading">How have interest rates on the federal debt changed?</h1>
                <img src="/assets/ffg/debt/analysis/debt-to-interest-rate.png" title="Federal debt compared to interest rates." desc="Line graphs representing the comparison to of total debt (scale used as tens of trillions) to interest rates (scale used as hundreds of billions) over the last 10 years." class="card__image">
                Interest rates have steadily fallen over the past ten years. Low interest rates are the reason for the interest expense the federal government pays on its debt remaining stable, even as the federal debt has increased.
            </div>
        </section>
        
        <section class="card">
            <div class="card__contents">
                <h1 class="card__heading">Is there more information about who owns the debt?</h1>
                <img src="/assets/ffg/debt/analysis/us-debt-top-investors.png" title="Top 10 Investors in US Debt" desc="US Investors own the largest amount of federal debt with $7 trillion. In places 5 and 6 are China and Japan (respectively) at $1.2 trillion and $1 trillion. At the bottom of the list (10th place) is Medicare at $0.3 trillion. For the additional owners of US debt (from top to bottom) is other foreign investors at $4 trillion, social security with $2.9 trillion, federal reserve with $2.3 trillion, Department of Defense with $1 trillion, Civil Service Ret and Dis Fund with $0.9 trillion and other intragovernmental holdings with $0.9 trillion" class="card__image card__image--width-contstrain">
                The Department of the Treasury and Federal Reserve Board report monthly on investors in the federal government's debt. Below is a breakdown of the major investors in federal debt based on that report for 2018.
            </div>
        </section>
    </div>
        
    <section class="tour">
        <div class="tour__part-one">
            <h1>How does the federal debt of the United States compare to other countries?</h1>
            <p>When you are done here, see how the U.S. federal debt compares to other countries.</p>
        </div>
        <a class="tour__link" href="./country-comparison.html">Continue<i class="fas fa-chevron-right"></i></a>
    </section>

    <div class="clearfix"></div>

    <section class="hwcta">
        <p>This analysis was conducted using the {% include ffg/data-sources/mspd_homepage.html %} as the data source for federal debt of the United States, the {% include ffg/data-sources/mts_homepage.html %} for interest expense, and {% include ffg/data-sources/treasury_direct_int_rates.html %} for interest rates on federal debt. Holders of United States Treasury securities were identified using three sources: MSPD which contains detailed information on trust funds that own Treasury securities, the {% include ffg/data-sources/tic_foreign_holders.html %} System which identifies foreign holders of U.S. federal debt, and the {% include ffg/data-sources/soma_domestic_securities.html %} Holdings of Domestic Securities which reports Federal Reserve holdings of Treasury securities.</p>
    </section>
</div>

<script src="/assets/ffg/accordion.js"></script>

<script src="/assets/ffg/debt/analysis.js"></script>
