---
layout: ffg
title: Data Lab - Explore Federal Debt – U.S. Treasury
excerpt: How did we end up with $22.7 trillion in federal debt? When the U.S. government has a deficit, most of the deficit spending is covered by the government taking on new debt. It is similar to people using their credit card for a purchase rather than cash, check, or a debit card. Over the years, if the federal government experiences more deficits than surpluses, the federal debt grows.
description: By the end of 2019, the government had $22.7 trillion in federal debt.
keywords:  debt, national debt, federal debt, U.S. debt, deficit vs. debt, deficit, national deficit, interest, surplus, spending exceeds income, spending exceeds revenue, federal deficit, total debt, federal government’s debt, monthly statement of the public debt, MSPD
permalink: /americas-finance-guide/debt/index.html
ffg: true
ffgNav: true
ffgPageCss: css/chapterIntroCommon.css
socialMediaImage: social-media-share-debt.jpg
socialMediaText: "Do you know what the federal debt was as of last year? How does the debt relate to the deficit? Check our Your Guide to America’s Finances for visualizations, then download .CSV files of the data to perform your own analysis. #YourGuide #DataLab #OpenGov"
---

{% include ffg/nav/debt.html %}

<div class="ffg-wrapper debt-intro">
    <div class="ffg-share">{% include new-share-menu.html %}</div>

    <h1>By the end of {{site.data.object_mapping.current_fy.value}}, the federal government had {{site.data.object_mapping.current_fy_debt.value}} in federal debt.
        <button class="info-box-trigger" data-box-id="per-individual">
            <img src="/assets/ffg/icons/anecdote-debt.svg" alt="anecdote icon">
        </button>
    </h1>

    <div class="debt-copy">
        <p>How did we end up with {{site.data.object_mapping.current_fy_debt.value}} in federal debt? When the U.S. government has a deficit, most of the deficit spending is covered by the government taking on new debt. It is similar to a person using his or her credit card for a purchase (rather than cash, check, or a debit card) and not paying the full credit card balance each month. Over the years, if the federal government experiences more deficits than surpluses, the federal debt grows.</p>
    </div>

    <div class="viz-wrapper">
        <div id="viz"></div>

        <div class="intro-math intro-hidden">
            <i class="fas fa-reply intro-math__icon"></i>{{site.data.object_mapping.dot_number_debt.value}} dots x {{site.data.object_mapping.dot_represents.value}} = <strong>{{site.data.object_mapping.current_fy_debt.value}}</strong>
        </div>

        <div class="facts sidebar intro-hidden">
            <div class="facts__inner">
                <div id="compare-options">
                    <p class="facts__prompt">How does the national debt compare to the deficit and the size of the economy?</p>
                    <div class="facts__triggers">
                        <button class="facts__trigger" data-trigger-id="deficit">Deficit</button>
                        <button class="facts__trigger" data-trigger-id="gdp">U.S. Economy</button>
                    </div>
                </div>

                <section id="deficit-facts" class="facts__section">
                    <h1>Deficit</h1>
                    <p>The change in federal debt each year is heavily influenced by the deficit or surplus that year. When there is not enough revenue to pay for spending, the government borrows money to make up the difference.  When there is excess revenue in a given year, the majority of those funds are used to pay down the federal debt.</p>
                </section>

                <section id="gdp-facts" class="facts__section">
                    <h1>U.S. Economy</h1>
                    <p>By comparing the total federal debt to gross domestic product (GDP), we can observe the government's ability to utilize the resources at hand to finance the debt the same way you and your family manage your finances to make sure that your monthly payments for your mortgage, car loans, and credit cards can be made.</p>
                </section>
            </div>
        </div>

        <section class="accordion sidebar intro-hidden">
            <h1 class="accordion__heading">Who owns the federal government's debt?</h1>
            <div class="accordion__content">
                <p>Most of the federal government's debt is owned by federal trust funds and domestic investors in the United States. Foreign investors, including other governments, also own part of the debt.</p>
            </div>
        </section>

        <section class="tour sidebar intro-hidden">
            <div class="tour__part-one">
                <h1>How has the federal debt changed over time?</h1>
                <p>When you are done here, we encourage you to explore trends in the federal debt since {{site.data.object_mapping.debt_trend_start.value}}.</p>
            </div>
            <a class="tour__link" href="trends.html">Explore<i class="fas fa-chevron-right"></i></a>
        </section>
    </div>

    <div class="info-box" id="per-individual">
        <img src="/assets/ffg/icons/anecdote-debt.svg" alt="anecdote icon">
        <p>How much is {{site.data.object_mapping.current_fy_debt.value}} in federal debt? If you take the U.S. population estimate in {{site.data.object_mapping.current_fy.value}} of {{site.data.object_mapping.us_population.value}} people <a href="{{site.data.object_mapping.census_population.value}}" rel="noopener noreferrer" target="_blank">(U.S. Census Bureau)</a>, {{site.data.object_mapping.current_fy_debt.value}} would be equivalent to more than {{site.data.object_mapping.debt_per_individual.value}} for every individual in the U.S.</p>
    </div>

    <div class="info-box" id="billion-dollars">
        <img src="/assets/ffg/icons/anecdote-debt.svg" alt="anecdote icon">
        <p>In this visualization, one dot represents {{site.data.object_mapping.dot_represents.value}}.</p>
    </div>

    <section class="hwcta">
        <p>This visualization was created using the <a href="{{site.data.object_mapping.current_mspd.value}}" rel="noopener noreferrer" target="_blank">Monthly Statement of the Public Debt (MSPD)</a> as the data source for federal debt of the United States and the <a href="{{site.data.object_mapping.current_mts.value}}" rel="noopener noreferrer" target="_blank">Monthly Treasury Statement (MTS)</a> as the data source for federal government revenue and spending. {% include ffg/gdp_template.html %} Throughout this page, we use the gross domestic product for the Fiscal Year, not the Calendar Year, in order to facilitate an appropriate comparison.</p>
        <div class="afg__download--div">
            <div class="afg__download--heading">Download Source Data</div>
            <ul>
                <li><a href="../../../assets/ffg/data/explore_federal_debt.csv" download>explore_federal_debt.csv</a></li>
            </ul>
        </div>
    </section>
</div>

<script src="/assets/ffg/accordion.js"></script>
<script src="/assets/ffg/debt/intro.js"></script>
