--- 
layout: ffg
title: Data Lab - title – U.S. Treasury
excerpt: excerpt
header: header
description: description
permalink: /federal-finance-guide/debt/trends
ffg: true
ffgNav: true
ffgPageCss: css/debt-trends.css
---

{% include ffg/nav/debt.html %}

<div class="ffg-wrapper">
    <div class="ffg-share">{% include new-share-menu.html %}</div>
    <h1>Federal Debt Trends over Time</h1>

    <div class="debt-chart-toggle clearfix">
        <span class="debt-chart-toggle__label debt-chart-toggle__label--debt" data-target="debt-image">Debt</span>
        <button id="toggle-image" class="toggle-control">
            <div class="toggle-control__background">
                <div class="toggle-control__dot"></div>
            </div>
        </button>
        <span class="debt-chart-toggle__label debt-chart-toggle__label--gdp" data-target="gdp-image">Debt to GDP</span>
    </div>

    <div class="trend-chart-container">
        <img id="debt-image" class="trend-chart-container__image trend-chart-container__image--active" src="/assets/ffg/debt/trend-charts/debt-trend.png" alt="placeholder" desc="placeholder"/>
        <img id="gdp-image" class="trend-chart-container__image" src="/assets/ffg/debt/trend-charts/debt-gdp-ratio-trend.png" alt="placeholder" desc="placeholder"/>
    </div>
    
    <aside class="debt-aside">
        <p>
            One way to gauge the sustainability of federal finances is to observe how the federal debt has changed over time. The U.S. has experienced a deficit in each year since 2001, with a spike from 2009 to 2012 because of the financial crisis and ensuing recession.
        </p>
        <section class="accordion">
            <h1 class="accordion__heading">What is sustainable policy?</h1>
            <div class="accordion__content">
                <p>According to the <a href="https://www.fiscal.treasury.gov/reports-statements/financial-report/" rel="noopener noreferrer" target="_blank">Financial Report of the United States Government (FR)</a> government spending is considered to be sustainable when deficit spending as a percentage of gross domestic product is steady or declining.</p>
            </div>
        </section>
        <section class="tour">
            <div class="tour__part-one">
                <h1>How does the deficit in the United States compare to other countries?</h1>
                <p>When you are done here, see how the U.S. deficit compares to other countries.</p>
            </div>
            <a class="tour__link" href="country-comparison.html">Continue<i class="fas fa-chevron-right"></i></a>
        </section>
    </aside>
    <section class="hwcta">
        <p>This visualization was created using the <a href="https://www.treasurydirect.gov/govt/reports/pd/mspd/mspd.htm" rel="noopener noreferrer" target="_blank">Monthly Statement of the Public Debt (MSPD)</a> as the data source for federal debt of the United States.</p>
    </section>
</div>

<div class="clearfix"></div>

<script src="/assets/ffg/accordion.js"></script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://datalab.usaspending.gov/"
    },
    "image": "http://datalab.usaspending.gov/assets/ffg/spending/trends.png",
    "headline": "Federal Spending Trends over Time",
    "datePublished": "2019-01-17T08:00:00+06:00",
    "dateModified": "2019-01-17T08:00:00+06:00",
    "author": {
    "@type": "Organization",
    "name": "U.S. Treasury",
    "logo": {
        "@type": "ImageObject",
        "url": "https://www.treasury.gov/Style%20Library/legacy-header/seal.png"
        }
    },
    "publisher": {
    "@type": "Organization",
    "name": "U.S. Treasury",
    "logo": {
        "@type": "ImageObject",
        "url": "https://www.treasury.gov/Style%20Library/legacy-header/seal.png"
        }
    },
    "description": "How has spending changed over the past five years? Have there been significant changes in federal spending? What impact does an increase or decrease have on spending at the sub-category level?"
}
</script>

<script src="/assets/ffg/debt/trends.js"></script>
