.overview-chart {
  background: white;
  border-radius: 6px;
  padding: 1rem; }

.overview-chart__heading {
  text-align: center;
  font-weight: 600; }

.overview-chart__contents {
  height: 400px;
  position: relative;
  margin-top: 2rem; }

.overview-chart__bar {
  position: absolute;
  width: 11%; }

.overview-chart__bar--revenue {
  background-color: #0A2F5A;
  top: 66px;
  right: 52%;
  height: 334px; }

.overview-chart__bar--spending {
  background-color: #00766C;
  top: 0;
  left: 52%;
  height: 400px; }

.overview-chart__bar--deficit {
  background-color: #B3532D;
  top: 0;
  right: 52%;
  height: 66px; }

.overview-chart__label {
  position: absolute;
  font-size: 14px;
  width: 32%; }
  .overview-chart__label p {
    margin: 0; }
  .overview-chart__label a .fa-stack {
    transform: scale(0.5) translateX(-20px);
    margin-right: -18px; }

.overview-chart__label-heading {
  margin: 0; }

.overview-chart__label--revenue {
  top: 208px; }
  .overview-chart__label--revenue > i {
    float: right;
    transform: translateY(3px); }

.overview-chart__label--deficit > i {
  float: right;
  transform: translateY(3px); }

.overview-chart__label--spending {
  right: 0;
  top: 175px;
  padding-left: 20px;
  box-sizing: border-box; }
  .overview-chart__label--spending > i {
    float: left;
    transform: translateY(3px);
    margin-left: -20px; }

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .overview-chart {
    padding: 2rem 3rem; } }

@media only screen and (min-width: 800px) {
  .overview-chart {
    width: 40%;
    margin: 0;
    box-sizing: border-box;
    margin-left: 60%;
    padding: 2rem 1rem; } }

@media only screen and (min-width: 1100px) {
  .overview-chart {
    padding: 2rem 3rem; } }

.toc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem; }
  .toc li {
    margin-bottom: 0.2rem; }
  .toc a {
    color: #666666;
    opacity: 0.4; }
  .toc a.current {
    font-weight: 600;
    opacity: 1; }

section.chapter {
  max-width: 1200px;
  margin: 0 auto 2rem; }

.chapter .anecdote {
  margin-top: 1rem; }

.chapter__content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: #666666; }
  .chapter__content h1 {
    text-align: left;
    color: #555555;
    font-size: 1.4rem;
    margin-bottom: 0.5rem; }
  .chapter__content p {
    color: #666666;
    font-size: 0.95rem; }
    .chapter__content p.chapter__chart--reference {
      font-size: 0.8rem;
      text-align: center;
      font-style: italic; }
      .chapter__content p.chapter__chart--reference a {
        color: #77abe8; }

.chapter__big-number {
  display: block;
  font-size: 2.5rem;
  font-weight: 600; }

.chapter__chart {
  display: none; }

.chapter__chart img {
  width: 100%;
  height: auto; }

.chapter--revenue {
  background-color: white; }

.chapter--spending {
  background-color: white; }

.chapter--deficit {
  background-color: white; }

.chapter--debt {
  background-color: white; }

.chapter__divider--normal {
  border-bottom: 1px solid #CCC;
  max-width: 1400px;
  margin: 0 auto; }

.chapter__divider--median-treasury-logo {
  background: url(./bp/deficit_debt_image.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
  background-color: #FFF; }
  .chapter__divider--median-treasury-logo .chapter__divider--arrow-container {
    text-align: center;
    margin-top: 1rem; }
    .chapter__divider--median-treasury-logo .chapter__divider--arrow-container a {
      color: #666666; }
    .chapter__divider--median-treasury-logo .chapter__divider--arrow-container i {
      text-align: center;
      font-size: 2em; }

.chapter__divider--text {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #222222;
  background: #fff;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem; }
  .chapter__divider--text strong, .chapter__divider--text span {
    font-weight: 900; }

.chapter__divider--text-revenue {
  color: #0A2F5A; }

.chapter__divider--text-spending {
  color: #00766C; }

.chapter__divider--text-deficit {
  color: #B3532D; }

.chapter__divider--text-debt {
  color: #4A0072; }

.chapter__primary h1 {
  font-weight: 600; }

.chapter__primary span.chapter__big-number {
  font-weight: 900;
  display: block; }

@media only screen and (min-width: 800px) {
  .chapter__content h1 {
    font-size: 1.8rem; }
  .chapter__flex {
    display: flex; }
  .chapter__chart {
    display: block;
    width: 50%; }
  .chapter__primary {
    padding-right: 7rem;
    width: 50%; }
  .chapter__big-number {
    font-size: 3rem; }
  .chapter__divider--text {
    font-size: 3rem; }
  .chapter__divider--median-treasury-logo {
    padding: 4rem 2rem 2rem; } }

#revenue-chapter a.scroll-to.current, #revenue-chapter button.anecdote__link--button, #revenue-chapter .chapter__big-number {
  color: #112e51; }

#revenue-chapter a.link-button {
  background-color: #112e51; }

#revenue-chapter .anecdote__link--button-icon, #revenue-chapter .anecdote__icon {
  background-image: url("../assets/icons/anecdote-revenue.svg"); }

#spending-chapter a.scroll-to.current, #spending-chapter button.anecdote__link--button, #spending-chapter .chapter__big-number {
  color: #00796B; }

#spending-chapter a.link-button {
  background-color: #00796B; }

#spending-chapter .anecdote__link--button-icon, #spending-chapter .anecdote__icon {
  background-image: url("../assets/icons/anecdote-spending.svg"); }

#debt-chapter a.scroll-to.current, #debt-chapter button.anecdote__link--button, #debt-chapter .chapter__big-number, .deficit-countries__top-level a.scroll-to.current, .deficit-countries__top-level button.anecdote__link--button, .deficit-countries__top-level .chapter__big-number {
  color: #4A0072; }

#debt-chapter a.link-button, .deficit-countries__top-level a.link-button {
  background-color: #4A0072; }

#debt-chapter .anecdote__link--button-icon, #debt-chapter .anecdote__icon, .deficit-countries__top-level .anecdote__link--button-icon, .deficit-countries__top-level .anecdote__icon {
  background-image: url("../assets/icons/anecdote-debt.svg"); }

#deficit-chapter a.scroll-to.current, #deficit-chapter button.anecdote__link--button, #deficit-chapter .chapter__big-number {
  color: #B3532D; }

#deficit-chapter a.link-button {
  background-color: #B3532D; }

#deficit-chapter .anecdote__link--button-icon, #deficit-chapter .anecdote__icon {
  background-image: url("../assets/icons/anecdote-deficit.svg"); }

a.link-button, button.link-button {
  background: none;
  text-decoration: none;
  display: inline-block; }
  a.link-button .link-button__text--block, button.link-button .link-button__text--block {
    display: inline-block;
    flex: 4; }
    a.link-button .link-button__text--block .link-button__text--top, button.link-button .link-button__text--block .link-button__text--top {
      font-size: 14px;
      font-weight: 500; }
  a.link-button .link-button__icon--block, button.link-button .link-button__icon--block {
    flex: 1;
    text-align: right; }

button.link-button {
  font-size: 18px;
  font-weight: 600; }

a.chapter__cta {
  color: white;
  font-weight: 600;
  padding: 1rem 1.3rem;
  font-size: 21px;
  width: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

a.chapter__cta i.fa-angle-right {
  margin-left: 1rem; }

header {
  background: #FBFBFB;
  padding: 0.5rem 0;
  box-shadow: inset 0 40px 40px -20px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px; }

.bp-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.bp-header__app-name {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  word-spacing: 0.2em;
  letter-spacing: 1px;
  margin-bottom: 0.5rem; }

.bp-header__heading {
  color: #111;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center; }

.bp-scroll-down__div a {
  color: #666666; }

.bp-scroll-down__div i {
  font-size: 2em; }

.bp-header__collect--text {
  color: #0A2F5A;
  font-weight: 900; }

.bp-header__spend--text {
  color: #006C6D;
  font-weight: 900; }

.overview-chart {
  order: 1; }

a.bp-header__click-here--link {
  color: #77abe8; }

@media only screen and (min-width: 800px) {
  .bp-header__heading {
    font-size: 3.3rem; }
  .bp-header {
    padding-top: 3.5rem; }
  .bp-header__text {
    padding-bottom: 3rem;
    font-size: 1.1rem; } }

html {
  font-weight: 300; }

.bp-scroll-down {
  display: block;
  margin: 0 auto;
  transform: translateY(84px); }

.historical-quote {
  padding: 3rem 1rem;
  background-color: #F9F9F9;
  border-top: 1px solid #EEE; }
  .historical-quote blockquote {
    font-size: 1.5rem;
    max-width: 1000px;
    margin: 1rem auto 2rem; }
  .historical-quote .historical-quote__image {
    display: block;
    margin: 0 auto; }
  .historical-quote p {
    text-align: center;
    margin-top: 0;
    font-size: 1.7rem; }
  .historical-quote p.historical-quote__credit {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0; }
    .historical-quote p.historical-quote__credit span.historical-quote__credit-normal {
      font-weight: normal; }

@media only screen and (min-width: 800px) {
  .bp-break-desktop {
    display: block; }
  .historical-quote blockquote {
    font-size: 2.2rem; }
  .historical-quote p.historical-quote__credit {
    font-size: 1.7rem; } }
