@import '../../colors';

#viz {
    margin-left: 1rem;
}

#detail {
    display: none;

    h2 {
        margin: 0;
    }

    button {
        float: right;
    }
}

#detail.active {
    display: block;
    padding: 1rem;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid gray;
    background: white;
    border-radius: 1rem;
}