@import '../../globalSass/accordion';
@import '../../globalSass/colors';
@import '../../globalSass/generalVars';

.trend-chart-container {
  margin-bottom: 2rem;
  position: relative;
}


.trend-chart-container__image {
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.trend-chart-container__image.trend-chart-container__image--active {
  opacity: 1;
}

.trend-chart-container .trend-chart-container__image:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.debt-chart-toggle {
  margin-bottom: 1rem;
}

.debt-chart-toggle__label {
  color: $text-color-paragraph;
  transition: color, font-weight 0.3s ease;
  cursor: pointer;
  transform: translateY(-5px);
  display: inline-block;
  min-width: 33px;
}

.debt-chart-toggle[data-active="debt-image"] .debt-chart-toggle__label--debt {
  color: $color-debt-primary;
  font-weight: $boldWeight;
}

.debt-chart-toggle[data-active="gdp-image"] .debt-chart-toggle__label--gdp {
  color: $color-debt-primary;
  font-weight: $boldWeight;
}

.toggle-control {
  border: none;
  background: none;
  padding: 0;
}

.toggle-control__background {
  border: 1px solid #ccc;
  background: #f0f0f0;
  width: 2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  position: relative;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.toggle-control__dot {
  height: 1rem;
  border-radius: 0.5rem;
  width: 1rem;
  background: white;
  border: 2px solid $color-debt-primary;
  box-sizing: border-box;
  margin: 2px 2px;
  transition: transform 0.25s ease;
}

.debt-chart-toggle[data-active="gdp-image"] .toggle-control__dot {
  transform: translateX(0.8rem)
}

@media only screen and (min-width: 900px) {
  .trend-chart-container {
    width: 67%;
    float: left;
  }

  .debt-aside {
    width: 33%;
    float: right;
    padding-left: 2rem;
    box-sizing: border-box;
  }
}
