@import '../../globalSass/accordion';

.debt-trend {
  max-width: 100%;
}

@media only screen and (min-width: 900px) {
  .debt-trend {
    width: 67%;
    float: left;
    display: block;
  }
  
  .debt-aside {
    width: 33%;
    float: right;
    padding-left: 2rem;
    box-sizing: border-box;
  }
}