---
layout: page
menuname: Competition in Contracting
menuorder: 9
title: Data Lab - Competition in Contracting – U.S. Treasury
excerpt: The U.S. Treasury’s Data Lab presents a tool showing which federal agencies employ competitive practices most frequently when awarding federal contracts.
header: In FY 2017, over 60 percent of federal contracts were competitively awarded.
description: The analysis below shows the competition information for the 24 CFO Act agencies which account for over 98% of federal contract spending. Other smaller agencies are grouped together in a separate category.
banner: landings/competition.jpg
alt: Competition in Contracting
permalink: competition-in-contracting.html
category: entry
---

</fieldset>
{% include viz-header-info.html
	title="Why does the government use competition when awarding contracts?"
  body="<p>Competition is a healthy component of maintaining the integrity of the federal procurement process.  Competition generates better quality and lower costs for goods and services purchased in support of agency services to the American taxpayer.</p>
				<p>The 1984 Competition in Contracting Act requires full and open competition while also allowing for exceptions in certain situations. In many cases, federal agencies will pursue competition even when an exception to the law applies, as competition may help to provide innovative solutions or better prices.</p>"
%}

<section id="one" class="viz-section center-text">
  <div class="viz-bkgd competition-in-contracting-viz-bkgd">
     {% include viz-title.html
        title="Competition in Contracting"
        subtext="Updated as of December 2017"
        identifier="panel1InstructionsModal"
     %}
     {% include viz-modal.html
       identifier="panel1InstructionsModal"
       title="Instructions"
       body="<ul><li>Click the toggle to switch between raw numbers and percent for each agency</li>
				 		 <li>Click the toggle to switch between total dollars obligated and the number of contracting actions</li>
						 <li>Click the check box beside each agency to remove or add it to the visualization and re-scale the horizontal axis.</li></ul>"
     %}
    <div class="mask">
      {% include action-buttons.html %}
      <div class="viz-container">
        <div class="competition-in-contracting">

          <div id="summary">
            <!-- tooltip -->
            <div id="tooltip" class="tooltip-module"></div>

            <!-- summary -->
						<div class="summary-item">
							<p style="color: #2a5da8">$ COMPETED</p>
              <h2 id="competed-dollars"></h2>
            </div>
            <div class="summary-item" style="border-right: 2px solid #a4a4a4">
							<p style="color: #2a5da8">ACTIONS COMPETED</p>
							<h2 id="competed-actions"></h2>
            </div>
            <div class="summary-item">
              <p style="color: #2a5da8">$ NOT COMPETED</p>
              <h2 id="not-competed-dollars"></h2>
            </div>
            <div class="summary-item">
							<p style="color: #2a5da8">ACTIONS NOT COMPETED</p>
							<h2 id="not-competed-actions"></h2>
            </div>
          </div>
          <!-- toolbar -->
          <div>
						<div class="legend" id="notCompeted">
							<svg height="15" width="15">
							  <circle cx="7.5" cy="7.5" r="7.5" fill="#D334BA" />
							</svg>
							<label for="notCompeted" style="font-size:12px; vertical-align: bottom">Not Competed</label>
						</div>
						<div class="legend" id="competed">
							<svg height="15" width="15">
							  <circle cx="7.5" cy="7.5" r="7.5" fill="#0071bc" />
							</svg>
							<label for="contactChoice1" style="font-size:12px; vertical-align: bottom">Competed</label>
						</div>
						<form id="barchartToolbar">
						  <div class="select-wrapper1">
						    <input type="radio" id="contactChoice1" name="xAxisScale" value="quantity" checked>
						    <label for="contactChoice1" style="font-size:12px;">Quantity</label>

						    <input type="radio" id="contactChoice2" name="xAxisScale" value="percent">
						    <label for="contactChoice2" style="font-size:12px">Percent</label>
							</div>
							<div class="select-wrapper2">
						    <input type="radio" id="contactChoice3" name="xAxisUnit" value="dollars" checked>
						    <label for="contactChoice3" style="font-size:12px">Dollars</label>

								<input type="radio" id="contactChoice4" name="xAxisUnit" value="actions">
						    <label for="contactChoice4" style="font-size:12px">Actions</label>
						  </div>
						</form>
          </div>

          <!-- barchart -->
          <div>
            <svg width="1200" height="700" viewBox="0 0 1200 700" id="barchartSvg"></svg>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% include viz-footer-info.html
  body="This analysis is generated directly from data available in the Federal Procurement Data System Next Generation, which is the source of U.S. federal procurement data  on USASpending.gov. Data updated Dec 2017."
%}

{% include footer-navigation.html
  prev-text="Federal Employees"
  prev-link="federal-employees.html"
  next-text="Federal Account Explorer"
  next-link="federal-account-explorer.html"
%}

<!-- vendor scripts -->
<script src="{{site.baseurl}}/assets/js/vendor/d3.v3.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/jquery-3.3.1.min.js"></script>

<!-- shared module scripts -->
<script src="{{site.baseurl}}/assets/js/shared/tooltipModule.js"></script>

<!-- competition in contracting module scripts -->
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/helperFunctionModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/dataModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/summaryTableModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/barchartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/competitionInContracting.js"></script>
