---
layout: page
menuname: Competition in Contracting
title: In FY 2017, over 60 percent of dollars paid to contractors went to those who had undergone a competitive bidding process.
description: The analysis below shows the 24 CFO Act agencies, which are generally the largest agencies in government, accounting for over 98 percent of all federal spending. Other smaller agencies are grouped together in a separate category.
banner: landings/competition.jpg
alt: Competition in Contracting
permalink: competition-contracting.html
category: entry
---

{% include viz-header-info.html
	title="Why does the government use competition when issuing contracts?"
	body="It's the law. In 1984, Congress passed the Competition in Contracting Act, which requires federal agencies to use full and open competition when hiring contractors to provide goods and services. The law also spells out circumstances when agencies can bypass competitive practices, which include unusual and compelling urgency and national security. In many cases, federal agencies will pursue competition even when an exception to the law applies, as competition may help to provide a better selection of goods and services or better prices."
%}

<section id="one" class="wrapper style1 special">
  <div class="viz-bkgd competition-in-contracting-viz-bkgd">
    <div class="mask">
      {% include action-buttons.html %}
      <div class="viz-container">
        <div class="competition-in-contracting">

          <div id="controls">
            <!-- tooltip -->
            <div id="tooltip" class="homeless-analysis d3-tip n" style="opacity: 0; position: absolute; top: 1726px; pointer-events: all; box-sizing: border-box; background: rgb(255, 255, 255); color: rgb(51, 51, 51); border: 1px solid rgb(191, 188, 188); padding: 25px; width: 300px; left: 486.128px;"></div>

            <!-- summary -->
            <div class="control-item">
              <table id="summaryTable"></table>
            </div>

            <!-- toolbar -->
            <div class="control-item">
              <form id="barchartToolbar" class="ui form">
                <select name="xAxisScale" id="xAxisScaleDropdown" class="dropdown">
                  <option value="quantity">Quantity</option>
                  <option value="percent">Percent</option>
                </select>
                <select name="xAxisUnit" id="xAxisUnitDropdown" class="dropdown">
                  <option value="actions">Actions</option>
                  <option value="dollars">Dollars</option>
                </select>
              </form>
            </div>
          </div>

          <!-- barchart -->
          <div>
            <svg width="1200" height="700" id="barchartSvg"></svg>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% include how-analysis-conducted.html 
how="We conducted this analysis using a report from the Federal Procurement Data System Next Generation, which is the source of part of USAspending.gov's procurement data." 
read-more="homeless-analysis-more.html"
next-analysis="what-and-why-government-spending.html" %}

<!-- d3 -->
<script src="{{site.baseurl}}/assets/js/vendor/d3.v3.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/helperFunctionModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/dataModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/summaryTableModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/tooltipModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/barchartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/competition-in-contracting/competitionInContracting.js"></script>