--- 
layout: page-no-hero 
menuname: Contracts Over Time 
menuorder: 3
header: Contracts over Time
title: Data Lab - Federal Contract Analysis – U.S. Treasury
excerpt: The U.S. Treasury’s Data Lab explores the relationship between congressional appropriations and government contract spending, using data from USAspending.gov.
banner: landings/contracts-over-time.jpg
permalink: contracts-over-time.html 
category: entry 
---

<div class="contracts-over-time">
  <div class="scroll-breakpoint" id="scroll-breakpoint-1"></div>
  <div class="scroll-triggerpoint" id="scroll-triggerpoint"></div>
  <div class="scroll-breakpoint" id="scroll-breakpoint-2"></div>

  <!-- tooltip -->
  <div id="tooltip" class="tooltip-module"></div>

  <section id="one" class="viz-section">

    <div class="section"></div>
    <div class="parallax-container absolute">
      <div class="subTitleDiv"></div>
      <div class="legend"></div>
      <svg id="svg-1"></svg>
    </div>

    <div class="scroll-container">
      <div class="left a" id="panel-1">
        <span class="panel-container">
          <p class="panel-title">How did spending on federal contracts change over the past 10 years?</p>
          <hr/>
          <p class="container-text">
              Over the past decade, we observed that federal spending on contracts increased from fiscal year  2007 through 2010, following the surge in federal funding related to the Recovery Act. As the Recovery Act tapered off in 2011, contract spending began to decrease, which accelerated following sequestration in 2013. By 2015, contract spending had fallen 27 percent from its 2010 peak, before rebounding slightly in the following years.
          </p>
        </span>
      </div>

      <div class="left b" id="panel-2">
        <span class="panel-container">
          <p class="panel-title">How did spending on federal contracts vary throughout the year?</p>
          <hr/>
          <p class="container-text">
              We also observed seasonal trends in contract spending occurring within a single year. We looked at weekly spending on federal contracts, and found that spending tended to rise and fall on a monthly cadence, with roughly one small peak and one small drop per month.
          </p>
        </span>
        <p class="panel-text">
          In addition, contract spending spiked in September, one week prior to the end of the government’s fiscal year.
        </p>
      </div>

      <div class="left a" id="panel-3">
        <span class="panel-container">
          <p class="panel-title">Did end-of-year spikes occur consistently every year?</p>
          <hr/>
          <p class="container-text">
            We found that the end-of-year spikes consistently occurred across the decade, and generally followed the broad rise and fall of spending. On average September spikes accounted for between 6-8 percent of the annual spending in a fiscal year.
          </p>
        </span>
      </div>

      <div class="left b" id="panel-4">
        <span class="panel-container">
          <p class="panel-title">Did spending on new contracts differ from modifications?</p>
          <hr/>
          <p class="container-text">
              USAspending.gov data captures two types of activity related to contracts: (1) the issuance of new contracts and (2) modifications to existing contracts. We split spending on contracts into these two categories, showing the amount of spending on new contracts, and changes in existing contracts. We found that spending on new contracts tended to spike in September. 
          </p>
        </span>
        <p class="panel-text">
            Modifications, however, displayed less variance and did not spike as drastically at the end of each fiscal year. This suggests that new contracts—not modifications—drove the spikes at the end of each fiscal year.
        </p>
      </div>

      <div class="left a" id="panel-5">
        <span class="panel-container">
          <p class="panel-title">Did spending differ by the type of good or service purchased?</p>
          <hr/>
          <p class="container-text">
              USAspending data also captures what the government received from a contract, (i.e. goods or services.) This categorization scheme, called Product and Service Codes, contains almost 6,000 different categories, ranging from Dining Facility Maintenance to Buoys. For this analysis, we collapsed these 6,000 categories into seven high-level groups. 
          </p>
        </span>
        <p class="panel-text">
            Three of those high-level groups are displayed on the chart to the right. Notably, we found that contracts classified as Facilities, Equipment, and Construction, displayed about 3.5 times the level of variance over the decade as total contract spending, and over 50 times the variance of spending on Weapons and Ammunition. Unlike the other categories, contracts for weapons ammunition did not spike at the end of the fiscal year.  
        </p>
      </div>
    </div>
  </section>
</div>
<!-- </div> -->
<div class="contracts-over-time">

  <div id="verttooltip" class="vertTooltip"></div>
  
  <div class="banner-container">

      <div class="test-new-banner">
          <svg class="banner-triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="top: 0;transform: rotateX(180deg);">
              <polygon fill="white" points="0,100 100,0 100,100"></polygon>
            </svg>
          <h1>Now <b>let’s explore</b> the <b>relationship</b> between the type of <b>congressional appropriations passed</b> and the amount <b>spent on federal contracts.</b></h1>
          <a href="#two" class="scrolly blue-banner-link1">
            <span>
              {% include svgs/Scroll-Down-Button-gray.svg class="blue-banner-down-arrow-new" %}
            </span>
          </a>
          <svg class="banner-triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,0 0,100 100,100"/>
          </svg>
      </div>
  </div>
  <div id="two" class="part2">
    <div class="part2Container">
      <div class="part2Header">
        How did <b>congressional appropriations</b> impact <b>federal contract spending</b>?
      </div>
      <div class="part2HeaderSubdivider"></div>
      <div class="part2HeaderDescription">
          We investigated the impact of new appropriations and continuing resolutions on the amount of contract spending across the federal government. Here are our results.
      </div>

      <div class="test-new-banner test-new-banner-blue">
          <svg class="banner-triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="top: 0;transform: rotateX(180deg);">
            <polygon fill="white" points="0,100 100,0 100,100"></polygon>
          </svg>
          

          <div class="timeline">
              <div class="timelineLegend"></div>
              <svg id="svg-2"></svg>
              <div class="carousel">
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                  <!-- <div class="numbertext">1 / 3</div> -->
                  <div class="carouselTitle">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <span class="carouselTitleContainer">
                      <p class='carouselTitleText'>Congressional Appropriations</p>
                    </span>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>
                  <div class='carouselTextContainer'>
                    <p class='carouselText'>The federal government receives funding through  appropriations from Congress, which can come in the form of short-term continuing resolutions and new appropriations. In this analysis, we distinguished between new appropriations and continuing resolutions by investigating the text of passed appropriations legislation for the past ten years.</p>
                  </div>
                </div>
    
                <div class="mySlides fade">
                  <!-- <div class="numbertext">2 / 3</div> -->
                  <div class="carouselTitle">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <span class="carouselTitleContainer">
                      <p class='carouselTitleText'>New Appropriations</p>
                    </span>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>
                  <div class='carouselTextContainer'>
                    <p class='carouselText'>The timeline shows when <b>new appropriations</b> were passed over the last 10 years in grey.</p>
                  </div>
                </div>
    
                <div class="mySlides fade">
                  <!-- <div class="numbertext">3 / 3</div> -->
                  <div class="carouselTitle">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <span class="carouselTitleContainer">
                      <p class='carouselTitleText'>Continuing Resolutions</p>
                    </span>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>
                  <div class='carouselTextContainer'>
                    <p class='carouselText'>We show in red when <b>continuing resolutions</b> were passed over the last 10 years.</p>
                  </div>
                </div>
    
                <div class="mySlides fade">
                  <!-- <div class="numbertext">3 / 3</div> -->
                  <div class="carouselTitle">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <span class="carouselTitleContainer">
                      <p class='carouselTitleText'>Investigating the Impact of Congressional Appropriations</p>
                    </span>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>
                  <div class='carouselTextContainer'>
                    <p class='carouselText'>We decided to <b>test the relationship</b> between the passage of continuing resolutions and new appropriations and the amount of spending on contracts across the government. <b>Check out our results below.</b></p>
                  </div>
                </div>
                <br/>
    
                <!-- The dots/circles -->
                <div style="text-align:center;padding-top:30px;">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                  <span class="dot" onclick="currentSlide(4)"></span>
                </div>
              </div>
              <script>
                var slideIndex = 1;
                showSlides(slideIndex);
    
                // Next/previous controls
                function plusSlides(n) {
                  showSlides(slideIndex += n);
                }
    
                // Thumbnail image controls
                function currentSlide(n) {
                  showSlides(slideIndex = n);
                }
    
                function showSlides(n) {
                  var i;
                  var slides = document.getElementsByClassName("mySlides");
                  var dots = document.getElementsByClassName("dot");
                  if (n > slides.length) {
                    slideIndex = 1
                  }
                  if (n < 1) {
                    slideIndex = slides.length
                  }
                  for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                  }
                  for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                  }
                  slides[slideIndex - 1].style.display = "block";
                  dots[slideIndex - 1].className += " active";
                }
              </script>
    
            </div>


          <svg class="banner-triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,0 0,100 100,100"/>
          </svg>
      </div>
    </div>
  </div>
  <div class="part2Container2">
    <div class="part2Header2">How do congressional appropriations impact <b>contract spending</b>?</div>
    <div class="part2HeaderSubdivider2"></div>
    <div class="carouselPart2">

      <!-- Next and previous buttons -->
  <a class="prev2" onclick="nextSlide(-1)">&#10094;</a>
  <div class = "slidecontainer">
  
<!-- slide 1 -->

      <div class="mySlidesOutter">
        <div class="carouselInner1">
          <div class="mySlidesInner1 fade">
            <div class="part2HeaderDescription">
                To investigate the relationship between the passage of continuing resolutions, new appropriations, and the amount of spending on contracts across the government, we developed a linear model to test the impact of each type of congressional appropriation on contract spending. 
            </div>
          </div>
          <div class="mySlidesInner1 fade">
            <div class="part2HeaderDescription">
                We found that the passage of a <b>continuing resolution increased total contract spending by 25 percent in the same week</b>, all else held equal.
                The passage of <b>new appropriations resulted in a decrease in total contract spending of 30 percent in the same week</b>, all else held equal. 
            </div>
          </div>
          <div class="mySlidesInner1 fade">
            <div class="part2HeaderDescription">
              We also looked at how congressional appropriations impacted specific <b>types of contracts.</b><br /><br />
              <b>Click the right arrow below</b> to see the results of our next analysis: spending on <b>new contracts versus contract modifications.</b>
            </div>
          </div>
          <!-- The dots/circles -->
          <div style="text-align:center">
            <span class="dot1" onclick="showMicroSlides(1,1)"></span>
            <span class="dot1" onclick="showMicroSlides(1,2)"></span>
            <span class="dot1" onclick="showMicroSlides(1,3)"></span>
          </div>
        </div>
        <div class="part2subtitle">Total Contract Spending by Week</div>
        <div class="legendcontainer">
          <div class="part2control-group1">
            <div class="control-group1">
              <span class="key-dot" style="background: #6F6F6F"></span>
              <label class="title">
                New Appropriations
                <input class="box1" type="checkbox" checked="checked" value="budget" />
                <div class="control_indicator"></div>
              </label>
            </div>

            <div class="control-group2">
              <span class="key-dot" style="background: #FF7C7E"></span>
              <label class="title">
                Continuing Resolution
                <input class="box1" type="checkbox" checked="checked" value="resolution" />
                <div class="control_indicator"></div>
              </label>
            </div>
          </div>
          <div class="part2legend1"></div>
        </div>
        <svg id="svg-3" class="svgPart2" viewBox="0 0 1400 556"></svg>
      </div>

<!-- slide 2 -->

      <div class="mySlidesOutter">
        <div class="carouselInner2">
          <div class="mySlidesInner2 fade">
            <div class="part2HeaderDescription">
                Here we looked at whether congressional appropriations impacted specific subsets of contracts, namely, <b>new contract spending</b> and <b>contract modifications</b>.<br /><br />
                We found that the passage of a <b>continuing resolution increased spending on new contracts by over 29 percent in the same week</b>, all else held equal.<br /><br />
                <b>Continuing resolutions also lead to a 22 percent increase</b> on total contract modification spending for that week, all else held equal. New appropriations <b>did not have a statistically significant impact</b> on either new contracts or on contract modification spending.
            </div>
          </div>
          <div class="mySlidesInner2 fade">
            <div class="part2HeaderDescription">
                We also looked at how congressional appropriations might impact contract spending for specific <b>types of goods and services purchased</b>.<br /><br />
                <b>Click the right arrow below to see the results of our next analysis</b>: spending on specific types of goods and services.
            </div>
          </div>
          <!-- The dots/circles -->
          <div style="text-align:center">
            <span class="dot2" onclick="showMicroSlides(2,1)"></span>
            <span class="dot2" onclick="showMicroSlides(2,2)"></span>
          </div>
        </div>
        <div class="part2subtitle">Contract Spending by Contract Type</div>
        <div class="legendcontainer">
          <div class="part2control-group2">
            <div class="control-group1">
              <span class="key-dot" style="background: #6F6F6F"></span>
              <label class="title">
                New Appropriations
                <input class="box2" type="checkbox" checked="checked" value="budget" />
                <div class="control_indicator"></div>
              </label>
            </div>

            <div class="control-group2">
              <span class="key-dot" style="background: #FF7C7E"></span>
              <label class="title">
                Continuing Resolution
                <input class="box2" type="checkbox" checked="checked" value="resolution" />
                <div class="control_indicator"></div>
              </label>
            </div>
          </div>
          <div class="part2legend2"></div>
        </div>
        <svg id="svg-4" class="svgPart2" viewBox="0 0 1400 556"></svg>
      </div>

<!-- slide 3 -->

      <div class="mySlidesOutter">
        <div class="carouselInner3">
          <div class="mySlidesInner3 fade">
            <div class="part2HeaderDescription">
                We constructed additional models to determine if the passage of new appropriations and continuing resolutions <b>had measurable effects on the purchase of specific types of goods and services.</b><br /><br />
We found that the passage of <b>a continuing resolution had a statistically significant impact</b> on spending for all seven of the types of contracts we identified: 
              <br /><br />
              <ol class="slide-2-ol">
                <li>Facilities, Equipment, and Construction</li>
                <li>Information Technology and Electronics</li>
                <li>Miscellaneous Supplies and Equipment, Clothing and Textiles</li>
                <li>Transportation and Logistics Services</li>
                <li>Research and Development</li>
                <li>Weapons and Ammunition</li>
                <li>Professional Services, Education, and Training</li>
              </ol>
            </div>
          </div>
          <div class="mySlidesInner3 fade">
            <div class="part2HeaderDescription">
                The table below shows how the passage of a continuing resolution impacted contract spending for each category of goods and services purchased, all else held equal.<br /><br />
                <table class="slide-3-table">
                  <tr>
                    <th>Contract Category</th>
                    <th>Impact on Spending by Category</th>
                  </tr>
                  <tr><td>Facilities, Equipment and Construction</td><td>25%</td></tr>
                  <tr><td>Information Technology and Electronic</td><td>22%</td></tr>
                  <tr><td>Miscellaneous, Supplies and Equipment, Clothing and Textiles</td><td>33%</td></tr>
                  <tr><td>Transportation and Logistics</td><td>46%</td></tr>
                  <tr><td>Research and Development</td><td>17%</td></tr>
                  <tr><td>Weapons and Ammunition</td><td>48%</td></tr>
                  <tr><td>Professional Services, Education and Training</td><td>30%</td></tr>
                </table>
            </div>
          </div>
          <div class="mySlidesInner3 fade">
            <div class="part2HeaderDescription">
                We found that the passage of <b>new appropriations legislation did not have a statistically significant impact</b> for six of these seven contract types. 
                <b>New appropriations</b> did have a statistically significant impact on <b>Professional Services, Education and Training</b> contract spending, decreasing spending by <b>22 percent</b>, all else held equal. 
            </div>
          </div>
          <!-- The dots/circles -->
          <div style="text-align:center">
            <span class="dot3" onclick="showMicroSlides(3,1)"></span>
            <span class="dot3" onclick="showMicroSlides(3,2)"></span>
            <span class="dot3" onclick="showMicroSlides(3,3)"></span>
          </div>
        </div>
        <div class="part2subtitle">Contract Spending by Category of Goods and Services</div>
        <div class="legendcontainer">
            <div class="part2control-group3">
              <div class="control-group1">
                <span class="key-dot" style="background: #6F6F6F"></span>
                <label class="title">
                  New Appropriations
                  <input class="box3" type="checkbox" checked="checked" value="budget" />
                  <div class="control_indicator"></div>
                </label>
              </div>
  
              <div class="control-group2">
                <span class="key-dot" style="background: #FF7C7E"></span>
                <label class="title">
                  Continuing Resolution
                  <input class="box3" type="checkbox" checked="checked" value="resolution" />
                  <div class="control_indicator"></div>
                </label>
              </div>
            </div>
            <div class="part2legend3"></div>
          </div>
        <svg id="svg-5" class="svgPart2" viewBox="0 0 1400 556"></svg>
      </div>
    </div>
    <a class="next2" onclick="nextSlide(1)">&#10095;</a>

    </div>
    <script type="text/javascript">
        var macroIndex = 1;
        showMacroSlides(macroIndex);

        // Next/previous controls
        function nextSlide(n) {
          showMacroSlides(macroIndex += n);
        }

        function showMacroSlides(n) {
          var k;
          var lchart = document.getElementsByClassName('svgPart2');
          var macroSlides = document.getElementsByClassName("mySlidesOutter");
          var microIndex = 1;

          if (n > macroSlides.length) {
            macroIndex = 1
          }
          if (n < 1) {
            macroIndex = macroSlides.length
          }
          for (k = 0; k < macroSlides.length; k++) {
            macroSlides[k].style.display = "none";
          }
          for (k = 0; k < lchart.length; k++) {
            lchart[k].style.display = "none";
          }
          macroSlides[macroIndex - 1].style.display = "block";
          lchart[macroIndex - 1].style.display = "block";
          showMicroSlides(macroIndex, microIndex);
        }

        function showMicroSlides(j, n) {
          if(j==1){
            var microSlides = document.getElementsByClassName('mySlidesInner1');
            var dot = document.getElementsByClassName('dot1');
          }else if(j===2){
            var microSlides = document.getElementsByClassName('mySlidesInner2');
            var dot = document.getElementsByClassName('dot2');
          }else if(j===3){
            var microSlides = document.getElementsByClassName('mySlidesInner3');
            var dot = document.getElementsByClassName('dot3');
          }else if(j===4){
            var microSlides = document.getElementsByClassName('mySlidesInner4');
            var dot = document.getElementsByClassName('dot4');
          }

          var h;
          for (h = 0; h < microSlides.length; h++) {
            microSlides[h].style.display = "none";
          }
          for (h = 0; h < dot.length; h++) {
            dot[h].className = dot[h].className.replace(" active", "");
          }
          microSlides[n - 1].style.display = "block";
          dot[n - 1].className += " active";
        }
    </script>
  </div>
  <div class="part2FinalDivider"></div>
</div>
</div>

{% include viz-header-info.html
	title="Conclusion"
	body="<div class='conclusion-header'>How do congressional appropriations impact contract spending?</div>Our research found that continuing resolutions caused contract spending to spike in the same week, which we did not observe for the passage of new appropriations. These findings cohere with qualitative research conducted by the Government Accountability Office, which noted in February 2018 that “some agency officials reported delaying contracts and application times for grants while under a [continuing resolution].” If agencies are unable to issue new contracts because adequate funds are not available under continuing resolutions, needs accumulate, and then are satisfied once funding is available.<br /><br />
  We found that legislation for new appropriations decreased the expected amount of spending in the very short term, although the result was not statistically significant in all cases explored. Notably, we found that the passage of new appropriation resulted in a statistically significant decrease in total contract and on professional services contract spending. This suggests that new appropriations allow the government to engage in longer-term budgeting, potentially facilitating forward-looking spending decisions.<br /><br />
  We also noted that research and development spending was less variable and less impacted by continuing resolutions suggesting that this type of service is likely to follow a distinct pattern for contract issuance from the typical cycles followed by other goods and services. As one of the smallest categories of spending, it is possible that this type of contract is partially sheltered from the timing of congressional appropriations. Other categories showed evidence of very large spikes in spending in response to congressional appropriations, such as transportation and logistic services. Further research as to why specific types of spending are more reactive to continuing resolution would need to be done to explain why."  
%}

{% include viz-footer-info.html body="This analysis was conducted using government-wide contract acquisition and spending data 
from fiscal year 2007 through the first quarter of fiscal year 2018. 
Additional data identifying the timing of continuing resolutions and new appropriations legislation enacted by 
Congress from fiscal year 2007 through the first quarter of 2018 was used to evaluate the impact of these 
actions on contract spending. Linear models were developed to estimate the relationship between contract 
spending across government and congressional budget actions." link="contracts-over-time-more.html" %}

<!-- test -->
<!-- vendor scripts -->
<script src="{{site.baseurl}}/assets/js/vendor/d3.v4.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/d3.tip.v0.6.3.js"></script>

<!-- shared scripts -->
<script src="{{site.baseurl}}/assets/js/shared/tooltipModule.js"></script>

<!-- COT scripts -->
<script src="{{site.baseurl}}/assets/js/contracts-over-time/parallaxModule.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/dataModule.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/chartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/barchartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/multiLinechartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/singleYearLinechartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/multiLinechartModuleNoDots.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/timeline.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/contractsOverTime.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/part2LineChart1.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/part2LineChart2.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/part2LineChart3.js"></script>
<script src="{{site.baseurl}}/assets/js/contracts-over-time/part2LineChart4.js"></script>