---
layout: page
title: Discover the Federal Government’s Bank Accounts 
description: Did you know that the government has almost 2,000 “accounts,” similar to bank accounts, which it uses to spend money? This visualization allows you to explore those accounts based on the agency structure.
banner: landings/federal.jpg
permalink: federal-spending-accounts.html
category: entry
---

<section id="one" class="wrapper style1 special">
  <div class="viz-bkgd">
    <div class="mask">
      {% include action-buttons.html %}
      <div class="viz-container">
        <element class="dendrogram">
          <div id="tree-container"></div>
        </element>
      </div>
    </div>
  </div>
</section>

{% include how-analysis-conducted.html
  how="This analysis was conducted by organizing spending data reported to USAspending.gov according to the structure of the federal government presented in government-wide budget documents."
  read-more="test.html"
  next-analysis="asdf.html"
%}

<!-- d3 -->
<script src="{{site.baseurl}}/assets/js/vendor/d3.v3.min.js"></script>
<script src="{{site.baseurl}}/assets/js/dendrogram.js"></script>