---
layout: page
menuname: Federal Account Explorer
menuorder: 1
title: Did you know that the government has almost 2,000 federal bank accounts?
description: Federal accounts, which are similar to bank accounts, are what the government uses to spend money. We've created this visualization to provide an all-in-one view of these accounts and help you explore how much is being used. The dendrogram (tree diagram) shows how each agency's accounts are organized. The first branch of the diagram shows agencies, the second shows sub-agencies, and the third shows the federal accounts.
banner: landings/federal.jpg
alt: Federal Spending Accounts
permalink: federal-account-explorer
category: entry
---

{% include viz-header-info.html
	title="How do agencies receive and spend money?"
  body="Every fiscal year, Congress decides how much money to give the federal government through its budgeting and appropriations process. These funds, or appropriations, are then designated for specific purposes and placed in specific federal accounts for each agency to use."
	identifier="panel1Modal"
%}

{% include viz-modal.html
	identifier="panel1Modal"
	title="How do agencies receive and spend money?"
	body="<p>Every fiscal year, Congress decides how much money to give the federal government through its budgeting and appropriations process. These funds, or appropriations, are then designated for specific purposes and placed in specific federal accounts for each agency to use. </p>
        <p>Federal agencies are responsible for spending these funds to carry out their programs and operations, which the Treasury Department assists with by managing the federal government's accounts.  All federal agencies have their own financial accounting systems to track money flowing in and out of accounts, and the Treasury Department is responsible for maintaining current and accurate information about the balances of agency accounts. This applies to accounts designated for paying individuals receiving Social Security, providing Medicare reimbursements, or paying for grants for roads and bridges.</p>"
%}

<section id="one" class="wrapper style1 center-text">
  <div class="viz-bkgd">
     {% include viz-title.html
        title="Federal Accounts Dendrogram"
        subtext="Fiscal Year 2018"
        identifier="panel1InstructionsModal"
     %}
     {% include viz-modal.html
       identifier="panel1InstructionsModal"
       title="Instructions"
       body="<ul><li>On the first branch, click any agency to reveal how that agency is organized into sub-agencies.</li>
             		 <li>On the second branch, click any sub-agency to reveal that sub-agency's federal accounts.</li>
             		 <li>On the third branch, click any any federal account to go to its Federal Account Profile on USAspending.gov. There, you will find an account description, how much money flowed in and out of the account in a fiscal year, and more.</li>
             		 <li>Click and drag the visualization to re-center.</li>
						 		 <li>Use the reset button at the top left corner to reset the visualization.</li></ul>"
     %}
    <div class="mask">
      {% include action-buttons.html %}
      <div class="viz-container">
        <element class="dendrogram">
          <div id="tree-container"></div>
        </element>
      </div>
    </div>
  </div>
</section>

{% include how-analysis-conducted.html
  how="We conducted this analysis by organizing the spending data reported to USAspending.gov in a way that reflects the structure of the federal government."
  read-more="federal-account-explorer-more"
  next-analysis="contract-explorer"
%}

<!-- d3 -->
<script src="{{site.baseurl}}/assets/js/vendor/d3.v3.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/d3.tip.v0.6.3.js"></script>
<script src="{{site.baseurl}}/assets/js/dendrogram.js"></script>
