---
layout: page
menuname: Federal Employees
menuorder: 8
title: Data Lab - Federal Employees – U.S. Treasury
excerpt: The U.S. Treasury’s Data Lab visualizes amounts spent on federal employee salaries, along with their occupations and where they are located.
header: In 2017, the largest 24 federal agencies employed nearly 2 million people.
description: These federal employees live in all 50 states and hold vastly diverse roles, including special agent, park ranger, Veterans Affairs hospital doctor, and more. This analysis uses federal financial data and employment data from the Office of Personnel Management (OPM) to show the breakdown of personnel spending by agency, along with where federal employees live and the types of work they do.
banner: landings/workers.jpg
alt: Workers in Government-Photography by Dana Dierkes
permalink: federal-employees.html
category: entry
---

{% include viz-header-info.html
	title="How much do agencies spend on personnel?"
	body="In Fiscal Year 2017 (FY 2017), the largest 24 federal agencies - known as CFO Act Agencies* - obligated a total of $115 billion in personnel compensation. Government-wide spending on personnel compensation (base salaries) is distributed across these agencies, with the largest amount of personnel spending made by the Department of Defense, followed by the Department of Veterans Affairs."
%}

<div class="fedscope-tool">

<!-- tooltip -->
<div id="tooltip" class="tooltip-module"></div>

<section id="one" class="viz-section center-text">
  <div class="viz-bkgd">
    <div class="mask">
      {% include action-buttons.html %}
      <div class="visContainer">
        <svg width="1200" height="700" viewBox="0 0 1200 700" id="treemapSvg"></svg>
      </div>
      
    </div>
  </div>
</section>

{% include viz-header-info.html
	title="Where do federal employees work?"
	body="CFO Act agencies employ 1.9 million people across the nation. The largest number of employees live and work in the District of Columbia, California, Virginia, Maryland, and Texas. Nearly a quarter of CFO Act agency employees (407,000 people) are located in 'the DMV area' -the District of Columbia, Maryland, or Virginia."
  %}
  
  <div class="viz-bkgd">
    <div class="mask" id="mapMask">
      {% include action-buttons.html
        actions="<div id='mapFilter' class='action-button'>Filter</div>"
      %}
      <form id="mapToolbar" class="toolbar">
        <div class="formItem">
          <div class="select-title">Agencies:</div>
          <select multiple id="mapAgencyDropdown"></select>
          <br>
        </div>
        <div class="formItem">
          <div class="select-title">Occupation Types:</div>
          <select multiple id="mapOccupationDropdown"></select>
          <br>
        </div>
      </form>
      
      <div class="visContainer">
        <svg width="900" height="562" viewBox="0 0 900 562" id="mapSvg"></svg>
      </div>
    </div>
</div>

{% include viz-header-info.html
	title="What do federal employees do?"
  body="
  <div>
    Federal employees serve in highly varied occupations. The following interactive visualization lists the main occupational categories, each of which includes several job types that are grouped by function - for example, administrative, medical, legal, or engineering. The occupation data also makes a distinction between blue-collar jobs (for example, warehousing) and white-collar jobs (for example, information technology). Across all CFO Act agencies, the top two occupation categories are Administrative and Clerical and Medical, Hospital, Dental, and Public Health. 
  </div>
  <div>
    To explore the distribution of workers across occupation categories for each agency, select an agency from the menu.
  </div>
  "
%}

<div class="viz-bkgd">
	<div class="mask" id="barchartMask">  
    {% include action-buttons.html
      actions="<div id='barchartFilter' class='action-button'>Filter</div>"
    %}
    <form id="barchartToolbar" class="toolbar">
      <div class="formItem">
        <div class="select-title">Agencies:</div>
        <select multiple="" id="barchartAgencyDropdown"></select>
        <br>
      </div>
      <div class="formItem">  
        <div class="select-title">States:</div>
        <select multiple="" id="barchartStateDropdown"></select>
        <br>
      </div>
    </form>

    <div class="visContainer">
      <svg id="barchartKey"></svg>
      <svg width="900" height="500" viewBox="0 0 900 500" id="barchartSvg"></svg>
    </div>
	</div>
</div>
</div>

{% include viz-footer-info.html
  body="We conducted this analysis using federal agency obligations data reported to USAspending.gov (which is available to the public) and agency employment data made available by the Office of Personnel Management (OPM) at FedScope.OPM.gov."
  link="federal-employees-more.html"
%}

{% include footer-navigation.html
  prev-text="Budget Function"
  prev-link="budget-function.html"
  next-text="Competition In Contracting"
  next-link="competition-in-contracting.html"
%}

<!-- shared scripts -->
<script src="{{site.baseurl}}/assets/js/shared/tooltipModule.js"></script>

<!-- fedscope scripts -->
<script src="{{site.baseurl}}/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/d3.v4.min.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/treemapModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/mapModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/barchartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/keyModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/dataModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/fedscope.js"></script>