---
layout: page
menuname: Federal Account Explorer
menuorder: 4
title: Data Lab - Federal Account Explorer – U.S. Treasury
excerpt: The U.S. Treasury’s Data Lab presents a tree-style visualization exploring nearly 2,000 federal government spending accounts and the amounts spent.
header: Did you know that the government has almost 2,000 federal spending accounts?
description: Federal accounts are what the government uses to spend money. We've created this visualization to provide an all-in-one view of these accounts and help you explore how much is being used. The dendrogram (tree diagram) shows how each agency's accounts are organized. The first branch of the diagram shows agencies, the second shows sub-agencies, and the third shows the federal accounts.
banner: landings/federal.jpg
alt: Federal Spending Accounts
permalink: federal-account-explorer.html
category: entry
---

{% include viz-header-info.html
	title="How do agencies receive and spend money?"
  body="Every fiscal year, Congress decides how much money to give the federal government through its budgeting and appropriations process. These funds, or appropriations, are then designated for specific purposes and placed in specific federal accounts for each agency to use."
	identifier="panel1Modal"
%}

{% include viz-modal.html
	identifier="panel1Modal"
	title="How do agencies receive and spend money?"
	body="<p>Every fiscal year, Congress decides how much money to give the federal government through its budgeting and appropriations process. These funds, or appropriations, are then designated for specific purposes and placed in specific federal accounts for each agency to use. </p>
        <p>Federal agencies are responsible for spending these funds to carry out their programs and operations, which the Treasury Department assists with by managing the federal government's accounts.  All federal agencies have their own financial accounting systems to track money flowing in and out of accounts, and the Treasury Department is responsible for maintaining current and accurate information about the balances of agency accounts. This applies to accounts designated for paying individuals receiving Social Security, providing Medicare reimbursements, or paying for grants for roads and bridges.</p>"
%}

<section id="one" class="viz-section center-text">
  <div class="viz-bkgd">
     {% include viz-title.html
        title="Federal Accounts Dendrogram"
        identifier="panel1InstructionsModal"
     %}
     {% include viz-modal.html
       identifier="panel1InstructionsModal"
       title="Instructions"
       body="<ul><li>On the first branch, click any agency to reveal how that agency is organized into sub-agencies.</li>
             		 <li>On the second branch, click any sub-agency to reveal that sub-agency's federal accounts.</li>
             		 <li>On the third branch, click any any federal account to go to its Federal Account Profile on USAspending.gov. There, you will find an account description, how much money flowed in and out of the account in a fiscal year, and more.</li>
             		 <li>Click and drag the visualization to re-center.</li>
						 		 <li>Use the reset button at the top left corner to reset the visualization.</li></ul>"
     %}
    <div class="mask"><div class="viz-actions">
      <form id="DendroRadio">
        <div class="select-wrapper1" style="position:relative; margin:10px auto 0px 20px;">
          <input type="radio" id="contactChoice2" name="FiscalYear" value="fy17">
          <label for="contactChoice2" style="font-size:12px">FY 17</label>

          <input type="radio" id="contactChoice1" name="FiscalYear" value="fy18" checked>
          <label for="contactChoice1" style="font-size:12px;">FY 18</label>
        </div>
        <div class="select-wrapper2" style="position:relative; margin:10px auto 0px 20px;">
          <input type="radio" id="contactChoice3" name="Quarter" value="12-31">
          <label for="contactChoice3" style="font-size:12px;">Q1</label>

          <input type="radio" id="contactChoice4" name="Quarter" value="03-31">
          <label for="contactChoice4" style="font-size:12px">Q2</label>

          <input type="radio" id="contactChoice5" name="Quarter" value="06-30" checked>
          <label for="contactChoice5" style="font-size:12px;">Q3</label>

          <input type="radio" id="contactChoice6" name="Quarter" value="09-30">
          <label for="contactChoice6" style="font-size:12px">Q4</label>
        </div>
      </form>
      {% include action-buttons.html %}
      <div>
      </div>
    </div>
      <div class="viz-container">
        <!-- tooltip -->
        <div id="tooltip" class="tooltip-module"></div>
        <element class="dendrogram">
          <div id="tree-container"></div>
        </element>
      </div>
    </div>
  </div>
</section>

{% include viz-footer-info.html
  body="We conducted this analysis by organizing the spending data reported to USAspending.gov in a way that reflects the structure of the federal government. To do this, we matched federal accounts with the Office of Management and Budget's (OMB's) Master Account File, which lists agencies and their Treasury accounts as presented in the government-wide budget. We based this analysis on File A information reported to USAspending.gov."
  link="federal-account-explorer-more.html"
%}

{% include footer-navigation.html
  prev-text="Competition In Contracting"
  prev-link="competition-in-contracting.html"
  next-text="Contract Explorer"
  next-link="contract-explorer.html"
%}

<!-- vendor scripts -->
<script src="{{site.baseurl}}/assets/js/vendor/d3.v3.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/d3.tip.v0.6.3.js"></script>
<script src="{{site.baseurl}}/js/jquery.min.js"></script>

<!-- shared scripts -->
<script src="{{site.baseurl}}/assets/js/shared/tooltipModule.js"></script>

<!-- federal-account-explorer scripts -->
<script src="{{site.baseurl}}/assets/js/dendrogram.js"></script>
