---
layout: page
menuname: Homelessness Analysis
menuorder: 6
title: Data Lab – Homelessness Analysis – U.S. Treasury
excerpt: The U.S. Treasury’s Data Lab presents an analysis showing where people experience homelessness across America and the federal programs to assist them. On a single night in 2018, more than 550,000 people experienced homelessness in the United States 
description: Multiple federal, state, and local programs offer support to people facing homelessness. Our visualizations display federal financial data to show the breakdown of funding spent to address this problem.
keywords: homelessness, federal spending, housing, federal programs, homeless
header: On a single night in 2018, more than 550,000 people experienced homelessness in the United States.
banner: landings/homelessness.jpg
permalink: homelessness-analysis.html
redirect_from: http://www.fedspendingtransparency.github.io/data-lab/homeless-analysis/
category: entry
dlPageCss: homeless-analysis.css
---

{% include viz-header-info.html
title="How individuals experiencing homelessness are counted"
body="People experiencing homelessness are counted each January by grantees who receive funding from the U.S. Department of Housing and Urban Development’s (HUD) Continuum of Care program. This program is the largest federal program related to homelessness.<span class='superscript'>1</span> It requires grantees to collect reliable data on the total number of people experiencing homelessness who reside in the grantee's geographic area.<span class='superscript'>2</span>"
identifier="panel1Modal"
%}

{% include viz-modal.html
identifier="panel1Modal"
title="How individuals experiencing homelessness are counted"
body="<p>
  People experiencing homelessness are counted once a year (in late January) by grantees who
  receive funding from the U.S Department of Housing and Urban Development's (HUD) Continuum of Care program. This program is the largest federal
  program related to homelessness.<span class='superscript'>1</span> It requires grantees to collect reliable data on the total
  number of people experiencing homelessness who reside in the grantee's geographic area.<span class='superscript'>2</span>
</p>
<p>
  State and local governments create the Continuum of Care regions. These regional divisions reflect how each community organizes itself and applies for funding from HUD's Continuum of Care program. HUD allows Continuum of Care grantees to use multiple approaches to complete their count, if necessary. Grantees may use a census approach, a sampling approach, or a combination of the methods.<span class='superscript>3</span>
																																																		     </p>
																																																		     <hr>
																																																		     <p><span class='superscript'>1</span> <a href='https://www.usich.gov/resources/uploads/asset_library/2016_Budget_Fact_Sheet_on_Homelessness_Assistance.pdf' target='_blank'>United States Interagency Council on Homelessness.</a></p>
<p><span class='superscript'>2</span> <i>'The Point-in-Time (PIT) count is a count of sheltered and unsheltered homeless persons on a single night in January. HUD requires that Continuums of Care conduct an annual count of homeless persons who are sheltered in emergency shelter, transitional housing, and Safe Havens on a single night. Continuums of Care also must conduct a count of unsheltered homeless persons every other year (odd numbered years). Each count is planned, coordinated, and carried out locally.'</i></span><br />- <a href='https://www.hudexchange.info/programs/hdx/guides/pit-hic/#general-pit-guides-and-tools' target='_blank'>Department of Housing and Urban Development.</a></p>
<p><span class='superscript'>3</span> <a href='https://www.hudexchange.info/resources/documents/PIT-Count-Methodology-Guide.pdf' target='_blank'>Department of Housing and Urban Development.</a></p>"
%}

<section id="one" class="viz-section center-text">
  <div class="viz-bkgd">
    {% include viz-title.html
    title="Homeless Population by Region"
    subtext="HUD Point-in-time Count by Continuum of Care Area"
    identifier="panel1InstructionsModal"
    %}
    {% include viz-modal.html
    identifier="panel1InstructionsModal"
    title="Instructions"
    body="<ul>
    <li>Double click on the map to zoom into a region.</li>
    <li>Double click that same region on the map to zoom out or click the reset button.</li>
    <li>While zoomed in, double clicking a different region will re-center the map.</li>
    <li>To view this data in table format, click the table icon in the upper-left hand corner of the visualization.</li>
    <li>To return to map view, click on the map icon in the upper-left hand corner of the visualization.</li>

    <br>
    * White areas with no hover-over represent areas of the country that are not represented by a Continuum of Care area.
    <br>
    ** This map reflects the most up-to-date HUD map available; however, some Continuum of Care areas merged together in 2018 after this map was created.

    </ul>"
    %}
    <div class="mask">
      {% include homeless-p1-buttons.html %}
      <div class="viz-container homeless-analysis">
	<div id="container" height="100%" width="100%"></div>
      </div>
      <div class="homeless-panel-one-info">
	<p>* White areas with no hover-over represent areas of the country that are not represented by a Continuum of Care area.</p>
	<p>** This map reflects the most up to date HUD map available; however, some Continuum of Care areas have merged together in 2017 since this map was updated.</p>
	<p>See our section on How We Conducted This Analysis for more information.</p>
      </div>
    </div>
</section>

{% include viz-header-info.html
title="Federal programs that address homelessness"
body="The Department of Housing and Urban Development plays a lead role in federal efforts to address homelessness, although multiple federal agencies manage programs that provide services including education, employment, housing resources, and more."
identifier="panel2Modal"
%}

{% include viz-modal.html
identifier="panel2Modal"
title="Federal programs that address homelessness"
body="<p>The Department of Housing and Urban Development plays a lead role in federal efforts to
  address homelessness, although multiple federal agencies manage programs that provide
  services including education, employment, housing resources, and more.</p>
<p>
  Our analysis identified 33 federal programs that explicitly flag homeless individuals as beneficiaries. These include programs that name homeless individuals as primary targets of services or as one of the program's target recipient groups.<span class='superscript'>4</span> We found that programs targeting homelessness focus either on all individuals experiencing homelessness, or on a subset, such as veterans or youth. These programs provide various types of assistance, which we divided into six categories: housing, food, education, employment, health, and support services.
</p>
<p>
  Federal funding is just one piece of the puzzle - states, municipalities, and other organizations play a large role in providing funds to address homelessness. While we did not conduct a comprehensive analysis of the relationship between federal, state, local, and private funding sources for programs that alleviate homelessness across the country, numerous examples show federal funding works as part of a larger network of support.
</p>
<p>
  For example, the city of New York spent $3.2 billion on homelessness programs in 2019,<span class='superscript'>5</span> compared with about $134 million from federal programs (including those where homeless individuals are one of several beneficiaries).
</p>

<p>The city of San Francisco expects to spend $305 million on similar programs in 2019,<span class='superscript'>6</span> compared to the $43 million they recieved in federal funding.
  they received in federal funding.<span class='superscript'>7</span> </p>

<p>And, to cite an example of private funding, the Church of Latter Day Saints donated $42 million between 2007 and 2017 to build housing in Salt Lake City for people experiencing chronic homelessness.<span class='superscript'>8</span>
</p>
				<hr>

				<p><span class='superscript'>4</span> As an example, we included a program managed by the Department of Health and Human Services called <i>Grants for New and Expanded Services under the Health Center Program</i>, which provides funding for expanded and sustained national investment in health centers, even people experiencing homelessness were one type of beneficiary listed, along with migrant workers, public housing residents, and others. We did not include programs intended to address poverty or that provide resources for low-income individuals if homeless individuals were not specifically mentioned as a type of beneficiary.</p>
				<p><span class='superscript'>5</span> West, Melanie. <a href='https://www.wsj.com/articles/new-york-citys-spending-on-homeless-hits-3-2-billion-this-year-11558562997' target='_blank'>'NYC's Spending on Homelessness Hits $3.2 Billion this Year.' </a><i>The Wall Street Journal.</i></p>
				<p><span class='superscript'>6</span> Markovich, Matt. <a href='https://komonews.com/news/local/san-francisco-and-seattle-a-tale-of-two-cities-mired-in-a-homeless-crisis' target='_blank'>'San Francisco and Seattle: A tale of two cities mired in a homeless crisis.'</a><i>KOMO News</i>.</p>
				<p><span class='superscript'>7</span> Federal, state, and local fiscal years do not always align to the same time frame; the purpose here is to make a broad comparison. </p>
				<p><span class='superscript'>8</span> Walch, Tad. <a href='https://www.deseretnews.com/article/865677276/Over-a-decade-LDS-Church-has-given-42-million-to-homeless-relief-in-Salt-Lake.html' target='_blank'>'Over a decade, LDS Church has given $42 million to homeless relief in Salt Lake.'</a></p>"
				%}

				<section id="one" class="viz-section center-text">
				  <div class="viz-bkgd">
				    {% include viz-title.html
				    title="Federal Spending on Homelessness by Region"
				    subtext="Federal grant awards by Continuum of Care Area"
				    identifier="panel2InstructionsModal"
				    %}
				    {% include viz-modal.html
				    identifier="panel2InstructionsModal"
				    title="Instructions"
				    body="
				    <b>Map</b>
				    <ul>
				      <li>Double click the map to zoom into a region.</li>
				      <li>Double click that same region to zoom out.</li>
				      <li>While zoomed in, double clicking a different region will re-center the map on that region.</li>
				      <li>To select a different CoC area and update the charts, single-click a different region.</li>
				    </ul>
				    <br />
				    <b>Bar Charts</b>
				    <ul>
				      <li>Single-click the bars on the charts to visit a website describing each listed program in depth.</li>
				      <ul>"
					%}
					<div class="mask">
					  {% include action-buttons.html %}
					  <div class="viz-container homeless-analysis" style="background-color: #E2DFEC">
					    <div class="flex-container">
					      <div class="panel2_container" id="container2_1"></div>
					      <div class="panel2_container" id="container2_2"></div>
					      <div class="panel2_container">
						<div id="container2_3"></div>
						<!--<button class="button" id="myBtnContact">CoC Contact</button>-->
						<div id="myModalContact" class="modal">
						  <div class="modal-content" id="modalContact"  style="width:30%">
						    <div class="modal-blue-bar"></div>
						    <div class="modal-body"  style="max-width:100%; padding: 0 0 0 0">
						      <span onclick="document.getElementById('myModalContact').style.display='none'" class="closeContact">&times;</span>
						      <div class="modal-body-content" id="CoCcontact"></div>
						    </div>
						  </div>
						</div>
					      </div>
					      <div class="panel2_container" id="container2_4"></div>
					    </div>
					  </div>
					</div>
				  </div>
	</div>
				</section>

				<script>
				 var modal = document.getElementById('myModalContact');
				 document.getElementById("myBtnContact").onclick = function() {
				   modal.style.display = "block";
				 }
				 window.onclick = function(event) {
				   if (event.target == modal) {
				     modal.style.display = "none";
				   }
				 }
				</script>

				{% include viz-header-info.html
				title="Which Continuum of Care areas are similar to each other?"
				body="While the previous section allows you to compare Continuum of Care areas that are neighbors geographically, we wanted to explore if Continuum of Care areas were similar along characteristics other than geography. It may be helpful for those working in the field to know what types of funding their neighbors receive and to know what regions are similar to their own, regardless of location. Using an unsupervised machine-learning algorithm, we clustered Continuum of Care areas based on a variety of attributes, such as population, income, and the prevalence of mental illness."
				%}

				<section id="one" class="viz-section center-text">
				  <div class="viz-bkgd">
				    {% include viz-title.html
				    title="Clustering Administrative Regions"
				    subtext="Using multiple data sources to discover similarities between regions"
				    identifier="panel3InstructionsModal"
				    %}
				    {% include viz-modal.html
				    identifier="panel3InstructionsModal"
				    title="Instructions"
				    body="
				    <img src='/images/homelessness/region_guide_full.jpg' class='homeless-analysis-picture'>
				    <p>
				      There are three parts to explore in this data visualization: the top tree map shows all Continuum of Care areas and the clusters to which they belong. The grey panel below will show all Continuum of Care areas that belong to the selected cluster.  The infographic below offers a quick snapshot of the cluster's attributes. For example, one Continuum of Care area in a cluster may have a median rent of $1,800 (the maximum for that cluster) while another Continuum of Care area has a median rent of $900 (the minimum for that cluster).
				    </p>
				    <ul>
				      <li>The top chart updates the data points and the infographic below.</li>
				      <li>To view a different Continuum of Care area, click a cluster in the top chart.</li>
				      <li>To see more areas within a cluster, click a Continuum of Care area in the gray panel.</li>
				    </ul>"
				    %}
				    <div class="mask">
				      {% include action-buttons.html %}
				      <div class="viz-container homeless-analysis" style = "height:90%; padding: 15px 15px 15px 15px;">
					<div id="panel_3b">
					  <div id="tree"></div>
					  <div id="tab_info">
					    <div class="tab" id="tab"></div>
					  </div>
					<div class="cocTab" id="cocTab"></div>
					{% include homeless-fact-cluster.html %}
				</div>
			</div>
		</div>
	</div>
</section>


{% include viz-header-info.html
	title="Final thoughts"
	body="As these visualizations depict, thousands of people are homeless across the United States. 
	We hope that this analysis shows how federal funding impacts homelessness and can serve as a useful tool for state and local governments, 
	as well as private institutions, who are working to reduce homelessness. 
	In addition, we chose to conduct this analysis because it features data from across multiple federal agencies,
        in one dataset. <br /><br />
	Analysts and users who have ideas for other types of analyses, whether featuring contracts or financial assistance across the federal government, 
	can use the Data Lab's Analyst Guide for guidance and hints as they use the data.<br /><br />
	Do you want to provide feedback or ask a question? Send feedback 
<a class='homelessness-link' href='https://usaspending-help.zendesk.com/hc/en-us/community/topics'>here!</a><br />"
%}

{% include viz-footer-info.html
body="To accurately determine the amount the federal government spends addressing homelessness, we reviewed federal program descriptions using the Catalog of Federal Domestic Assistance, looking for any mention of keywords related to homelessness."
	link="homelessness-analysis-more.html"
%}

{% include footer-navigation.html
	prev-text="Contract Explorer"
	prev-link="contract-explorer.html"
	next-text="Budget Function"
	next-link="budget-function.html"
%}

<!-- d3 -->
<script src="{{site.baseurl}}/assets/js/vendor/d3.v3.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/d3.tip.v0.6.3.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/topojson.v1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/spin.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/homeless.js"></script>
