---
layout: page
menuname: Object Class and Budget Function
menuorder: 4
title: “The What” And “The Why” Of Government Spending
description: Do you know what the government spends money on and why? Budget functions are categories that describe the purpose of federal spending, or “the why.” Object classes are categories that describe what goods and services were purchased, or “the what.”
banner: landings/budget.jpg
alt: Budget Function-Photography by Brandon Mowinkel
permalink: what-and-why-government-spending.html
category: entry
---

<section id="one" class="wrapper style1 special">
	<div class="viz-bkgd">
		<div class="mask">
			{% include action-buttons.html %}
			<div class="viz-container">
				<element class="budget-sankey">
					<div id="sankey-container" style="padding:10px">
						<div class="sankey-label-budget-function"><h1>Budget Function</h1></div>
						<div id="sankey-viz"></div>
						<div class="sankey-label-object-class"><h1>Object Class</h1></div>
						<div id="sankey-table"></div>
					</div>
				</element>
			</div>
		</div>
	</div>
</section>

{% include how-analysis-conducted.html
	how="This analysis was conducted using agency account obligation data reported to USAspending.gov, which is available to the public. Each reported account is aligned to a single Budget Function and is further broken out by the dollars obligated under each Object Class (data can be found via the TAS/categories endpoint within the DATA Act API)."
%}

<!-- d3 -->
<script src="{{site.baseurl}}/assets/js/vendor/d3.v3.min.js"></script>
<script src="{{site.baseurl}}/assets/js/budget-sankey.js"></script>