---
layout: page
title: Workers In The Government
description: Connecting USAspending and federal employment data to visualize how personnel obligations across the federal government's budget translate to staffing across the government.
banner: landings/workers.jpg
permalink: who-works-in-government.html
category: entry
---


<div class="info-bkgd">
	<div class="page-box">
		<h2 class="entry-about-title">How does agency spending on personnel compare?</h2>
    <h3 class="entry-about-body">In the first two quarters of fiscal year 2017 (FY17), a total of $115 million dollars in personnel compensation was obligated by the largest 24 federal agencies (referred to as CFO Act Agencies*). Figure 1 shows how government-wide personnel compensation and benefits spending is distributed across these agencies, with the largest amount of personnel spending dedicated to the Department of Defense followed by the Department of Agriculture.</h3>
  </div>
</div>

<section id="one" class="wrapper style1 special">
  <div class="viz-bkgd">
    <div class="mask">
      {% include action-buttons.html %}
      <div class="viz-container">
        <a href="https://plot.ly/~usaspending/31/?share_key=BUTicuy4T7cAsK6tsNUnEK" rel="noopener noreferrer" target="_blank" title="Personnel_Spending_Visualization" style="display: block; text-align: center;"><img src="https://plot.ly/~usaspending/31.png?share_key=BUTicuy4T7cAsK6tsNUnEK" alt="Personnel_Spending_Visualization" style="max-width: 100%;width: 900px;"  width="900" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="usaspending:31" sharekey-plotly="BUTicuy4T7cAsK6tsNUnEK?showlink=false" src="https://plot.ly/embed.js" async></script>
      </div>
    </div>
  </div>
</section>



<div class="info-bkgd">
	<div class="page-box">
		<h2 class="entry-about-title">Where are employees located?</h2>
    <h3 class="entry-about-body">CFO Act Agencies employ 1.9 million people across the nation, with the largest number of employees located in the District of Columbia, California, Virginia, Maryland, and Texas. Twenty three percent, or 407 thousand, CFO Act Agency employees are located in either the District of Columbia, Maryland, or Virginia.</h3>
  </div>
</div>

<div class="viz-bkgd">
	<div class="mask">
    {% include action-buttons.html %}
		<div class="viz-container">
      <a href="https://plot.ly/~usaspending/17/?share_key=AkGIGL2zOeNaclHAZwq32l" rel="noopener noreferrer" target="_blank" title="Govwide_Choropleth" style="display: block; text-align: center;"><img src="https://plot.ly/~usaspending/17.png?share_key=AkGIGL2zOeNaclHAZwq32l" alt="Govwide_Choropleth" style="max-width: 100%;width: 750px;"  width="750" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
      <script data-plotly="usaspending:17" sharekey-plotly="AkGIGL2zOeNaclHAZwq32l?showlink=false" src="https://plot.ly/embed.js" async></script>
		</div>
	</div>
</div>



<div class="info-bkgd">
	<div class="page-box">
		<h2 class="entry-about-title">What do employees do?</h2>
    <h3 class="entry-about-body">Figure 3 illustrates how these agency’s employees include diverse types of employees. Government employees consisting of a mix of various type of staff across these agencies, including administrative, medical, legal, and engineering staff. This is shown by separating each agency’s workforce by occupational category, which groups related occupations by function. The largest proportion of employees across CFO Act agencies are employed in administrative and clerical, or medical, hospital, dental, and public health occupations.</h3>
  </div>
</div>

<div class="viz-bkgd">
	<div class="mask">
    {% include action-buttons.html %}
		<div class="viz-container">
      <a href="https://plot.ly/~usaspending/41/?share_key=Clhf2u9TdpWTOPkWhbe36Z" rel="noopener noreferrer" target="_blank" title="Employee_Occupation_Barchart" style="display: block; text-align: center;"><img src="https://plot.ly/~usaspending/41.png?share_key=Clhf2u9TdpWTOPkWhbe36Z" alt="Employee_Occupation_Barchart" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
      <script data-plotly="usaspending:41" sharekey-plotly="Clhf2u9TdpWTOPkWhbe36Z?showlink=false" src="https://plot.ly/embed.js" async></script>
		</div>
	</div>
</div>

{% include how-analysis-conducted.html
	how="These analyses were conducted using federal agency obligations data reported to USAspending.gov, which is available to the public, and agency employment data made available by the Office of Personnel Management (OPM) at FedScope.OPM.gov."
	read-more="test.html"
	next-analysis="asdf.html"
%}