---
layout: page
menuname: Interactive Dashboard
menuorder: 5
title: In 2017, the largest 24 federal agencies employed nearly 2 million people.
description: These federal employees live in all 50 states and hold vastly diverse roles, including special agent, park ranger, Veterans Affairs hospital doctor, and more. This analysis uses federal financial data and employment data from the Office of Personnel Management (OPM) to show the breakdown of personnel spending by agency, along with where federal employees live and the types of work they do.
banner: landings/workers.jpg
alt: Workers in Government-Photography by Dana Dierkes
permalink: who-works-in-government.html
category: nonentry
---

{% include viz-header-info.html
	title="How much do agencies spend on personnel?"
	body="In Fiscal Year 2017 (FY 2017), the largest 24 federal agencies - known as CFO Act Agencies* - obligated a total of $115 million in personnel compensation. Government-wide spending on personnel compensation (base salaries)is distributed across these agencies, with the largest amount of personnel spending made by the Department of Defense, followed by the Department of Agriculture."
%}

<div class="fedscope-tool">

<!-- tooltip -->
<div id="tooltip" class="homeless-analysis d3-tip n" style="opacity: 0; position: absolute; top: 1726px; box-sizing: border-box; background: rgb(255, 255, 255); color: rgb(51, 51, 51); border: 1px solid rgb(191, 188, 188); padding: 25px; left: 486.128px;"></div>

<section id="one" class="wrapper style1 center-text">
  <div class="viz-bkgd">
    <div class="mask">
      {% include action-buttons.html %}
      <div class="visContainer">
        <svg width="1200" height="700" id="treemapSvg"></svg>
      </div>
      
    </div>
  </div>
</section>

{% include viz-header-info.html
	title="Where do federal employees work?"
	body="CFO Act agencies employ 1.9 million people across the nation. The largest number of employees live and work in the District of Columbia, California, Virginia, Maryland, and Texas. Nearly a quarter of CFO Act agency employees (407,000 people) are located in 'the DMV area' -the District of Columbia, Maryland, or Virginia."
  %}
  
  <div class="viz-bkgd">
    <div class="mask">
      {% include action-buttons.html %}
      <form id="mapToolbar" class="toolbar">
        <div class="formItem">
          Agencies:<br>
          <select multiple id="mapAgencyDropdown"></select>
          <br>
          Occupation Types:<br>
          <select multiple id="mapOccupationDropdown"></select>
          <br>
        </div>
        <div class="formItem">
          <button type="submit">Filter</button>
          <button id="mapToolbarReset">Reset</button>
        </div>
      </form>
      
      <div class="visContainer">
        <svg width="900" height="562" id="mapSvg"></svg>
      </div>
    </div>
</div>

{% include viz-header-info.html
	title="What do federal employees do?"
  body="
  <div>
    Federal employees serve in highly varied occupations. The following interactive visualization lists the main occupational categories, each of which includes several job types that are grouped by function - for example, administrative, medical, legal, or engineering. The occupation data also makes a distinction between blue-collar jobs (for example, warehousing) and white-collar jobs (for example, information technology). Across all CFO Act agencies, the top two occupation categories are Administrative and Clerical and Medical, Hospital, Dental, and Public Health. 
  </div>
  <div>
    To explore the distribution of workers across occupation categories for each agency, select an agency from the dropdown menu (pending redesign).
  </div>
  "
%}

<div class="viz-bkgd">
	<div class="mask">  
    {% include action-buttons.html %}
    <form id="barchartToolbar" class="toolbar">
      <div class="formItem">
        Agencies:<br>
        <select multiple="" id="barchartAgencyDropdown"></select>
        <br>
        States:<br>
        <select multiple="" id="barchartStateDropdown"></select>
        <br>
      </div>
      <div class="formItem">      
        <button type="submit">Filter</button>
        <button id="barchartToolbarReset">Reset</button>
      </div>
    </form>
    <div class="visContainer">
      <svg id="barchartKey"></svg>
      <svg width="900" height="500" id="barchartSvg"></svg>
    </div>
	</div>
</div>

{% include how-analysis-conducted.html
  how="
  <div>
      We conducted this analysis using federal agency obligations data reported to USAspending.gov (which is available to the public) and agency employment data made available by the Office of Personnel Management (OPM) at FedScope.OPM.gov. We used personnel compensation obligations data for all CFO Act* agencies to identify the cost of personnel compensation for each agency <b>except</b> the Department of Defense (DOD) through the end of Q4 2017 (DOD data is through Q3 of fiscal year 2017). 
  </div>
  <div>
    The data we used excludes military compensation and benefits spending, such as housing allowances, health insurance, and retirement account contributions. Employee location and occupation data reflect the information made available by OPM for fiscal year 2017 in Fedscope as of October 2017. Employee information includes all full-time and other-than-full-time employees, reported to OPM. 
  </div>
  <div>
    * The Chief Financial Officers (CFO) Act of 1993 established the CFO Council and the member agencies. This group of 24 agencies accounts for the vast majority of all government spending.
  </div>   
    "
   read-more="https://cfo.gov/about/"
%}
</div>

<!-- master scripts -->
<script src="{{site.baseurl}}/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/d3.v4.min.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/treemapModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/mapModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/barchartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/tooltipModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/keyModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/dataModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/fedscope.js"></script>