---
layout: page
menuname: Workers in Government
menuorder: 5
title: In 2017, the largest 24 federal agencies employed nearly 2 million people.
description: These federal employees live in all 50 states and hold vastly different roles, including special agents, park rangers, and doctors. This analysis uses federal financial data and employment data from the Office of Personnel Management (OPM) to show the breakdown of personnel spending by agency, along with where federal employees live and the types of work they do.
banner: landings/workers.jpg
alt: Workers in Government-Photography by Dana Dierkes
permalink: who-works-in-government.html
category: nonentry
---

{% include viz-header-info.html
	title="How much do agencies spend on personnel?"
	body="In fiscal year 2017, the largest 24 federal agencies - known as CFO Act Agencies - obligated a total of $115 million in personnel compensation. Government-wide spending on personnel compensation (base salaries) is distributed across these agencies, with the largest amount of personnel spending made by the Department of Defense."
%}

<div class="fedscope-tool">

<!-- tooltip -->
<div id="tooltip" class="homeless-analysis d3-tip n" style="opacity: 0; position: absolute; top: 1726px; box-sizing: border-box; background: rgb(255, 255, 255); color: rgb(51, 51, 51); border: 1px solid rgb(191, 188, 188); padding: 25px; left: 486.128px;"></div>

<section id="one" class="wrapper style1 special">
  <div class="viz-bkgd">
    <div class="mask">
      {% include action-buttons.html %}
      <div class="visContainer">
        <svg width="1200" height="700" id="treemapSvg"></svg>
      </div>
      
    </div>
  </div>
</section>

{% include viz-header-info.html
	title="Where are employees located?"
	body="CFO Act Agencies employ 1.9 million people across the nation, with the largest number of employees located in the District of Columbia, California, Virginia, Maryland, and Texas. Twenty three percent, or 407 thousand, CFO Act Agency employees are located in either the District of Columbia, Maryland, or Virginia."
  %}
  
  <div class="viz-bkgd">
    <div class="mask">
      {% include action-buttons.html %}
      <!-- <div class="viz-container">
        <a href="https://plot.ly/~usaspending/17/?share_key=AkGIGL2zOeNaclHAZwq32l" rel="noopener noreferrer" target="_blank" title="Govwide_Choropleth" style="display: block; text-align: center;"><img src="https://plot.ly/~usaspending/17.png?share_key=AkGIGL2zOeNaclHAZwq32l" alt="Govwide_Choropleth" style="max-width: 100%;width: 750px;"  width="750" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="usaspending:17" sharekey-plotly="AkGIGL2zOeNaclHAZwq32l?showlink=false" src="https://plot.ly/embed.js" async></script>
      </div> -->
      <!-- <div>2</div> -->
      <form id="mapToolbar">
        Agencies:<br>
        <select multiple id="mapAgencyDropdown"></select>
        <br>
        Occupation Types:<br>
        <select multiple id="mapOccupationDropdown"></select>
        <br>
        <button type="submit">Filter</button>
        <button id="mapToolbarReset">Reset</button>
      </form>
      
      <div class="visContainer">
        <svg width="900" height="562" id="mapSvg"></svg>
      </div>
    </div>
</div>

{% include viz-header-info.html
	title="What do employees do?"
	body="Figure 3 illustrates how these agency’s employees include diverse types of employees. Government employees consisting of a mix of various type of staff across these agencies, including administrative, medical, legal, and engineering staff. This is shown by separating each agency’s workforce by occupational category, which groups related occupations by function. The largest proportion of employees across CFO Act agencies are employed in administrative and clerical, or medical, hospital, dental, and public health occupations."
%}

<div class="viz-bkgd">
	<div class="mask">
    {% include action-buttons.html %}
		<!-- <div class="viz-container">
      <a href="https://plot.ly/~usaspending/41/?share_key=Clhf2u9TdpWTOPkWhbe36Z" rel="noopener noreferrer" target="_blank" title="Employee_Occupation_Barchart" style="display: block; text-align: center;"><img src="https://plot.ly/~usaspending/41.png?share_key=Clhf2u9TdpWTOPkWhbe36Z" alt="Employee_Occupation_Barchart" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
      <script data-plotly="usaspending:41" sharekey-plotly="Clhf2u9TdpWTOPkWhbe36Z?showlink=false" src="https://plot.ly/embed.js" async></script>
    </div> -->
    <!-- <div>3</div> -->
    <form id="barchartToolbar">
      Agencies:<br>
      <select multiple="" id="barchartAgencyDropdown"></select>
      <br>
      States:<br>
      <select multiple="" id="barchartStateDropdown"></select>
      <br>
      <button type="submit">Filter</button>
      <button id="barchartToolbarReset">Reset</button>
    </form>
    
    <div class="visContainer">
      <svg width="900" height="500" id="barchartSvg"></svg>
    </div>
	</div>
</div>

{% include how-analysis-conducted.html
  how="These analyses were conducted using federal agency obligations data reported to 
       USAspending.gov, which is available to the public, and agency employment data made 
       available by the Office of Personnel Management (OPM) at FedScope.OPM.gov."
  read-more="homeless-analysis-more.html"
  next-analysis="competition-contracting.html"
%}
</div>

<!-- master scripts -->
<script src="{{site.baseurl}}/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/d3.v4.min.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/treemapModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/mapModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/barchartModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/tooltipModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/dataModule.js"></script>
<script src="{{site.baseurl}}/assets/js/fedscope-tool/fedscope.js"></script>