--- 
layout: ffg
title: Data Lab - title – U.S. Treasury
excerpt: excerpt
header: header
description: description
permalink: /americas-finance-guide/deficit/index
ffg: true
ffgNav: true
ffgPageCss: css/chapterIntroCommon.css
---

{% include ffg/nav/deficit.html %}

<div class="ffg-wrapper deficit-intro">
    <div class="ffg-share">{% include new-share-menu.html %}</div>

    <h1>In 2018, the federal government spent $779 billion more than it collected, resulting in a deficit.</h1>

    <div class="debt-copy">
        <p>How did we end up with a deficit? A deficit occurs when the money going out exceeds the money coming in. Since the federal government spent $4.1 trillion and collected $3.3 trillion in 2018, the government ran a deficit for the year.</p>
    </div>

    <div class="viz-wrapper">
        <div id="viz"></div>

        <div class="intro-math intro-hidden">
            <i class="fas fa-reply intro-math__icon"></i>779 dots x $1 billion = <strong>$779 billion</strong>
        </div>

        <div id="copy" class="intro-hidden">
            <p>How much is $779 billion in deficit spending? If you take the U.S. population estimate in 2018 of 327.7 million* (U.S. Census Bureau), $779 billion would be equivalent to a little less than $2,400 in deficit spending for every individual in the U.S.</p>
        </div>

        <div class="facts sidebar intro-hidden">
            <div class="facts__inner">
                <div id="compare-options">
                    <p class="facts__prompt">What is the deficit and how does that compare to the national debt?</p>
                    <div class="facts__triggers">
                        <button class="facts__trigger" data-trigger-id="deficit">Deficit</button>
                        <button class="facts__trigger" data-trigger-id="debt">Debt</button>
                    </div>
                </div>

                <section id="deficit-facts" class="facts__section">
                    <p>When spending exceeds revenue, the difference is a deficit, which the federal government finances mainly by borrowing from the public.</p>
                </section>
                
                <section id="debt-facts" class="facts__section">
                    <p>To pay for a deficit, the government takes on debt. The total debt that the government owes is essentially the accumulation of deficits over time, minus repayments of debt.</p>
                </section>
            </div>
        </div>

        <section class="accordion sidebar intro-hidden">
            <h1 class="accordion__heading">How else does the government finance a deficit?</h1>
            <div class="accordion__content">
                <p>The government can also use operating cash, which is available from an account at the Federal Reserve, to pay for deficit spending. This would be similar to an individual using their debit card to pay for purchases.</p>
            </div>
        </section>
        
        <section class="tour sidebar intro-hidden">
            <div class="tour__part-one">
                <h1>How has the federal deficit changed over time?</h1>
                <p>When you are done here, we encourage you to explore trends in the federal deficit since 2000.</p>
            </div>
            <a class="tour__link" href="trends.html">Explore<i class="fas fa-chevron-right"></i></a>
        </section>
    </div>

    <section class="hwcta">
        <p>This visualization was created using the {% include ffg/data-sources/current_mts.html %} as the data source for federal government revenue, spending, and deficit and the {% include ffg/data-sources/current_mspd.html %} as the data source of federal debt.</p>
    </section>
</div>

<script src="/assets/ffg/accordion.js"></script>
<script src="/assets/ffg/deficit/intro.js"></script>