--- 
layout: ffg
title: Data Lab - title – U.S. Treasury
excerpt: excerpt
header: header
description: description
permalink: /federal-finance-guide/deficit/trends
ffg: true
ffgNav: true
ffgPageCss: css/deficit-trends.css
---

{% include ffg/nav/deficit.html %}

<div class="ffg-wrapper">
    <div class="ffg-share">{% include new-share-menu.html %}</div>
    <h1>Federal Deficit Trends over Time</h1>

    <img class="deficit-trend" src="/assets/ffg/deficit/deficit-trend.png" alt="federal deficit historical trend" />

    <aside class="deficit-aside">
        <p>One way to gauge the sustainability of federal finances is to observe how the federal debt has changed over time. The U.S. has experienced a deficit in each year since 2001, with a spike from 2009 to 2012 because of the financial crisis and ensuing recession.</p>
        <section class="tour">
            <div class="tour__part-one">
                <h1>How does the deficit in the United States compare to other countries?</h1>
                <p>When you are done here, see how the U.S. deficit compares to other countries.</p>
            </div>
            <a class="tour__link" href="country-comparison.html">Continue<i class="fas fa-chevron-right"></i></a>
        </section>
    </aside>
</div>

<div class="clearfix"></div>

<script src="/assets/ffg/accordion.js"></script>