<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include scripts.html %}
  <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GVVS7L"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <div id="page-wrapper">
      {% include header.html %}
      <span id="return-to-top">{% include svgs/chevron-up.svg class="icon-chevron-up" %}</span>
      {{ content }}
      {% include footer.html %}
    </div>
    {% include structured-data.html %}
    <script src="/assets/ffg/components/glossary/glossary.js"></script>
  </body>
</html>
