---
layout: default
---
<article id="main">
  <header style='background-image: url("images/{{ page.banner }}");' alt={{page.alt}}>
    <div class="header-box">
      <h2 class="page-menuname">{{ page.menuname }}</h2>
      <h2 class="page-title">{{ page.title }}</h2>
      <h3 class="page-description">{{ page.description }}</h3>
    </div>
    <!-- <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p> -->
  </header>
  <section class="wrapper style5">
    {{ content }}
  </section>
</article>