---
layout: default
---
<article id="main">
  <div class="read-more-header">
      <div class="read-more-header-container">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.description }}</h3>
      </div>
  </div>
  <section class="wrapper">
    <div class="read-more-content">
        <div class="horizontal-separator hs-1"></div>
        {{ content }}
        <div class="horizontal-separator hs-2"></div>
        <div class="container-read-more-button">
            <a href="{{page.parent}}"><div class="read-more-button">Return To Visualization</div></a>
        </div>
    </div>
  </section>
</article>