---
layout: default
---
<article id="main">
  <div class="read-more-header">
      <div class="read-more-header-container">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.description }}</h3>
      </div>
  </div>
  <section class="wrapper style5">
    <div class="read-more-content">
        <div class="horizontal-separator hs-1"></div>
        {{ content }}
        <div class="horizontal-separator hs-2"></div>
        <div class="container-read-more-button">
            <div class="read-more-button float-left">View Visualization</div>
            <div class="read-more-button float-right">Next Analysis</div>
        </div>
    </div>
  </section>
</article>