<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include scripts.html %}
  <body>
    <div id="page-wrapper">
      {% include header.html %}
      {% include return-to-top.html %}
      
<article id="main">
  <div class="read-more-header">
      <div class="read-more-header-container">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.description }}</h3>
      </div>
  </div>
  <section class="wrapper">
    <div class="read-more-content">
        <div class="horizontal-separator hs-1"></div>
        {{ content }}
        <div class="horizontal-separator hs-2"></div>
        <div class="container-read-more-button">
            <a href="{{page.parent}}"><div class="read-more-button">Return To Visualization</div></a>
        </div>
    </div>
  </section>
</article>

{% include footer.html %}
    </div>
    {% include structured-data.html %}
    <script src="/assets/ffg/components/glossary/glossary.js"></script>
  </body>
</html>