<article id='section-four'>

  <section id='investment-categories'>
    <div class="cu-header">
      <div class="cu-header__number">
        <span>04</span>
      </div>
      <h3 class="cu-header__title">Investment Categories</h3>
      <h1 class="cu-header__teaser">
        How is the <span class="cu-header--red">money</span> used?
      </h1>
      <p class="cu-header__blurb">
        Now that we know how much money was invested in higher education, are you curious to know what the money
        was used for? The government categorizes its purchases of products and services by Product Service Codes (PSCs) and
        Categories
      </p>
      
      <section class="accordion">
        <h1 class="accordion__heading">Instructions</h1>
        <div class="accordion__content">
	  <ul class="accordion__list">
	    <li>Select an investment type: contracts, grants, or research grants</li>
	    <li>Hover over each section to determine the category </li>
	    <li>Click on a specific section to display the total awards for that category </li>
	    <li>Click the center section to return to the original display</li>
	  </ul>
        </div>
      </section>
      
      <div id='sunburst-header' class="cu-header__controls">
        <form id='categories'>
          <input type='radio' name='category' value='contracts' id='contracts_data' onchange='changeCategory(this)' />
          <label for='contracts_data' class='desktop'>Contracts (PSC)</label>
          <label for='contracts_data' class='mobile'>PSC</label>
          <input type='radio' name='category' value='grants' id='grants_data' checked onchange='changeCategory(this)' />
          <label for='grants_data' class='desktop'>Grants (CFDA)</label>
          <label for='grants_data' class='mobile'>CFDA</label>
          <input type='radio' name='category' value='research' id='research_data' onchange='changeCategory(this)'/>
          <label for='research_data'>
              <span class='desktop'>Research Grants (CFDA)</span>
              <span class='mobile'>Grants (Research)</span>
              <div class="cfda">
              <button type="button" class="cfda__trigger"><img src="/assets/icons/CU/info-circle-solid.svg" alt="close"></button>
              <div class="cfda__contents">
                <button type="button" class="cfda__close"><img src="/assets/icons/CU/close button.svg" alt="close"></button>
                <span>In this visualization, we identified and set apart grants used for research projects.
                  This subset of grants were awarded to individuals, groups, or institutions.</span>
              </div>
              </div>
          </label>
        </form>
	{% include colleges/colleges-share.html anchor="section-four" %}
      </div>
    </div>

    <div id="mobile-search--sunburst" class="mobile-search">
      <div class='bubble-search__input-wrapper'>
        <input id='sunburst-search__input' type="text" class="sunburst-search__input" placeholder="Search Categories...">
        <a xlink:href="#0">
          {% include svgs/search-solid.svg %}
        </a>
      </div>
      <ul id='sunburst-search__list--mobile' class='bubble-search__list--mobile'></ul>
    </div>

    <div id='chart-area'>
      <div id="categories-detail"></div>
      <div id='chart-container'>
        
        <div id='investment-function-buttons' class='function-buttons' onclick='panelClick(this.id)'>
          <div id='investment-search' class='button-set'>
            <button type='button' title='Search' onclick='searchClick("investment-function-buttons")'><img src='/assets/icons/magnifier.svg' /></button>
          </div>
          <div class='button-set'>
            <button id='sunburst-chart-trigger' type='button' title='View chart' style='opacity: 1;' onclick='switchView("investment", "chart")'><img src='/assets/icons/sunburst_icon.svg' /></button>
            <div class='separator'></div>
            <button id='sunburst-table-trigger' type='button' title='View table' onclick='switchView("investment", "table")'><img src='/assets/icons/list_icon.svg' /></button>
          </div>
        </div>

        <div id='investment-sunburst'>
          <div id='investment-sunburst-viz'>
            <div id='legend_colorKey'>
              <div style='top:25px;' class='legend_circleKeyLabel'><span>Program Title</span></div>
              <div style='top:36px;' class='legend_circleKeyLabel'><span>Grant Family</span></div>
              <div style='top:65px;' class='legend_circleKeyLabel'><span>2018 Federal Grants</span></div>
              <svg id='legend_scaleKey'></svg>
            </div>

            <div id='sunburst'>
            </div>
            <p class="cu-header__blurb">To return to a higher level click the center node</p>
          </div>
          <div id="investment-sunburst-tables">
            <div id='investment-table--grants'></div>
            <div id='investment-table--contracts'></div>
            <div id='investment-table--research'></div>
          </div>
        </div>
        <div id='right-spacer'></div>
      </div>

      <div class='chart-footer'>
        <div>
          <span class='faded'>Updated as of March 2019 / </span>
          <a class='download-data' onclick='downloadData()'>
            {% include svgs/download-solid.svg %}
            &nbsp;Download
          </a>
        </div>
      </div>
    </div>
  </section>

</article>
