<div id="secitonInstitutionInvestment">
  <div class="sectionHeader" data-aos="fade-up" data-aos-delay="1000">
    <h1>04</h1>
    <h2>Institutions</h2>
    <h3>How much did each <strong>institution</strong> recieve</h3>
    <p>Some Text</p>
  </div>


  <div id="threeMenu">

    <svg width="44px" height="44px" id="sectionFourTableBtn" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>1_Disabled</title>
      <desc>Created with Sketch.</desc>
      <g id="1_Disabled" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="iconList" transform="translate(12.000000, 11.000000)" fill-rule="nonzero" stroke="#D04C02">
          <path d="M0.322580645,0.5 L19.6774194,0.5" id="Line-9"></path>
          <path d="M0.322580645,9.5 L19.6774194,9.5" id="Line-9-Copy"></path>
          <path d="M0.322580645,19.5 L19.6774194,19.5" id="Line-9-Copy-2"></path>
        </g>
      </g>
    </svg>


    <svg width="44px" height="44px" id="sectionFourMapBtn" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>2_Disabled</title>
      <desc>Created with Sketch.</desc>
      <g id="2_Disabled" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="iconGrid" transform="translate(13.000000, 12.000000)" fill-rule="nonzero" stroke="#D04C02">
          <g id="Group-57">
            <ellipse id="Oval-9" cx="3.45238095" cy="3.46153846" rx="3.45238095" ry="3.46153846"></ellipse>
            <ellipse id="Oval-9-Copy-3" cx="3.45238095" cy="14.5384615" rx="3.45238095" ry="3.46153846"></ellipse>
            <ellipse id="Oval-9-Copy" cx="14.5" cy="3.46153846" rx="3.45238095" ry="3.46153846"></ellipse>
            <ellipse id="Oval-9-Copy-4" cx="14.5" cy="14.5384615" rx="3.45238095" ry="3.46153846"></ellipse>
          </g>
        </g>
      </g>
    </svg>


    <svg width="44px" height="44px" id="sectionFourTreemapBtn" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>3_Disabled</title>
      <desc>Created with Sketch.</desc>
      <g id="3_Disabled" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="iconTree-2" transform="translate(12.000000, 11.000000)" fill-rule="nonzero" stroke="#D04C02">
          <g id="iconTree">
            <rect id="Rectangle-26" x="0.5" y="0.5" width="19" height="19"></rect>
            <rect id="Rectangle-26-Copy" x="10.5" y="0.5" width="9" height="13"></rect>
            <rect id="Rectangle-26-Copy-3" x="0.5" y="0.5" width="10" height="10"></rect>
            <rect id="Rectangle-26-Copy-2" x="10.5" y="7.5" width="9" height="12"></rect>
          </g>
        </g>
      </g>
    </svg>

  </div>

  <div id="mapContainerDiv">
    <div id="filtersDiv">

      <div class="InstitutionFilterSection">
        <p class="institutionText"><i>Institution Type</i></p>
        <hr class="halfhr">

        <section class="slider-checkbox checkboxpadding">
          <input type="checkbox" id="publicCheck" value="Public,">
          <label class="label" for="publicCheck">Public</label>
        </section>

        <section class="slider-checkbox checkboxpadding">
          <input type="checkbox" id="privateCheck" value="Private not-for-profit,">
          <label class="label" for="privateCheck">Private</label>
        </section>

        <section class="slider-checkbox checkboxpadding">
          <input type="checkbox" id="fourYearCheck" />
          <label class="label" for="fourYearCheck">4 Year</label>
        </section>

        <section class="slider-checkbox checkboxpadding">
          <input type="checkbox" id="twoYearCheck" />
          <label class="label" for="twoYearCheck">2 Year</label>
        </section>

      </div>

      <div class="InvestmentFilterSection">

        <hr class='halfhr' />
        <p class="institutionText"><i>Investment Type</i></p>
        <hr class='halfhr' />

        <section class="slider-checkbox">
          <input type="checkbox" id="1" />
          <label class="label" for="1">Grants</label>
        </section>

        <section class="slider-checkbox">
          <input type="checkbox" id="1" />
          <label class="label" for="1">Contracts</label>
        </section>

        <section class="slider-checkbox">
          <input type="checkbox" id="1" />
          <label class="label" for="1">Loans</label>
        </section>

      </div>

      <hr class='halfhr' />
      <!--dropdown box here -->
      <p>Colleges</p>
    </div>
    <!-- College Map -->
    <div id="collegesMap" class="collegesMap"></div>
  </div>


  <!-- Table -->
  <div id='sectionFourtableContainerDiv'>
    <div id="sectionFourtableDiv"> </div>
    <!-- Add another div below here in container to have sidebar table-->
  </div>


</div> <!-- End of Investment (section 4) -->
