<div id="secitonInstitutionInvestment">
  <div class="sectionHeader" data-aos="fade-up" data-aos-delay="1000">
    <h1>04</h1>
    <h2>Institutions</h2>
    <h3>How much did each <strong>institution</strong> recieve</h3>
    <p>Some Text</p>
  </div>

  
  <div id="mapContainer">

    <div class='map-overlay'>
      <div id='feature-reset'><i class="fas fa-sync"></i></div>
      <div class="search">
	<input id='feature-filter' type="text" name="search" class="round" placeholder='Search Schools'/>
      </div>
      <div id='feature-listing' class='listing'>
	<ul id="feature-listing-ul"></ul>
      </div>
    </div>

    <div id="collegesMap"></div>

    <div id="inst-panel"></div>
    
  </div>



  <!-- Table -->
  <div id='sectionFourtableContainerDiv'>
    <div id="sectionFourtableDiv"> </div>
    <!-- Add another div below here in container to have sidebar table-->
  </div>

</div> <!-- End of Investment (section 4) -->

