<article id="section-two">
  
  <section id="alma-mater">
    <div>
      {% include colleges/colleges-share.html %}
      <h2 id="alma-mater__number">02</h2>
      <h3 id="alma-mater__title">
	My Alma Mater
      </h3>
      <h1 id="alma-mater__preblurb">
	Find how much your Alma Mater <br>
	received in federal funds.
      </h1>
      <p id="alma-mater__blurb">
	The federal government may have invested in your college or university, whether it is public, private,
	four year, or two year. Use the map below to uncover the amount and type of investment for individual schools.
	Click on a regional cluster to hone in on the schools within that area.
      </p>
    </div>

    <div id="mapContainer">
      <div class='map-overlay'>
	<div id='feature-reset'><i class="fas fa-sync"></i></div>
	<div id="feature-table-toggle"><i class="fas fa-table"></i></div>
	<div class="search">
	  <input id='feature-filter' type="text" name="search" class="round" placeholder='Search Schools'/>
	</div>
	<div id='feature-listing' class='listing'>
	  <ul id="feature-listing-ul"></ul>
	</div>
      </div>

      <div id="collegesMap"></div>
      <div id="inst-panel"></div>
      
    </div>

    <!-- Table -->
    <div id="feature-map-toggle"><i class="fas fa-map"></i></div>
    <div id='alma-mater-table'></div>

  </section>

</article>
