<article id="section-two">
  
  <section id="alma-mater">
    <div class="cu-header">
      <div class="cu-header__number">
        <span>02</span>
      </div>
      <h3 class="cu-header__title">
	My Alma Mater
      </h3>
      <h1 class="cu-header__teaser">
	Find how much your Alma Mater <br>
	<span class="cu-header--red">
	  received in federal funds.
	</span>
      </h1>
      <p class="cu-header__blurb">
	The federal government may have invested in your college or university, whether it is public, private,
	four year, or two year. Use the map below to uncover the amount and type of investment for individual schools.
	Click on a regional cluster to expand the area and see the schools in that area.
      </p>

      <section class="accordion">
        <h1 class="accordion__heading">Instructions</h1>
        <div class="accordion__content">
          <ul class="accordion__list">
            <li>Click the map to get started</li>
            <li>The number displayed on each cluster is the number of institutions in that area</li>
            <li>Click on a regional cluster to expand the area and display details for each school</li>
            <li>Use the zoom in and zoom out keys to adjust the map view</li>
            <li>For a specific search, use the search tool to type in the school by name </li>
          </ul>
        </div>
      </section>

      <div class="cu-header__controls">
      <div id="refresh-div"><img src="/assets/icons/refresh.svg"/> Refresh Map </div>
        {% include colleges/colleges-share.html anchor="section-two" %}
      </div>
    </div>

    <div id="mobile-search--map" class="mobile-search">
      <div class='bubble-search__input-wrapper'>
        <input id='mobile-keydown' type="text" class="mobile-map-search" placeholder="Search Institutions..."/>
        <a xlink:href="#0" onclick="$('#map-search-ul--mobile').toggle();">
          {% include svgs/search-solid.svg %}
        </a>
      </div>
      <ul id="map-search-ul--mobile" class="map-search__list--mobile"></ul>
    </div>

    <div id="map-detail"></div>
    <div id="mapContainer">
      <div id='map-function-buttons' class="function-buttons" onclick='panelClick(this.id)'>
          <div id="map-search" class='button-set'>
            <button type='button' title='Search'
              onclick='searchClick("map-function-buttons")'
              ga-on="click" ga-event-category="AB Test" ga-event-action="Clicked C&U Search"
            >
              <img src='/assets/icons/magnifier.svg' />
            </button>
            <div class="map-search">
              <div class="map-search__input-wrapper">
                <input id='map-search__input' class="map-search__input" onkeydown="filterSearch()" placeholder="Search Institutions"/>
              </div>
              <ul class="map-search__list" id="map-search-ul"></ul>
            </div>
          </div>
        <div class='button-set'>
          <div id="map-table">
            <button id="map-chart-trigger" type='button' title='View map' style='opacity: 1;' onclick='switchView("map", "chart")'><img src='/assets/icons/Geolocation.svg' /></button>
          </div>
          <div class='separator'></div>
          <div id="map-chart">
            <button id="map-table-trigger" type='button' title='View table' onclick='switchView("map", "table")'><img src='/assets/icons/list_icon.svg' /></button>
          </div>
        </div>
      </div>
          
      <div id="collegesMap"></div>
      <div id='alma-mater-table'></div>
      <div id="inst-panel"></div>
    </div>

    <div class="chart-footer">
      <div>
        <span class='faded'>Updated as of March 2019 / </span>
        <a class="download-data" href='data-lab-data/CU/updated_CU_data/Institutions_Section_Download_V2.csv'>
          {% include svgs/download_icon.svg %}
          &nbsp;Download
        </a>
      </div>
    </div>

  </section>
</article>
