<article id="section-pre">
  <div class="section-pre--banner">
    <img src="../../images/C&U/collegebanner.svg"/>
  </div>

  <div id="section-pre--tablet_banner">
    <p class="section-pre--tablet-subtext">
      College And University Analysis
    </p>
    <h3 class="section-pre--tablet-subblurb">
      Explore the Federal Investment
      in your Alma Mater
    </h3>
    <p class="section-pre--tablet-blurb">
      Did you know the federal government invested over $154 billion in colleges and universities in 2017? <br>
      Those funds made an impact on over 3,000 schools, approximately 15 million undergraduates, and a little over 2.5 million
      graduate students.
    </p>
  </div>

  
  <section id="TOC">
    <div id="section-pre__TOC">

      <div id="section-pre__tile">
	<div class="section-pre--number">
	  <h2>
	    01
	  </h2>
	</div>
	<h4 class="section-pre--subtext">
	  Investment Overview
	</h4>
	<h3 class="section-pre--subblurb">
	  The Breakdown Of Federal Investments
	</h3>
	<p class="section-pre--blurb">
	  Federal investments in higher education are broken out into
	  three major categories: contracts, grants, and student aid.
	</p>
      </div>

      <div id="section-pre__tile">
	<div class="section-pre--number">
	  <h2>
	    02
	  </h2>
	</div>
	<h4 class="section-pre--subtext">
	  My Alma Mater
	</h4>
	<h3 class="section-pre--subblurb">
	  How much did my school receive
	</h3>
	<p class="section-pre--blurb">
	  Search your college or university to discover the impact of federal investment
	  to your Alma Mater.
	</p>
      </div>

      <div id="section-pre__tile">
	<div class="section-pre--number">
	  <h2>
	    03
	  </h2>
	</div>
	<h4 class="section-pre--subtext">
	  Agency Investment
	</h4>
	<h3 class="section-pre--subblurb">
	  Learn how much each government agency 
	</h3>
	<p class="section-pre--blurb">
	  Government agencies fund contracts, grants, and other forms of federal aid.
	  See which agencies are funding your school.
	</p>
      </div>

      <div id="section-pre__tile">
	<div class="section-pre--number">
	  <h2>
	    04
	  </h2>
	</div>
	<h4 class="section-pre--subtext">
	  Investment Categories
	</h4>
	<h3 class="section-pre--subblurb">
	  What are the investments used for?
	</h3>
	<p class="section-pre--blurb">
	  The money was disbursed through contracts for products and services, grants, and over $100
	  billion dollars was given directly to students in financal..
	</p>
      </div>

    </div>
  </section>

</article>
