<article id="section-one">
  
  <section id="investment-overview">
    <div class="cu-header">
      <div class="cu-header__number">
	<span>01</span>
      </div>
      <h3 class="cu-header__title">Investment Overview</h3>
      <h1 class="cu-header__teaser">
	<strong>How much was invested in colleges and universities?</strong>
      </h1>
      <p class="cu-header__blurb">
	$xxx, makes up the total investments into colleges and universities by the federal government.
	That's almost 4% of total federal spending. These investments flow into higher education through 3 main vehicles:
	contracts, grants, and federal student aid.
      </p>
      
      <div class="cu-header__controls">
	{% include colleges/colleges-share.html anchor="section-one" %}
      </div>
    </div>
    
    <div id="investment-overview__viz">
      
      <div id="title-section">
	<p id="chart-title-aid">Student Aid</p>
	<p id="chart-title-grants">Grants</p>
	<p id="chart-title-contracts">Contracts</p>
      </div>

      <div id="investment-chart">
	<div id="studentAid-bar"><p id="bar-text">102B</p></div>
	<div id="grants-bar"><p id="bar-text">50B</p></div>
	<div id="contracts-bar"><p id="bar-text">5B</p></div>
      </div>

      <div id="investment-subtext">
	<div id="aid-subsection">
	  <p id="aid-heading">
	    Student Aid
	  </p>
	  <div id="aid-image">
	    <img src="/assets/icons/aid.svg"/>
	  </div>
	  <p id="aid-description">
	    Federal Student Aid is financial aid
	    provided through grants, scholarships, work-study, and loans
	    to students for their education. This can include expenses
	    such as tuition, housing, transportation, books, computers, 
	    and even child care.
	  </p>
	</div>
	<div id="aid-subsection">
	  <p id="aid-heading">
	    Grants
	  </p>
	  <div id="aid-image">
	    <img src="/assets/icons/Grants.svg"/>
	  </div>
	  <p id="aid-description">
	    A federal grant is a method the government uses to fund
	    research and implementation of ideas and projects that contribute to the betterment
	    of the public. Grant awards can include costs associated with conducting research or studies, such as
	    supplies, salaries, equipment, milage for travel and publication costs
	  </p>
	</div>
	<div id="aid-subsection">
	  <p id="aid-heading">
	    Contracts
	  </p>
	  <div id="aid-image">
	    <img src="/assets/icons/Contracts.svg"/>
	  </div>
	  <p id="aid-description">
	    A federal contract is a legal agreement with a government department or agency
	    for a product or service for the benefit of the government. These contracts are 
	    governed by a strict set of terms and conditions, including clauses from the Federal
	    Acquisition Regulation (FAR).
	  </p>
	</div>
      </div>
    </div>

  </section>

</article>
