<div id="secitonInvestmentCategories">
  <div class="sectionHeader" data-aos="fade-up" data-aos-delay="500" data-aos-offset="200">
    <h1>02</h1>
    <h2>Investment Categories</h2>
    <h3>How was this money invested?</h3>
    <p>Some Text</p>
  </div>

  <div id="investmentCategories" class="investmentCategories">

    <!-- 3 Way Menu -->
    <div id="threeMenu">

      <svg width="44px" id="tableViewButton" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>1_Disabled</title>
        <desc>Created with Sketch.</desc>
        <g id="1_Disabled" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
          <g id="iconList" transform="translate(12.000000, 11.000000)" fill-rule="nonzero" stroke="#D04C02">
            <path d="M0.322580645,0.5 L19.6774194,0.5" id="Line-9"></path>
            <path d="M0.322580645,9.5 L19.6774194,9.5" id="Line-9-Copy"></path>
            <path d="M0.322580645,19.5 L19.6774194,19.5" id="Line-9-Copy-2"></path>
          </g>
        </g>
      </svg>


      <svg width="44px" height="44px" id="donutViewButton" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>2_Disabled</title>
        <desc>Created with Sketch.</desc>
        <g id="2_Disabled" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="iconGrid" transform="translate(13.000000, 12.000000)" fill-rule="nonzero" stroke="#D04C02">
            <g id="Group-57">
              <ellipse id="Oval-9" cx="3.45238095" cy="3.46153846" rx="3.45238095" ry="3.46153846"></ellipse>
              <ellipse id="Oval-9-Copy-3" cx="3.45238095" cy="14.5384615" rx="3.45238095" ry="3.46153846"></ellipse>
              <ellipse id="Oval-9-Copy" cx="14.5" cy="3.46153846" rx="3.45238095" ry="3.46153846"></ellipse>
              <ellipse id="Oval-9-Copy-4" cx="14.5" cy="14.5384615" rx="3.45238095" ry="3.46153846"></ellipse>
            </g>
          </g>
        </g>
      </svg>


      <svg width="44px" height="44px" id="treemapViewButton" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>3_Disabled</title>
        <desc>Created with Sketch.</desc>
        <g id="3_Disabled" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="iconTree-2" transform="translate(12.000000, 11.000000)" fill-rule="nonzero" stroke="#D04C02">
            <g id="iconTree">
              <rect id="Rectangle-26" x="0.5" y="0.5" width="19" height="19"></rect>
              <rect id="Rectangle-26-Copy" x="10.5" y="0.5" width="9" height="13"></rect>
              <rect id="Rectangle-26-Copy-3" x="0.5" y="0.5" width="10" height="10"></rect>
              <rect id="Rectangle-26-Copy-2" x="10.5" y="7.5" width="9" height="12"></rect>
            </g>
          </g>
        </g>
      </svg>

    </div>

    <div id="categoriesPanel" class="panel" data-aos="fade-right">
      <span id="categories_panel_back_btn">
        <strong>
        </strong> Back </span>
      <div id="investmentCategories_panel_chart" class="panelChart"></div>
    </div>
    <div id='childrenPanel'></div>


    <!-- Table -->
    <div id='tableContainerDiv'>
      <div id="tableDiv"> </div>
      <!-- Add another div below here in container to have sidebar table-->
    </div>

    <!-- Treemap-->
    <div id='treemapContainerDiv'>
      <div id='treemapSidebar'></div>
      <div id='sectiontwoTreemap'></div>
    </div>


    <!-- Where Pie Chart Starts!  -->
    <div id="categoriesChartContainer" class="chartContainer" data-aos="fade-left" data-aos-delay="1000">
      <span id="cat_rt_pg_turn" class="chv right">
        <i class="fas fa-chevron-right chv right"></i>
      </span>
      <span id="cat_lt_pg_turn" class="chv left">
        <i class="fas fa-chevron-left"></i>
      </span>
    </div>

  </div>
</div>
