<article id="section-pre">
  <div class="section-pre--banner">
    <img src="/assets/icons/collegebanner.svg"/>
  </div>

  <div id="section-pre--tablet_banner">
    <p class="section-pre--tablet-subtext">
      Federal Investment in Higher Education
    </p>
    <h3 class="section-pre--tablet-subblurb">
      Explore the Federal Investment
      in your <span id="cuRed">Alma Mater</span>
    </h3>
    <p class="section-pre--tablet-blurb">
      Did you know the federal government invested over $149 billion in colleges and universities in fiscal year 2018? <br>
      Those funds made an impact on over 3,000 schools, approximately 15 million undergraduates, and a little over 2.5 million
      graduate students.
    </p>
  </div>

  
  <section id="TOC">
    <div id="section-pre__TOC">
      <div id="section-pre__tile">
	<div class="section-pre--number">
	  <h2>
	    01
	  </h2>
	</div>
	<h4 class="section-pre--subtext">
	  Investment Overview
	</h4>
	<h3 class="section-pre--subblurb">
	  OVERVIEW OF FEDERAL INVESTMENT
	</h3>
	<p class="section-pre--blurb">
	  Learn more about the three categories of federal investments: student aid, grants, and contracts.
	</p>
      </div>

      <div id="section-pre__tile">
	<div class="section-pre--number">
	  <h2>
	    02
	  </h2>
	</div>
	<h4 class="section-pre--subtext">
	  My Alma Mater
	</h4>
	<h3 class="section-pre--subblurb">
	  How much did my school receive?
	</h3>
	<p class="section-pre--blurb">
	  Search for your school and see details about federal investment.
	</p>
      </div>

      <div id="section-pre__tile">
	<div class="section-pre--number">
	  <h2>
	    03
	  </h2>
	</div>
	<h4 class="section-pre--subtext">
	  Agency Investment
	</h4>
	<h3 class="section-pre--subblurb">
	  Which federal agencies are involved?
	</h3>
	<p class="section-pre--blurb">
	  Find out which federal agencies provide investments and in what amounts.
	</p>
      </div>

      <div id="section-pre__tile">
	<div class="section-pre--number">
	  <h2>
	    04
	  </h2>
	</div>
	<h4 class="section-pre--subtext">
	  Investment Categories
	</h4>
	<h3 class="section-pre--subblurb">
	  What are the investments used for?
	</h3>
	<p class="section-pre--blurb">
	  Discover more about what is funded by federal investment. 
	</p>
      </div>

    </div>
  </section>

</article>
