<article id="section-one">
  
  <section id="investment-overview">
    <div class="cu-header">
      <div class="cu-header__number">
	<span>01</span>
      </div>
      <h3 class="cu-header__title">Investment Overview</h3>
      <h1 class="cu-header__teaser">
	How much was <span class="cu-header--red">invested in colleges and universities?</span>
      </h1>
      <p class="cu-header__blurb">
	In 2018, higher education institutions received a total of $1.068 trillion in revenue from federal and non-federal funding sources. The federal government investment in higher education totaled $149 billion, representing 3.6% of federal spending. This money flowed into colleges and universities through three main vehicles: federal student aid, grants, and contracts. In our analysis we focused on data from nonprofit institutions that offer a program of two years or more.
      </p>
      
      <div class="cu-header__controls">
	{% include colleges/colleges-share.html anchor="section-one" %}
      </div>
    </div>

    
    <div id="investment-overview__viz">

      <div id="title-section">
	<p id="chart-title-aid">Student Aid</p>
	<p id="chart-title-grants">Grants</p>
	<p id="chart-title-contracts">Contracts</p>
      </div>

      <div id="investment-chart">
	<div id="studentAid--mobile-title">Student Aid</div>
	<div id="studentAid-bar"><p id="bar-text--aid">$98B</p></div>

	<div id="grants--mobile-title">Grants</div>
	<div id="grants-bar"><p id="bar-text--grants">$41B</p></div>


	<div id="contracts--mobile-title">Contracts</div>
	<div id="contracts-bar"><p id="bar-text--contracts">$10B</p></div>
      </div>

      <div id="mobile-blurb">
	<p class="mobile-funding-granted">
	  Total Funding Granted
	</p>
	<p class="mobile-funding-blurb">
	  Federal Student Aid is financial aid provided through grants, scholarships, work-study, and loans,
	  to students for their education. This can include expenses such as tuition, housing, transportation,
	  books, computers, and even child care.
	</p>
      </div>

      <div id="investment-subtext">
	<div id="aid-subsection">
	  <p id="aid-heading-aid">
	    Student Aid
	  </p>
	  <div id="aid-image">
	    <img src="/assets/icons/aidv2.svg"/>
	  </div>
	  <p id="aid-description">
	    Federal student aid is financial assistance provided through grants, scholarships, work-study, and loans to students for their educational expenses. This can include costs such as tuition, housing, transportation, books, and supplies. Loans comprise approximately 73% of the total aid to students, making them the largest source of assistance from the federal government.
	    Although student aid includes the $11.6 billion investment made through the G.I. Bill of Rights, it is not included in this analysis because we were not able to make a direct connection between that investment and the benefits given to an institution.
	  </p>
	</div>
	<div id="aid-subsection">
	  <p id="aid-heading-grants">
	    Grants
	  </p>
	  <div id="aid-image">
	    <img src="/assets/icons/grantsv2.svg"/>
	  </div>
	  <p id="aid-description">
	    A federal grant is an agreement through which a federal agency provides financial assistance to an individual or organization used for projects and expenses that contribute to public good. For example, in 2018, the Department of Commerce funded the University of Maryland, Baltimore County’s (UMBC) research for measuring and improving the robustness of Deep Learning algorithms.
	  </p>
	</div>
	<div id="aid-subsection">
	  <p id="aid-heading-contracts">
	    Contracts
	  </p>
	  <div id="aid-image">
	    <img src="/assets/icons/contractsv2.svg"/>
	  </div>
	  <p id="aid-description">
	    A federal contract is an agreement in which the federal government purchases a good or service from an organization or individual for government use. 

	    For example, in 2018 the National Aeronautics and Space Administration used a federal contract to pay the California Institute of Technology to operate the Jet Propulsion Laboratory. This laboratory is a center for robotic exploration of the solar system that carries out essential research and tasks like developing a self-directed spacecraft.
	  </p>
	</div>
      </div>
    </div>

  </section>

</article>
