<div id="secitonInstitutionInvestment">
  <div class="sectionHeader" data-aos="fade-up" data-aos-delay="1000">
    <h1>04</h1>
    <h2>Institutions</h2>
    <h3>How much did each <strong>institution</strong> recieve</h3>
    <p>Some Text</p>
  </div>

  
  <div id="mapContainer">

    <div class='map-overlay'>
      <fieldset>
	<input id='feature-filter' type='text' placeholder='Search By Institution...' />
      </fieldset>
      <button id="feature-reset"> Reset</button>
      <div id='feature-listing' class='listing'></div>
    </div>

    <div id="collegesMap"></div>

    <!-- Hidden Popout Search
	 <div id="mapContainer__searchBox">
	 <section id="mapContainer__institution">
	 <div id="mapContainer--inst-text">
	 <h4>Institution Type <i class="far fa-times-circle" id="circleFloat"></i></h4>
	 </div>

	 <hr>

	 <div id="mapContainer--switch">
	 <p id="mapContainer--labelText">Public</p>
	 <div class="onoffswitch">
	 <input type="checkbox" name="instcheck" class="onoffswitch-checkbox" id="myonoffswitch" value="Public">
	 <label class="onoffswitch-label" for="myonoffswitch"></label> 
	 </div>

	 <p id="mapContainer--labelText">Private</p>
	 <div class="onoffswitch">
	 <input type="checkbox" name="instcheck" class="onoffswitch-checkbox" id="myonoffswitch" value="Private">
	 <label class="onoffswitch-label" for="myonoffswitch"></label>
	 </div>
	 </div>
	 </section>

	 <section id="mapContainer__year">
	 <div id="mapContainer--year-text">
	 <h4>Year</h4>
	 </div>

	 <hr>

	 <div id="mapContainer--switch">
	 <p id="mapContainer--labelText">2 Year</p>
	 <div class="onoffswitch">
	 <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
	 <label class="onoffswitch-label" for="myonoffswitch"></label>
	 </div>

	 <p id="mapContainer--labelText">4 Year</p>
	 <div class="onoffswitch">
	 <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
	 <label class="onoffswitch-label" for="myonoffswitch"></label>
	 </div>
	 </div>
	 </section>

	 <section id="mapContainer__searchArea">
	 <input type="text" list="college-dropdown" id="college-dropdown-list" placeholder="Type to find an institution..." />
	 <div id='schoolList'></div>
	 </section>

	 </div>

	 <!-- Filter Section
	 <!-- <div id="mapFilter">
         <div class="mapFilter__search">
         <i class="fas fa-search" id="sectionFourSearchBtn"></i>
         </div>

         <div class="mapFilter__controls">
         <i class="fas fa-map-marker-alt" id="sectionFourMapBtn"></i>
         <i class="fas fa-list" id="sectionFourTableBtn"></i>
         <hr>
         <i class="fas fa-plus"></i>
         <i class="fas fa-minus"></i>
         </div>
         </div>  -->


    <!-- Right Panel Institutions -->
    <!-- <div id="instPanel"></div> -->
    </div>



  <!-- Table -->
  <div id='sectionFourtableContainerDiv'>
    <div id="sectionFourtableDiv"> </div>
    <!-- Add another div below here in container to have sidebar table-->
  </div>

</div>



</div> <!-- End of Investment (section 4) -->

