<article id="section-three">

  <section id="agency-investments">
    <div class="cu-header">
      <div class="cu-header__number">
        <span>03</span>
      </div>
      <h3 class="cu-header__title">Agency Investments</h3>
      <h1 class="cu-header__teaser">
        <span>Connect the agency</span>
        <br>
        <span class="cu-header--red">to the federal investment.</span>
      </h1>
      <p class="cu-header__blurb">
	Federal agencies are organizations in the executive branch with specific missions to serve the public, ranging from promoting the progress of science to ensuring national security. Use the chart below to discover the financial breakdown of each agency’s investment, including which colleges and universities get funds, and what investment vehicles they are using. In this visualization we focus on funding through grants and contracts. 
      </p>

      <section class="accordion">
        <h1 class="accordion__heading">Instructions</h1>
        <div class="accordion__content">
	  <p>In this visualization sub-agencies are represented by colorful circles and grouped together by their agency symbolized by the light gray bubble</p>
	  <ul class="accordion__list">
	    <li>Hover over the circle cluster or individual circle for the total investment of the agency or sub-agency</li>
	    <li>Click on a circle to view more details for each sub-agency</li>
	    <li>Click anywhere in the gray circle to return to the original view </li>
	  </ul>
        </div>
      </section>

      <div class="cu-header__controls">
        {% include colleges/colleges-share.html anchor="section-three" %}
      </div>
    </div>

    <div id="mobile-search--bubble" class="mobile-search">
      <div class='bubble-search__input-wrapper'>
        <input id='bubble-search__input' class='bubble-search__input' placeholder='Search Agencies...'>
        <a xlink:href="#0" onclick="$('#bubble-search__list--mobile').toggle();">
          {% include svgs/search-solid.svg %}
        </a>
      </div>
      <ul id='bubble-search__list--mobile' class='bubble-search__list--mobile'></ul>
    </div>

    <div id="chart-area">
      <div id="bubble-detail" style="position:relative"></div>
      <div id="chart-container">
        
        <div id='bubble-function-buttons' class="function-buttons" onclick='panelClick(this.id)'>
          <div id="bubble-search" class='button-set'>
            <button type='button' title='Search'
              onclick='searchClick("bubble-function-buttons")'
              ga-on="click" ga-event-category="AB Test" ga-event-action="Clicked C&U Search"
            >
              <img src='/assets/icons/magnifier.svg' />
            </button>
          </div>
          <div class='button-set' id="bubble-table" >
            <button id="bubble-chart-trigger" type='button' title='View chart' style='opacity: 1;' onclick='switchView("bubble", "chart")'><img src='/assets/icons/bubble_icon.svg' /></button>
            <div class='separator'></div>
            <button id="bubble-table-trigger" type='button' title='View table' onclick='switchView("bubble", "table")'><img src='/assets/icons/list_icon.svg' /></button>
          </div>
        </div>
        
        <div id="agency-investments__content">
          <div id="bubbleChartContainer" class="bubbleChartContainer">

            <div id='agency-legend_colorKey'>
              <div style='top:35px;' class='legend_circleKeyLabel'><span>Agency</span></div>
              <div style='top:50px;' class='legend_circleKeyLabel'><span>Sub-Agency</span></div>
              <svg id='agency-legend_scaleKey'></svg>
            </div>

            <div id="agency-bubbleChart"></div>
          </div>

          <div id="bubbleTableContainer"></div>

	</div>

      </div>
      <div class="chart-footer">
        <div>
          <span class='faded'>Updated as of March 2019 / </span>
          <a class="download-data" href='data-lab-data/CU/updated_CU_data/Agency_Section_Download_V2.csv'>
            {% include svgs/download_icon.svg %}
            &nbsp;Download
          </a>
        </div>
      </div>
    </div>

  </section>

</article>
