<nav class="income-nav">
    <ul class="site-nav__primary-list">
        <li><a href="./income.html">Federal Income and GDP</a></li>
        <li><a href="./income.html?categories">Income Categories</a></li>
        <li><a href="./income-source-category-trend.html">Trends Over Time</a></li>
        <li><a href="./income-country-comparison.html">Country Comprarison</a></li>
    </ul>
    <button class="income-nav-trigger">
        <hr>
        <hr>
        <hr>
    </button>
</nav>