<nav class="site-nav">
    <img src="assets/nav/income.svg" class="site-nav__section-icon" alt="" role="presentation">
    <ul class="site-nav__primary-list">
        <li>
            <a href="./income.html" class="site-nav__section-heading">Income</a>
            <ul class="site-nav__secondary-list">
                <li><a href="./federal-income-intro.html">Intro</a></li>
                <li><a href="./gdp.html">Income and GDP</a></li>
                <li><a href="./categories.html">Income Categories</a></li>
                <li><a href="./trends-categories.html">Trends Over Time</a></li>
                <li><a href="./country-comparison.html">Country Comparison</a></li>
            </ul>
        </li>
    </ul>
</nav>