future nav component
<nav>
    <a href="./">overview</a>
    <a href="./receipts.html">receipts</a>
    <a href="./income-source-category-trend.html">receipts section 3</a>
    <a href="./outlays.html">outlays</a>
    <a href="./deficit.html">deficit</a>
    <a href="./debt.html">debt</a>
</nav>