<nav class="site-nav">
    <img src="assets/nav/income.svg" class="site-nav__section-icon" alt="" role="presentation">
    <ul class="site-nav__primary-list">
        <li>
            <a href="./income.html" class="site-nav__section-heading">Income</a>
            <ul class="site-nav__secondary-list">
                <li><a href="./income.html">Federal Income and GDP</a></li>
                <li><a href="./income.html?categories">Income Categories</a></li>
                <li><a href="./income-source-category-trend.html">Trends Over Time</a></li>
                <li><a href="./income-country-comparison.html">Country Comprarison</a></li>
            </ul>
        </li>
    </ul>
</nav>