future nav component
<nav>
    <ul>
        <li><a href="./">big picture</a></li>
        <li>
            <a href="./receipts.html">Income Sections I & II</a>
            <ul>
                <li><a href="./income-source-category-trend.html">Section III: Source Category Trend</a></li>
                <li><a href="./income-country-comparison.html">Section IV: Country Comprarison</a></li>
            </ul>
        </li>
        <li><a href="./outlays.html">outlays</a></li>
        <li><a href="./deficit.html">deficit</a></li>
        <li><a href="./debt.html">debt</a></li>
    </ul>
</nav>