@import '../globalSass/generalVars';

$revenuePrimary: #585858;
$spendingPrimary: #686868;
$deficitPrimary: #787878;
$debtPrimary: #888;

$overviewHeight: 400px;
$barWidth: 50px;

header {
    background: #f6f6f6;
    padding: 3rem 0;
}

.bp-header {
    max-width: 1200px;
    margin: 0 auto;
}

.bp-header__text {
    background: rgba(255,255,255,0.5)
}

.bp-header__heading {
    text-align: left;
}

.overview-chart {
    background: white;
    border-radius: 6px;
    padding: 2rem 3rem;
}

.overview-chart__heading {
    text-align: center;
    font-weight: $boldWeight;
}

.overview-chart__contents {
    height: 400px;
    position: relative;
    margin-top: 2rem;
}

.overview-chart__bar {
    width: $barWidth;
}

.overview-chart__bar--revenue {
    background-color: $revenuePrimary;
    position: absolute;
    top: 660/4000 * $overviewHeight;
    left: calc(50% - 60px);
    height: $overviewHeight - 660/4000 * $overviewHeight;    
}

.overview-chart__bar--spending {
    background-color: $spendingPrimary;
    position: absolute;
    top: 0;
    left: calc(50% + 10px);
    height: $overviewHeight;
}
    
.overview-chart__bar--deficit {
    background-color: $deficitPrimary;
    position: absolute;
    top: 0;
    left: calc(50% - 60px);
    height: 660/4000 * $overviewHeight;
}   

.chapter {
    .chapter__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 0;
    }
}

.chapter--revenue {
    background-color: $revenuePrimary;
}

@media only screen and (min-width: 800px) {
    .bp-header {
        display: flex;
        align-items: center;
    }

    .bp-header__text {
        width: 60%;
    }
    
    .overview-chart {
        width: 40%;
    }
}