---
title: Data Lab - Your Guide to Federal Finances in 2018 - U.S. Treasury
description: In 2017 the United States Federal Government collected $3.3 Trillion and spent $4.0 Trillion. The resulting deficit was $660 Billion, which brought the national debt to $20.2 trillion.
chapter: bigPicture
---
<header>
    <div class="bp-header">
        <h3 class="bp-header__app-name">
            YOUR EVERYDAY GUIDE TO FEDERAL FINANCES
        </h3>
        <h1 class='bp-header__heading'>
            How much money did the federal <span class="bp-break-desktop">government <span class='bp-header__collect--text'>collect</span> and <span class='bp-header__spend--text'>spend</span>?</span>
        </h1>
        <div class="bp-header__text">
            Interested in learning about deficit or federal debt? Keep reading or <a href="#deficit-debt-heading" class="bp-header__click-here--link scroll-to">jump to federal debt and deficit</a>
        </div>
        <div class="bp-scroll-down__div scroll-to">
            <a href="#revenue-chapter"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</header>

<section class="chapter chapter--revenue" id="revenue-chapter">
    <div class="chapter__content">
        <%- include('layouts/partials/bpToc.ejs', {section: 'revenue'}) %>
        
        <div class="chapter__flex">
            <div class="chapter__primary">
                <h1 class="chapter__heading--merriweather-font">In 2018, <br>the federal government<span class="chapter__big-number">
                    collected $3.3
                    <span class="chapter__big-number--anecdote-placement">
                        trillion.
                        <section class="anecdote">
                            <h1 class="anecdote__heading">Did you know?</h1>
                            <span class="anecdote__button--text hidden">How can I visualize our Federal Revenue?</span>
                            <div class="anecdote__panes">
                                <div class="anecdote__pane">
                                    <p>The federal government brings in <strong>$105,000 of revenue per second</strong>.</p>
                                    <img class="anecdote__illustration" src="assets/bp/revenue/revenue-1.png" alt="">
                                    <p>In the time it takes you to read this statement, the federal government has <strong>collected roughly $1 million</strong>.</p>
                                </div>
                                <div class="anecdote__pane">
                                    <p>$3.3 trillion equates to <strong>68 million</strong> individuals earning roughly <strong>$49,000 per year</strong>.</p>
                                    <img class="anecdote__illustration" src="assets/bp/revenue/revenue-2.png" alt="">
                                    <p><strong>That is equal to the average salary of someone in the construction industry</strong>.</p>
                                    <p class='source'>Source - <a href='https://www.bls.gov/oes/current/oes_nat.htm' rel="noopener noreferrer" target="_blank">Bureau of Labor Statistics</a></p>
                                </div>
                                <div class="anecdote__pane">
                                    <p>$3.3 trillion is equal to a little more than <strong>$10,000 per individual in the United States (estimated at 326.4 million)</strong>.</p>
                                    <img class="anecdote__illustration" src="assets/bp/revenue/revenue-3.png" alt="">
                                    <p class='source'>Source - <a href='https://www.census.gov/popclock/' rel="noopener noreferrer" target="_blank">U.S. Census Bureau</a></p>
                                </div>
                                <div class="anecdote__pane">
                                    <p>$3.3 trillion equates to the average household contributing <strong>$2,200 per month</strong>.</p>
                                    <img class="anecdote__illustration" src="assets/bp/revenue/revenue-4.png" alt="">
                                    <p>That is roughly equal to <strong>renting a three-bedroom apartment</strong> in Nome, AK ($2,192/month).</p>
                                    <p class='source'>Source - <a href='https://www.huduser.gov/portal/datasets/50per.html#2017' rel="noopener noreferrer" target="_blank">Department of Housing and Urban Development</a> & <a href='https://www.census.gov/popclock/' rel="noopener noreferrer" target="_blank">U.S. Census Bureau</a></p>
                                </div>
                                <div class="anecdote__pane">
                                    <p>$3.3 trillion equates to the <strong>revenue of the top 18 companies</strong> in the S&P 500.</p>
                                    <img class="anecdote__illustration" src="assets/bp/revenue/revenue-5.png" alt="">
                                    <p class='source'>Figures based on 2017 10-K reports for S&P 500 Companies</p>
                                </div>
                                <div class="anecdote__pane">
                                    <p>If the revenue of the federal government was split between the <strong>126 million households</strong> estimated in the United States in 2017. It would equate to <strong>$26,000 per household</strong>.</p>
                                    <img class="anecdote__illustration" src="assets/bp/revenue/revenue-6.png" alt="">
                                    <p class='source'>Source - <a href='https://www.census.gov/popclock/' rel="noopener noreferrer" target="_blank">U.S. Census Bureau</a></p>
                                </div>
                            </div>
                            <div class="anecdote__cta--container">
                                <a class="anecdote__cta link-button" href="revenue/">Go Explore Revenue <i class='fa fa-angle-right'></i></a>
                            </div>
                        </section>
                    </span>
                </span></h1>
                <p class="chapter__paragraph--tightened">The federal government collects revenue from a variety of sources, including individual income taxes, payroll taxes, corporate income taxes, and excise taxes. It also collects revenue from services like admission to national parks and customs duties.</p>

                <section class="accordion">
                    <h1 class="accordion__heading">What makes federal revenue increase or decrease?</h1>
                    <div class="accordion__content">
                        <p>The majority of federal revenue comes from individual and corporate income taxes as well as social insurance taxes. When individuals and corporations earn more money, they pay more in taxes, and thus federal revenue increases. Alternatively, if they make the same, but tax rates increase, the federal revenue will also increase. Decreases in federal revenue are largely due to either individuals or corporations making less money or a decrease in tax rates.</p>
                    </div>
                </section>

                <a class="link-button chapter__cta" href="revenue/">
                    <div class="link-button__text--block">
                        <div class="link-button__text--top">Learn more about</div>
                        <div class="link-button__text--bottom">Federal Revenue</div>
                    </div>
                    <div class="link-button__icon--block">
                        <i class='fa fa-angle-right'></i>
                    </div>
                </a>
            </div>

            <div class="chapter__chart">
                <img src="assets/bp/revenue/revenue-graph.png" alt="">
                <p class='chapter__chart--reference'>Data used throughout this site is provided by the <a href='https://www.treasurydirect.gov/govt/reports/pd/mspd/2018/opdm092018.pdf' rel="noopener noreferrer" target="_blank">U.S. Department of the Treasury</a> and refers to Fiscal Year 2018</p>
            </div>
        </div>
    </div>
</section>

<section class='chapter__divider--normal'></section>

<section class="chapter chapter--spending" id="spending-chapter">
    <div class="chapter__content">
        <%- include('layouts/partials/bpToc.ejs', {section: 'spending'}) %>

        <div class="chapter__flex">
            <div class="chapter__primary">
                <h1 class="chapter__heading--merriweather-font">In 2018,<br>the federal government
                    <span class="chapter__big-number">
                        spent $4.1
                        <span class="chapter__big-number--anecdote-placement">
                            trillion.
                            <section class="anecdote">
                                <h1 class="anecdote__heading">Did you know?</h1>
                                <span class="anecdote__button--text hidden">How can I visualize our Federal Spending?</span>
                                <div class="anecdote__panes">
                                    <div class="anecdote__pane">
                                        <p>The federal government spends <strong>$130,000</strong> per second.</p>
                                        <img class="anecdote__illustration" src="assets/bp/spending/spending-1.png" alt="">
                                        <p>In just 10 seconds, the federal government has <strong>spent roughly $1,300,000</strong>.</p>
                                    </div>
                                    <div class="anecdote__pane">
                                        <p>$4.1 trillion is equivalent to a little more than <strong>$12,500</strong> in spending <strong>per individual</strong>.</p>
                                        <img class="anecdote__illustration" src="assets/bp/spending/spending-2.png" alt="">
                                        <p class='source'>Source - <a href='https://www.census.gov/popclock/' rel="noopener noreferrer" target="_blank">U.S. Census Bureau</a></p>
                                    </div>
                                    <div class="anecdote__pane">
                                        <p>$4.1 trillion equates to the average household spending <strong>$2,700</strong> per month.</p>
                                        <img class="anecdote__illustration" src="assets/bp/spending/spending-3.png" alt="">
                                        <p>That is roughly equal <strong>to renting a three-bedroom apartment</strong> in Stamford, CT ($2,725 per month).</p>
                                        <p class='source'>Source - <a href='https://www.huduser.gov/portal/datasets/50per.html#2017' rel="noopener noreferrer" target="_blank">Department of Housing and Urban Development</a> & <a href='https://www.census.gov/popclock/' rel="noopener noreferrer" target="_blank">U.S. Census Bureau</a></p>
                                    </div>
                                    <div class="anecdote__pane">
                                        <p>$4.1 trillion is equivalent to building a new <strong>four-lane road from Washington D.C. to San Francisco and back…122 times!</strong> (That's 685,000 miles of roadway!)</p>
                                        <img class="anecdote__illustration" src="assets/bp/spending/spending-4.png" alt="">
                                        <p class='source'>Source - <a href='https://www.artba.org/about/faq/' rel="noopener noreferrer" target="_blank">American Road & Transportation Builders Association</a></p>
                                    </div>
                                </div>
                                <div class="anecdote__cta--container">
                                    <a class="anecdote__cta link-button" href="spending/">Go Explore Spending <i class='fa fa-angle-right'></i></a>
                                </div>
                            </section>
                        </span>
                    </span>
                </h1>

                <p class="chapter__paragraph--tightened">The federal government funds a variety of programs and services that support the American public. The federal government also spends money on interest it has incurred on outstanding federal debt, including Treasury notes and bonds.</p>


                <section class="accordion">
                    <h1 class="accordion__heading">Who controls government spending anyway?</h1>
                    <div class="accordion__content">
                        <p>Government spending can be broken down into two categories: mandatory and discretionary spending. Mandatory spending is determined by previous law and includes spending for programs like Social Security and Medicare. Discretionary spending is determined by the President and Congress each year in the budget process. The President and the Office of Management and Budget put together a budget proposal and send it to Congress, where the Congress considers the President’s budget proposals and approves, modifies, or disapproves them. Congress can change funding levels, eliminate or add programs, and add or eliminate taxes and other sources of revenue. Once the budget has been finalized in Congress it is sent to the President for approval or veto.</p>
                    </div>
                </section>

                <a class="link-button chapter__cta" href="spending/">
                    <div class="link-button__text--block">
                        <div class="link-button__text--top">Learn more about</div>
                        <div class="link-button__text--bottom">Federal Spending</div>
                    </div>
                    <div class="link-button__icon--block">
                        <i class='fa fa-angle-right'></i>
                    </div>
                </a>
            </div>
            <div class="chapter__chart">
                <img src="assets/bp/spending/spending-graph.png" alt="">
                <p class='chapter__chart--reference'>Data used throughout this site is provided by the <a href='https://www.treasurydirect.gov/govt/reports/pd/mspd/2018/opdm092018.pdf' rel="noopener noreferrer" target="_blank">U.S. Department of the Treasury</a> and refers to Fiscal Year 2018</p>
            </div>
        </div>

    </div>
</section>

<section class='chapter__divider--median-treasury-logo' id="deficit-debt-heading">
    <h1 class='chapter__divider--text'>
        How did federal <span class='chapter__divider--text-revenue'>revenue</span> and <span class='chapter__divider--text-spending'>spending</span> affect the <span class='chapter__divider--text-deficit'>deficit</span> and <span class='chapter__divider--text-debt'>debt</span> in 2018?
    </h1>
    <div class='chapter__divider--arrow-container scroll-to'>
        <a href='#deficit-chapter'><i class='fa fa-angle-down'></i></a>
    </div>
</section>

<section class="chapter chapter--deficit" id="deficit-chapter">
    <div class="chapter__content">
        <%- include('layouts/partials/bpToc.ejs', {section: 'deficit'}) %>

        <div class="chapter__flex">
            <div class="chapter__primary">
                <h1 class="chapter__heading--merriweather-font">In 2018,<br>the federal government</br>spent $779 billion more than it collected,
                    <span class="chapter__big-number">resulting in a
                        <span class="chapter__big-number--anecdote-placement">
                            deficit.
                            <section class="anecdote">
                                <h1 class="anecdote__heading">Did you know?</h1>
                                <span class="anecdote__button--text hidden">How can I visualize our Federal Deficit?</span>
                                <div class="anecdote__panes">
                                    <div class="anecdote__pane">
                                        <p>$779 billion is almost <strong>13 times the amount of credit card debt Americans created in 2017</strong> ($61 billion).</p>
                                        <img class="anecdote__illustration" src="assets/bp/deficit/deficit-1.png" alt="">
                                        <p class='source'>Source - <a href='https://www.newyorkfed.org/microeconomics/databank.html' rel="noopener noreferrer" target="_blank">Federal Reserve Bank of New York</a></p>
                                    </div>
                                    <div class="anecdote__pane">
                                        <p>$779 billion breaks down to about <strong>$6,100 of deficit spending</strong> per household in 2018.</p>
                                        <img class="anecdote__illustration" src="assets/bp/deficit/deficit-2.png" alt="">
                                        <p>In 2018, there were an estimated amount of <strong>126 million households</strong> in the United States.</p>
                                        <p class='source'>Source - <a href='https://www.census.gov/popclock/' rel="noopener noreferrer" target="_blank">U.S. Census Bureau</a></p>
                                    </div>
                                    <div class="anecdote__pane">
                                        <p>$779 billion equates to <strong>$1.5 million</strong> in deficit spending <strong>every minute</strong> for an entire year.</p>
                                        <img class="anecdote__illustration" src="assets/bp/deficit/deficit-3.png" alt="">
                                    </div>
                                </div>
                                <div class="anecdote__cta--container">
                                    <a class="anecdote__cta link-button" href="deficit/">Go Explore Deficit <i class='fa fa-angle-right'></i></a>
                                </div>
                            </section>
                        </span>
                    </span>
                </h1>
                <p class="chapter__paragraph--tightened">The difference between what the federal government collects and what it spends is referred to as a deficit or surplus. In 2018, the federal government spent more than it collected, resulting in a deficit.</p>

                <section class="accordion">
                    <h1 class="accordion__heading">What happens when there is a surplus?</h1>
                    <div class="accordion__content">
                        <p>A surplus occurs when the government collects more money than it spends. The last federal surplus occurred in 2001. The government primarily uses surpluses to reduce the federal debt.</p>
                    </div>
                </section>

                <a class="link-button chapter__cta" href="deficit/">
                    <div class="link-button__text--block">
                        <div class="link-button__text--top">Learn more about</div>
                        <div class="link-button__text--bottom">Federal Deficit</div>
                    </div>
                    <div class="link-button__icon--block">
                        <i class='fa fa-angle-right'></i>
                    </div>
                </a>
            </div>
            <div class="chapter__chart">
                <img src="assets/bp/deficit/deficit-graph.png" alt="">
                <p class='chapter__chart--reference'>Data used throughout this site is provided by the <a href='https://www.treasurydirect.gov/govt/reports/pd/mspd/2018/opdm092018.pdf' rel="noopener noreferrer" target="_blank">U.S. Department of the Treasury</a> and refers to Fiscal Year 2018</p>
            </div>
        </div>
    </div>
</section>

<section class='chapter__divider--normal'></section>

<section class="chapter chapter--debt" id="debt-chapter">
    <div class="chapter__content">
        <%- include('layouts/partials/bpToc.ejs', {section: 'debt'}) %>

        <div class="chapter__flex">
            <div class="chapter__primary">
                <h1 class="chapter__heading--merriweather-font">In 2018,<br>the public debt
                    <span class="chapter__big-number">increased to $21.5
                        <span class="chapter__big-number--anecdote-placement">
                            trillion.
                            <section class="anecdote">
                                <h1 class="anecdote__heading">Did you know?</h1>
                                <span class="anecdote__button--text hidden">How can I visualize our Federal Debt?</span>
                                <div class="anecdote__panes">
                                    <div class="anecdote__pane">
                                        <p>The <strong>National Debt Clock in New York City</strong> estimates the federal debt by second and each household's share. When the clock was installed in 1989, the federal debt was $2.7 trillion.</p>
                                        <img class="anecdote__illustration" src="assets/bp/debt/debt-1.png" alt="">
                                        <p><strong>In 29 years, the national debt has grown by $18.8 trillion.</strong></p>
                                    </div>
                                    <div class="anecdote__pane">
                                        <p>If the national debt was split evenly among households, <strong>your household's share</strong> would be roughly <strong>$171,000</strong>.</p>
                                        <img class="anecdote__illustration" src="assets/bp/debt/debt-2.png" alt="">
                                        <p>That is about equal to the <strong>median home price in Houston, TX</strong> ($173,600).</p>
                                        <p class='source'>Source - <a href='https://www.census.gov/popclock/' rel="noopener noreferrer" target="_blank">U.S. Census Bureau</a></p>
                                    </div>
                                    <div class="anecdote__pane">
                                        <p>$21.5 trillion equates to a little more than <strong>$66,000</strong> per individual in the U.S.</p>
                                        <img class="anecdote__illustration" src="assets/bp/debt/debt-3.png" alt="">
                                        <p>That is equal to the <strong>average salary of a Human Resources Specialist</strong>.</p>
                                        <p class='source'>Source - <a href='https://www.bls.gov/oes/current/oes_nat.htm' rel="noopener noreferrer" target="_blank">Bureau of Labor Statistics</a> & <a href='https://www.census.gov/popclock/' rel="noopener noreferrer" target="_blank">U.S. Census Bureau</a></p>
                                    </div>
                                </div>
                                <div class="anecdote__cta--container">
                                    <a class="anecdote__cta link-button" href="#">Go Explore Debt <i class='fa fa-angle-right'></i></a>
                                </div>
                            </section>
                        </span>
                    </span>
                </h1>
                <p class="chapter__paragraph--tightened">To pay for a deficit, the federal government usually takes on debt. The total debt outstanding that the federal government owes is essentially the accumulation of deficits over time.</p>
                <p class="chapter__paragraph--tightened">Are federal debt and deficit the same thing? No, but they do affect one another.</p>

                <section class="accordion">
                    <h1 class="accordion__heading">Why can’t the government just print more money?</h1>
                    <div class="accordion__content">
                        <p>“Printing money” is a term that is sometimes used to describe a means of monetary policy. Monetary policy in the United States is conducted by the Federal Reserve. The Federal Reserve uses monetary policy to promote maximum employment, stable prices, and moderate long-term interest rates on the behalf of the Congress. The federal government uses fiscal policy, or the control of taxation and government spending to promote economic activity.</p>
                    </div>
                </section>

                <a class="link-button chapter__cta" href="#">
                    <div class="link-button__text--block">
                        <div class="link-button__text--top">Learn more about</div>
                        <div class="link-button__text--bottom">Federal Debt</div>
                    </div>
                    <div class="link-button__icon--block">
                        <i class='fa fa-angle-right'></i>
                    </div>
                </a>
            </div>
            <div class="chapter__chart">
                <img src="assets/bp/debt/debt-graph.png" alt="">
                <p class='chapter__chart--reference'>Data used throughout this site is provided by the <a href='https://www.treasurydirect.gov/govt/reports/pd/mspd/2018/opdm092018.pdf' rel="noopener noreferrer" target="_blank">U.S. Department of the Treasury</a> and refers to Fiscal Year 2018</p>
            </div>
        </div>
    </div>
</section>

<section class="hwcta">
    <p>This analysis was conducted using the <a target="_blank" href="https://www.fiscal.treasury.gov/files/reports-statements/mts/mts0918.pdf">Monthly Treasury Statement (MTS)</a> as the data source for federal government revenue and spending of the United States and the <a target="_blank" href="https://www.treasurydirect.gov/govt/reports/pd/mspd/mspd.htm">Monthly Statement of the Public Debt (MSPD)</a> as the data source for federal debt.</p>
    <p>U.S. Census Bureau data was leveraged for <a target="_blank" href="https://www.census.gov/popclock/">population</a> and <a target="_blank" href="https://www.census.gov/data/tables/time-series/demo/families/households.html">household</a> estimates. <a target="_blank" href="https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?src=bkmk">Median home price estimates</a> are also provided by the U.S. Census Bureau. Rent estimates come from the <a target="_blank" href="https://www.huduser.gov/portal/datasets/50per.html#2018">Department of Housing and Urban Development (HUD)</a>. The Bureau of Labor Statistics (BLS) <a target="_blank" href="https://www.bls.gov/oes/current/oes_nat.htm">Occupational Employment Statistics</a> was used for wage estimates. Information on the amount of credit card debt added by Americans comes from the Federal Reserve Bank of New York’s <a target="_blank" href="https://www.newyorkfed.org/microeconomics/databank.html">Center for Microeconomic Data</a>. The annual 10-K reports of the top S&P 500 companies were compiled in order to find the equivalent revenue from companies to match the federal government’s revenue for the year. The <a target="_blank" href="https://www.artba.org/about/faq/">American Road and Transportation Builders Association</a> provides information about the cost of building new roads derived from the cost models of different states.</p>
</section>

<div class="historical-quote">
    <blockquote>We might hope to see the finances of the Union as <strong>clear and intelligible as a merchant's books</strong>, so that every member of Congress, and <strong>every person</strong> of any mind in the Union should be able to <strong>comprehend them</strong>, to investigate abuses, and consequently to control them.</blockquote>
    <img class="historical-quote__image" src="assets/bp/jefferson.png" alt="">
    <p class="historical-quote__credit"><strong>Thomas Jefferson</strong> to Albert Gallatin, 1802<br/>(edited)</p>
</div>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://datalab.usaspending.gov/"
    },
    "image": "http://datalab.usaspending.gov/images/citizens-guide/2017-federal-government-summary.png",
    "headline": "The People's Guide to U.S. Federal Government Finances",
    "datePublished": "2018-11-15T08:00:00+06:00",
    "dateModified": "2018-11-15T09:20:00+06:00",
    "author": {
    "@type": "Organization",
    "name": "U.S. Treasury",
    "logo": {
        "@type": "ImageObject",
        "url": "https://www.treasury.gov/Style%20Library/legacy-header/seal.png"
        }
    },
    "publisher": {
    "@type": "Organization",
    "name": "U.S. Treasury",
    "logo": {
        "@type": "ImageObject",
        "url": "https://www.treasury.gov/Style%20Library/legacy-header/seal.png"
        }
    },
    "description": "In 2017 the United States Federal Government collected $3.3 Trillion and spent $4.0 Trillion. The resulting deficit was $660 Billion, which brought the national debt to $20.2 trillion."
}
</script>

<script src="./assets/hwcta.js"></script>
<script src="./assets/accordion.js"></script>
<script src="./assets/anecdote.js"></script>
<script src="./assets/scrollTo.js"></script>