---
title: Title Placeholder
description: This is the text that goes in the meta description tag
chapter: bigPicture
---

<header class="bp__header">
    <h1>Your Guide to the Finances of the
        <strong>Federal Government</strong>
    </h1>
    <p>Check it out. Lemme tell you somthin, man.</p>
    <div>
        <h2>Overview of Finances of the Federal Government in 2017</h2>
        <div>check out this really cool chart</div>
    </div>
</header>

<section class="chapter chapter--revenue">
    <div class="chapter__content">
        <h1>In 2017, the federal government collected $3.3 trillion</h1>
        <p>Here is some great copy about revenue.</p>
        <section class="anecdote">
            <h1 class="anecdote__heading">What is $3.3 trillion equivalent to?</h1>
            <div class="anecdote__pane">
                <p>anecdote pane 1</p>
                <p>some content</p>
            </div>
            <div class="anecdote__pane">
                <p>anecdote pane 2</p>
                <p>some content</p>
            </div>
            <div class="anecdote__pane">
                <p>anecdote pane 3</p>
                <p>some content</p>
            </div>
        </section>
        <div class="chapter__chart">
            check out this really cool chart
        </div>
    </div>
</section>

<section class="chapter">
    <h1>Spending Placeholder</h1>
</section>


<p>
    <a style="display:block; text-align:center" href="./revenue/gdp.html">Revenue Chapter</a>
    <br>
    <a style="display:block; text-align:center" href="./spending/federal-spending-intro.html">Spending Chapter</a>
</p>