@import '../../colors.scss';
@import './showHide.scss';
@import '../../globalSass/generalVars';

//Globals for file
.hidden {
  display:none;
}

//Entire section above chart
section.spending-categories__section-above-chart {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

//Header section
.spending-categories__header {
  color:#555;
  font-size:3rem;
}

//Budget/Agency button section
.chart-title {
  margin-bottom:1rem;
  font-weight:400;
}
.title-text {
  color: #777;
  font-size: 1.8rem;
  font-weight: $normalWeight;
  display: inline-block;
  margin-right: 1rem;
}

.link-button__div {
  display:inline-block;
  border-bottom: 2px solid rgb(0, 118, 108);
  cursor:pointer;

  .link-button {
    border: none;
    background: none;
    text-decoration: none;
    font-size: 0.9em;
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 600;
    color: #666;
  }

  .link-button__icon {
    padding-left:30px;
  }
}

//Filter button
#activate-show-hide {
  background-color: #00766C;
  color: white;
  border: 1px solid #00766C;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;

  &:hover {
    background: lighten(#00766C, 10%);
    transition: background-color 0.3s ease;
  }

  i {
    margin-left:5rem;
  }
}

.hint {
  margin-top:0.5rem;
  font-size:1rem;
}

.footnote {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}