---
title: Trends in Federal Spending Categories
permalink: /spending/trends.html
description: This is the text that goes in the meta description tag
chapter: spending
pageCss: spending-trends.css
---
<section class='spending-categories__section-above-chart'>
    <h1 class="spending-categories__header">Federal Spending Trends</h1>

    <h2 class="chart-title">
        <span class="title-text">Spending over Time by Source Categories by</span>
        <div class="link-button__div">
            <button class="link-button" id="select-budget-function">Budget Function</button>
            <button class="link-button hidden" id="select-agency">Agency</button>
            <i class='link-button__icon fa fa-angle-down'></i>
        </div>
    </h2>

    <div id="show-hide">
        <button id="activate-show-hide">Filter <i class='fa fa-sliders-h'></i></button>
        <div id="show-hide-tray">
            <button id="select-all">select all</button>
            <button id="select-none">select none</button>

            <div id="show-hide-list"></div>
            <button id="show-hide-done">done</button>
        </div>
    </div>

    <div class="hint">Click a spending category to view more</div>
</section>

<div id="viz"></div>

<div class="footnote">
    <p>All data shown is from Fiscal Year 2017.</p>
    <p>Data provided by the <a target="_blank" href="\\rb.win.frb.org\H1\Accounts\D-F\h1cjf01\Redirected\Desktop\Monthly Treasury Statement">Monthly Treasury Statement</a> supplied by the Bureau of the Fiscal Service, U.S. Department of the Treasury.</p>
    <p></p>
</div>

<script src="./assets/trends.js"></script>
