---
title: Federal Deficit Trends
date: 2018-12-27 09:40:00
description: This is the text that goes in the meta description tag
permalink: /deficit/
chapter: deficit
pageCss: deficit-trends.css
---
<h1>Federal Deficit Trends over Time</h1>

<div class="content-body__container">
    <div class="content-body__left">
        <img class="deficit__trends--icon" src="../assets/icons/Placeholder Deficit Trend.png"/>
    </div>
    <div class="content-body__right">
        <p>
            One way to gauge the sustainability of federal finances is to observe how the federal debt has changed over time. The U.S. has experienced a deficit in each year since 2001, with a spike from 2009 to 2012 because of the financial crisis and ensuing recession.
        </p>
        <section class="accordion">
            <h1 class="accordion__heading">What is sustainable policy?</h1>
            <div class="accordion__content">
                <p>According to the <a href="https://www.fiscal.treasury.gov/reports-statements/financial-report/" rel="noopener noreferrer" target="_blank">Financial Report of the United States Government (FR)</a> government spending is considered to be sustainable when deficit spending as a percentage of gross domestic product is steady or declining.</p>
            </div>
        </section>
        <section class="tour">
            <div class="tour__part-one">
                <h1>How does the deficit in the United States compare to other countries?</h1>
                <p>When you are done here, see how the U.S. deficit compares to other countries.</p>
            </div>
            <a class="tour__link" href="country-comparison.html">Continue<i class="fas fa-chevron-right"></i></a>
        </section>
    </div>
</div>

<script src="../assets/accordion.js"></script>