---
title: Federal Deficit Trends
date: 2018-12-27 09:40:00
description: This is the text that goes in the meta description tag
permalink: /deficit/
chapter: deficit
pageCss: deficit-trends.css
---
<h1>Federal Deficit Trends over Time</h1>