@import '../../globalSass/generalVars';
@import '../../globalSass/colors';

.chapter-link.link-button {
  background-color: $color-debt-primary;
  box-sizing: border-box;
}

@media only screen and (min-width: 760px) and (max-width: 1230px) {
  .deficit-copy {
    float: left;
    width: 80%;
    padding-right: 2rem;
    box-sizing: border-box;

    p:first-of-type {
      margin-top: 0;
    }
  }

  .chapter-link.link-button {
    width: 20%;
    float: right;
    box-sizing: border-box;
  }

  .country-chart {
    clear: both;
  }
}
