@import '../../colors';


#viz {
    margin-top: 0;
}

.category-bar-legend {
    display: inline-block;
    width: 1.5rem;
    height: 0.75rem;
    background: $color-primary-darker;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}